<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Agenda</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Procesos</a>><a href="home" class="paginaActiva">Agenda</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
      <div class="col-md-12">
         <div class="col-md-1">
           <span>Folio</span>
          <input @change="BuscarByVendedor()" v-model="folio" class= "form-control" type="number" name="folio">
        </div>
        <div class="col col-md-2">
          <span>Fecha Agendada</span>
          <input @change="BuscarByVendedor()" v-model="Fechas.Fecha1" class= "form-control " type="date" name="Fecha1" id="FechaInicial">
        </div>

       <!--  <div class=" col col-md-2">
          <span>Fecha Final</span>
          <input @change="BuscarByVendedor()" v-model="Fechas.Fecha2" class= "form-control" type="date" name="Fecha2" id="FechaFinal">
        </div> -->

        <div class=" col col-md-2">
          <span>Vendedor</span>
          <select @change="BuscarByVendedor()" v-model="vendedor" class='form-control' name="vendedor" id="vendedor">
            <option v-for="dato in vendedores" :key="dato.clv_usuario" 
                    v-bind:value="dato.clv_usuario">{{dato.nombre}}</option>
          </select>
        </div>
        
        <div class=" col col-md-2">
          <span>Tipo</span>
          <select @change="BuscarByVendedor()" v-model="tipo" class='form-control' name="vendedor" id="tipo">
            <option value="">Selecciona</option>
             <option value="T">Llamada</option>
              <option value="V">Visita</option>
          </select>
        </div>
           <div class=" col col-md-2">
          <span>Estatus</span>
          <select @change="BuscarByVendedor()" v-model="status" class='form-control' name="vendedor" id="status">
            <option value="">Selecciona</option>
             <option value="P">Pendiente</option>
             <option value="C">Cancelada</option>
             <option value="E">Ejecutada</option>
          </select>
        </div>

        <div class="col-md-2" style="margin-top:5px;">     
        <router-link class="btn btn-success pull-right" to="/agenda/add">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      </div>

	<div class="col-md-12" style="margin: 10px">   
    <div class="row">
      <table class="table table-striped">
        <thead>
            <th>Folio</th>
            <th>Fecha agendada</th>
             <th>Tipo</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Estatus</th>
            <th>Editar</th>
            <th>Cancelar</th>
        </thead>
        <tbody>
          <tr v-for="x in Ordenados" :key="x.Id">
            <td>{{x.Id}}</td>
            <td>{{x.FechaAgendada2}}</td>
            <td v-if="x.Tipo == 'T'">Llamada Teléfonica</td>
              <td v-if="x.Tipo == 'V'">Visita</td>
            <td>{{x.nombre_cliente}}</td>
            <td>{{x.nombre_usuario}}</td>
            <td>{{x.Estatus == 'C' ? 'Cancelada': x.Estatus == 'A' ? 'Aceptada': x.Estatus == 'E' ? 'Ejecutada':x.Estatus == 'P' ? 'Pendiente':'Sin estatus'}}</td>
            <td><button v-show="!(x.Estatus == 'C' || x.Estatus == 'E' || x.Estatus == 'A')" type="button" @click="$router.push({ path: `/agenda/update/${x.Id}` })" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Editar</button></td>
            <td><button v-show="!(x.Estatus == 'C' || x.Estatus == 'E' || x.Estatus == 'A')" type="button" @click="cancelarAgenda(x.Id)" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i> Cancelar</button></td>          
          </tr>
        </tbody>
        </table>   
      <div class="col-12">
        <vue-pagination
              :total="Math.ceil(this.listaAgendas.length/this.pageSize)"
              :each-side="1"
              v-model="currentPage"
            />
      </div>
    </div>
         	
	</div>
</div>

</div>

</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
export default {
  name: "app_agenda", 
  props: {
    total: {
      type: Number,
      required: true,
      validator: val => val > 0
    },
    eachSide: {
      type: Number,
      default: 1,
      validator: val => val >= 0
    }
  }, 
  computed: {
    Ordenados() {
      return this.listaAgendas.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === "desc") modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        })
        .filter((row, index) => {
          let start = (this.currentPage - 1) * this.pageSize;
          let end = this.currentPage * this.pageSize;
          if (index >= start && index < end) return true;
        });
    }
  },
  data() {
    return {
      currentSort: "name",
      currentSortDir: "asc",
      pageSize: 5,
      currentPage: 1,

      vendedor : Vue.localStorage.get('clv_usuario'),
      vendedores: [],
     
      cliente:{
        telefono:'',
        telefono_casa:'',
        correo:'',
        celular:''
      },
      actions: {
        editar: true,
        cancelar:true,
       filter:false
      },
      listaAgendas: [], 
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      folio:0,
      tipo:'',
      status:'P',
      Fechas: {
        Fecha1: '',
        Fecha2: ''
      }   
    };
  },
  mounted() {
   // this.getAgendas();
    this.BuscarByVendedor()
    this.getUsuarios();  
  },
  methods: {  
    cancelarAgenda(x) {
         let vm = this;
        axios.post('/SessionWeb/CancelarAgenda', {id:x}, this.header).then(res => {
            this.BuscarByVendedor();
        })
    },
    acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    },       
    getUsuarios() {
      let vm = this;
      let params= {
        clv_usuario: Vue.localStorage.get("clv_usuario")
      }   
      axios.post("/SessionWeb/GetVendedoresByUsuario",params, this.header).then(res => {        
         this.vendedores=res.data.GetVendedoresByUsuarioResult        
      });
    },
    BuscarByVendedor(){
      let vm = this;

      let {Fecha1, Fecha2} = this.Fechas;
  /*     if (Fecha1 === '' || Fecha2 ==='') {
        FechaInicial.max = Fecha2;
        FechaFinal.min = Fecha1;
      } */

       let params = {
        clv_usuario: this.vendedor,
        Fecha1: Fecha1 == '' ? '':this.acomodarFecha(Fecha1),        
        folio:this.folio,
        tipo:this.tipo,
        status:this.status
        }

      axios.post('/SessionWeb/GetAgendasByUsuario', params, this.header).then(res => {
        this.listaAgendas = res.data.GetAgendasByUsuarioResult;       
      });
    },
   
  
  },
};
</script>
