<template>
    <div>
        
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Nueva Agenda</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Procesos</a>><a href="/" class="paginaActiva"> Agenda</a>
            </small>   
		</header>
	</div>
    
	<div class="card-body">       

        <form  @submit.prevent="insertar('principal')" data-vv-scope='principal'>		
    			
          <div class="col-md-4">

             <div class="row">
             <div v-if="$localStorage.get('tipoUsuario') == 1 || $localStorage.get('tipoUsuario') == 2" style="margin-bottom: 15px">
              
               <div class="col-md-8 form-group">
				        <font size=4><strong>Vendedor</strong></font>
                <div class="row"></div>
                <input type="text" readonly name="nombreCliente" class="text-capitalize form-control" v-model="nombreVendedor">
                </div> 
                <div class="col-md-4 text-left ">
                  <br>
                    <button type="button" @click="$modal.show('vendedores')" class="btn btn-xs btn-primary pull-right">
                    <i class="fa fa-search"></i> Buscar Vendedor
                    </button>
                </div>
            </div>

             </div>

             <div class="row">

               <div class="col-md-8 form-group">
              <font size=4><strong>Cliente</strong></font>
              <div class="row"></div>
              <input type="text" readonly name="nombreCliente" v-model="nombreCliente" class="text-capitalize form-control" v-validate="'required'">
              </div> 

              <div class="col-md-4 text-left ">
                <br>
              <button type="button" @click="buscarCliente" class="btn btn-xs btn-primary pull-right">
              <i class="fa fa-search"></i> Buscar cliente
              </button>
              </div>  


             </div>

              <div class="col-md-12">
                  <font size=4><strong>Celular : </strong></font><font size=3>{{cliente.celular}}</font><br>
                   <font size=4><strong>Telefono (oficina) : </strong></font><font size=3>{{cliente.telefono}}</font><br>
                   <font size=4><strong>Telefono(casa): </strong></font><font size=3>{{cliente.telefono_casa}}</font><br>   
                   <font size=4><strong>Correo: </strong></font><font size=3>{{cliente.correo}}</font>
                </div>

                <div class="col-md-12">
                     <h3>Departamentos de interes</h3>
                </div>
             
              
                 
                    <div class="col-md-12" v-for="x in listaDepartamentos" :key="x.IdDetalle">
                      <div class="pretty p-default" >
                      <input type="checkbox" checked>
                      <div class="state p-info">
                        <label>{{x.NumDepartamento}} - {{x.departamento}}</label>
                      </div>
                    </div>    
                    </div>
                             

             <!-- <div class="col-md-12">
			       	<h3 class="text-primary">Acción a tomar sobre el cliente</h3>
                <select class="form-control" name="Tipo"  
                v-model="body.accion" required>
                <option value="0" selected >Selecciona una opción</option>
                <option value="1" >Se descarta el cliente</option>
                <option value="2" >Se hará un nueva llamada o visita</option>
                <option value="3" >El cliente acepta la propuesta</option>
                </select>
              </div>  
 -->
          </div>
          
          <div class="col-md-5" style="padding-top: 10px;">	

        
                                               
                

                      


            <div class="col-md-12 form-group">
                <div class="col-md-6">
			        	<font size=4><strong>Fecha agendada</strong></font>            
                <input type="date" id="FechaAgendada"  name="FechaEjecucion" 
                v-model="body.Fecha" class="text-capitalize form-control" v-validate="'required'">
                <i v-show="errors.has('principal.FechaEjecucion')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.FechaEjecucion')" class="help is-danger text-danger"> El campo es obligatorio</span>
                </div>

                <div class="col-md-6">
                <font size=4><strong>Tipo</strong></font>
             
                <select class="form-control" name="Tipo"  
                v-model="body.Tipo" required>
                <option value="T" >Teléfono</option>
                <option value="V" >Visita</option>
                </select>              
                <i v-show="errors.has('principal.Tipo')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.Tipo')" class="help is-danger text-danger"> El campo es obligatorio</span>
                </div>
            </div>

            <div class="col-md-12">
			       	<font size=4><strong>Observaciones</strong></font>
                <div class="row"></div>
                <textarea type="text" 
                 rows="4" v-model="body.Observaciones" class="text-capitalize form-control" style="resize:none;">
                </textarea>
            </div> 

            <!-- <div class="col-md-12">
				        <h3>Acción a tomar sobre el cliente</h3>
                <select class="form-control" name="Tipo"  
                v-model="body.accion" required>
                <option value="0" selected >Selecciona una opción</option>
                <option value="1" >Se descarta el cliente</option>
                <option value="2" >Se hará un nueva llamada o visita</option>
                <option value="3" >El cliente acepta la propuesta</option>
                </select>
                </div> -->
  
                <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button @click="insertar" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="$router.push('/agenda')" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>                
                                              
		</div>   
             </form>
	</div>
</div>

   <modal name="modal-clientes" :width="900" 
    style="z-index: 1500;"
    height="auto" :scrollable="true" :clickToClose="true">
    <div class="col-md-12 text-center">
      <h3>Selecciona Cliente</h3>
    </div>
    <div class="col-md-12">
        <buscarcliente v-on:buscar="getCliente($event)" :lista="ListaClientes"></buscarcliente>
    </div>
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-clientes')"
          >Cerrar</button>
        </div>
      </div>
    </modal>


    <modal name="vendedores" :width="600" 
    style="z-index: 1500;"
    height="auto" :scrollable="true" :clickToClose="true">
    <div class="col-md-12 text-center">
      <h3>Selecciona Vendedor</h3>
    </div>
    <div class="col-md-12">
      <buscarVendedor v-on:Vendedor="getVendedor($event)" ></buscarVendedor>
    </div>      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('vendedores')"
          >Cerrar</button>
        </div>
      </div>
    </modal>



     <modal
      name="modal-agenda"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
     <div class="col-md-8 col-md-offset-2 ">
       <div class="col-md-12 text-center">
         <h3>Agendar una visita o llamada con el cliente</h3>
       </div>
       <div class="col-md-12">
         <div class="col-md-6">
            <input type="radio" id="one" value="V" v-model="Agenda.Tipo">
            <label for="one">Visita</label>
         </div>
         <div class="col-md-6">
           <input type="radio" id="two" value="T" v-model="Agenda.Tipo">
          <label for="two">Llamada Telefónica</label>
         </div>         
       </div>
        <div class="col-md-12">
          <label>Fecha:</label>
          <input type="date" class="form-control" :min="new Date().toISOString().split('T')[0]" v-model="Agenda.Fecha">
        </div>    
        <div class="col-md-12">
          <label>Observaciones:</label>
          <textarea v-model="Agenda.Observaciones" class="text-capitalize form-control" placeholder="">
          </textarea>
        </div> 
        <div class="col-md-12">
            <font size=4><strong>¿Cuál fue el acuerdo con el cliente?</strong></font>
                <div class="row"></div>
                <textarea v-model="Agenda.ObservacionesConCliente" class="text-capitalize form-control">
                </textarea>
        </div>
     </div>    
      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        
        <div class="col-md-3 pull-right" style="padding:10px; margin-right: 30px">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-agenda');"
          >Cancelar</button>
        </div>

        <div class="col-md-3 pull-right" style="padding:10px; margin-right: 10px">
          <button
            class="btn btn-success"
            type="button"
            @click="GuardaAgenda()"
          >Guardar</button>
        </div>
      </div>
    </modal>


    <modal
      name="modal-nointeresado"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
     <div class="col-md-10 col-md-offset-1 ">
       <div class="col-md-12 text-center">
         <h4>Ingresa el motivo por el cual se descartara al cliente </h4>
       </div>
         <div class="col-md-12">

            <label>Selecciona un Motivo</label>
            <select class="form-control input-sm" v-model="motivoDescartar"  >
            <option value="" >selecciona</option>
            <option v-for="i in Motivos" :key="i.Id"  v-bind:value="i.Id">{{i.Motivos}}</option>
            </select>
          
       </div> 
       <div class="col-md-12">
         <label>¿Porqué se descarta el cliente?</label>
          <textarea class="form-control input-sm" v-model="ObservacionesDescartado"></textarea>
       </div>
                   
     </div>    
      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-6" style="padding:10px;">
          <button
            class="btn btn-success"
            type="button"
            @click="GuardaMotivo()"
          >Guardar</button>
        </div>      
      </div>
    </modal>


    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import PrettyCheckbox from "pretty-checkbox-vue";
import buscarcliente from "../BuscarCliente.vue";
import buscarVendedor from "../buscarVendedor";
export default {
  name: "addAgenda",
  data() {
    return {
      Agenda: {
        Tipo: "V",
        Fecha: "",
        Clv_vendedor: Vue.localStorage.get("clv_usuario"),
        Observaciones: "",
        Clv_cliente: 0,
        accion: 0,
        ObservacionesConCliente: ""
      },
      motivoDescartar: "",
      ObservacionesDescartado: "",
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      cliente: {
        telefono: "",
        telefono_casa: "",
        correo: "",
        celular: ""
      },
      Historial: [],
      body: {
        Tipo: "T",
        Fecha: "",
        Clv_vendedor: Vue.localStorage.get("clv_usuario"),
        Observaciones: "",
        Clv_cliente: 0,
        accion: 0,
        ObservacionesConCliente: ""
      },
      activo: true,
      listaDepartamentos: [],
      ListaClientes: [],
      nombreCliente: "",
      nombreVendedor: "",
      observaciones: [],
      Motivos: ""
    };
  },
  mounted() {
    //  FechaAgendada.min = new Date().toISOString().split("T")[0];
    this.getMotivos();
  },
  methods: {
    clientedepartamento(id_cliente) {
      let vm = this;
      let params = {
        clv_comprador: id_cliente
      };
      axios
        .post("/SessionWeb/GetrelDepClienteById", params, this.header)
        .then(res => {
          this.listaDepartamentos = res.data.GetrelDepClienteByIdResult;
        });
    },
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if (this.body.Clv_cliente == 0) {
            this.$snotify.error("Seleccione un cliente", "¡Error!");
            return;
          }   

          if(!this.body.Fecha ){
             this.$snotify.error("Seleccione una Fecha para la agenda", "¡Error!");
            return;
          }
          this.inserta();
        
        }
      });
    },
    inserta() {
      
      this.body.Fecha = this.acomodarFecha(this.body.Fecha);
      axios.post("/SessionWeb/AddAgenda", this.body, this.header).then(res => {
        this.$snotify.success("Agenda agregada con éxito", "¡Correcto!");
        this.$router.push("/agenda");
      });
      return;
    },
    buscarCliente() {    
      this.$modal.show("modal-clientes");
    },
    getCliente(x) {
      this.body.Clv_cliente = x;
      let vm = this;
      let params = {
        id: x
      };

      axios
        .post("/SessionWeb/GetClienteById", params, this.header)
        .then(res => {
          this.cliente = res.data.GetClienteByIdResult;
          const {
            nombre,
            otro_nombre,
            primer_apellido,
            segundo_apellido
          } = res.data.GetClienteByIdResult;

          this.nombreCliente = `${nombre} ${otro_nombre} ${primer_apellido} ${segundo_apellido}`;
          this.clientedepartamento(x);
          //this.getCliente(x)
        });

      this.$modal.hide("modal-clientes");
    },
    regresar() {
      this.$router.push("/agenda");
    },
    recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },
    acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    },
    getVendedor(data) {
      this.body.Clv_vendedor = data;
      this.$modal.hide("vendedores");
      this.getUsuariosC(data);
    },
    getUsuariosC(x) {
      axios
        .post("/SessionWeb/GetUsuariosC", { clv_usuario: x }, this.header)
        .then(res => {
          this.nombreVendedor = res.data.GetUsuariosCResult.nombre;
          console.log(res.data.GetUsuariosCResult);
        });
    },
    GuardaAgenda() {
      this.$modal.hide("modal-agenda");
      this.Agenda.Clv_cliente = this.body.Clv_cliente;

      axios
        .post("/SessionWeb/AddAgenda", this.Agenda, this.header)
        .then(res => {
          this.$snotify.success(
            "Se agendó el cliente correctamente",
            "¡Atención!"
          );
          this.actualiza();
          this.cancelar();
        });
    },
    cancelar() {
      this.$router.push("/agenda");
    }   
  },
  components: {
    buscarcliente,
    buscarVendedor
  }
};
</script>
<style>
.pretty input[type="checkbox"] {
  position: absolute !important;
}
</style>