<template>
    <div>
        
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Actualizar Agenda</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Procesos</a>><a href="/" class="paginaActiva"> Agenda</a>
            </small>   
		</header>
	</div>
    
	<div class="card-body">       

        <form  data-vv-scope='principal'>		
    			
                <div class="col-md-4" style="padding-top: 10px;">	


                    <div v-if="$localStorage.get('tipoUsuario') == 1 || $localStorage.get('tipoUsuario') == 2" style="margin-bottom: 15px">
             <!--  <div class="col-md-12 text-left ">
                    <button type="button" @click="$modal.show('vendedores')" class="btn btn-sm btn-primary pull-right">
                    <i class="fa fa-search"></i> Buscar Vendedor
                    </button>
                </div> -->
                 <div class="col-md-12 form-group">
				        <font size=4><strong>Vendedor</strong></font>
                <div class="row"></div>
                <input type="text" readonly name="nombreCliente" class="text-capitalize form-control" v-model="nombreVendedor">
                </div> 
            </div>
                                                                                          


               <div class="col-md-12" >
				        <font size=4><strong>Cliente</strong></font>                
                <input type="text" readonly name="nombreCliente" v-model="body.nombre_cliente" class="text-capitalize form-control" v-validate="'required'">
                </div>

                <div class="col-md-12">
                  <font size=4><strong>Celular : </strong></font><font size=3>{{cliente.celular}}</font><br>
                   <font size=4><strong>Telefono (oficina) : </strong></font><font size=3>{{cliente.telefono}}</font><br>
                   <font size=4><strong>Telefono(casa): </strong></font><font size=3>{{cliente.telefono_casa}}</font> <br>   
                   <font size=4><strong>Correo: </strong></font><font size=3>{{cliente.correo}}</font>           
                </div>

                <div class="col-md-12">
                     <font size=4><strong>Departamentos de interes</strong></font>
                </div>
             
              
                 
                    <div class="col-md-12" v-for="x in listaDepartamentos" :key="x.IdDetalle">
                      <div class="pretty p-default" >
                      <input type="checkbox" checked>
                      <div class="state p-info">
                        <label>{{x.NumDepartamento}} - {{x.departamento}}</label>
                      </div>
                    </div>    
                    </div>
                                   
                 



             <div class="col-md-12 form-group">
				 <font size=4><strong>Observaciones</strong></font>
                <div class="row"></div>
                <textarea readonly type="text" v-model="body.Observaciones" class="text-capitalize form-control">
                </textarea>
            </div> 

                                                                      
		</div>   
    <div class="col-md-4">

      
            <div class="col-md-12 form-group">
                <div class="col-md-6">
				 <font size=4><strong>Fecha agendada</strong></font>
                <div class="row"></div>
                <input required type="date" :min="new Date().toISOString().split('T')[0]" name="FechaEjecucion" 
                v-model="body.Fecha" class="text-capitalize form-control" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.FechaEjecucion')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.FechaEjecucion')" class="help is-danger text-danger"> El campo es obligatorio</span>
                </div>

                <div class="col-md-6">
                 <font size=4><strong>Tipo</strong></font>
                <div class="row"></div>
                <select class="form-control" name="Tipo"  
                v-model="body.Tipo" required>
                <option value="T" >Teléfono</option>
                <option value="V" >Visita</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.Tipo')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.Tipo')" class="help is-danger text-danger"> El campo es obligatorio</span>
                </div>
            </div>

            <div class="col-md-12">
				 <font size=4><strong>Acción a tomar sobre el cliente</strong></font>
                <select class="form-control" name="Tipo"  
                v-model="body.accion" required>
                <option value="0" selected >Selecciona una opción</option>
                <option value="1" >Se descarta el cliente</option>
                <option value="2" >Se hará un nueva llamada o visita</option>
                <option value="3" >El cliente acepta la propuesta</option>
                </select>
                </div> 

            <div class="col-md-12 form-group"></div>
              <div class="col-md-12 form-group">
                   <font size=4><strong>¿Cuál fue el acuerdo con el cliente?</strong></font>
                          <div class="row"></div>
                          <textarea  type="text" v-model="body.ObservacionesConCliente" class="text-capitalize form-control" style="resize:none; height: 100px">
                          </textarea>
            </div>              


    </div>

    <div class="col-md-4">
  <h3 class="text-center text-primary">Historial de observaciones con el cliente</h3>  
      <div class="row" style="max-height:300px; overflow-y:scroll;">
  <ul class="list divider-full-bleed">
											<li class="tile" v-for="(observacion, index) in observaciones" :key="index" v-show="observacion.ObservacionesConCliente!=''">
												<a class="tile-content ink-reaction">
													<div class="tile-text">
													Fecha de realización: {{observacion.Fecha2}} - Fecha agendada: {{observacion.FechaAgendada2}}
														<small>
														{{observacion.ObservacionesConCliente}}
														</small>
													</div>													
												</a>
											</li>
											
										</ul>
      </div>
    
 
                            
                <!--     <div v-show="observacion.ObservacionesConCliente!=''"
                    class="card panel expanded" style="background: #FDFDFD; padding-left: 20px;padding-right: 20px" 
                    v-for="(observacion, index) in observaciones" :key="index">
                        <span>Fecha de realización: {{observacion.Fecha2}} - Fecha agendada: {{observacion.FechaAgendada2}}</span>
                        <h3>{{observacion.ObservacionesConCliente}}</h3>
                    </div> -->
            

    </div>

           
                
             </form>
	</div>
    <div class="col-md-6 pull-right" style="padding:15px;">
        <button @click="regresar" type="button" class="btn btn-default pull-right" style="margin-right:60px" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
        <button @click="update" class="btn btn-success pull-right" style="margin-right:60px;">Registrar <span class="fa fa-check"></span></button>
    </div>
</div>


        <modal
      name="modal-agenda"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
     <div class="col-md-8 col-md-offset-2 ">
       <div class="col-md-12 text-center">
         <h3>Agendar una visita o llamada con el cliente</h3>
       </div>
       <div class="col-md-12">
         <div class="col-md-6">
            <input type="radio" id="one" value="V" v-model="Agenda.Tipo">
            <label for="one">Visita</label>
         </div>
         <div class="col-md-6">
           <input type="radio" id="two" value="T" v-model="Agenda.Tipo">
          <label for="two">Llamada Telefónica</label>
         </div>         
       </div>
        <div class="col-md-12">
          <label>Fecha:</label>
          <input type="date" class="form-control" :min="body.Fecha" v-model="Agenda.Fecha">
        </div>    
        <div class="col-md-12">
          <label>Observaciones:</label>
          <textarea v-model="Agenda.Observaciones" class="text-capitalize form-control" placeholder="">
          </textarea>
        </div> 
        <div class="col-md-12" v-show="false">
            <span>¿Cuál fue el acuerdo con el cliente?</span>
                <div class="row"></div>
                <textarea v-model="Agenda.ObservacionesConCliente" class="text-capitalize form-control">
                </textarea>
        </div>
     </div>    
      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        
        <div class="col-md-3 pull-right" style="padding:10px; margin-right: 30px">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-agenda');"
          >Cancelar</button>
        </div>

        <div class="col-md-3 pull-right" style="padding:10px; margin-right: 10px">
          <button
            class="btn btn-success"
            type="button"
            @click="GuardaAgenda()"
          >Guardar</button>
        </div>
      </div>
    </modal>


    <modal
      name="modal-nointeresado"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
     <div class="col-md-10 col-md-offset-1 ">
       <div class="col-md-12 text-center">
         <h4>Ingresa el motivo por el cual se descartara al cliente </h4>
       </div>
         <div class="col-md-12">

            <label>Selecciona un Motivo</label>
            <select class="form-control input-sm" v-model="motivoDescartar"  >
            <option value="" >selecciona</option>
            <option v-for="i in Motivos" :key="i.Id"  v-bind:value="i.Id">{{i.Motivos}}</option>
            </select>
          
       </div> 
       <div class="col-md-12">
         <label>¿Porqué se descarta el cliente?</label>
          <textarea class="form-control input-sm" v-model="ObservacionesDescartado"></textarea>
       </div>
                   
     </div>    
      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-6" style="padding:10px;">
          <button
            class="btn btn-success"
            type="button"
            @click="GuardaMotivo()"
          >Guardar</button>
        </div>
      <!--   <div class="col-md-3" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-nointeresado');"
          >Cancelar</button>
        </div> -->
      </div>
    </modal>


     <modal
      name="modal-acepta"
      :width="800"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
     <div class="col-md-12" style="padding:15px">
       <div class="col-md-12 text-center">
         <h3>Seleccionar propuesta</h3>
       </div>
    
          <div class="col-12">
            <tablecomponent  
         :headers="headers"   
         :tabledata="tabledata" 
         :actions="actions"
         >
         </tablecomponent>	
          </div>
      
     </div>    
      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        
        <div class="col-md-3 pull-right" style="padding:10px; margin-right: 30px">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-acepta');"
          >Cancelar</button>
        </div>

        <div class="col-md-3 pull-right" style="padding:10px; margin-right: 1px">
          <button
            class="btn btn-success"
            type="button"
            @click="GuardaAgenda()"
          >Guardar</button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-reporte"
      :width="800"
      :height="550"
      :scrollable="true"
     
    >
      <iframe :src="reporte"  allowfullscreen height="500" width="800"></iframe>
      <div class="row">
        <button class="btn btn-block btn-default" @click="actualiza();;AceptaSalir">Salir</button>
      </div>
    </modal>  


    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import PrettyCheckbox from "pretty-checkbox-vue";
import buscarcliente from "../BuscarCliente.vue";
import buscarVendedor from "../buscarVendedor";
import tablecomponent from "../../components/table.vue";
import { EventBus } from "../../event-bus";
import url from "../../urls";
export default {
  name: "addVistas",
  data() {
    return {
      reporte: "",
      headers: ["#Folio", "Estatus", "Fecha Cotización", "Fecha Expiración", "Op"],
      actions: {
        selected: true,
        filter: false
      },
      tabledata: [],
      cliente:{
        telefono:'',
        telefono_casa:'',
        correo:'',
        celular:''
      },
      Agenda: {
        Tipo: "V",
        Fecha: "",
        Clv_vendedor: Vue.localStorage.get("clv_usuario"),
        Observaciones: "",
        Clv_cliente: 0,
        accion: 0,
        ObservacionesConCliente: ""
      },
      motivoDescartar: "",
      ObservacionesDescartado: "",
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      Historial: [],
      body: {
        Tipo: "",
        Fecha: "",
        Clv_Vendedor: 0,
        Observaciones: "",
        Clv_cliente: 0,
        accion: 0,
        telefono_casa: "",
        ObservacionesConCliente: "Ok"
      },
      activo: true,
      listaDepartamentos: [],
      ListaClientes: [],
      nombreCliente: "",
      nombreVendedor: "",
      observaciones: [],
      Motivos: "",
      cotizacion: 0,
      Op:0
    };
  },
  mounted() {
    this.getAgendaById();
    this.getMotivos();
    EventBus.$on("selected", data => {
      this.seleccionado(data);
    });
  },
  methods: {
    GetHistorialObs() {
      axios
        .post(
          "/SessionWeb/GetHistorialObs",
          { clv_usuario: this.body.Clv_cliente },
          this.header
        )
        .then(res => {
          this.observaciones = res.data.GetHistorialObsResult;
        });
    },
     getCliente(x) {     
      let vm = this;
      let params = {
        id: x
      };
      axios
        .post("/SessionWeb/GetClienteById", params, this.header)
        .then(res => {
          this.cliente = res.data.GetClienteByIdResult
          
        });

      this.$modal.hide("modal-clientes");
    },
    getAgendaById() {
      axios
        .post(
          "/SessionWeb/GetAgendaById",
          { id: this.$route.params.id },
          this.header
        )
        .then(res => {
          let x = res.data.GetAgendaByIdResult;
          console.log(x);
          this.body = x;
          this.body.accion = 0;
          this.body.Fecha = this.recuperaFecha(x.FechaAgendada2);
          this.clientedepartamento(x.Clv_cliente);
          this.getCliente(x.Clv_cliente)
          this.getUsuariosC(this.body.Clv_Vendedor);
        });
    },
    clientedepartamento(id_cliente) {
      let vm = this;
      let params = {
        clv_comprador: id_cliente
      };
      axios
        .post("/SessionWeb/GetrelDepClienteById", params, this.header)
        .then(res => {
          this.listaDepartamentos = res.data.GetrelDepClienteByIdResult;
        });
    },
    update(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if (this.body.accion == "1") {
            this.$modal.show("modal-nointeresado");
            return;
          }
          if (this.body.accion == "2") {
            this.$modal.show("modal-agenda");
            return;
          }
          if (this.body.accion == "3") {
            //Verificar el estatus del departamento
            //seleccionar la cotización que se va a aplicar
            this.$modal.show("modal-acepta");
            this.getCotizacionesByCliente();
            return;
            //Paso pendiente (formato de aceptación)
            //Se captura la fecha para el pago del enganche
            //Para el pago del apartado son tres días a partir de la aceptación
            //Cambiar el estatus del departamento y del cliente a apartado
            //Enviar el correo
          }
          this.actualiza();
          return;
        }
      });
    },
    actualiza() {
      let body = {
        id: this.$route.params.id,
        Tipo: this.body.Tipo,
        Fecha: this.acomodarFecha(this.body.Fecha),
        Clv_vendedor: this.body.Clv_Vendedor,
        Observaciones: this.body.Observaciones,
        Clv_cliente: this.body.Clv_cliente,
        accion: this.body.accion,
        ObservacionesConCliente: this.body.ObservacionesConCliente
      };
        axios.post("/SessionWeb/UpdateAgenda", body, this.header).then(res => {        
          this.AceptaSalir();
      });
    },
    recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },
    acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    },
    getVendedor(data) {
      this.body.Clv_vendedor = data;
      this.$modal.hide("vendedores");
      this.getUsuariosC(data);
    },
    getUsuariosC(x) {
      axios
        .post("/SessionWeb/GetUsuariosC", { clv_usuario: x }, this.header)
        .then(res => {
          this.nombreVendedor = res.data.GetUsuariosCResult.nombre;
          this.GetHistorialObs();
        });
    },
    regresar() {
      this.$route.params.cliente == 0
        ? this.$router.push("/cliente/update/" + this.body.Clv_cliente)
        : this.$router.push("/agenda");
    },
    GuardaAgenda() {
      this.$modal.hide("modal-agenda");
      this.Agenda.Clv_cliente = this.body.Clv_cliente;

      axios
        .post("/SessionWeb/AddAgenda", this.Agenda, this.header)
        .then(res => {
          this.$snotify.success(
            "Se agendó el cliente correctamente",
            "¡Atención!"
          );
          this.actualiza();
        });
    },
   
    GuardaMotivo() {
      let vm = this;
      if (!this.motivoDescartar) {
        this.$snotify.error("Selecciona un motivo", "¡Atención!");
        return;
      }

      let params = {
        IdMotivo: this.motivoDescartar,
        Observaciones: this.ObservacionesDescartado,
        IdVendedor: Vue.localStorage.get("clv_usuario"),
        IdCliente: this.body.Clv_cliente
      };
      axios
        .post("/SessionWeb/AddMotivoClienteDescartado", params, this.header)
        .then(res => {
          vm.$modal.hide("modal-nointeresado");
          this.actualiza();
        });
    },
    getMotivos() {
      axios.get("/SessionWeb/GetMotivosCancelacion", this.header).then(res => {
        this.Motivos = res.data.GetMotivosCancelacionResult;
      });
    },
    getCotizacionesByCliente() {
      axios
        .post(
          "/SessionWeb/GetCotizacionByCliente",
          { Clv_cliente: this.body.Clv_cliente },
          this.header
        )
        .then(res => {
          res.data.GetCotizacionByClienteResult.forEach(element => {
            console.log(element);
            const obj = {
              Id: element.Id,
              Estatus:
                element.Estatus === "C"
                  ? "Cancelada"
                  : element.Estatus === "A" ? "Activa" : "",
              Fecha2: element.Fecha2,
              FechaEntrega2: element.FechaEntrega2,
              Op: element.Op
            };
            this.tabledata.push(obj);
          });
       
        });
    },
    seleccionado(x) {
      console.log('que llega ', x)
      if (x.Estatus === "Cancelada") {
        if (Vue.localStorage.get("tipoUsuario") != 1) {
          this.$snotify.error(
            "Solicite al gerente de ventas activar la propuesta ",
            "¡Atención!"
          );
        }
        return;
      }
      this.cotizacion = x.Id;
      this.Op= x.Op
      
      console.log('Cotizacion', this.cotizacion )
      axios
        .post(
          "SessionWeb/AceptaPropuesta",
          { clv_cotizacion: x.Id },
          this.header
        )
        .then(res => {        
          this.$snotify.success(
            `Propuesta registrada`,
            "¡Atención!"
          );
          this.$modal.hide("modal-acepta");
          axios.post("/SessionWeb/ReporteAceptacionDeCompra",{ Opexportacion: 1, cotizacion: this.cotizacion , Op1:this.Op },this.header).then(result => {
          this.reporte = url.URL_REPORTES + result.data.ReporteAceptacionDeCompraResult;
          this.$modal.show("modal-reporte");
          });                                        
        });
    },
    AceptaSalir(){
      this.$route.params.cliente == 0
          ? this.$router.push("/cliente/update/" + this.body.Clv_cliente)
          : this.$router.push("/agenda");
    }
  },
  components: {
    buscarcliente,
    buscarVendedor,
    tablecomponent
  }
};
</script>
<style>
.pretty input[type="checkbox"] {
  position: absolute !important;
}
</style>