
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Cuentas bancarias</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Ventas</a>
            </small>   
		</header>
	</div>
	<div class="card-body">        
    			<div class="col-md-4 col-md-offset-4" style="padding-top: 10px;">	
                 
                <form  @submit.prevent="update('principal')" data-vv-scope='principal'>		
                              
                <div class="col-md-12 form-group">
			        	<font size=4><strong>Banco</strong></font>
                <div class="row"></div>
                      <select v-model="body.banco" v-validate="'required'" class="form-control text-capitalize" name="banco">
                      <option v-for="x in bancos" :key="x.id" v-bind:value="x.id"
                      >{{x.nombre}}</option>
                      </select>                
                <i v-show="errors.has('principal.banco')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.banco')" class="help is-danger text-danger"> El campo es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<font size=4><strong>Número de cuenta</strong></font>
                <div class="row"></div>
                <input type="number" min="0" name="numeroCuenta" class="form-control" v-model="body.cuenta" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.numeroCuenta')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.numeroCuenta')" class="help is-danger text-danger"> El número de cuenta es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<font size=4><strong>Cuenta CLABE</strong></font>
                <div class="row"></div>
                <input type="number" name="CLABE" min="0" class="form-control" v-model="body.CLABE">
                <div class="row"></div>                
                </div>
                              
                 <div class="col-md-12">
                      <p-check class="p-svg p-curve" color="success" v-model="body.activo">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             <font size=2><strong>Activo</strong></font>
                </p-check>
                 </div>
                
                
                <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="$router.push({ path: `/cuentasBancarias` })" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
             </form>
		</div>
	</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";

export default {
  name: "app_update_cuentasBancarias", 
  data() {
    return {
      body : {          
          id: this.$route.params.id,
          banco: '',
          cuenta: '',
          CLABE: '',
          activo: true
      },         
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      bancos: ''   
    };
  },
  mounted() {    
      this.getBancos();
      this.getCuentaBancariaById();
  },
  methods: {
     getCuentaBancariaById(){
         axios.post("/SessionWeb/getCuentaBancariaById", {id: this.body.id }, this.header).then(res => {
             this.body = res.data.getCuentaBancariaByIdResult;
             console.log(this.body)
         });
     },
     update(scope){
         this.$validator.validateAll(scope).then((result) => {              
        if (result) {
            console.log(this.body);
            if (this.body.CLABE.length == 18 || this.body.CLABE.length == 0){
                this.body.CLABE.length == 0 ? this.body.CLABE = '':'';
            axios.post("/SessionWeb/updateCuentaBancaria", this.body, this.header).then(res => {
              this.$snotify.success(
                "Cuenta actualizada con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
               this.$router.push({ path: `/cuentasBancarias` })
                });            
            } else {
                this.$snotify.error(
                "La CLABE debe contener 18 dígitos",
                "¡Error!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
            }
          } else {
              return;
          }
        });       
     },
      getBancos(){
           let vm = this;
           axios.get('/SessionWeb/GetBancos', this.header).then(res => {
               this.bancos = res.data.GetBancosResult;         
        });
       },       
  },
  components: {
    
  }
};
</script>