
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Correos Y SMS</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catalagó Procesos</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
      <!-- <div class="col-md-12">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;"> -->
        <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>-->
        <!-- <router-link class="btn btn-success pull-right" to="/firmware/add">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      </div> -->

				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar'"
         :filter-options="'descripcion'"
         >
         </tablecomponent>	

         <!-- <paginate name="people" :list="tabledata" :per="5">
            <li v-for="tabledata in paginated('nombre_cliente')">
                {{ person }}
            </li>
        </paginate> -->
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from '../table.vue'
import { EventBus } from '../../event-bus'


export default {
  name: "app_amenitie", 
  data() {
    return {
      headers: [
        '#',
        'Nombre Cliente',
        'Nombre OLt',
        'Correo',
        'Celular'
        // 'Estatus'

      ],
      actions: {
        enviarcorreo: true,
         filter:true,
         enviarsms:true
      },
      tabledata: [],    
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }   
    };
  },
  mounted() {
    this.getEstatus();
    EventBus.$on('enviarcorreo', data => {     

      console.log('Mando', data);
        let params= {
              Opexportacion:1,  
              Id:data.id,
              Email:data.correo,
              
            
          }
        
          axios.post("/SessionWeb/GetReporteEstadoCuenta", params,this.header).then(res => {
          
              this.$snotify.success('Correo enviado con éxito', '¡Correcto!', {
                    timeout: 1500,
                    showProgressBar: false,
                    closeOnClick: false,
                    pauseOnHover: true
                    });      
          
          });
      //  this.$router.push({ path:`/firmware/update/${data.id}` }) 
    })

    EventBus.$on('enviarsms', data =>{
        
        let params= {
              Celular1:data.celular 
          }
        
          axios.post("/SessionWeb/EnviaSms", params,this.header).then(res => {
          
              this.$snotify.success('SMS enviado con éxito', '¡Correcto!', {
                    timeout: 1500,
                    showProgressBar: false,
                    closeOnClick: false,
                    pauseOnHover: true
                    });      
          
          });



    });

  },
 
  methods: {
    getEstatus() {
      let vm = this;
      axios.get("/SessionWeb/GetEstadosDecuentaEnviar", this.header).then(res => {

       res.data.GetEstadosDecuentaEnviarResult.forEach((el) => {
         let obj = {
           id:el.IdEstadoCuenta,
           descripcion:el.nombre_cliente,
           nombreolt: el.nombre_olt,
           correo: el.correo,
           celular: el.celular
          
        //    activio:((el.Activo))? 'Activo' : 'Inactivo'
         
         
                
          }          
          vm.tabledata.push(obj)
       });  

        //  vm.tabledata =res.data.GetEstadosDecuentaEnviar;     
      });
    }    
       
  },
  components: {
    tablecomponent
  }
};
</script>