<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Vendedores</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catálogo Vendedores</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
      <div class="col-md-12">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
        <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>-->
        <router-link class="btn btn-success pull-right" to="/vendedores/add">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      </div>

				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Vendedores'"
         :filter-options="'nombre'"
         >
         </tablecomponent>	
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from '../../components/table.vue'
import { EventBus } from '../../event-bus'
export default {
  name: "app_amenitie", 
  data() {
    return {
      headers: [
        '#',
        'Nombre',
        'Domicilio',
        'Estatus'

      ],
      actions: {
        editar: true
      },
      tabledata: [],    
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }   
    };
  },
  mounted() {
    this.getVendedores();
    EventBus.$on('editar', data => {     
       this.$router.push({ path: `/vendedores/update/${data.id}` }) 
    })

  },
  methods : {
      getVendedores(){
           let vm = this;         
            axios.get('/SessionWeb/GetVendedor',this.header)
             .then(res => {
       res.data.GetVendedorResult.forEach((el) => {
         let obj = {
           id:el.clv_vendedor,
           nombre:el.nombre,
           domicilio:el.domicilio,
           activio:((el.activo))? 'Activo' : 'Inactivo'
                
         
                
          }          
          vm.tabledata.push(obj)
       });        
      });
    }    
       
  },
  components: {
    tablecomponent
  }
};
</script>