<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Edita Modelo</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/modelo" class="paginaActiva">Configuración</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
    			<div class="col-md-4 col-md-offset-4" style="padding-top: 10px;">	
                <form  @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
                <div class="row">
                    <font size=3><strong>Descripcion</strong></font>
                    <input type="text" class="text-capitalize form-control" v-model="Nombre">
                </div>
                   <br>

                    
                     <div class="col-md-12">
                      
                     <div class="col-md-8 ">
                     
                        <font size=4><strong>Selecciona con que Marca se relaciona el Modelo</strong></font>
                        
                        <select class="form-control text-capitalize" v-model="modelo" v-validate="'required'" name="estado">
                        <option value="">Selecciona</option>
                        <option v-for="option in Listamodelos" :key="option.clv_marca" v-bind:value="option.clv_marca" >{{option.nombre}}</option>
                        </select> 
                         <div class="row"></div>
                        <i v-show="errors.has('principal.estado')" class="fa fa-warning"> </i>
                        <span v-show="errors.has('principal.estado')" class="help is-danger text-danger"> Seleccione una marca</span>
                    </div>
               
                    <div class="col-md-4">
                   
                      <br>
                        <button class="btn btn-default btn-sm pull-right" type="button" @click="agregaRelacion()"> <i class="fa fa-plus"></i> Agregar </button>
                    </div>
                         </div>
                    
                
               
                <div class="col-md-12" style="margin-top:30px">
                  <h4 class="text-center">Marcas Relacionadas</h4>
                  <table class="table table-striped">
                      <thead>
                          <th class="">Marca</th>
                           <th class="text-center"> Opciones</th>
                      </thead>
                      <tbody>
                         <tr v-for="(x, index ) in estadosSelected" :key="x.Id">
                             <td class="text-capitalize">{{x.nombre}}</td>
                             <td class="text-center"><button type="button"  class="btn btn-danger btn-sm" @click="eliminaEstado(index)" ><i class="fa fa-trash"></i> Eliminar</button></td>
                         </tr>
                      </tbody>
                  </table>
                </div> 


               
                 <!-- <div class="row">                
               <p-check class="p-svg p-curve" color="success" v-model="Activo">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             <font size=2><strong>Activo</strong></font>
                           </p-check>
                </div> -->
                
               <div class="row" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>

                 </form>
                </div>
               
		</div>
	</div>
</div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addVendedores",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      Id: 0,
      Nombre: "",
      Activo: false,
      estado: "",
      Listamodelos: [],
      estadosSelected: [],
      modelo:0
    };
  },
  mounted() {
    this.ontenTipo();
    this.getEstados();
  },
  methods: {
    
    
    
    ontenTipo() {
     let vm = this
      let body = {      
          Id: this.$route.params.id        
      };
      axios
        .post("/SessionWeb/GetModeloById", body, this.header)
        .then(res => {
          vm.Nombre = res.data.GetModeloByIdResult[0].Nombre
        //   vm.Activo = res.data.GetTipoUsuarioByIdResult.Activo
          vm.Id = res.data.GetModeloByIdResult[0].Id
          this.estadosSelected =  res.data.GetModeloByIdResult[0].Marca


        //   console.log(res);
        });
    },
    
    eliminaEstado (index) {
     this.estadosSelected.splice(index,1)
    },
    existe(clv_marca){
      for(var i=0; i< this.estadosSelected.length; i++){
          console.log(this.estadosSelected[i].clv_marca,clv_marca)
          if(this.estadosSelected[i].clv_marca == clv_marca){
              return true
          }
      }
      return false
    },

    existeMarca(clv_marca){
      for(var i=0; i< this.estadosSelected.length; i++){
          console.log(this.estadosSelected[i].clv_marca,clv_marca)
          if(this.estadosSelected[i].clv_marca != clv_marca){


             this.$snotify.error(
                "El modelo solo se puede relacionar a una sola marca ",
                "¡Error!",
                {
                  timeout: 3500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
              return true
                
          }
      }
      return false
    },

    agregaRelacion() {
      let vm = this;
      if (this.modelo) { 
        console.log(this.existe(this.modelo))
        if(this.existe(this.modelo)) return    
        if(this.existeMarca(this.modelo)) return 
        let result = this.Listamodelos.filter(i => i.clv_marca == this.modelo);
        this.estadosSelected.push(result[0]);
      }
    },
    getEstados() {
      let vm = this;
      axios.get("/SessionWeb/GetMarca", this.header).then(res => {
        this.Listamodelos = res.data.GetMarcaResult;
        console.log('entra', this.Listamodelos)
      });
    },

    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          let body = {
            obj: {
              Id: this.Id,
            //   Activo: this.Activo,
              Nombre: this.Nombre,
              Marca: this.estadosSelected       
            }
          };
          axios
            .post("/SessionWeb/UpdateModelo", body, this.header)
            .then(res => {
              this.$snotify.success(
                "Modelo editado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
          this.$router.push("/modelo");
            });
        }
      });
    },
    regresar() {
  this.$router.push("/modelo");
    }
  }
};
</script>
