
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Asignación de Departamentos</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva"> Asignación de departamentos</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
    	<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Usuarios'"
         :filter-options="'nombre'"
         >
         </tablecomponent>	
	</div>


 <!--   <modal
      name="modal-departamento"
      :width="900"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
    >
      <buscardepartamento :opciones="opciones" v-on:departamentosSeleccionados="getDep($event)"></buscardepartamento>
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        
      </div>
    </modal> -->


</div>
</div>
</div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from '../../components/table.vue'
import buscardepartamento from "../BuscarDepartamento.vue";
import { EventBus } from '../../event-bus'
export default {
    name: "asignacionDepartamentos",   
    data() {
        return {
           opciones: {
      check: true
    },
     headers: [
        '#',
        'Nombre',
        'Correo',
        'Estatus'
      ],
      actions: {
       // editar:true,
        selectProyecto: true,
         filter:true
      },
      tabledata: [],    
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      } 
        };
    },
    mounted() {
    this.getUsuarios();
    EventBus.$on('selectProyecto', data => {  
        //this.$modal.show("modal-departamento");
       this.$router.push({ path: `/asignacionDepartamentos/add/${data.id}` }) 
    })

  },
  methods : {
      getUsuarios(){
           let vm = this;   
            
            axios.get('/SessionWeb/GetUsuarios',this.header)
              .then(res => {
                console.log(res.data.GetUsuariosResult);
       res.data.GetUsuariosResult.forEach((el) => {
        if (el.clv_tipoVendedor>0) {
         let obj = {
           id:el.clv_usuario,
           nombre:el.nombre,
           correo:el.correo,
           activio:((el.activo))? 'Activo' : 'Inactivo'                                         
          }          
          vm.tabledata.push(obj)
         } 
         /* let obj = {
           id:el.clv_usuario,
           nombre:el.nombre,
           correo:el.correo,
           activio:((el.activo))? 'Activo' : 'Inactivo'                                         
          }          
          vm.tabledata.push(obj) */
       });        
      });
    },
    getDep(){
      this.$modal.hide('modal-departamento')
    }    
       
  },
  components: {
    tablecomponent,
    buscardepartamento,
  }
};
</script>
