<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong
            style="font-weight:bold; border:none; margin-left:10px;"
          >Asignación de Departamentos - {{usuario}}</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="home" class="paginaActiva">Asignación de departamentos</a>
          </small>
        </header>
      </div>
      <div class="card-body">
        <div class="col-md-6 card" style="height:450px;">
          <h5 class="text-center">Buscar Departamentos</h5>
          <div class="col-md-12">
            <div class="col-md-4">
              <label>Proyecto</label>
              <select
                class="form-control text-capitalize"
                v-model="proyecto"
                @change="obtenTorres()"
              >
                <option value>Selecciona</option>
                <option
                  v-for="option in proyectos"
                  :key="option.clv_proyecto"
                  v-bind:value="option.clv_proyecto"
                >{{option.nombre}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Torres</label>
              <select class="form-control" v-model="torre" @change="obtenPisos()">
                <option value>Selecciona</option>
                <option v-for="option in listaTorres" :key="option" v-bind:value="option">{{option}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Pisos</label>
              <select class="form-control" v-model="piso" @change="getEstatus()">
                <option value>Selecciona</option>
                <option v-for="option in listaPisos" :key="option" v-bind:value="option">{{option}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-12" style="max-height:300px; overflow-y:scroll;">
           <div class="col-md-12" >
       
              <tablecomponent  
              :headers="headers"  
              :tabledata="tabledata" 
              :actions="actions"
              :search-label="'Buscar Proyecto'"
              :filter-options="'nombre'"
              >
              </tablecomponent>	
            </div>
          </div>
        </div>
        <div class="col-md-6 card" style="height:450px;">
          <h5 class="text-center">Departamentos Asignados</h5>
          <div class="col-md-12" style="max-height:300px; overflow-y:scroll;">
            <table class="table">
              <thead>
                <th>Torre</th>
                <th>Piso</th>
                <th>No.Dep</th>
                <th>Tipo Departamento</th>
                <th>FechaEntrega</th>
                <th>Asignar</th>
              </thead>
              <tbody>
                <tr v-for="(x, index) in departamentos_usuarios " :key="x.IdDetalle">
                  <td>{{x.Torre}}</td>
                  <td>{{x.Piso}}</td>
                  <td>{{x.NumDepartamento}}</td>
                  <td>{{x.departamento}}</td>
                  <td>{{x.FechaEntrega}}</td>
                  <td>
                    <button @click="Eliminar(x.IdDetalle, index)" class="btn btn-danger btn-xs">
                      <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12">
        <button style="float:right" @click="$router.push({ path: '/asignacionDepartamentos'})" class="btn">Salir <span class="fa fa-sign-out-alt"></span></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { EventBus } from "../../event-bus";
export default {
  name: "nuevaAsignacion",
  data() {
    return {
      usuario: "",
      proyectos: [],
      listaTorres: [],
      listaPisos: [],
      departamentos: [],
      proyecto: "",
      torre: "",
      piso: "",
      departamentos_usuarios: [],
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };
  },
  mounted() {
    this.getUsuario();
    this.getProyectos();
    this.getDepartamentosUsuario();
  },
  methods: {
    getDepartamentosUsuario() {
      let vm = this;
      vm.departamentos_usuarios = [];
      axios
        .post(
          "/SessionWeb/GetRelacionUD",
          { IdUsuario: this.$route.params.id },
          this.header
        )
        .then(function(res) {
          console.log(res);
          res.data.GetRelacionUDResult.forEach(i => {
            vm.departamentos_usuarios.push(i.departamento);
          });
        });
    },
    Asignar(item, index) {
      let departamentos = [];
      departamentos.push(item.IdDetalle);
      let params = {
        departamentos: departamentos,
        IdUsuario: this.$route.params.id
      };
      axios
        .post("/SessionWeb/AddRelacionUsuarioUD", params, this.header)
        .then(res => {
          this.getDepartamentosUsuario();
          this.$snotify.success(
            "Relación Agregada correctamente",
            "¡Correcto!"              
          );
          this.departamentos.splice(index, 1);
        });
    },
    getUsuario() {
      let data = {
        clv_usuario: this.$route.params.id
      };
      let vm = this;
      axios
        .post("/SessionWeb/GetUsuariosC", data, this.header)
        .then(function(res) {
          vm.usuario = res.data.GetUsuariosCResult.nombre;
        });
    },
    getProyectos() {
      let vm = this;
      axios.get("/SessionWeb/GetProyecto", this.header).then(res => {
        vm.proyectos = res.data.GetProyectoResult;
        this.getEstatus();
      });
    },
    obtenTorres() {
      if (!this.proyecto) return;
      let vm = this;
      let params = {
        clv_proyecto: this.proyecto
      };
      axios
        .post("/SessionWeb/GetTorresProyecto", params, this.header)
        .then(res => {
          this.listaTorres = res.data.GetTorresProyectoResult;
          this.getEstatus();
        });
    },
    obtenPisos() {
      let vm = this;
      let params = {
        torre: this.torre ? this.torre : 0,
        clv_proyecto: this.proyecto ? this.proyecto : 0
      };
      axios.post("/SessionWeb/GetPisosTorre", params, this.header).then(res => {
        this.listaPisos = res.data.GetPisosTorreResult;
        this.getEstatus();
      });
    },
    getEstatus() {
      this.departamentos = [];
      let vm = this;
      let params = {
        clv_proyecto: this.proyecto ? this.proyecto : 0,
        torre: this.torre ? this.torre : "",
        piso: this.piso ? this.piso : 0,
        estatus: this.estatus ? this.estatus : 0
      };

      axios
        .post("/SessionWeb/GetEstatusDepartamentoListaDisponible", params, this.header)
        .then(res => {
          let departamentos_ = res.data.GetEstatusDepartamentoListaDisponibleResult;

          departamentos_.forEach((item, index) => {
            let coinsidencias = this.departamentos_usuarios.filter(
              x => x.IdDetalle == item.IdDetalle
            );

            console.log(coinsidencias,length);
            if (coinsidencias.length == 0 && departamentos_[index].Estatus == 3) {
                this.departamentos.push(departamentos_[index]);
            }

            if (coinsidencias.length > 1) {
              this.departamentos_usuarios.push(item);
            }
          });
        });
    },
    Eliminar(id, index) {
      this.departamentos_usuarios.splice(index, 1);
      let vm = this;
      let params = {
        Id: id
      };
      axios
        .post("/SessionWeb/DeleteRelacionUD", params, this.header)
        .then(res => {
          this.departamentos = [];
          this.getEstatus();
        });
    }
  },
  components: {}
};
</script>
<style scoped>
th {
  font-size: 12px;
}
td {
  font-size: 12px;
}
</style>

