<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Inventario de Departamentos</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/" class="paginaActiva">Proyecto</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
  
       <form  @submit.prevent="update('principal')" data-vv-scope='principal'>			
      <vue-tabs active-tab-color="#264562"   active-text-color="white">
           <v-tab title="Datos del departamento" icon="ti-user">
             
     <div class="col-md-12 card text-center" style="background:#e4e4e4">
                    <h4 class="text-capitalize"><strong>Proyecto:</strong> <font size=2 > {{body.proyecto}}</font> </h4>
                    <h4><strong>Piso:</strong><font size=2 >  {{body.Piso}}</font></h4>
                    <h4 class="text-capitalize"><strong>Torre:</strong><font size=2 >    {{body.Torre}}</font></h4>
                    <h4 class="text-capitalize"><strong>Tipo Departamento:</strong>  <font size=2 >    {{body.departamento}}</font></h4>
                    <h4 v-if="cliente.nombre && body.Estatus == 2" class="text-capitalize" ><strong>Apartado por :</strong>  <font size=2 >  {{cliente.nombre}} {{cliente.otronombre}}  {{cliente.primerA}} {{cliente.segundoA}}</font></h4> 
                    <h4 v-if="cliente.nombre && body.Estatus == 1" class="text-capitalize" ><strong>Comprado por :</strong>  <font size=2 >  {{cliente.nombre}} {{cliente.otronombre}}  {{cliente.primerA}} {{cliente.segundoA}}</font></h4> 
      </div>
             <div class="col-md-12" style="padding-top: 10px;">	
               

        
                <div class="col-md-3">           
                
              
                <div class="col-md-12">                 
				         <h4>Número de departamento</h4>               
                 <input type="text"                
                 name="numero"
                 :disabled="body.Estatus ==1 || body.Estatus ==2"
                 class="form-control" 
                 v-model="body.NumDepartamento"
                 :required="body.Estatus == 3  || body.Estatus == 2 ">               
                <i v-show="errors.has('principal.numero')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.numero')" class="help is-danger text-danger"> El campo número de departamento es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				         <h4>Fecha de entrega</h4>               
                <input 
                :disabled="true"
                type="date"  
                name="fechaEntrega" 
                class="form-control" 
               
                v-model="body.FechaEntrega" 
                >                
                </div>

                <div class="col-md-12 form-group">
				        <h4>Estatus</h4>               
                <select 
                v-model="body.Estatus"
                :disabled="true"
                 v-validate="'required'" name="estatus" class="form-control">                    
                   <option v-for="x in listaEstatus" :key="x.Id" 
                    v-bind:value="x.Id">{{x.Descripcion}}</option>
                </select>               
                <i v-show="errors.has('principal.estatus')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.estatus')" class="help is-danger text-danger"> Seleccione un estatus</span>
                </div>

                <div class="col-md-12 form-group">
				         <h4>Vendedor</h4>
               
                <select name="vendedor" 
                :disabled="true"
                v-model="body.Clv_vendedor"  class="form-control text-capitalize">    
                      <option value= 0 >Selecciona un Vendedor</option>                
                    <option v-for="x in listaVendedores" :key="x.clv_usuario" v-bind:value="x.clv_usuario" >{{x.detalleVendedor.nombreVendedor}}</option>
                </select>                                
                </div>


                
                </div>
                <div class="col-md-3">

                <div class="col-md-12 form-group">
			         	<h4>Precio de lista</h4>
                
                <money 
                :disabled="true"                
                v-model="body.preciolista" readonly name="precioLista"  class="form-control"  v-bind="money"></money>
                </div>

                <div class="col-md-12 form-group">
				        <h4>Precio actual</h4>
               
                  <money 
                  :disabled="true"
                  v-model="body.precioActual"
                    name="precioActual"  
                   class="form-control" 
                    v-bind="money"></money>              
                </div>
<!-- 
                <div class="col-md-6 form-group">
				        <h4>Precio de venta</span>
                <div class="row"></div>
                <money v-model="body.PrecioVendio" name="precioVendido"  class="form-control"  v-bind="money"></money>
                
                <div class="row"></div>
                <i v-show="errors.has('principal.precioVendido')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.precioVendido')" class="help is-danger text-danger"> El campo de precio de venta es obligatorio</span>
                </div> -->


                <div class="col-md-12">
			         	<h4>Fecha de venta</h4>   
                <input type="date"
                id="fechaVenta" 
                class="form-control"                  
                name="fechaVenta"
                :disabled="true" 
                v-model="body.FechaVenta" >           
                </div>

               <div class="col-md-12 form-group">
			       	<h4>Importe de apartado</h4>
                
                <money 
                :disabled="true"
                v-model="body.ImporteApartado" 
                name="importeApartado"  
                class="form-control"  v-bind="money">
                </money>         
                </div> 
                </div>
               <div class="col-md-4"  >

                <div class="col-md-12 form-group">
				        <h4>Fecha de apartado</h4>
                <input class="form-control"                 
                type="date" 
                name="fechaApartado" 
                :disabled="true"                 
                v-model="body.FechaApartado">               
                </div>

              <div class="col-md-12 form-group">
			       	<h4>Fecha de escrituración</h4>              
                <input 
                type="date" 
                name="fechaEscrituracion"   
                :disabled="true"
                class="form-control"                
                v-model="body.FechaEscrituracion" >             
                </div>

                
                
                <div class="col-md-12 form-group">
				        <h4>Notario</h4>
                <div class="row"></div>
                <input type="text" name="notario" class="form-control text-capitalize" v-model="body.Notario" >
                <div class="row"></div>
                <i v-show="errors.has('principal.notario')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.notario')" class="help is-danger text-danger"> Seleccione un notario</span>
                </div>

                <div class="col-md-12 form-group ">
                <h4>Lado del departamento</h4>  
                <div class="row"></div>             
                <select v-model="body.Lado" v-validate="'required'" class="form-control text-capitalize" name="lado">
                <option  value="" >Selecciona</option>
                <option value="Izquierdo">Izquierdo</option>
                <option value="Derecho">Derecho</option>
                 <div class="row"></div>
                <!-- <i v-show="errors.has('principal.lado')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.lado')" class="help is-danger text-danger"> Seleccione un lado</span> -->
                </select>
                </div> 
             
               </div>
                 
		        </div>
              <!-- <div class="col-md-4 card" >
                  <div class="col-md-8 form-group">
				        <h4>Selecciona los niveles del departamento</span>                
                <select name="comprador" class="form-control" v-model="Nivel" >  
                      <option value="">Selecciona</option>                  
                    <option v-for="x in ListaNivel" :key="x.Nivel" v-bind:value="x.Nivel" >{{x.Nivel}}</option>
                </select>                
                </div> 
                <div class="col-md-4">
                  <br>
                        <button class="btn btn-info btn-sm" type="button" @click="agregaRelacion()"> <i class="fa fa-plus"></i> Agregar </button>
                    </div> 
                <div class="col-md-12">
                    <table class="table">
                      <tbody>
                          <tr v-for="x in NivelSelected" :key="x.Nivel">
                              <td class="text-capitalize">{{x.Nivel}}</td>
                              <td><button type="button"  class="btn btn-danger btn-xs" @click="eliminaNivel(index)" ><i class="fa fa-trash"></i></button></td>
                          </tr>
                      </tbody>
                    </table>

                </div>    

                
				                  
                </div>   -->


           </v-tab>
  
   <v-tab title="Bodegas del departamento ">
               <div class="row">
                 <iframe style="height: 600px;
                    width: 100%;
                    resize: both;
                    overflow: auto;" :src="urlBodega"></iframe>
               </div>
          </v-tab> 



            <v-tab title="Cajones de estacionamiento">
               <div class="row">
                 <iframe style="height: 600px;
                    width: 100%;
                    resize: both;
                    overflow: auto;" :src="urlCajones"></iframe>
               </div>
          </v-tab> 
    
    



           <v-tab title="Vistas del departamento" icon="ti-user">
               <div class="col-md-6 col-md-offset-3 ">
                    <h4 class="text-center">Vistas del Departamento</h4>                  
                <div class="col-md-8 form-group">
				        <h4>Selecciona las vistas del departamento</h4>                
                <select name="comprador" class="form-control" v-model="vista" >  
                      <option value="">Selecciona</option>                  
                    <option v-for="x in listaVistas" :key="x.clv_vista" v-bind:value="x.clv_vista" >{{x.descripcion}}</option>
                </select>                
                </div> 
                <div class="col-md-4">
                  <br>
                        <button class="btn btn-info btn-sm" type="button" @click="agregaRelacion1()"> <i class="fa fa-plus"></i> Agregar </button>
                    </div> 
                <div class="col-md-12">
                    <table class="table">
                      <tbody>
                          <tr v-for="x in vistasSelected" :key="x.clv_vista">
                              <td class="text-capitalize">{{x.descripcion}}</td>
                              <td><button type="button"  class="btn btn-danger btn-xs" @click="eliminaVista(index)" ><i class="fa fa-trash"></i></button></td>
                          </tr>
                      </tbody>
                    </table>

                </div>                
                </div>       
             
           </v-tab>
      </vue-tabs>

     <div class="col-md-12">
                    <button type="submit" class="btn btn-success pull-right" style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;">Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;">Cancelar <span class="fa fa-sign-out-alt"></span></button>
      </div>
       </form>
               
    			
	</div>
</div>
 <div>
   <modal name="modal-clientes" :width="900"  height="auto" :scrollable="true" :clickToClose="true" >
            <buscarcliente 
            v-on:buscar="eligeCliente($event)"
            :lista="ListaClientes"></buscarcliente>
     <div class="col-md-12" style="border-top: 1px solid #e6dada">
         <div class="col-md-3 col-md-offset-9" style="padding:20px;">
           <button class="btn btn-default" type="button" @click="$modal.hide('modal-clientes')"> Cerrar</button>
         </div>
    </div>
   </modal>
 </div>

</div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
import  buscarcliente from "../BuscarCliente.vue"
import bodegas  from '../../views/bodegas'
import url from '../../urls'
export default {
  name: "addVendedores",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      fechaEscritura: false,
      cliente: {
        clv_comprador: 0,
        nombre: "",
        primerA: "",
        segundoA: "",
        otronombre: "",
        estado: "",
        municipio: "",
        localidad: "",
        colonia: "",
        calle: "",
        numero: "",
        numeroInterior: "",
        codipoPostal: "",
        telefono: "",
        celular: "",
        correo: "",
        activo: 1
      },
      body: {
        IdDetalle: this.$route.params.id,
        tipoDeDepartamento: "",
        NumDepartamento: "",
        FechaEntrega: "",
        Estatus: 0,
        Clv_vendedor: 0,
        Clv_comprador: 0,
        preciolista: 0,
        PrecioActual: 0,
        PrecioVendio: 0,
        FechaApartado: "",
        ImporteApartado: 0,
        FechaVenta: "",
        ImporteEnganche: 0,
        PorcentajeEncganche: 1,
        NumeroPagosEnganche: 0,
        FechaEscrituracion: "",
        Notario: "",
        Clv_Etapa: 0,
        Nivel: "",
        Lado:0
      },
      listaEstatus: [],
      listaVendedores: "",    
      listaVistas: [],
      vista: "",   

      vistasSelected: [],
      pagosEnganche: [],
      ListaClientes: [],
      ListaNivel:[],
      NivelSelected:[],
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      }
    };
  },
  mounted() {
    this.GetEstatusVentaDepartamento();
    this.getEstatus();
    this.getVendedor();  
    this.getVistas();
    this.getNiveles();
    this.urlBodega = url.URL_BODEGAS +  '/#/bodegas/' + this.$route.params.id
    this.urlCajones = url.URL_BODEGAS +  '/#/cajones/' + this.$route.params.id

    console.log('Bodega', this.urlBodega)
  },
  methods: { 

    getNiveles() {
      
      let vm = this;
      axios.get("/SessionWeb/GetNivel", this.header).then(res => {
        vm.ListaNivel = res.data.GetNivelResult;
      });
    },
    getlistaClientes() {

      let vm = this;
      axios.get("/SessionWeb/GetCliente", this.header).then(res => {
        vm.ListaClientes = res.data.GetClienteResult;
      });
    },
    GetEstatusVentaDepartamento() {
      axios
        .get("/SessionWeb/GetEstatusVentaDepartamento", this.header)
        .then(res => {
          this.listaEstatus = res.data.GetEstatusVentaDepartamentoResult;
        });
    },   
    getCliente() {
      let vm = this;
      let params = {
        id: this.body.Clv_comprador
      };

      axios
        .post("/SessionWeb/GetClienteById", params, this.header)
        .then(res => {
         
          let cliente = res.data.GetClienteByIdResult;

          this.cliente.clv_comprador = cliente.clv_comprador;
          this.cliente.nombre = cliente.nombre;
          this.cliente.otronombre = cliente.otro_nombre;
          this.cliente.primerA = cliente.primer_apellido;
          this.cliente.segundoA = cliente.segundo_apellido;
          this.cliente.telefono = cliente.telefono;
          this.cliente.celular = cliente.celular;
          this.cliente.correo = cliente.correo;
          this.cliente.numero = cliente.numero;
          this.cliente.numeroInterior = cliente.numeroInterior;
          this.cliente.codipoPostal = cliente.codigo_postal;
          this.cliente.activo = cliente.activo;
          /* this.body.activo = cliente.activo; */
          this.cliente.estado = cliente.estado;
          this.cliente.municipio = cliente.municipio;
          this.cliente.localidad = cliente.localidad;
          this.cliente.colonia = cliente.colonia;
          this.cliente.calle = cliente.calle;
          console.log('nombre',res.data.GetClienteByIdResult)
        });
    },    
    getVistas() {
      let vm = this;
      axios.get("/SessionWeb/GetVista", this.header).then(res => {
        vm.listaVistas = res.data.GetVistaResult;
      });
    },
    getVendedor() {
      axios.get("/SessionWeb/GetUsuarios", this.header).then(res => {
        this.listaVendedores = res.data.GetUsuariosResult;
      });
    },
    
    getEstatus() {
      let vm = this;
      let params = {
        IdDetalle: this.$route.params.id
      };
      axios
        .post("/SessionWeb/GetEstatusDepartamento", params, this.header)
        .then(res => {
          this.body = res.data.GetEstatusDepartamentoResult;
          console.log('Estatus Departamento',res.data.GetEstatusDepartamentoResult);

          this.body.FechaEntrega = this.recuperaFecha(this.body.FechaEntrega);
          this.body.FechaVenta = this.recuperaFecha(this.body.FechaVenta);
          this.body.FechaApartado = this.recuperaFecha(this.body.FechaApartado);
          this.body.FechaEscrituracion = this.recuperaFecha(this.body.FechaEscrituracion);

          this.getCliente();
          //this.cliente.clv_comprador = this.body.Clv_comprador;
          this.pagosEnganche = res.data.GetEstatusDepartamentoResult.pagos;
          
           this.pagosEnganche.forEach((element,index) => {             
            this.pagosEnganche[index].Fecha = this.recuperaFecha(element.Fecha);
           });          
           console.log(res.data.GetEstatusDepartamentoResult.pagos);
          if (res.data.GetEstatusDepartamentoResult.vistas) {
            vm.vistasSelected = res.data.GetEstatusDepartamentoResult.vistas;
          } else {
            vm.vistasSelected = [];
          }
           if (res.data.GetEstatusDepartamentoResult.nivel) {
            vm.NivelSelected = res.data.GetEstatusDepartamentoResult.nivel;
          } else {
            vm.NivelSelected = [];
          }

          // this.getClientes();
        });
    },
 agregaRelacion() {
      let vm = this;
      if (this.Nivel) {
        if (this.existe1(this.Nivel)) return;
        let result = this.ListaNivel.filter(i => i.Nivel == this.Nivel);
        this.NivelSelected.push({
          Clv_nivel: result[0].Clv_nivel,
          Nivel: result[0].Nivel
        });
        this.Nivel = "";
      }
    },
     existe1(id) {
      for (var i = 0; i < this.NivelSelected.length; i++) {
        if (this.NivelSelected[i].Nivel == id) {
          return true;
        }
      }
      return false;
    },
     eliminaNivel(index) {
      this.NivelSelected.splice(index, 1);
    },
    eliminaVista(index) {
      this.vistasSelected.splice(index, 1);
    },
    existe(id) {
      for (var i = 0; i < this.vistasSelected.length; i++) {
        if (this.vistasSelected[i].clv_vista == id) {
          return true;
        }
      }
      return false;
    },
    
    agregaRelacion1() {
      let vm = this;
      if (this.vista) {
        if (this.existe(this.vista)) return;
        let result = this.listaVistas.filter(i => i.clv_vista == this.vista);
        this.vistasSelected.push({
          clv_vista: result[0].clv_vista,
          descripcion: result[0].descripcion
        });
        this.vista = "";
      }
    },
    update(scope) {  
console.log('Lado', this.body.Lado)
if(this.body.Lado == 0){
  
  this.$snotify.error(
       "Es importante seleccionar al menos un lado",
         "¡Atención!");
             return;
      }

if (this.vistasSelected ==0){
 this.$snotify.error(
                "Seleccione al menos una vista ",
                "¡Alerta!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );


}else{

           let ListaNivel = [];
      this.ListaNivel.forEach(x => {
        if (x.selected) {
          ListaNivel.push(x.Nivel);
        }
      });            
      this.$validator.validateAll(scope).then(result => {
      
        if (result) {
      
   
          let params = {
            obj: this.body,
            vistas: this.vistasSelected,
            pagos:[], //this.pagosEnganche
            nivel:this.NivelSelected
          };

          axios
            .post("/SessionWeb/UpdateEstatusDepartamento", params, this.header)
            .then(res => {
              this.$snotify.success(
                "Departamento registrado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
              this.$router.push("/estatusDepartamento");
            
            });
        }
      
      });
}
    },
    recuperaFecha(x){
      const fecha = x.split('/');
      const arreglo = fecha[2] + '-' + fecha[1] + '-' + fecha[0];
      return arreglo;
    },
    acomodarFecha(x){
      let arrayFecha = x.split('-');
      let fechanueva = arrayFecha[2] + '/' + arrayFecha[1] + '/' + arrayFecha[0]
      return fechanueva;
    },
    regresar() {
      this.$router.push("/estatusDepartamento");
    }
    
  },
  components: {
    Money,
    buscarcliente,
    bodegas
  }
};
</script>
