<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Estatus departamento</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/vendedores" class="paginaActiva">Insertar Estatus de departamento</a>
            </small>   
		</header>
	</div>
	<div class="section-body">
    			<div class="col-md-12" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
                <div class="col-md-4">
                    
                <div class="col-md-12 form-group">
				<span>Torre</span>
                <div class="row"></div>
                <select @change="getPisos(body.clv_torre)" v-model="body.clv_torre" v-validate="'required'" class="form-control" name="torre">                    
                    <option v-for="x in listaTorres" :key="x.clv_torre" 
                    v-bind:value="x.clv_torre">{{x.nombre}}</option>                                   
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.torre')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.torre')" class="help is-danger text-danger"> Seleccione una torre</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Piso</span>
                <div class="row"></div>
                <select v-model="body.piso" v-validate="'required'" class="form-control" name="piso">                    
                    <option v-for="x in pisos" :key="x.clv_torre" 
                    v-bind:value="x">{{x}}</option>                                   
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.piso')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.piso')" class="help is-danger text-danger"> El campo piso es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Tipo de departamento</span>
                <div class="row"></div>
                <input type="text" name="tipo" class="form-control" v-model="body.tipoDeDepartamento" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.tipo')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.tipo')" class="help is-danger text-danger"> El campo tipo de departamento es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Número de departamento</span>
                <div class="row"></div>
                <input type="number" name="numero" class="form-control" v-model="body.numeroDepartamento" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.numero')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.numero')" class="help is-danger text-danger"> El campo número de departamento es obligatorio</span>
                </div>


                <div class="col-md-12 form-group">
				<span>Fecha de entrega</span>
                <div class="row"></div>
                <input type="date" name="fechaEntrega" class="form-control" v-model="body.fechaEntrega" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.fechaEntrega')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.fechaEntrega')" class="help is-danger text-danger"> Seleccione una fecha de entrega</span>
                </div>

               <div class="col-md-12 form-group">
				<span>Estatus</span>
                <div class="row"></div>
                <select v-model="body.estatus" v-validate="'required'" name="estatus" class="form-control">                    
                   <option v-for="x in listaEstatus" :key="x.Id" 
                    v-bind:value="x.Id">{{x.Descripcion}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.estatus')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.estatus')" class="help is-danger text-danger"> Seleccione un estatus</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Vendedor</span>
                <div class="row"></div>
                <select name="vendedor" v-model="body.clv_vendedor" v-validate="'required'" class="form-control">                    
                    <option v-for="x in listaVendedores" :key="x.clv_vendedor" 
                    v-bind:value="x.clv_vendedor">{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.vendedor')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.vendedor')" class="help is-danger text-danger"> Seleccione un vendedor</span>
                </div>

                </div>
                <div class="col-md-4">

                <div class="col-md-12 form-group">
				<span>Comprador</span>
                <div class="row"></div>
                <select name="comprador" class="form-control" v-model="body.clv_comprador" v-validate="'required'">                    
                    <option v-for="x in listaCompradores" :key="x.clv_comprador" 
                    v-bind:value="x.clv_comprador">{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.comprador')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.comprador')" class="help is-danger text-danger"> Seleccione un comprador</span>
                </div>                

                <div class="col-md-12 form-group">
				<span>Precio de lista</span>
                <div class="row"></div>
                <money v-model="body.precioListaVenta" name="precioLista" v-validate="'required'" class="form-control"  v-bind="money"></money>

               
                <div class="row"></div>
                <i v-show="errors.has('principal.precioLista')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.precioLista')" class="help is-danger text-danger"> El campo de precio es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Precio actual</span>
                <div class="row"></div>
                  <money v-model="body.precioActual" name="precioActual" v-validate="'required'" class="form-control"  v-bind="money"></money>
                
                <div class="row"></div>
                <i v-show="errors.has('principal.precioActual')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.precioActual')" class="help is-danger text-danger"> El campo de precio actual es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Precio de venta</span>
                <div class="row"></div>
                <money v-model="body.precioVendido" name="precioVendido" v-validate="'required'" class="form-control"  v-bind="money"></money>
                
                <div class="row"></div>
                <i v-show="errors.has('principal.precioVendido')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.precioVendido')" class="help is-danger text-danger"> El campo de precio de venta es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Fecha de apartado</span>
                <div class="row"></div>
                <input class="form-control" type="date" name="fechaApartado" v-model="body.fechaApartado" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.fechaApartado')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.fechaApartado')" class="help is-danger text-danger"> Seleccione una fecha de apartado</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Importe de apartado</span>
                <div class="row"></div>
                <money v-model="body.importeApartado" name="importeApartado" v-validate="'required'" class="form-control"  v-bind="money"></money>
               
                <div class="row"></div>
                <i v-show="errors.has('principal.importeApartado')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.importeApartado')" class="help is-danger text-danger"> El campo de importe de apartado es obligatorio</span>
                </div>

                </div>
                <div class="col-md-4">

                <div class="col-md-12 form-group">
				<span>Fecha de venta</span>
                <div class="row"></div>
                <input type="date" class="form-control" name="fechaVenta" v-model="body.fechaVenta" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.fechaVenta')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.fechaVenta')" class="help is-danger text-danger"> Seleccione una fecha de venta</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Importe del enganche</span>
                <div class="row"></div>
                 <money v-model="body.importeEnganche" name="importeEnganche" v-validate="'required'" class="form-control"  v-bind="money"></money>

                <div class="row"></div>
                <i v-show="errors.has('principal.importeEnganche')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.importeEnganche')" class="help is-danger text-danger"> El campo de importe es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Porcentaje</span>
                <div class="row"></div>
                <input type="number" name="porcentaje" v-model="body.porcentaje" v-validate="'required'" class="form-control">
                <div class="row"></div>
                <i v-show="errors.has('principal.porcentaje')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.porcentaje')" class="help is-danger text-danger"> El campo de porcentaje es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Número de pagos del enganche</span>
                <div class="row"></div>
                <input type="number" name="numeroPagos" class="form-control" v-model="body.numeroDePagosEnganche" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.numeroPagos')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.numeroPagos')" class="help is-danger text-danger"> El campo de número de pagos es obligatorio</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Fecha de escrituración</span>
                <div class="row"></div>
                <input type="date" name="fechaEscritura" class="form-control" v-model="body.fechaEscrituracion" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.fechaEscritura')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.fechaEscritura')" class="help is-danger text-danger"> Seleccione un estatus</span>
                </div>

                <div class="col-md-12 form-group">
				<span>Notario</span>
                <div class="row"></div>
                <input type="text" name="notario" class="form-control text-capitalize" v-model="body.notario" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.notario')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.notario')" class="help is-danger text-danger"> Seleccione un notario</span>
                </div>

                <div class="col-md-12">                
                <div class="radio">
                    <input type="checkbox" id="checkbox" v-model="body.activo">
                    <label for="checkbox">{{ ((activo) ? 'Activo':'Inactivo' ) }}</label>                    
                </div>
                <span id="errorEstatus" style="display:none; margin-left: 10px;" class="text-danger">Debe seleccionar un estatus</span>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success pull-right" style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;">Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-danger pull-right" style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;">Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                </div>
                </form>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
export default {
  name: "addEstatusDepartamento",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      body: {
        clv_torre: "",
        numeroDepartamento: "",
        piso: "",
        tipoDeDepartamento: "",
        fechaEntrega: "",
        estatus: "",
        clv_vendedor: "",
        clv_comprador: "",
        precioListaVenta: "",
        precioActual: "",
        precioVendido: "",
        fechaApartado: "",
        importeApartado: "",
        fechaVenta: "",
        importeEnganche: "",
        porcentaje: "",
        numeroDePagosEnganche: "",
        fechaEscrituracion: "",
        notario: "",
        activo: false
      },
      listaTorres: "",
      listaCompradores: "",
      listaVendedores: "",
      listaEstatus: "",
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      listaVendedores: "",
      pisos: ""
    };
  },
  mounted() {
    this.getTorre();
    this.getVendedor();
    this.getComprador();
    this.getPisos();
    this.GetEstatusVentaDepartamento()
  },
  methods: {
    getPisos(x) {
      axios.get("/SessionWeb/GetTorre", this.header).then(res => {
        res.data.GetTorreResult.forEach(element => {
          if (element.clv_torre == x) {
            this.pisos = element.pisos;
          }
        });
      });
    },
    getTorre() {
      axios.get("/SessionWeb/GetTorre", this.header).then(res => {
        this.listaTorres = res.data.GetTorreResult;
      });
    },
    GetEstatusVentaDepartamento() {
      axios
        .get("/SessionWeb/GetEstatusVentaDepartamento", this.header)
        .then(res => {
          this.listaEstatus = res.data.GetEstatusVentaDepartamentoResult;
        });
    },
    getVendedor() {
      axios.get("/SessionWeb/GetVendedor", this.header).then(res => {
        this.listaVendedores = res.data.GetVendedorResult;
      });
    },
    getComprador() {
      axios.get("/SessionWeb/GetCliente", this.header).then(res => {
        this.listaCompradores = res.data.GetClienteResult;
      });
    },
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          axios
            .post("/SessionWeb/AddEstatusDepartamento", this.body, this.header)
            .then(res => {
              this.$snotify.success(
                "Departamento configurado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
              this.$router.push("/colonias");
            });
          return;
        }
      });
    },
    regresar() {
      this.$router.push("/colonias");
    }
  },
  components: {
    Money
  }
};
</script>
