
<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong
            style="font-weight:bold; border:none; margin-left:10px;"
          >Inventario de Departamentos</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Proyecto</a>
          </small>
        </header>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <div class="col-md-2">
            <h4>Proyecto</h4>
            <select class="form-control text-capitalize" v-model="proyecto" @change="obtenTorres()">
              <option value>Selecciona</option>
              <option
                v-for="option in proyectos"
                :key="option.clv_proyecto"
                v-bind:value="option.clv_proyecto"
              >{{option.nombre}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <h4>Torres</h4>
            <select class="form-control" v-model="torre" @change="obtenPisos()">
              <option value>Selecciona</option>
              <option v-for="option in listaTorres" :key="option" v-bind:value="option">{{option}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <h4>Pisos</h4>
            <select class="form-control" v-model="piso" @change="getEstatus()">
              <option value>Selecciona</option>
              <option v-for="option in listaPisos" :key="option" v-bind:value="option">{{option}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <h4>Vista</h4>
            <div class="row"></div>
            <select v-model="vista" name="vista" class="form-control" @change="getEstatus()">
              <option value>Selecciona</option>
              <option v-for="x in listaVistas" :key="x.Id" v-bind:value="x.clv_vista">{{x.descripcion}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <h4>Estatus</h4>
            <div class="row"></div>
            <select v-model="estatus" name="estatus" class="form-control" @change="getEstatus()">
              <option value>Selecciona</option>
              <option v-for="x in listaEstatusdep" :key="x.Id" v-bind:value="x.Id">{{x.Descripcion}}</option>
            </select>
          </div>

          <div class="col-md-2">
            <h4>Número departamento</h4>
            <div class="row"></div>
            <input
              type="text"
              name="otrosNombres"
              class="text-capitalize form-control"
              v-model="NumDepartamento "
            />
          </div>

          <div class="col-md-1">
            <br />
            <button class="btn btn-default btn-sm" @click="getEstatus()">Buscar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Proyecto</th>
                  <th>Torre</th>
                  <th>Piso</th>
                  <th>Tipo Departamento</th>
                  <th># Departamento</th>
                  <th>Estatus</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="x in estatusOrdenados" :key="x.IdDetalle">
                  <td class="text-capitalize">{{x.proyecto}}</td>
                  <td class="text-capitalize">{{x.Torre}}</td>
                  <td class="text-capitalize">{{x.Piso}}</td>
                  <td class="text-capitalize">{{x.departamento}}</td>
                  <td>{{x.NumDepartamento}}</td>
                  <td>{{x.Estatus == 1 ? 'Vendido':x.Estatus == 2 ? 'Apartado':x.Estatus == 3 ? 'Disponible':''}}</td>
                  <td>
                    <router-link
                      class="btn btn-warning btn-sm"
                      v-if="admin"
                      :to="{name: 'updateEstatusDepartamento', params: {id:x.IdDetalle}}"
                    >
                      <i class="fa fa-edit"></i> Editar
                    </router-link>
                    <router-link
                      class="btn btn-primary btn-sm"
                      v-if="!admin"
                      style="margin-left:10px"
                      :to="{name: 'detalleestatusDepartamento', params: {id:x.IdDetalle}}"
                    >
                      <i class="fa fa-eye"></i> Detalles
                    </router-link>
                  </td>
                </tr>
              </tbody>
            </table>
            <vue-pagination
              :total="Math.ceil(this.listaEstatus.length/this.pageSize)"
              :each-side="1"
              v-model="currentPage"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";

export default {
  name: "app_estatusDepartamento",
  props: {
    total: {
      type: Number,
      required: true,
      validator: val => val > 0
    },
    eachSide: {
      type: Number,
      default: 1,
      validator: val => val >= 0
    }
  },
  computed: {
    estatusOrdenados() {
      return this.listaEstatus
        .sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === "desc") modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        })
        .filter((row, index) => {
          let start = (this.currentPage - 1) * this.pageSize;
          let end = this.currentPage * this.pageSize;
          if (index >= start && index < end) return true;
        });
    }
  },
  data() {
    return {
      admin: true,
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      listaEstatus: [],
      listaEstatusdep: [],
      listaTorres: [],
      listaVistas:[],
      proyectos: [],
      listaPisos: [],
      NumDepartamento: "",
      proyecto: "",
      torre: "",
      piso: "",
      estatus: "",
      vista: "",
      currentSort: "name",
      currentSortDir: "asc",
      pageSize: 4,
      currentPage: 1
    };
  },
  mounted() {
    this.getEstatus();
    this.getProyectos();
    this.GetEstatusVentaDepartamento();
    this.getVistas();
  },
  methods: {
    getVistas() {
      axios
        .post("/SessionWeb/GetVistaByProyecto", {clv_vendedor: Vue.localStorage.get('clv_usuario')},this.header)
        .then(res => {
          this.listaVistas = res.data.GetVistaByProyectoResult;
        });
    },
    GetEstatusVentaDepartamento() {
      axios
        .get("/SessionWeb/GetEstatusVentaDepartamento", this.header)
        .then(res => {
          this.listaEstatusdep = res.data.GetEstatusVentaDepartamentoResult;
        });
    },
    getProyectos() {
      let vm = this;
      axios
        .post(
          "/SessionWeb/GetRelUsuarioProyectoById",
          { id: Vue.localStorage.get("clv_usuario") },
          this.header
        )
        .then(res => {
          vm.proyectos = res.data.GetRelUsuarioProyectoByIdResult;
          this.getEstatus();
        });
    },
    obtenTorres() {
      if (!this.proyecto) return;
      let vm = this;
      let params = {
        clv_proyecto: this.proyecto
      };
      axios
        .post("/SessionWeb/GetTorresProyecto", params, this.header)
        .then(res => {
          this.listaTorres = res.data.GetTorresProyectoResult;
          this.getEstatus();
        });
    },
    obtenPisos() {
      let vm = this;
      let params = {
        torre: this.torre ? this.torre : 0,
        clv_proyecto: this.proyecto ? this.proyecto : 0
      };
      axios.post("/SessionWeb/GetPisosTorre", params, this.header).then(res => {
        this.listaPisos = res.data.GetPisosTorreResult;
        this.getEstatus();
      });
    },
    getEstatus() {
      let vm = this;
      let params = {
        clv_vendedor: Vue.localStorage.get("clv_usuario"),
        clv_proyecto: this.proyecto ? this.proyecto : 0,
        torre: this.torre ? this.torre : "",
        piso: this.piso ? this.piso : 0,
        estatus: this.estatus ? this.estatus : 0,
        clv_vista: this.vista ? this.vista : 0,
        NumDepartamento: this.NumDepartamento ? this.NumDepartamento : ""
      };
      axios
        .post("/SessionWeb/GetEstatusDepartamentoList", params, this.header)
        .then(res => {
          if (
            Vue.localStorage.get("tipoUsuario") != 1 &&
            Vue.localStorage.get("tipoUsuario") != 2
          ) {
            this.admin = false;
          }
          this.listaEstatus = res.data.GetEstatusDepartamentoListResult;
        });
    },
    sort: function(s) {
      //if s == current sort, reverse
      if (s === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = s;
    },
    nextPage: function() {
      if (this.currentPage * this.pageSize < this.listaDepartamentos.length)
        this.currentPage++;
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    }
  }
};
</script>