<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Cotizaciones</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Cotizacion</a>
          </small>
        </header>
      </div>
      <div class="card-body">        
        <form  @submit.prevent="actualizar('principal')" data-vv-scope='principal'>                 

        <div class="col-5 col-md-5 col-lg-5">
          
          <div class="col-12 col-md-4 col-lg-4" style="float:right; margin-bottom: 10px">
            <button type="button" @click="buscarCliente" class="btn btn-xs btn-success">
              <i class="fa fa-search"></i> Buscar cliente
            </button>
          </div>

          
          <div style="margin-top: 34px" class="col-6 col-md-6 col-lg-6">
          <div class="col-12 col-md-12 col-lg-12">
            <span>Nombre cliente</span>
            <input
              type="text"
              name="nombre"
              v-model="paramsProspecto.Nombre"
              class="form-control input-sm text-capitalize"
              v-validate="'required'"
            />
            <div class="row"></div>
            <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger">obligatorio</span>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <span>Dirección</span>
            <input
              type="text"
              name="direccion"
              v-model="paramsProspecto.Direccion"
              v-validate="'required'"
              class="form-control input-sm text-capitalize"
            />
              <i v-show="errors.has('principal.direccion')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.direccion')" class="help is-danger text-danger">obligatorio</span>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <span>Correo</span>
            <input
            v-validate="'required'"
              type="email"
              name="correo"
              v-model="paramsProspecto.Correo"
              class="form-control input-sm text-capitalize"
            />
            <i v-show="errors.has('principal.correo')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.correo')" class="help is-danger text-danger">obligatorio</span>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <span>Teléfono</span>
            <input
              v-validate="'required'"
              type="tel"
              name="telefono"
              v-model="paramsProspecto.Telefono"
              class="form-control input-sm text-capitalize"
            />
            <i v-show="errors.has('principal.telefono')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.telefono')" class="help is-danger text-danger">obligatorio</span>
          </div>

          <div class="col-md-12 form-group">
            <span>Vendedor</span>
            <div class="row"></div>
            <select
              v-validate="'required'"
              name="vendedor"
              v-model="params.Clv_vendedor"
              class="form-control input-sm text-capitalize"
            >            
              <option
                v-for="x in listaVendedores"
                :key="x.clv_vendedor"
                v-bind:value="x.clv_vendedor"
              >{{x.nombre}}</option>
            </select>
            <div class="row"></div>
            <i v-show="errors.has('principal.vendedor')" class="fa fa-warning"></i>
            <span
              v-show="errors.has('principal.vendedor')"
              class="help is-danger text-danger"
            >Seleccione un vendedor</span>
          </div>

  <div class="col-12 col-md-12 col-lg-12">
            <span>Fecha de expiración</span>
     
            <div class="row"></div>
                <input 
                type="date" 
                name="FechaExpiracion"                  
                class="form-control input-sm "                
                v-model="params.FechaExpiracion"
                v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.FechaExpiracion')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.FechaExpiracion')" class="help is-danger text-danger"> Ingresa una fecha válida</span>
          
        </div>

          </div>



          <div class="col-6 col-md-6 col-lg-6">
          <div class="col-12 col-md-12 col-lg-12">
            <span>Cetes</span>
            <the-mask  min="1" :mask="['#%','###%', '##%']" name="Cetes" readonly class="form-control input-sm text-capitalize" 
            v-model="params.Cetes" v-validate="'required'" />
         <!--    <input
              type="number"
              name="Cetes"
              v-model="params.Cetes"
              class="form-control input-sm text-capitalize"
              v-validate="'required'"
            /> -->
            <div class="row"></div>
            <i v-show="errors.has('principal.Cetes')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.Cetes')" class="help is-danger text-danger">obligatorio</span>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <span>Multiplicador</span>
            <input
              type="number"
              step="any"
              min="1"
              name="multiplicador"
              v-model="params.Multiplicador"
              v-validate="'required'"
              class="form-control input-sm text-capitalize"
              readonly
            />
              <i v-show="errors.has('principal.multiplicador')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.multiplicador')" class="help is-danger text-danger">obligatorio</span>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <span>Reservación</span>
            <input
            v-validate="'required'"
              type="number"
              step="any"
              min="1"
              name="reservacion"
              v-model="params.Reservacion"
              class="form-control input-sm text-capitalize"
            />
            <i v-show="errors.has('principal.reservacion')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.reservacion')" class="help is-danger text-danger">obligatorio</span>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <span>Escrituración</span>
            <the-mask  min="1" :mask="['#%','###%', '##%']" name="escrituracion" class="form-control input-sm text-capitalize"
            v-model="params.Escrituracion" v-validate="'required'" />
         <!--    <input
              v-validate="'required'"
              type="number"
              name="escrituracion"
              v-model="params.Escrituracion"
              class="form-control input-sm text-capitalize"
            /> -->
            <i v-show="errors.has('principal.escrituracion')" class="fa fa-warning"> </i>
            <span v-show="errors.has('principal.escrituracion')" class="help is-danger text-danger">obligatorio</span>
          </div>                       

          </div>

        </div>

        

        <div class="col-7 col-md-7 col-lg-7">
          <Table class="table table-striped">
            <thead>
              <th>Enganche inicial</th>
              <th>Enganche diferido</th>
              <th>Liquidación a la escrituración</th>
              <th>Seleccionar</th>
            </thead>
            <tbody>
              <tr v-for="(dato, index) in datos" :key="index">
                <td v-if="index!=6">{{dato.eI}}%</td>
                <td v-if="index!=6">{{dato.eD}}%</td>
                <td v-if="index!=6">{{dato.E}}%</td>
                <td v-if="index!=6">                                     
                      <label class="container">
                        <input :disabled="disabled" @click="delay(index)" type="radio" name="opciones" id="opciones_2" value="opcion_2">  
                        <span class="checkmark"></span>  
                      </label>                 
                </td>
              </tr>
              <tr>
                <td>
                <the-mask placeholder="%"  min="1" :mask="['#%','###%', '##%']" class="form-control input-sm text-capitalize" 
                  v-model="datos[6].eI"/></td>
                <td><the-mask placeholder="%"  min="1" :mask="['#%','###%', '##%']" class="form-control input-sm text-capitalize" 
                  v-model="datos[6].eD"/></td>
                <td><the-mask placeholder="%"  min="1" :mask="['#%','###%', '##%']" class="form-control input-sm text-capitalize" 
                  v-model="datos[6].E"/></td>
                  <td>                                     
                      <label class="container" >
                        <input :disabled="disabled" type="radio" @click="delay(6)" name="opciones" id="opciones_2" value="opcion_2">  
                        <span class="checkmark"></span>  
                      </label>                 
                </td>
                </tr>
            </tbody>
          </Table>
        </div>


        <div class="col-3 col-md-3 col-lg-3" style="float:right; margin-bottom: 10px">
          <button
          type="button"
            @click="buscarDepartamento"
            class="btn btn-xs btn-success"
            style="margin-left: 10px"
          >
            <i class="fa fa-search"></i> Buscar Departamento
          </button>
           <button
          type="button"
            @click="Calculos"
            class="btn btn-xs btn-success"
            style="margin-left: 10px"
          >
            <i class="fa fa-calculator"></i> Calcular
          </button>
        </div>


        <div class="col-12 col-md-12 col-lg-12" id="report">
          
          <div class="col-12 col-md-12 col-lg-12">
            <h3 style="text-align:center">Información del departamento</h3>
          </div>

          <div class="col-1 col-md-1 col-lg-1">
              <span style="font-weight: bold;">
                Torre
                <br />
              </span>
              <span class="text-capitalize">{{body.Torre}}</span>               
          </div>
          <div class="col-2 col-md-2 col-lg-2">
              <span style="font-weight: bold;">
                Piso
                <br />
              </span>
              <span class="text-capitalize">{{body.Piso}}</span>
          </div>

          <div class="col-2 col-md-2 col-lg-2">
            <span style="font-weight: bold;">
                Tipo de departamento
                <br />
              </span>
              <span class="text-capitalize">{{body.departamento}}</span>
          </div>

          <div class="col-2 col-md-2 col-lg-2">
             <span style="font-weight: bold;">
                Número de departamento
                <br />
              </span>
              <span class="text-capitalize">{{body.NumDepartamento}}</span>
          </div>

          <div class="col-2 col-md-2 col-lg-2">
            <span style="font-weight: bold;">
                Número de plantas
                <br />
              </span>
              <span class="text-capitalize">{{departamento.NumeroNiveles}}</span>
          </div>

          <div class="col-3 col-md-3 col-lg-3">
           <span style="font-weight: bold;">
                Fecha de entrega
                <br />
              </span>
              <span class="text-capitalize">{{(body.FechaEntrega)}}</span>
          </div>
          

          <div class="col-4 col-md-4 col-lg-4" style="margin-top:10px;">
            <span style="font-weight: bold;">
                Espacios del departamento
                <br />
              </span>
              <span class="text-capitalize"
                v-for="x in departamento.espacios"
                :key="x.clv_espacio_departamento"
                v-bind:value="x.clv_espacio_departamento"
              >
                - {{x.nombre}}
                <br />
              </span>
          </div>
          <div class="col-4 col-md-4 col-lg-4" style="margin-top:10px;">
            <span style="font-weight: bold;">
                Vistas del departamento
                <br />
              </span>
              <span class="text-capitalize" v-for="x in vistasSelected" :key="x.clv_vista" v-bind:value="x.clv_vista">
                - {{x.descripcion}}
                <br />
              </span>
          </div>

          

          <div class="col-4 col-md-4 col-lg-4">
            
          </div>
<!-- <div class="col-12 col-md-12 col-lg-12"><hr></div> -->
           <div class="col-12 col-md-12 col-lg-12">
            <h3 style="text-align:center">Cotización</h3><br>
          </div>

          <div class="col-3 col-md-3 col-lg-3">
            <span style="font-weight: bold;">
                Precio inicial
                <br />
              </span>
              <money v-model="body.preciolista" readonly class="form-control input-sm"  v-bind="money"></money>

              <span style="font-weight: bold;">
                Monto del Enganche inicial sobre el precio del departamento
                <br />
              </span>
              <money v-model="engancheInicial" readonly class="form-control input-sm"  v-bind="money"></money>
               <br>

              <span style="font-weight: bold;">
                Monto del Enganche diferido más financiamiento
                <br />
              </span>
              <money v-model="eDiferidoMasFinanciamiento" readonly class="form-control input-sm"  v-bind="money"></money>
              <br />          
          </div>


          <div class="col-3 col-md-3 col-lg-3">
            <span style="font-weight: bold;">
                Metros cuadrados del departamento
                <br />
              </span>
              <money v-model="departamento.MetrosTotales" readonly class="form-control input-sm"  v-bind="money"></money>
              <br>

              <span style="font-weight: bold;">
                Monto del Enganche diferido
                <br />
              </span>
              <money v-model="engancheDiferido" readonly class="form-control input-sm"  v-bind="money"></money>
              <br />

              <span style="font-weight: bold;">
                Monto de la liquidación a la escrituración
                <br />
              </span>
              <money v-model="liquidacionEscrituracion" readonly class="form-control input-sm"  v-bind="money"></money>              
              <br />
          </div>


          <div class="col-3 col-md-3 col-lg-3">
            <span style="font-weight: bold;">
                Metros cuadrados vendibles
                <br />
              </span>
              <money v-model="metrosVendibles" readonly class="form-control input-sm"  v-bind="money"></money>              

              <br />              
              <span style="font-weight: bold;">
                Monto del Enganche Total
                <br />
              </span>
              <money v-model="engancheTotal" readonly class="form-control input-sm"  v-bind="money"></money>              
              <br />

              <span style="font-weight: bold;">
                Precio Total del Departamento
                <br />
              </span>
              <money v-model="precioTotal" readonly class="form-control input-sm"  v-bind="money"></money>   
              <br />              
          </div>


          <div class="col-3 col-md-3 col-lg-3">
            <span style="font-weight: bold;">
               Precio por M2 del departamento
                <br />
              </span>              
              <money v-model="PrecioPorMetroCuadrado" readonly class="form-control input-sm"  v-bind="money"></money>
              <br>
              <span style="font-weight: bold;">
                Monto del Financiamiento sobre el enganche diferido
                <br />
              </span>
              <money v-model="financiamientoEngancheDiferido" readonly class="form-control input-sm"  v-bind="money"></money>              
              <br />               

               <br>
      

          </div>                        
        </div>



        <div class="col-3" style="float:right; padding-top:20px;">
          <button @click="cancelar" class="btn btn-default">
             cancelar
          </button >
          <button type="submit" class="btn btn-success" style="margin-left: 15px">Guardar</button>
        </div>
        </form>
      </div>
    </div>




    <modal name="modal-clientes" :width="900" height="auto" :scrollable="true" :clickToClose="true">
      <buscarcliente v-on:buscar="getCliente($event)" :lista="ListaClientes"></buscarcliente>

      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-clientes')"
          >Cerrar</button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-departamento"
      :width="900"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
    >
      <buscardepartamento :opciones="opciones" v-on:buscarDepartamento="getEstatus($event)"></buscardepartamento>
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-departamento')"
          >Cerrar</button>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
import buscarcliente from "../BuscarCliente.vue";
import buscardepartamento from "../BuscarDepartamento.vue";
export default {
  name: "app-add-cotizacion",
  components: {
    Money,
    buscardepartamento,
    buscarcliente
  },
  data() {
    return {
      opciones: {
      check: false
    },
      calcular: false,
        disabled: false,
        timeout: null,
        posicion: undefined,
        engancheInicial: 0,
        engancheDiferido: 0,
        engancheTotal: 0,
        financiamientoEngancheDiferido: 0,
        eDiferidoMasFinanciamiento: 0,
        liquidacionEscrituracion: 0,
        precioTotal: 0,
      datos : [
        {eI: 80, eD: 0, E: 20},
        {eI: 60, eD: 0, E: 40},
        {eI: 40, eD: 0, E: 60},
        {eI: 30, eD: 0, E: 70},
        {eI: 20, eD: 10, E: 70},
        {eI: 10, eD: 20, E: 70},
        {eI: '', eD: '', E: ''}]
      ,
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      planDePago: {
          id_plan_pago: 0,
          enganche_inicial: 0,
          enganche_diferido: 0,
          escrituras: 0
      },
      params: {
        Fecha: "",
        FechaExpiracion: "",
        Clv_cliente: 0,
        Clv_vendedor: 0,
        clv_proyecto: 0,
        Clv_prospecto: 0,
        clv_departamento: 0,
        Cetes: '',
        Multiplicador: 0,
        Reservacion: 0,
        Escrituracion: '',
        IdDetalle: 0
      },
      paramsProspecto: {
        Clv_prospecto:0,
        Nombre: "",
        Direccion: "",
        Correo: "",
        Telefono: ""
      },
      PrecioPorMetroCuadrado: 0,
      metrosVendibles: 0,
      ListaClientes: [],
      listaVendedores: [],
      vistasSelected: [],
      periodomeses:0,
      body: {
        IdDetalle: this.$route.params.id,
        tipoDeDepartamento: "",
        NumDepartamento: "",
        FechaEntrega: "",
        Estatus: 0,
        Clv_vendedor: 0,
        Clv_comprador: 0,
        preciolista: 0,
        PrecioActual: 0,
        PrecioVendio: 0,
        FechaApartado: "",
        ImporteApartado: 0,
        FechaVenta: "",
        ImporteEnganche: 0,
        PorcentajeEncganche: 1,
        NumeroPagosEnganche: 0,
        FechaEscrituracion: "",
        Notario: "",
        Clv_Etapa: 0,
        clv_Departamento: 0
      },
      departamento: {
        Activo: true,
        Clv_departamento: 0,
        CostoDepartamento: 0,
        Lado: null,
        MetrosTotales: 0,
        NumeroNiveles: 0,
        TipoDepartamento: "",
        cantidad: null,
        espacios: []
      },
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      cliente: {
        clv_comprador: 0,
        nombre: "",
        primerA: "",
        segundoA: "",
        otronombre: "",
        estado: "",
        municipio: "",
        localidad: "",
        colonia: "",
        calle: "",
        numero: "",
        numeroInterior: "",
        codipoPostal: "",
        telefono: "",
        celular: "",
        correo: "",
        activo: 1
      },
      enviar: {
        id:0, 
        Fecha:'',  
        FechaExpiracion: '',  
        Clv_cliente : 0,
        Clv_vendedor : 0,
        clv_departamento :0,  
        Clv_prospecto :0,
        clv_proyecto : 0,
        Cetes: 0,
        Multiplicador: 0,
        Reservacion: 0,
        Escrituracion: 0,
        Estatus: 'A',
        IdDetalle: 0        
      },
      metrosVendibles: 0
    };
  },
  mounted() {
    this.getVendedor();
    this.getDatos();
  },
  methods: {
    getDatos() {
        axios.post("/SessionWeb/GetCotizacionById", {id: this.$route.params.id}, this.header).then(res => {          
        this.params = res.data.GetCotizacionByIdResult[0];
       
        this.periodomeses = this.params.PeriodoMeses;

        this.planDePago.id_plan_pago = this.params.id_plan_pago;
        axios.post("/SessionWeb/GetPlanPagoById", {id: this.planDePago.id_plan_pago}, this.header).then(res => {          
        //console.log(res.data.GetPlanPagoByIdResult[0]);
        this.planDePago = res.data.GetPlanPagoByIdResult[0];
        this.posicion = 6;
        this.datos[this.posicion].eI = this.planDePago.enganche_inicial;
        this.datos[this.posicion].eD = this.planDePago.enganche_diferido;
        this.datos[this.posicion].E = this.planDePago.escrituras;
      
        });

        this.params.Fecha = this.recuperaFecha(res.data.GetCotizacionByIdResult[0].FechaCotizacion2);
        this.params.FechaExpiracion = this.recuperaFecha(res.data.GetCotizacionByIdResult[0].FechaExpiracion2);
        (this.params.Clv_cliente != 0) ? this.getCliente(this.params.Clv_cliente):this.getProspectoById(this.params.Clv_prospecto);
        (this.params.clv_proyecto != 0) ? this.getEstatusInicial(this.params.clv_proyecto, this.params.IdDetalle):'';

      });
      
    },
    buscarCliente() {
      this.getlistaClientes();
      this.$modal.show("modal-clientes");
    },
    getlistaClientes() {
      let vm = this;
      axios.get("/SessionWeb/GetCliente", this.header).then(res => {
        vm.ListaClientes = res.data.GetClienteResult;
      });
    },
    buscarDepartamento() {
      this.$modal.show("modal-departamento");
    },
    getVendedor() {
      axios.get("/SessionWeb/GetVendedor", this.header).then(res => {
        this.listaVendedores = res.data.GetVendedorResult;
      });
    },
    getCliente(x) {
      let vm = this;
      let params = {
        id: x
      };

      axios
        .post("/SessionWeb/GetClienteById", params, this.header)
        .then(res => {
          let cliente = res.data.GetClienteByIdResult;

          this.cliente.clv_comprador = cliente.clv_comprador;
          this.paramsProspecto.Nombre = cliente.nombre;
          this.paramsProspecto.Telefono = cliente.celular;
          this.paramsProspecto.Correo = cliente.correo;
          this.paramsProspecto.Direccion = cliente.calle;
        
        });
      this.$modal.hide("modal-clientes");
    },
getEstatusInicial(x,y) {

   axios.post("/SessionWeb/GetProyectoById", {id: x}, this.header).then(res => {
        this.PrecioPorMetroCuadrado = res.data.GetProyectoByIdResult.costoMetroCuadradoInicial;
      });
      let vm = this;
      let params = {
        IdDetalle: y
      };
      axios
        .post("/SessionWeb/GetEstatusDepartamento", params, this.header)
        .then(res => {
          this.body = res.data.GetEstatusDepartamentoResult;      
          if (res.data.GetEstatusDepartamentoResult.vistas) {
            vm.vistasSelected = res.data.GetEstatusDepartamentoResult.vistas;
          } else {
            vm.vistasSelected = [];
          }

          let body = {
            clv_departamento: this.body.clv_Departamento
          };
          axios
            .post("/SessionWeb/GetDepartamentoC", body, this.header)
            .then(res => {
              this.departamento = res.data.GetDepartamentoCResult[0];
              console.log(this.departamento);
              //this.espacioSelected = res.data.GetDepartamentoCResult[0].espacios

                   this.departamento.espacios.forEach(element => {
                this.metrosVendibles += element.metros;
                this.Calculos();
            });
            });                    
          this.$modal.hide("modal-departamento");
          // this.getClientes();
        });
    },
    getProspectoById(x){
      this.paramsProspecto.Clv_prospecto = x;
      axios.post("/SessionWeb/GetProspectoById", {Clv_Prospecto: x}, this.header).then(
        res => {
          this.paramsProspecto = res.data.GetProspectoByIdResult[0];
          console.log(this.paramsProspecto)
        }
      );

    },
    getEstatus(id) {
  
      this.params.IdDetalle = id.id;
   axios.post("/SessionWeb/GetProyectoById", {id: id.clv_proyecto}, this.header).then(res => {        
        this.PrecioPorMetroCuadrado = res.data.GetProyectoByIdResult.costoMetroCuadradoInicial;       
      });

      let vm = this;
      let params = {
        IdDetalle: id.id
      };
      axios
        .post("/SessionWeb/GetEstatusDepartamento", params, this.header)
        .then(res => {
          this.body = res.data.GetEstatusDepartamentoResult;

          if (res.data.GetEstatusDepartamentoResult.vistas) {
            vm.vistasSelected = res.data.GetEstatusDepartamentoResult.vistas;
          } else {
            vm.vistasSelected = [];
          }

          let body = {
            clv_departamento: this.body.clv_Departamento
          };
          axios
            .post("/SessionWeb/GetDepartamentoC", body, this.header)
            .then(res => {
              this.departamento = res.data.GetDepartamentoCResult[0];
              //this.espacioSelected = res.data.GetDepartamentoCResult[0].espacios
            });            
             this.departamento.espacios.forEach(element => {
                this.metrosVendibles += element.metros;
            });
          

          this.$modal.hide("modal-departamento");
          // this.getClientes();
        });
    },
    actualizar(scope) {
      console.log(this.paramsProspecto);
      console.log(this.cliente.clv_comprador)
       if (this.cliente.clv_comprador == 0) {         
        axios
          .post("/SessionWeb/UpdateProspecto", this.paramsProspecto, this.header)
          .then(res => {
            this.params.Clv_prospecto = this.paramsProspecto.Clv_prospecto;
            this.addCotizacion();
          });
      } else {
        this.addCotizacion();
      } 
    },
    addCotizacion() {
          
          this.enviar.id = this.params.id;
          this.enviar.Fecha = this.acomodarFecha(this.params.Fecha);
          this.enviar.FechaExpiracion = this.acomodarFecha(this.params.FechaExpiracion);
          this.enviar.Clv_cliente = this.params.Clv_cliente;
          this.enviar.Clv_vendedor = this.params.Clv_vendedor;
          this.enviar.clv_departamento = this.params.clv_departamento;         
          this.enviar.clv_proyecto = this.params.clv_proyecto;
          this.enviar.Reservacion = this.params.Reservacion;
          this.enviar.Cetes = this.params.Cetes;
          this.enviar.Multiplicador = this.params.Multiplicador;
          this.enviar.Escrituracion = this.params.Escrituracion;
          this.enviar.IdDetalle = this.params.IdDetalle;   
          this.enviar.Clv_prospecto = this.params.Clv_prospecto;   
          this.enviar.id_plan_pago = this.planDePago.id_plan_pago;          
          
      axios
        .post("/SessionWeb/UpdateCotizacion", this.enviar, this.header)
        .then(res => {
          let params = {
            id: this.planDePago.id_plan_pago,
            engancheInicial: this.planDePago.enganche_inicial,
            engancheDiferido: this.planDePago.enganche_diferido,
            escrituras: this.planDePago.escrituras,
          }
            axios
        .post("/SessionWeb/UpdatePlanPago", params, this.header)
        .then(res => {
           this.$router.push("/cotizacion");
        });
        });
    },
    cancelar() {
     this.$router.push("/cotizacion");
    },
    recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },
    acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    },
    opcion(x){
      this.posicion = x;
      this.planDePago.enganche_inicial = this.datos[x].eI;
      this.planDePago.enganche_diferido = this.datos[x].eD;
      this.planDePago.escrituras = this.datos[x].E;
      this.calcular = true;     
    },
      delay (x) {
        this.disabled = true
        // Re-enable after 5 seconds
        this.timeout = setTimeout(() => {
          this.disabled = false
        }, 500)

        this.opcion(x)
      },
      Calculos() {
          if ((parseFloat(this.datos[this.posicion].eI) + parseFloat(this.datos[this.posicion].eD)) >= 30) {
            if ((parseFloat(this.datos[this.posicion].E) + parseFloat(this.datos[this.posicion].eI) + parseFloat(this.datos[this.posicion].eD)) == 100) {
              this.calcularMontos();
            } else {
              this.$snotify.error(
                "La suma de be de ser el 100%",
                "¡Error!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );     
            }
      } else {
        this.$snotify.error(
                "El enganche no puede ser menor a 30%",
                "¡Error!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
      }
  
      },

      calcularMontos(){
        //Monto del Enganche inicial sobre el precio del departamento
        this.engancheInicial = this.body.preciolista * (this.datos[this.posicion].eI/100);
        //Monto del Enganche diferido
        this.engancheDiferido = this.body.preciolista * (this.datos[this.posicion].eD/100);
        //Monto del enganche total
        this.engancheTotal = this.engancheInicial + this.engancheDiferido;
        //Monto del Financiamiento sobre el enganche diferido
        let A = ((this.params.Cetes * this.params.Multiplicador)/12)/100;
        let mesesDif = this.difMeses();
        let B = ((parseFloat(A)*Math.pow((1+parseFloat(A)),mesesDif)*this.engancheDiferido/((Math.pow((1+parseFloat(A)),mesesDif)-1))));
        let C = B * 12;
        this.financiamientoEngancheDiferido = parseFloat(C) - this.engancheDiferido;
        //Monto del Enganche diferido más financiamiento
        this.eDiferidoMasFinanciamiento = this.engancheDiferido + this.financiamientoEngancheDiferido;
        //Monto de la liquidación a la escrituración
        this.liquidacionEscrituracion = this.body.preciolista * (this.datos[this.posicion].E/100);
        //Precio Total del Departamento
        this.precioTotal = this.engancheTotal + this.financiamientoEngancheDiferido + this.liquidacionEscrituracion;
        //Precio por M2 del departamento
        this.PrecioPorMetroCuadrado = parseFloat(this.precioTotal) / parseFloat(this.departamento.MetrosTotales);
      },     
      difMeses(){
        let fecha = new Date();
        let fecha2 = this.body.FechaEntrega;
        let f2 = fecha2;
        console.log(fecha2)
        let aF2 = f2.split("/");
        
        let numMeses = parseInt(aF2[2])*12 + parseInt(aF2[1]) - (parseInt(fecha.getFullYear())*12 + (parseInt(fecha.getMonth()+1)));
        if (aF2[0]<fecha.getDate()){
          numMeses =-  1;
        }
        //alert(numMeses);
        return numMeses;
      }

  }
};
</script>
