<style>
#report {
  padding: 8px;
  background-color: rgba(241, 241, 241, 0.247);
  box-shadow: 10px 10px 25px rgba(173, 173, 173, 0.637);
}
</style>

<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div
        class="card-head style-default-light"
        style="padding-top:10px; padding-left:10px;"
      >
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;"
            >Recepcion de pago</strong
          >
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio </a
            >>
            <a href="/" class="paginaActiva">ventas</a>
          </small>
        </header>
      </div>
      <div class="card-body " >
        <!-- <div
          class="card panel style-primary-dark expanded"
          
        >
         
        </div> -->

        <div  >
          <div class="card-body">
            <div
          class="card panel style-primary-dark expanded"
          
        >
              <header>
              
                      <div class="col-md-3">
                        <h3 style="margin-left:10px">Selecciona Cliente</h3>
                      </div>
                      <div style="margin-top:10px" class="col-md-6 text-center">
                        <font class="text-capitalize" size="4"
                          ><strong>Nombre/Razon Social: </strong>
                          <font size="4">{{ cliente.nombre_cliente }} </font></font
                        >
                      </div>
                      <div class=" text-right" style="margin-top: 10px;margin-right:30px">
                        <button
                          type="button"
                          :disabled="blockSeleccion"
                          @click="buscarCliente"
                          class="btn btn-sm btn-success"
                          style="margin-top: 15px;"
                        >
                          <i class="fa fa-search"></i> Buscar cliente
                        </button>
                      </div>
                   


            </header>
         
        </div>
      
            <div class="row"></div>

            <div class="col-md-3" >
              <font size="4"><strong>Olt's a pagar </strong></font><br />
            </div>
            <div class="col-md-12">
              <table class="table table-striped table-bordered">
                <thead>
                  <th class="text-center">#</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Ip</th>
                  <th class="text-center">Marca</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center">Tipo de pago</th>
                  <th class="text-center">Total Apagar</th>
                  <th class="text-center">Seleccionar</th>
                  <!-- <th>Fecha de vencimiento</th> -->
                </thead>
                <tbody>
                   <tr v-show="x.periodicity!='AD'" v-for="x in olt" :key="x.id">
                    <td class="text-center">{{ x.id }}</td>
                    <td class="text-center">{{ x.nombre_olt }}</td>
                    <td class="text-center">{{ x.olt_ip }}</td>
                    <td class="text-center">{{ x.NombreMarca }}</td>
                    <td class="text-center">{{ x.nombre_modelo }}</td>
                     <td v-show="x.periodicity =='AD'" class="text-center">
                      <select
                        :disabled="x.check == false || x.nombre_olt.match('Adeudo')"
                        v-model="x.periodicity"
                        class="form-control input-sm text-capitalize"
                        @change="Cambio()"
                      >
                        <option  value="" disable>Selecciona</option>
                        <option
                        
                          v-for="x in tipopago1"
                          :key="x.id"
                          v-bind:value="x.id"
                          >{{ x.nombre }}</option
                        >
                      </select>
                    </td>
                    <td v-show="x.periodicity !='AD'" class="text-center">
                      <select
                        :disabled="x.check == false || x.nombre_olt.match('Adeudo')"
                        v-model="x.periodicity"
                        class="form-control input-sm text-capitalize"
                        @change="Cambio()"
                      >
                        <option  value="" disable>Selecciona</option>
                        <option
                        
                          v-for="x in tipopago"
                          :key="x.id"
                          v-bind:value="x.id"
                          >{{ x.nombre }}</option
                        >
                      </select>
                    </td>

                    <td class="text-center">{{ x.pago_inicial | currency }}</td>
                    <td disabled class="text-center">
                      <p-check
                        :disabled="x.nombre_olt.match('Adeudo')"
                        v-model="x.check"
                        :value="x"
                        class="p-svg p-curve"
                        color="success"
                      >
                        <svg
                          slot="extra"
                          class="svg svg-icon"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                            style="stroke: white;fill:white"
                          />
                        </svg>
                      </p-check>
                    </td>
                    <!-- <td> <money v-model="x.monto" name="precioAct" v-validate="'required'" class="form-control input-sm"  v-bind="money" ></money></td> -->
                    <!-- <td> <input type="number" name="monto"  value=0 v-model="x.monto" /></td> -->
                  </tr>
                  <tr  v-show="x.periodicity=='AD'" style="background-color:LightSalmon" v-for="x in olt" :key="x.id">
                    <td class="text-center"><b>{{ x.id }}</b></td>
                    <td class="text-center"><b>{{ x.nombre_olt }}</b></td>
                    <td class="text-center"><b>{{ x.olt_ip }}</b></td>
                    <td class="text-center"><b>{{ x.NombreMarca }}</b></td>
                    <td class="text-center"><b>{{ x.nombre_modelo }}</b></td>
                     <td v-show="x.periodicity =='AD'" class="text-center"><b>
                      <select
                        :disabled="x.check == false || x.nombre_olt.match('Adeudo')"
                        v-model="x.periodicity"
                        class="form-control input-sm text-capitalize"
                        @change="Cambio()"
                      >
                        <option  value="" disable>Selecciona</option>
                        <option
                        
                          v-for="x in tipopago1"
                          :key="x.id"
                          v-bind:value="x.id"
                          >{{ x.nombre }}</option
                        >
                      </select>
                      </b>
                    </td>
                    <td v-show="x.periodicity !='AD'" class="text-center"><b>
                      <select
                        :disabled="x.check == false || x.nombre_olt.match('Adeudo')"
                        v-model="x.periodicity"
                        class="form-control input-sm text-capitalize"
                        @change="Cambio()"
                      >
                        <option  value="" disable>Selecciona</option>
                        <option
                        
                          v-for="x in tipopago"
                          :key="x.id"
                          v-bind:value="x.id"
                          >{{ x.nombre }}</option
                        >
                      </select>
                      </b>
                    </td>

                    <td class="text-center"><b>{{ x.pago_inicial | currency }}</b></td>
                    <td disabled class="text-center">
                      <p-check
                        :disabled="x.nombre_olt.match('Adeudo')"
                        v-model="x.check"
                        :value="x"
                        class="p-svg p-curve"
                        color="success"
                      >
                        <svg
                          slot="extra"
                          class="svg svg-icon"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                            style="stroke: white;fill:white"
                          />
                        </svg>
                      </p-check>
                    </td>
                    <!-- <td> <money v-model="x.monto" name="precioAct" v-validate="'required'" class="form-control input-sm"  v-bind="money" ></money></td> -->
                    <!-- <td> <input type="number" name="monto"  value=0 v-model="x.monto" /></td> -->
                  </tr>
                  <tr>
                    <td></td>
                    <!-- <td>Total  {{sumatoria | currency}}</td> -->
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <modal
              name="modal-pagos"
              :width="600"
              :height="660"
              :scrollable="true"
              :clickToClose="true"
            >
              <h3 style="margin-left:20px">
                Total a pagar
                <money
                  readonly
                  v-model="totalOLts"
                  name="precioAct"
                  v-validate="'required'"
                  class="form-control input-sm"
                  v-bind="money"
                ></money>
              </h3>
              <div class="col-md-12" style="height:400px;overflow-y:scroll;">
                <h4>Tipo de pago</h4>
                <select
                  name="opPago"
                  id="op"
                  class="form-control"
                  v-model="opPago"
                  @change="PagosTarjeta()"
                >
                  <option value>Seleccionar</option>
                  <option value="1">Efectivo</option>
                  <!-- <option value="2">Qr</option> -->
                  <option value="3">Transferencia</option>
                  <option value="4">Tarjeta</option>
                </select>

                <div v-if="opPago == 1">
                  <div class="col-md-7">
                    <h4>Pago en efectivo</h4>
                  </div>
                  <div class="col-md-4" style="margin-top:15px">
                    <money
                      v-model="Pago.Monto"
                      name="precioAct"
                      v-validate="'required'"
                      class="form-control input-sm"
                      v-bind="money"
                    ></money>
                  </div>
                </div>

                <div class="row"></div>

                <div class="col-12 col-lg-12 col-md-12"></div>

                <div v-if="opPago == 2">
                  <iframe :src="qr" style="width:300px;height:200px"></iframe>
                </div>

                <div class="col-12 col-lg-12 col-md-12"></div>

                <div v-if="opPago == 3">
                  <div class="col-md-7">
                    <h4>Pago con transferencia bancaria</h4>
                  </div>
                  <div class="col-md-4" style="margin-top:15px">
                    <money
                      @change.native="calcularCambio"
                      v-model="Pago.Monto"
                      name="precioAct"
                      v-validate="'required'"
                      class="form-control input-sm"
                      v-bind="money"
                    ></money>
                  </div>

                  <div class="row"></div>

                  <div class="col-md-7">
                    <h4>Banco</h4>
                  </div>
                  <div class="col-md-4" style="margin-top:15px">
                    <select
                      @change="getCuentas(Pago.banco)"
                      v-model="Pago.banco"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="nombre"
                    >
                      <option
                        v-for="x in bancos"
                        :key="x.id"
                        v-bind:value="x.id"
                        >{{ x.nombre }}</option
                      >
                    </select>
                    <i
                      v-show="errors.has('principal.nombre')"
                      class="fa fa-warning"
                    ></i>
                    <span
                      v-show="errors.has('principal.nombre')"
                      class="help is-danger text-danger"
                      >El campo es obligatorio</span
                    >
                  </div>

                  <div class="col-md-7">
                    <h4>Número de cuenta</h4>
                  </div>
                  <div class="col-md-4" style="margin-top:15px">
                    <select
                      v-model="Pago.cuenta"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="cuenta"
                    >
                      <option
                        v-for="x in cuentas"
                        :key="x.id"
                        v-bind:value="x.id"
                        >{{ x.cuenta }}</option
                      >
                    </select>
                    <i
                      v-show="errors.has('principal.cuenta')"
                      class="fa fa-warning"
                    ></i>
                    <span
                      v-show="errors.has('principal.cuenta')"
                      class="help is-danger text-danger"
                      >El campo es obligatorio</span
                    >
                    <br />
                  </div>

                  <div class="col-md-7">
                    <h4>Referencia Pago</h4>
                  </div>
                  <div class="col-md-4" style="margin-top:5px">
                    <!-- <input type="number" id="quantity" name="quantity" min="1" max="5"> -->
                    <input
                      type="text "
                      name="referencia"
                      v-validate="'required'"
                      class=" input-sm form-control"
                      v-model="Pago.referencia"
                    />
                    <i
                      v-show="errors.has('principal.referencia')"
                      class="fa fa-warning"
                    ></i>
                    <span
                      v-show="errors.has('principal.referencia')"
                      class="help is-danger text-danger"
                      >El campo es obligatorio</span
                    >
                    <br />
                  </div>
                </div>

                <div v-if="opPago == 4">
                  <div class="col-md-7">
                    <h4>Pago con tarjeta</h4>
                  </div>
                  <div class="col-md-4" style="margin-top:15px">
                    <money
                      @change.native="calcularCambio"
                      v-model="Pago.Monto"
                      name="precioAct"
                      v-validate="'required'"
                      class="form-control input-sm"
                      v-bind="money"
                    ></money>
                  </div>

                  <div class="row"></div>

                  <div class="col-md-5">
                    <h4>Nombre Completo</h4>
                  </div>
                  <div class="col-md-6" style="margin-top:5px">
                    <input
                      type="text"
                      name="nombre"
                      v-validate="'required'"
                      class="form-control input-sm text-capitalize"
                      v-model="Pago.nombre"
                    />

                    <i
                      v-show="errors.has('principal.nombre')"
                      class="fa fa-warning"
                    ></i>
                    <span
                      v-show="errors.has('principal.nombre')"
                      class="help is-danger text-danger"
                      >El campo es obligatorio</span
                    >
                    <br />
                  </div>

                  <div class="col-md-7">
                    <h4>Número de cuenta</h4>
                  </div>
                  <div class="col-md-4" style="margin-top:5px">
                    <!-- <input type="number" id="quantity" name="quantity" min="1" max="5"> -->
                    <input
                      type="number "
                      name="cuentaTrans"
                      v-validate="'required'"
                      class=" input-sm form-control"
                      v-model="Pago.cuentaTrans"
                    />
                    <i
                      v-show="errors.has('principal.cuentaTrans')"
                      class="fa fa-warning"
                    ></i>
                    <span
                      v-show="errors.has('principal.cuentaTrans')"
                      class="help is-danger text-danger"
                      >El campo es obligatorio</span
                    >
                    <br />
                  </div>

                  <div class="col-md-8">
                    <h4>CVV</h4>
                  </div>
                  <div class="col-md-2" style="margin-top:5px">
                    <input
                      type="text"
                      name="CVV"
                      v-validate="'required'"
                      class="form-control input-sm"
                      v-model="Pago.CVV"
                    />

                    <i
                      v-show="errors.has('principal.CVV')"
                      class="fa fa-warning"
                    ></i>
                    <span
                      v-show="errors.has('principal.CVV')"
                      class="help is-danger text-danger"
                      >El campo es obligatorio</span
                    >
                    <br />
                  </div>

                  <div class="col-md-6">
                    <h4>Expiracion</h4>
                  </div>

                  <div class="col-md-4" style="margin-top:5px">
                    <div class="form-group" id="expiration-date">
                      <label></label>
                      <select>
                        <option value="01">ENERO</option>
                        <option value="02">FEBRERO </option>
                        <option value="03">MARZO</option>
                        <option value="04">ABRIL</option>
                        <option value="05">MAYO</option>
                        <option value="06">JUNIO</option>
                        <option value="07">JULIO</option>
                        <option value="08">AGOSTO</option>
                        <option value="09">SEPTIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOBIEMBRE</option>
                        <option value="12">DICIEMBRE </option>
                      </select>
                      <select>
                        <option value="21"> 2021</option>
                        <option value="21"> 2022</option>
                        <option value="21"> 2023</option>
                        <option value="21"> 2024</option>
                        <option value="21"> 2025</option>
                        <option value="21"> 2026</option>
                        <option value="21"> 2027</option>
                        <option value="21"> 2028</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <h4>Referencia Pago</h4>
                  </div>
                  <div class="col-md-6" style="margin-top:5px">
                    <!-- <input type="number" id="quantity" name="quantity" min="1" max="5"> -->
                    <input
                      type="text "
                      name="referencia"
                      v-validate="'required'"
                      class=" input-sm form-control"
                      v-model="Pago.referencia"
                    />
                    <i
                      v-show="errors.has('principal.referencia')"
                      class="fa fa-warning"
                    ></i>
                    <span
                      v-show="errors.has('principal.referencia')"
                      class="help is-danger text-danger"
                      >El campo es obligatorio</span
                    >
                    <br />
                  </div>
                  <!-- 
               <div class="form-group" id="expiration-date">
                <label>Expiration Date</label>
                <select>
                    <option value="01">ENERO</option>
                    <option value="02">FEBRERO </option>
                    <option value="03">MARZO</option>
                    <option value="04">ABRIL</option>
                    <option value="05">MAYO</option>
                    <option value="06">JUNIO</option>
                    <option value="07">JULIO</option>
                    <option value="08">AGOSTO</option>
                    <option value="09">SEPTIEMBRE</option>
                    <option value="10">OCTUBRE</option>
                    <option value="11">NOBIEMBRE</option>
                    <option value="12">DICIEMBRE </option>
                </select>
                <select>
                    <option value="21"> 2021</option>
                    <option value="21"> 2022</option>
                    <option value="21"> 2023</option>
                    <option value="21"> 2024</option>
                    <option value="21"> 2025</option>
                    <option value="21"> 2026</option>
                    <option value="21"> 2027</option>
                    <option value="21"> 2028</option>
                </select>
            </div>
 -->
                </div>

                <div class="col-12 col-lg-12 col-md-12"></div>

                <div v-if="opPago != ''" class="pull-right">
                  <div v-if="opPago != 2">
                    <button @click="AddPago" class="btn btn-success">
                      <span class="fa fa-plus"></span> Agregar pago
                    </button>
                  </div>
                  <div
                    v-if="opPago == 3 && Pago.cuenta != 0"
                    style="margin-top:5px"
                  >
                    <button @click="GeneraQr" class="btn-sm btn-success">
                      <span class="fa fa-qrcode"></span> 
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="height:120px;overflow-y:scroll;">
                <div class="col-md-12">
                  <table class="table">
                    <tbody>
                      <tr v-for="(x, index) in metodosPago" :key="index">
                        <td v-show="x.Clv_tipoPago == 1">
                          Efectivo monto: {{ x.Monto | currency }}
                        </td>
                        <td v-show="x.Clv_tipoPago == 2">
                          Cheque número: #{{ x.numeroCheque }} monto:
                          {{ x.Monto | currency }}
                        </td>
                        <td v-show="x.Clv_tipoPago == 3">
                          Transferencia monto: {{ x.Monto | currency }}
                        </td>
                        <td v-show="x.Clv_tipoPago == 4">
                          Tarjeta monto: {{ x.Monto | currency }}
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-danger btn-xs"
                            @click="eliminarPago(index)"
                          >
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div
                class="col-md-12"
                style="border-top: 1px solid #e6dada; bottom: 0"
              >
                <div class="col-md-8 pull-left">
                  <h4>Saldo: {{ cambio | currency }}</h4>
                </div>
                <div class="col-md-4 pull-right" style="padding:10px;">
                  <button
                    class="btn btn-default"
                    type="button"
                    @click="salir1()"
                  >
                    Cerrar
                  </button>
                  <button
                    @click="Pagar"
                    class="btn btn-success"
                    style="margin-left:10px"
                  >
                    Pagar
                  </button>
                </div>
              </div>
            </modal>
          </div>
        </div>

        <div class="col-3" style="float:right; padding-top:30px;">
          <button
            @click="salir()"
            style="margin-right:15px; margin-top:30px"
            class="btn btn-default pull-right"
          >
            cancelar
          </button>
          <button
            @click="
              $modal.show('modal-pagos');
              SuamaPagos();
            "
            class="btn btn-success pull-right"
            style="margin-right:15px; margin-top:30px"
          >
            Pagar
          </button>
         
         <!-- <div>
        <button class="button is-primary is-rounded"
                type="button"
                @click="openCheckout"
        >
            <slot>Pagar</slot>
        </button>
        <form id="ePaycoForm"></form>
    </div> -->

        
        </div>
      </div>
    </div>

    <modal
      name="modal-reporte"
      :width="800"
      :height="550"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <iframe :src="reporte" allowfullscreen height="500" width="800"></iframe>
      <div class="row">
        <button
          class="btn btn-block btn-default"
          @click="
            $modal.hide('modal-reporte');
            $modal.show('modal-interes');
          "
        >
          Salir
        </button>
      </div>
    </modal>

    <modal
      name="modal-cartanointerezado"
      :width="800"
      :height="550"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <iframe
        :src="reporteNoInterezado"
        allowfullscreen
        height="500"
        width="800"
      ></iframe>
      <div class="row">
        <button class="btn btn-block btn-default" @click="cancelar">
          Salir
        </button>
      </div>
    </modal>

    <modal
      name="modal-clientes"
      :width="900"
      style="z-index: 1500;"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
    >
      <div class="col-md-12 text-center">
        <h4>Selecciona Cliente</h4>
      </div>
      <div class="col-md-12">
        <buscarcliente
          v-on:buscar="getCliente($event)"
          :lista="ListaClientes"
        ></buscarcliente>
      </div>

      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-clientes')"
          >
            Cerrar
          </button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-mesesDiferidos"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <div class="col-md-8 col-md-offset-2 text-center">
        <h4>Selecciona la cantidad de meses a diferir el enganche</h4>
        <br />
        <select class="form-control input-sm" v-model="mesesDiferir">
          <option value="">Meses</option>
          <option v-for="index in body.mesesDiferencia" :key="index">{{
            index
          }}</option>
        </select>
      </div>

      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-6 text-center" style="padding:10px;">
          <button
            class="btn btn-success"
            type="button"
            @click="
              $modal.hide('modal-mesesDiferidos');
              calcular();
            "
          >
            Aceptar
          </button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-interes"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <div class="col-md-8 col-md-offset-2 text-center">
        <h4>¿El cliente esta interesado?</h4>
        <br />
      </div>

      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3" style="padding:10px;">
          <button
            class="btn btn-success"
            type="button"
            @click="
              $modal.hide('modal-interes');
              $modal.show('modal-agenda');
            "
          >
            SI
          </button>
        </div>
        <div class="col-md-3 col-md-offset-6 text-center" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="
              $modal.hide('modal-interes');
              $modal.show('modal-nointeresado');
            "
          >
            NO
          </button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-nointeresado"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <div class="col-md-10 col-md-offset-1 ">
        <div class="col-md-12 text-center">
          <h4>Ingresa el motivo por el cual el cliente no esta interesado</h4>
        </div>
        <div class="col-md-12">
          <label>Selecciona un Motivo</label>
          <select class="form-control input-sm" v-model="motivoDescartar">
            <option value="">selecciona</option>
            <option v-for="i in Motivos" :key="i.Id" v-bind:value="i.Id">{{
              i.Motivos
            }}</option>
          </select>
        </div>
        <div class="col-md-12">
          <label>Observaciones</label>
          <textarea
            class="form-control input-sm"
            v-model="ObservacionesDescartado"
          ></textarea>
        </div>
      </div>

      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-6" style="padding:10px;">
          <button class="btn btn-success" type="button" @click="GuardaMotivo()">
            Guardar
          </button>
        </div>
        <!--   <div class="col-md-3" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-nointeresado');"
          >Cancelar</button>
        </div> -->
      </div>
    </modal>

    <modal
      name="modal-agenda"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <div class="col-md-8 col-md-offset-2 ">
        <div class="col-md-12 text-center">
          <h3>Agendar una visita o llamada con el cliente</h3>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <input type="radio" id="one" value="V" v-model="Agenda.Tipo" />
            <label for="one">Visita</label>
          </div>
          <div class="col-md-6">
            <input type="radio" id="two" value="T" v-model="Agenda.Tipo" />
            <label for="two">Llamada Telefónica</label>
          </div>
        </div>
        <div class="col-md-12">
          <label>Fecha:</label>
          <input
            type="date"
            :min="new Date().toISOString().split('T')[0]"
            class="form-control"
            v-model="Agenda.Fecha"
          />
        </div>
        <div class="col-md-12">
          <label>Observaciones:</label>
          <textarea
            v-model="Agenda.Observaciones"
            class="form-control"
            placeholder=""
          >
          </textarea>
        </div>
        <!-- <div class="col-md-12">
            <span>¿Cuál fue el acuerdo con el cliente?</span>
                <div class="row"></div>
                <textarea v-model="Agenda.ObservacionesConCliente" class="text-capitalize form-control">
                </textarea>
        </div> -->
      </div>

      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3" style="padding:10px;">
          <button class="btn btn-success" type="button" @click="GuardaAgenda()">
            Guardar
          </button>
        </div>
        <div class="col-md-3" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="
              $modal.hide('modal-agenda');
              cancelar();
            "
          >
            Cancelar
          </button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-departamento"
      :width="900"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
      style="z-index: 1500;"
    >
      <buscardepartamento
        :Clv_vendedor="Clv_vendedor"
        v-on:buscarDepartamento="getEstatus($event)"
      ></buscardepartamento>
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-departamento')"
          >
            Cerrar
          </button>
        </div>
      </div>
    </modal>
    <modal
      name="modal-ticket"
      :width="500"
      :height="600"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <iframe :src="tiket" style="width:500px;height:550px"></iframe>
      <div class="row">
        <button class="btn btn-block btn-default" @click="salir()">
          Salir
        </button>
      </div>
    </modal>

    <modal
      name="modal-Qr"
      :width="300"
      :height="250"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <iframe :src="qr" style="width:300px;height:200px"></iframe>
      <div class="row">
        <button
          class="btn btn-block btn-default"
          @click="$modal.hide('modal-Qr')"
        >
          Salir
        </button>
      </div>
    </modal>
  </div>
</template>


<script>

import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
import buscarcliente from "../BuscarCliente.vue";
import buscardepartamento from "../BuscarDepartamento.vue";
import url from "../../urls";



export default {
  name: "app-add-cotizacion",
  components: {
    buscardepartamento,
    buscarcliente,
    Money
  },
     props: {
            publicKey: {
                type: String,
                default: 'de7acf6dc3513fb041632b2b775d61ec',
            },
            test: {
                type: Boolean,
                default: false,
            },
            name: {
                type: String,
                default: 'Pago OLt ',
            },
            description: {
                type: String,
                default: 'Pago OLt',
            },
            invoice: {
                type: [
                    String,
                    Number,
                ],
                default: null,
            },
            currency: {
                type: String,
                default: 'USD',
            },
            amount: {
                type: Number,
                default: 25,
            },
            taxBase: {
                type: Number,
                default: 19,
            },
            tax: {
                type: Number,
                default: 3.8,
            },
            country: {
                type: String,
                default: 'CO',
            },
            lang: {
                type: String,
                default: 'es',
            },
            external: {
                type: Boolean,
                default: true,
            },
            extra1: {
                type: String,
                default: null,
            },
            extra2: {
                type: String,
                default: null,
            },
            extra3: {
                type: String,
                default: null,
            },
            confirmation: {
                type: String,
                default: 'http://915009d10274.sn.mynetname.net:870/Confirmacion.aspx',
            },
            response: {
                type: String,
                default: 'http://915009d10274.sn.mynetname.net:870/Respuesta.aspx/?Clv_Factura='+ 1+'&Clv_Cliente='+1,
            },
            billingName: {
                type: String,
                default: null,
            },
            billingAddress: {
                type: String,
                default: null,
            },
            billingDocType: {
                type: String,
                default: null,
            },
            billingDocNumber: {
                type: String,
                default: null,
            },
            billingMobilePhone: {
                type: String,
                default: null,
            },
           



        },
  data() {

    return {
      Clv_vendedor: Vue.localStorage.get("clv_usuario"),
      header: {
        headers: {
          Authorization: "Basic " + Vue.localStorage.get("token")
        }
      },
    handler: null,
    handlerData: null,



      precios: {},
      clave: 0,
    params: {
        clv_cliente: 0,
        clv_usuario: Vue.localStorage.get("clv_usuario"),
        serie: "",
        folio: 1,
        pagoDolares: false,
        total: 0
      },
       impuestos: {
        idDetalle: 0,
        IVA: 0,
        IEPS: 0,
        subTotal: 0,
        total: 0
      },
      metrosVendibles: 0,
      ListaClientes: [],
      listaVendedores: [],
      vistasSelected: [],
      body: {
        proyecto: "",
        Torre: "",
        Piso: "",
        NumDepartamento: "",
        IdDetalle: 0,
        FechaEntrega: "",
        departamento: "",
        clv_Departamento: 0,
        clv_proyecto: 0,
        Monto:0
      },
      costoMetroCuadradoInicial: 0,
      departamento: {
        Activo: true,
        Clv_departamento: 0,
        CostoDepartamento: 0,
        Lado: null,
        MetrosTotales: 0,
        NumeroNiveles: 0,
        TipoDepartamento: "",
        cantidad: null,
        espacios: []
      },
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      cliente: {

      },
          Pago: {
        Clv_factura: 0,
        Clv_tipoPago: 1,
        banco: 0,
        cuenta: 0,
        Monto: 0,
        numeroCheque: 0,
        nombre:"",
        cuentaTrans:"",
        referencia:"",
      },
            Pago1: {
                 Clv_factura: 0
                 ,

      },
      plan: {},
      Esquema: {
        EngancheInicial: 0,
        EngancheDiferido: 0,
        Escrituracion: 0,
        EngancheAdicional:0,

        EngancheInicial1: 0,
        EngancheDiferido1: 0,
        Escrituracion1:0,
        EngancheAdicional1:0
      },
      blockSeleccion: false,
      Reservacion: 0,
      Escrituracion: 0,
      pei: 0,
      ped: 0,
      pes: 0,
      reporte: "",
      mesesDiferir: 0,
      pagos: [],
      titulo: "",
      Agenda: {
        Tipo: "V",
        Fecha: new Date(),
        Clv_vendedor: Vue.localStorage.get("clv_usuario"),
        Observaciones: "",
        Clv_cliente: 0,
        accion: 0,
        ObservacionesConCliente: ''
      },
        tipopago:[
          {
              id:'M',
              nombre:'Mensual'
          },
          {
              id:'T',
              nombre:'Trimestral'
          },
          {
              id:'S',
              nombre:'Semestral'
          },
          {
              id:'A',
              nombre:'Anual'
          }
      ],
           tipopago1:[
          {
              id:'AD',
              nombre:'Adeudo'
          },
          
      ],
      motivoDescartar: "",
      ObservacionesDescartado: "",
      Motivos: [],
      montoEI: 0,
      montoED: 0,
      montoE: 0,
      porcmontoEI: 0,
      porcmontoEI1: 0,
      porcmontoED: 0,
      porcmontoED1:0,
      porcmontoE: 0,
      porcmontoE1: 0,
      Descuento: false,
      reporteNoInterezado: '',
      sumatoria: 0,
      Op:0,
      totalOLts:50000,
      opPago:0,
      olt:[],
        pago: 0,
      cambio: 0,
        metodosPago: [],
          contador: 0,
          Sepudo:false,
           tiket: "",
           qr:"",
           cuentas:[],
      cuentaQr:"",
      check:false,
      DescripcionOlts:"",
      Epayco:"",
      No_pago:0 





    };

  },

  mounted() {



  
    // this.getConfiguracion();
    // this.getMotivos();
   
    this.getBancos();
  
    if (this.$route.params.id > 0) {
      this.blockSeleccion = true;
      this.titulo = "Editar Cotización #" + this.$route.params.id;
      // this.getCotizacion(this.$route.params.id);
    } else {
      this.titulo = "Nueva Cotización";
      // this.getConfigSistema();
    }

    
    //this.getVendedor();
    this.getMonto();
      


     this.handler = ePayco.checkout.configure({
                key: Vue.localStorage.get("Public_Key"),
                test: this.test,
            });

            let ePaycoForm = document.getElementById('ePaycoForm')
            let ePaycoScript = document.createElement('script')
            ePaycoScript.setAttribute('src', 'https://checkout.epayco.co/checkout.js')
            ePaycoScript.setAttribute('class','epayco-button')
            ePaycoScript.setAttribute('data-epayco-key',Vue.localStorage.get("Public_Key"))
            ePaycoScript.setAttribute('data-epayco-amount',this.amount)
            ePaycoScript.setAttribute('data-epayco-name',this.name)
            ePaycoScript.setAttribute('data-epayco-description',this.description)
         
            ePaycoScript.setAttribute('data-epayco-currency','USD')
            ePaycoScript.setAttribute('data-epayco-country','co')
            ePaycoScript.setAttribute('data-epayco-test','true')
            ePaycoScript.setAttribute('data-epayco-external',this.external)
            ePaycoScript.setAttribute('data-epayco-tax-base','19')
            ePaycoScript.setAttribute('data-epayco-response','http://915009d10274.sn.mynetname.net:870/Respuesta.aspx')
            ePaycoScript.setAttribute('data-epayco-confirmation','http://915009d10274.sn.mynetname.net:870/Confirmacion.aspx')

            ePaycoForm.appendChild(ePaycoScript);
            this.getEpayco();



  },
  methods: {
    

    getEpayco(){
          axios.get("/SessionWeb/GetEpayco", this.header).then(res => {
                  this.Epayco= res.data.GetEpaycoResult[0].Public_Key;
                  console.log('EPAyco', this.Epayco)
                  
                    
              });

        },


PagosTarjeta(){
console.log('entra');

if(this.opPago == 4){
  

this.Pago.Monto =this.totalOLts;
this.AddPago();
this.Pagar();

// this.openCheckout();

}
},

  openCheckout() {
    console.log('Ver Factura', this.Pago1.Clv_factura);
                this.handler.open({
                    name: this.name,
                    description: this.DescripcionOlts,
                    invoice: this.invoice,
                    currency: this.currency,
                    amount: this.totalOLts,
                    tax_base: this.taxBase,
                    tax: this.tax,
                    country: this.country,
                    lang: this.lang,
                    external: this.external,
                    extra1: this.extra1,
                    extra2: this.extra2,
                    extra3: this.extra3,
                    confirmation: this.confirmation,
                    response:'http://915009d10274.sn.mynetname.net:870/Respuesta.aspx/?Clv_Factura='+ this.Pago1.Clv_factura+'&Clv_Cliente='+Vue.localStorage.get("Cliente_Id"),
                    name_billing: this.billingName,
                    address_billing: this.billingAddress,
                    type_doc_billing: this.billingDocType,
                    number_doc_billing: this.billingDocNumber,
                    mobilephone_billing: this.billingMobilePhone,
                })
            },
 





getMonto(){
          axios.get("/SessionWeb/GetMonto", this.header).then(res => {
                  this.body.Monto= res.data.GetMontoResult[0].Monto;
                   console.log(res.data.GetMontoResult[0]);

              });

        },

salir1(){
this.$modal.hide('modal-pagos');
this.metodosPago=[];
this.cambio = 0;

},

Cambio(){

  this.olt.forEach(i=> { if(i.check == true) {

  if (i.periodicity == "M"){
    i.pago_inicial =  parseFloat(this.body.Monto)*1
  }
    if (i.periodicity == "T"){
    i.pago_inicial = parseFloat(this.body.Monto) *3
  }
    if (i.periodicity == "S"){
    i.pago_inicial =  parseFloat(this.body.Monto)*6
  }
    if (i.periodicity == "A"){
    i.pago_inicial =  parseFloat(this.body.Monto)*12
  }
    console.log('Entramos', i)
  }

  })
},

     getBancos() {
      let vm = this;
      axios.get("/SessionWeb/GetBancos", this.header).then(res => {
        this.bancos = res.data.GetBancosResult;
      });
    },
    getCuentas(x) {
      this.cuentas = [];
      axios
        .post(
          "/SessionWeb/GetCuentasBancariasByBanco",
          { idBanco: x },
          this.header
        )
        .then(res => {
          this.cuentas = res.data.getCuentasBancariasByBancoResult;
        });
    },

                 GeneraQr(){
                   this.cuentas.forEach(el => {
                     if (el.id == this.Pago.cuenta){
                        this.cuentaQr = el.cuenta;

                     }
                        });



                  var params= {
                              Opexportacion:1,
                              CadenaQr: this.cliente.nombre_cliente +', Total a pagar:'+ this.totalOLts + ', Cuenta:' +this.cuentaQr
                              }



                            axios
                           .post("/SessionWeb/GetQrPago", params, this.header)
                           .then(res => {
                             console.log("Resultado",this.tiket);
                             this.qr = url.URL_REPORTES + res.data.GetQrPagoResult;
                               this.$modal.show("modal-Qr");

                           });

                            },


  Pagar() {
      let CLV_FACTURA = 0;

      if (this.pago == 0 && this.totalOLts != 0) {
        this.$snotify.error(
          `No ha introducido ninguna cantidad para el pago`,
          "¡Atención!"
        );
        return;
      }

      if (this.pago == 0 && this.totalOLts == 0) {
        this.$modal.hide("modal-pagos");
        return;
      }

      let comparacion = this.totalOLts - this.pago;

      if (comparacion > 0) {
        this.$snotify.error(
          `Faltan $${comparacion.toFixed(2)} por pagar`,
          "¡Error!"
        );
      } else {
        this.params.total = this.totalOLts.toFixed(2);
        axios
          .post("/SessionWeb/addRecepcionDePago", this.params, this.header)
          .then(res => {
            CLV_FACTURA = res.data.addRecepcionDePagoResult;
            this.No_pago = res.data.addRecepcionDePagoResult
            this.Pago1.Clv_factura = res.data.addRecepcionDePagoResult;
            if(this.opPago == 4){
  
                this.openCheckout();

                }


            this.olt.forEach((el, index) => {
              console.log('el',el)
              if(!el.check || el.check == false){
                this.contador++;
              return;
                 }

               if (el.check == true){
              axios
                .post(
                  "/SessionWeb/addRecepcionDePagoDet",{
                    clv_factura: res.data.addRecepcionDePagoResult,
                    clv_concepto: el.id ,
                    precio_unitario: el.pago_inicial,
                    descripcion: el.NombreMarca,
                    contrato: el.cliente_id,
                    Periodo: el.periodicity,

                  },
                  this.header
                )
                .then(res => {
                  this.impuestos.idDetalle = res.data.addRecepcionDePagoDetResult;
                  this.impuestos.subTotal = this.subtotal;
                  this.impuestos.total = this.total;
                  if (this.contador == this.olt.length - 1) {
                    console.log('ENTRA');
                    this.metodosPago.forEach((elemento, posicion) => {
                      elemento.Clv_factura = CLV_FACTURA;
                      axios
                        .post(
                          "/SessionWeb/addMetodoPago",
                          elemento,
                          this.header
                        )
                        .then(res => {
                          if (posicion == this.metodosPago.length - 1) {
                        this.$snotify.success(`Pago registrado`, "¡Correcto!");






                           if (this.cliente.clv_pais ==45 && this.cliente.activo==true){
                              let params1 ={
                                              Pago: this.Pago1
                                          }

                            axios
                           .post("/SessionWeb/GenraFacturaAlegra", params1, this.header)
                           .then(res => {
                             this.$snotify.success(`Factura Registrada En Alegra`, "¡Correcto!");

                              let params = {
                                          Opexportacion: 1,
                                          IdDetalle: this.No_pago
                                        };
                                      

                                        this.$modal.show("modal-ticket");
                                        axios
                                          .post("/SessionWeb/GetTicket", params, this.header)
                                          .then(res => {
                                           
                                            this.tiket = url.URL_REPORTES + res.data.GetTicketResult;
                                          });
                      

                       
                           });

                           }else{
                                        let params = {
                                          Opexportacion: 1,
                                          IdDetalle: this.No_pago
                                        };
                                      

                                        this.$modal.show("modal-ticket");
                                        axios
                                          .post("/SessionWeb/GetTicket", params, this.header)
                                          .then(res => {
                                           
                                            this.tiket = url.URL_REPORTES + res.data.GetTicketResult;
                                          });
                            }
                      // setTimeout(function(){location.reload()}, 1500);
                      }



                        });
                    });
                  }
                 this.contador++;
                });
               }
            });
          });
      }
    },

   calcularCambio() {},

         GeneraT(){


                        this.$snotify.success(`Pago registrado`, "¡Correcto!");

              },
   AddPago() {

      if (this.opPago == 1 && this.Pago.Monto == 0) {
        this.$snotify.error("Ingrese una cantidad", "¡Atención!");
        return;
      }
      if (
        this.opPago == 2 &&
        (this.Pago.Monto == 0 ||
          this.Pago.numeroCheque == 0 ||
          this.Pago.banco == 0)
      ) {
        this.$snotify.error("Complete los datos del cheque", "¡Atención!");
        return;
      }
      if (
        this.opPago == 3 &&
        (this.Pago.Monto == 0 || this.Pago.cuenta == 0 || this.Pago.banco == 0)
      ) {
        this.$snotify.error(
          "Complete los datos de la transferencia",
          "¡Atención!"
        );
        return;
      }
           if (
        this.opPago == 4 &&
        (this.Pago.Monto == 0 )
      ) {
        this.$snotify.error(
          "Complete los datos de la tarjeta",
          "¡Atención!"
        );
        return;
      }




        this.metodosPago.push({
        Clv_factura: this.Pago.Clv_factura,
        Monto: this.Pago.Monto,
        Clv_tipoPago: this.opPago,
        banco: this.Pago.banco,
        cuenta: this.Pago.cuenta,
        numeroCheque: this.Pago.numeroCheque,
        cuentaTrans: this.Pago.cuentaTrans
      });


       console.log('Metodo de pago', this.metodosPago);
      this.pago = 0;

      this.metodosPago.forEach(el => {
        this.pago += el.Monto;
      });
      console.log(this.pago);
      this.cambio = this.totalOLts - this.pago;

      this.Pago.Clv_factura = 0;
      this.Pago.Clv_tipoPago = 1;
      this.Pago.banco = 0;
      this.Pago.cuenta = 0;
      this.Pago.Monto = 0;
      this.Pago.numeroCheque = 0;
    },


SuamaPagos(){
  console.log('entro a la suma')

  let total1=0 ;
  let Nombres='';


  // this.olt.forEach(i=> { if(i.monto) total += i.monto    })

  this.olt.forEach(i=>
  {
    if(i.check == true)
    if(i.pago_inicial) total1=total1 +   parseFloat(i.pago_inicial)


  })
  this.totalOLts =total1


    this.olt.forEach(i=>
  {
    if(i.check == true)
    if(i.nombre_olt) Nombres=Nombres +','+   i.nombre_olt


  })
  this.DescripcionOlts =Nombres
  console.log ('Nombres', Nombres)

  //  this.olt.forEach(function(a){total += parseInt(a.monto);});
  console.log('total', total1);
},



    calculaEI() {
      if (
        parseFloat(this.montoEI) + parseFloat(this.montoED) <=  parseFloat(this.body.preciolista)
      ) {
        this.porcmontoEI1 = parseFloat(parseFloat(this.montoEI) * 100 / parseFloat(this.body.preciolista)).toFixed(2);

       let cantidadRestante1 =  parseFloat(this.body.preciolista - this.montoEI - this.montoED);
      this.porcmontoEI = parseFloat((this.montoEI)) * 100 /this.body.preciolista
      this.porcmontoED = parseFloat((this.montoED)) * 100 / this.body.preciolista
      this.porcmontoE = parseFloat((cantidadRestante1)) * 100 / this.body.preciolista

      console.log('EIReal', this.porcmontoEI)
      console.log('EDReal', this.porcmontoED)
      console.log('EReal', this.porcmontoE)
      console.log('precio',  this.body.preciolista)

        this.porcmontoED1 = parseFloat( parseFloat(this.montoED) * 100 / parseFloat(this.body.preciolista)).toFixed(2);

        let cantidadRestante =  parseFloat(this.body.preciolista - this.montoEI - this.montoED);

        this.porcmontoE1 = parseFloat(parseFloat(cantidadRestante) * 100 / parseFloat(this.body.preciolista)).toFixed(2);


      } else {
        this.montoEI =  parseFloat(this.body.preciolista) - parseFloat(this.montoED) -  parseFloat(this.montoE);
        this.porcmontoEI1 = parseFloat(parseFloat(this.montoEI) * 100 / parseFloat(this.body.preciolista)
        );
      }

      // this.porcmontoED =(parseFloat(this.montoED) *  100 / parseFloat(this.body.preciolista) ).toFixed(2)
    },
    calculaED() {

      if (
        parseFloat(this.montoEI) + parseFloat(this.montoED) <= parseFloat(this.body.preciolista) ) {

        this.porcmontoEI = parseFloat( parseFloat(this.montoEI) * 100 / parseFloat(this.body.preciolista)).toFixed(2);
        this.porcmontoED = parseFloat( parseFloat(this.montoED) * 100 / parseFloat(this.body.preciolista)).toFixed(2);

        let cantidadRestante =  parseFloat(this.body.preciolista - this.montoEI - this.montoED);
        this.montoE = cantidadRestante;
        this.porcmontoE = parseFloat( parseFloat(cantidadRestante) * 100 / parseFloat(this.body.preciolista)).toFixed(2);
      }
      else {

        this.montoED =  parseFloat(this.body.preciolista) - parseFloat(this.montoEI) - parseFloat(this.montoE).toFixed(2);
        this.porcmontoED = parseFloat( parseFloat(this.montoED) * 100 / parseFloat(this.body.preciolista)).toFixed(2);

      }
    },
    GuardaMotivo() {
      let vm = this
      if (!this.motivoDescartar) {
        this.$snotify.error("Selecciona un motivo", "¡Atención!");
        return;
      }

      let params = {
        IdMotivo: this.motivoDescartar,
        Observaciones: this.ObservacionesDescartado,
        IdVendedor: Vue.localStorage.get("clv_usuario"),
        IdCliente: this.cliente.clv_comprador
      };


             axios
        .post("/SessionWeb/AddMotivoClienteDescartado", params, this.header)
        .then(res => {

          axios.post('/SessionWeb/ReporteCartaAgradecimientoNocompra', {clv_cliente :this.cliente.clv_comprador } ,this.header).then(function(res){
             vm.reporteNoInterezado = url.URL_REPORTES + res.data.ReporteCartaAgradecimientoNocompraResult

            vm.$modal.hide("modal-nointeresado");
             vm.$modal.show("modal-cartanointerezado");

          });

        });


    },
    GuardaAgenda() {
      this.$modal.hide("modal-agenda");
      this.Agenda.Clv_cliente = this.cliente.clv_comprador;
      this.Agenda.Fecha = this.acomodarFecha(this.Agenda.Fecha);

      axios
        .post("/SessionWeb/AddAgenda", this.Agenda, this.header)
        .then(res => {
            this.$snotify.success("Se agendó el cliente correctamente", "¡Atención!" );
          this.cancelar();
        });
    },
    getMotivos() {
      axios.get("/SessionWeb/GetMotivosCancelacion", this.header).then(res => {
        this.Motivos = res.data.GetMotivosCancelacionResult;
      });
    },
    getCotizacion(id) {
      let vm = this;
      axios
        .post(
          "/SessionWeb/GetCotizacionById",
          { clv_cotizacion: id },
          this.header
        )
        .then(res => {


          let datos = res.data.GetCotizacionByIdResult;
          this.getCliente(datos.Clv_cliente);
          console.log(datos);
          let det = {
            id: datos.IdDetalle
          };
          this.getEstatus(det);
          // this.calcular(datos.enganche_inicial,datos.enganche_diferido,datos.escrituras)
          this.params.Cetes = datos.Cetes;
          this.params.Multiplicador = datos.Multiplicador;
          this.Reservacion = datos.Reservacion;
          this.Escrituracion = datos.Escrituracion;

          this.Esquema.EngancheInicial = datos.enganche_inicial;
          this.Esquema.EngancheDiferido = datos.enganche_diferido;
          this.Esquema.Escrituracion = datos.escrituras;
          this.mesesDiferir = datos.MesesDiferidos;

          let params = {
            IdDepartamento: datos.IdDetalle,
            EngancheInicial: datos.enganche_inicial,
            EngancheDiferido: datos.enganche_diferido,
            LiquidacionEscrituracion: datos.escrituras,
            mesesDiferido: datos.MesesDiferidos,
            PrecioMetro: datos.PrecioMetro,
            MetrosDepartamento: datos.MetrosDepartamento
          };

          console.log('ENvio PAgos', params)
          axios
            .post("/SessionWeb/GetCotizacionDiferido", params, this.header)
            .then(function(res) {
              vm.precios = res.data.GetCotizacionDiferidoResult.precios;
              vm.pagos = res.data.GetCotizacionDiferidoResult.pagos;

            });
        });
    },
    buscarCliente() {
      this.getlistaClientes();
      this.$modal.show("modal-clientes");
    },
    getConfigSistema() {
      let vm = this;
      axios
        .get("/SessionWeb/GetConfiguracionSistema", this.header)
        .then(res => {
          vm.ConfigSis = res.data.GetConfiguracionSistemaResult;
          this.params = res.data.GetConfiguracionSistemaResult[0];
        });
    },

    getlistaClientes() {
      let vm = this;
      vm.ListaClientes = [];
      let params = {
        clv_usuario: Vue.localStorage.get("clv_usuario"),
        clv_estatus: 0
      };
      axios.post("/SessionWeb/GetClientes", params, this.header).then(res => {
        res.data.GetClientesResult.forEach(el => {
          if (el.estatus === "Capturado") {
            vm.ListaClientes.push(el);
          }
        });
      });


    },
    buscarDepartamento() {
      this.$modal.show("modal-departamento");
    },
    getCliente(x) {

     this.params.clv_cliente=x;

    axios
    .post("/SessionWeb/GetOLTByIdClienteRecepcionPagos",{id:x}, this.header)
    .then(res => {
       let olt=res.data.GetOLTByIdClienteRecepcionPagosResult

       this.olt =olt;


    });

      let vm = this;
      let params = {
        id: x
      };
      axios
        .post("/SessionWeb/GetClienteById", params, this.header)
        .then(res => {
          this.cliente = res.data.GetClienteByIdResult;




        });


      this.$modal.hide("modal-clientes");

    },
      eliminarPago(x) {
      this.cambio += this.metodosPago[x].Monto;
      this.metodosPago.splice(x, 1);
    },
    getEstatus(res) {

      this.Esquema = {};
      this.precios = {}
      this.pei= 0
      this.ped= 0
      this.pes= 0

      this.montoEI= 0
      this.montoED= 0
      this. montoE= 0
      this.porcmontoEI1= 0
      this. porcmontoED1= 0
      this.porcmontoE1= 0
      this.Descuento= false

      let vm = this;
      let params = {
        IdDetalle: res.id
      };
      axios
        .post("/SessionWeb/GetEstatusDepartamento", params, this.header)
        .then(res => {
          this.body = res.data.GetEstatusDepartamentoResult;
          console.log('Resultado',  this.body )
          axios
            .post(
              "/SessionWeb/GetDepartamentoC",
              { clv_departamento: this.body.clv_Departamento },
              this.header
            )
            .then(res => {
              this.departamento = res.data.GetDepartamentoCResult[0];
              console.log(this.departamento)
              this.metrosVendibles =
                res.data.GetDepartamentoCResult[0].MetrosTotales;
              //this.departamento.espacios.forEach(element => {
              //  this.metrosVendibles += element.metros;
              //});

              axios
                .post(
                  "/SessionWeb/GetProyectoById",
                  { id: this.body.clv_proyecto },
                  this.header
                )
                .then(res => {
                  vm.costoMetroCuadradoInicial =
                    res.data.GetProyectoByIdResult.costoMetroCuadradoInicial;
                });
            });
          this.$modal.hide("modal-departamento");
        });
    },
    cancelar() {
      this.$router.push("/cotizacion");
    },
     recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },
    acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    },
     salir() {
      setTimeout(function() {
        location.reload();
      }, 200);
    },
    GuardaCotizacion() {
      console.log('entra');
      if (
        !this.Esquema.EngancheInicial > 0
      ) {
        this.$snotify.error("Selecciona un esquema de pago", "¡Error!");
        return;
      }

        if ((this.Esquema.EngancheInicial + this.Esquema.EngancheDiferido ) == (this.porcmontoEI- this.porcmontoED)){
          this.Op = 1

        }else{
          this.Op = 0
        }

          console.log('Suma ', this.Esquema.EngancheInicial )

       console.log('que trae ', this.porcmontoEI)
        let params = {
          Clv_cliente: this.cliente.clv_comprador,
          Clv_vendedor: Vue.localStorage.get("clv_usuario"),
          Cetes: this.params.Cetes,
          Multiplicador: this.params.MultiplicadorDescuentos,
          Reservacion: this.Reservacion,
          Escrituracion: this.Escrituracion,
          IdDetalle: this.body.IdDetalle,
          EngancheInicial: this.Esquema.EngancheInicial,
          EngancheAdicional: (this.Esquema.EngancheAdicional)? this.Esquema.EngancheAdicional:0,
          EngancheDiferido: this.Esquema.EngancheDiferido,
          Escrituras: this.Esquema.Escrituracion,
          MesesDiferidos: 0,
          Op:this.Op
        };

        console.log('LLega',this.Op)
        console.log('Lo que quiero', this.Esquema.EngancheInicial  = this.porcmontoEI)

         axios
           .post("/SessionWeb/AddCotizacion", params, this.header)
           .then(res => {
             axios
               .post(
                 "/SessionWeb/GetReporteCotizacion",
           { Op: this.Op, id: res.data.AddCotizacionResult, url:url.URL_IMAGENES_ARCHIVOS },
               this.header
             )
               .then(res => {
                 this.reporte =
                 url.URL_REPORTES + res.data.GetReporteCotizacionResult;
                 this.$modal.show("modal-reporte");
               });
           });


    },






    calcular() {
      let vm = this;

      let params = {
        EngancheInicial: this.Esquema.EngancheInicial,
        EngancheDiferido: this.Esquema.EngancheDiferido,
        LiquidacionEscrituracion: this.Esquema.Escrituracion,
        EngancheAdicional: (this.Esquema.EngancheAdicional)?this.Esquema.EngancheAdicional:0,
        FechaEntrega: this.body.FechaEntrega,
        PrecioMetro: vm.costoMetroCuadradoInicial,
        MetrosDepartamento: this.metrosVendibles
      };

      axios
        .post("/SessionWeb/GetCotizacionDiferido", params, this.header)
        .then(function(res) {
          vm.precios = res.data.GetCotizacionDiferidoResult.precios;
          vm.pagos = res.data.GetCotizacionDiferidoResult.pagos;
          vm.sumatoria = 0;
          vm.pagos.forEach(element => {
            //console.log(element);
                vm.sumatoria += element.Monto;
              });
        });
    },
    calcularDescuento() {
      let vm = this;
        if (this.Esquema.EngancheDiferido == this.porcmontoED && (this.Esquema.EngancheInicial + this.Esquema.EngancheAdicional) == this.porcmontoEI) {
          this.Op = 1

        }else{
          this.Op = 0
        }

      let params = {
        EngancheInicial: (this.Esquema.EngancheInicial)? this.Esquema.EngancheInicial:0,
        EngancheDiferido: (this.Esquema.EngancheDiferido)? this.Esquema.EngancheDiferido:0,
        LiquidacionEscrituracion: (this.Esquema.Escrituracion)? this.Esquema.Escrituracion:0,
        EngancheAdicional: (this.Esquema.EngancheAdicional)?this.Esquema.EngancheAdicional:0,
        FechaEntrega: this.body.FechaEntrega,
        PrecioMetro: vm.costoMetroCuadradoInicial,
        MetrosDepartamento: this.metrosVendibles,
        Op:this.Op

      };
      console.log('Recibo',this.porcmontoEI)
      console.log('OP', this.Op)
      console.log('Que envio', params)

      axios
        .post("/SessionWeb/GetCotizacionDescuento", params, this.header)
        .then(function(res) {
          vm.precios = res.data.GetCotizacionDescuentoResult.precios;
           vm.pagos = res.data.GetCotizacionDescuentoResult.pagos;
           vm.sumatoria = 0;
           vm.pagos.forEach(element => {
            //console.log(element);
                vm.sumatoria += element.Monto;
              });
        });
    },

    calcularMontos() {
      this.Descuento = false;
      if (this.body.IdDetalle == 0) {
        this.$snotify.error(
          "Seleccione un departamento para la cotización",
          "¡Error!"
        );
        return;
      }
      if (parseFloat(this.porcmontoEI) + parseFloat(this.porcmontoED) >= 30) {
        this.Esquema.EngancheInicial =parseFloat (this.porcmontoEI);
        this.Esquema.EngancheDiferido = parseFloat(this.porcmontoED);
        this.Esquema.Escrituracion = parseFloat(this.porcmontoE);

        this.Esquema.EngancheInicial1 =parseFloat (this.porcmontoEI).toFixed(2);
        this.Esquema.EngancheDiferido1 = parseFloat(this.porcmontoED).toFixed(2);
        this.Esquema.Escrituracion1 = parseFloat(this.porcmontoE).toFixed(2);

        if (parseFloat(this.Esquema.EngancheInicial) > 30) {

        this.Esquema.EngancheAdicional = parseFloat(this.Esquema.EngancheInicial -30);
        this.Esquema.EngancheAdicional1 = parseFloat(this.Esquema.EngancheInicial1 -30).toFixed(2);
        this.Esquema.EngancheInicial = parseFloat(this.Esquema.EngancheInicial -  this.Esquema.EngancheAdicional)
        this.Esquema.EngancheInicial1 = parseFloat(this.Esquema.EngancheInicial1 -  this.Esquema.EngancheAdicional).toFixed(2)

          this.Descuento = true;
          this.calcularDescuento();
        } else {
          this.calcular();
        }

        /*  if (this.Esquema.EngancheDiferido > 0) {
          this.$modal.show("modal-mesesDiferidos");
        } else {
          this.calcularDescuento();
        } */
      } else {
        this.$snotify.error("El enganche no puede ser menor a 30%", "¡Error!");
      }
    },
    calcularMontosPersonal() {
      this.Descuento = false;
      if (this.body.IdDetalle == 0) {
        this.$snotify.error(
          "Seleccione un departamento para la cotización",
          "¡Error!"
        );
        return;
      }

      if (
        parseFloat(this.pei) + parseFloat(this.ped) + parseFloat(this.pes) !=  100 ) {
        this.$snotify.error("La suma de be de ser el 100%", "¡Error!");
        return
      }

      this.Esquema.EngancheInicial = 0;
        this.Esquema.EngancheDiferido = 0;
        this.Esquema.Escrituracion = 0;
        this.Esquema.EngancheAdicional = 0;

      if (parseFloat(this.pei) + parseFloat(this.ped) >= 30 ) {
        this.Esquema.EngancheInicial =parseFloat(this.pei);
        this.Esquema.EngancheDiferido = parseFloat(this.ped);
        this.Esquema.Escrituracion = parseFloat(this.pes);


        this.Esquema.EngancheInicial1 =parseFloat(this.pei).toFixed(0);
        this.Esquema.EngancheDiferido1 = parseFloat(this.ped).toFixed(0);
        this.Esquema.Escrituracion1= parseFloat(this.pes).toFixed(0);

        if (parseFloat(this.Esquema.EngancheInicial) > 30 ||
        (parseFloat(this.Esquema.EngancheInicial) == 30 && parseFloat(this.Esquema.EngancheDiferido)) != 0 ) {
          if(parseFloat(this.Esquema.EngancheInicial) > 30){
          this.Esquema.EngancheAdicional =   parseFloat(this.Esquema.EngancheInicial - 30);
          this.Esquema.EngancheAdicional1 =   parseFloat(this.Esquema.EngancheInicial1 - 30).toFixed(0);



          }else{
          this.Esquema.EngancheAdicional=0
          }

          this.Esquema.EngancheInicial =  parseFloat(this.Esquema.EngancheInicial -  this.Esquema.EngancheAdicional)
          this.Esquema.EngancheInicial1 =  parseFloat(this.Esquema.EngancheInicial1 -  this.Esquema.EngancheAdicional).toFixed(0)
          this.Descuento = true;
          this.calcularDescuento();
        } else {
          this.calcular();
        }
      } else {
        this.$snotify.error("El enganche no puede ser menor a 30%", "¡Error!");
      }
    },
    Interezado() {}
    /*     calcularMontos(index) {
      if (this.body.IdDetalle == 0) {
        this.$snotify.error(
          "Seleccione un departamento para la cotización",
          "¡Error!"
        );
        return;
      }
      this.Esquema.EngancheInicial = this.datos[index].eI;
      this.Esquema.EngancheDiferido = this.datos[index].eD;
      this.Esquema.Escrituracion = this.datos[index].E;
      if (this.Esquema.EngancheDiferido > 0) {
        this.$modal.show("modal-mesesDiferidos");
      } else {
        this.calcular();
      }
    }, */
    /*    difMeses() {
      let fecha = new Date();
      let fecha2 = this.acomodarFecha(this.body.FechaEntrega);
      let f2 = fecha2;

      let aF2 = f2.split("/");

      let numMeses =
        parseInt(aF2[2]) * 12 +
        parseInt(aF2[1]) -
        (parseInt(fecha.getFullYear()) * 12 + parseInt(fecha.getMonth() + 1));
      if (aF2[0] < fecha.getDate()) {
        numMeses = -1;
      }
      //alert(numMeses);
      return numMeses;
    } */
    , getConfiguracion() {
      let vm = this;
      axios.get("/SessionWeb/GetConfiguracionSistema", this.header).then(res => {
        //console.log(res.data.GetConfiguracionSistemaResult[0]);
       this.Escrituracion = res.data.GetConfiguracionSistemaResult[0].Escrituracion;
       this.Reservacion = res.data.GetConfiguracionSistemaResult[0].Reservacion;
       this.params.Multiplicador = res.data.GetConfiguracionSistemaResult[0].Multiplicador;
      });
      },
      porcentajes(){
        this.pes = (100 - (parseInt(this.pei) + parseInt(this.ped)));
        if(this.pes < 0) this.pes = 0;
      }
  }
};
</script>

<style scoped>
.tile-text {
  width: 50%;
}

.list .tile .tile-text {
  padding: 0px 0;
  font-size: 13px;
  width: 100%;
}
</style>
