
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Asignación de Clientes WEB</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva"> Asignación de clientes WEB</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
      
    		<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Cliente'"
         :filter-options="'nombre'"
         >
         </tablecomponent>	
	</div>

   <modal 
    name="vendedores" 
    :width="900" 
    style="z-index: 1500;"
    height="auto" :scrollable="true" 
    :clickToClose="true">
    <div class="col-md-12 text-center">
      <h3>Selecciona Vendedor</h3>

    </div>
    <div class="col-md-12">
      <buscarVendedor v-on:Vendedor="getVendedor($event)" ></buscarVendedor>
    </div>      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('vendedores')"
          >Cerrar</button>
        </div>
      </div>
    </modal>

    <modal name="asignacion" :width="300" 
    style="z-index: 1500;"
    height="auto" :scrollable="true" :clickToClose="true">
    <div class="col-md-12 text-center">
      <h3>Asignación automática</h3>
    </div>
    <div class="col-md-12">
        <h3>¿Desea hacer la asignación?</h3>
    </div>      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-12 col-md-offset-5" style="padding:10px;">
          <button
          style="width:50px"
            class="btn btn-success"
            type="button"
            @click="AsignacionAutomatica"
          >Si</button>
          <button
          style="width:50px; margin-left: 15px"
            class="btn btn-default"
            type="button"
            @click="$modal.hide('asignacion')"
          >No</button>
        </div>
      </div>
    </modal>

</div>
</div>
</div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from '../../components/table.vue'
import buscarVendedor from '../buscarVendedor'
import { EventBus } from '../../event-bus'
export default {
    name: "asignacionCompradoresWEB",   
    data() {
        return {
    
     headers: [
        '#',
        'Nombre',
        'Correo',
        'Celular',
        'Asignado por'
      ],
      actions: {
        buscaVendedor: true,
         filter:true
      },     
      body: {
        id: 0,  
        clv_vendedor: 0,
        clv_usuario: Vue.localStorage.get("clv_usuario")      
      },
      tabledata: [],    
      tabledataModal: [],    
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      } 
        };
    },
    mounted() {
    this.getClientes();
    EventBus.$on('buscaVendedor', data => {  
      this.body.id = data.id;
     
       this.$modal.show('vendedores');
    })

  },
  methods : {
      getClientes() {      
      let vm = this;    
      vm.tabledata = [];
      axios.get("/SessionWeb/GetClientesWEB", this.header).then(res => {
        res.data.GetClientesWEBResult.forEach(el => {
          let obj = {
            id: el.clv_comprador,
            nombre: el.nombre ,
            correo: el.correo,
            celular:el.celular,
            asignador: (el.usuario == 0) ? 'Sin vendedor asignado':el.asignador
          };
          
          if (el.usuario == 0) {
            vm.tabledataModal.push(obj);       
          }
          vm.tabledata.push(obj);          

          if(vm.tabledataModal.length != 0) {
            this.$modal.show('asignacion');
          }
        });
      });
    },
    getVendedor(data){
      let vm = this;
      vm.body.clv_vendedor = data;    
      axios.post('/SessionWeb/AddClientesWEB', this.body, this.header).then(res => {
        this.$modal.hide('vendedores')

        this.getClientes();
      }); 

    }, 
    AsignacionAutomatica() {
      axios.get('/SessionWeb/AsignacionAutomatica', this.header)
      .then(res => {
        this.$modal.hide('asignacion');
        setTimeout(function() {
        location.reload();
      }, 100);
      });
      //  this.getClientes();
    }   
       
  },
  components: {
    tablecomponent,
    buscarVendedor,
  }
};
</script>
