<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Editar Departamento</strong>
          <br>
          <small>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Catálogo Departamento</a>
          </small>
        </header>
      </div>

      <div class="card-body">
        <vue-tabs active-tab-color="#264562"   active-text-color="white">
      <v-tab title="Datos del departamento" icon="ti-user">

                <form  @submit.prevent="insertar('principal')" data-vv-scope='principal'>
                        <div class= 'col-md-12'>

                         


                <div class="col-md-3">
                  
                  <h4 class="text-center text-primary">Detalle del Departamento</h4> 
                
                
                  <div class="col-md-12 ">
                  <font size=4><strong>Tipo de departamento</strong></font>             
                  <input type="text" name="tipo" class="form-control text-capitalize" v-model="body.TipoDepartamento" v-validate=" 'required'" >
                  <i v-show="errors.has('principal.tipo')" class="fa fa-warning"> </i>
                  <span v-show="errors.has('principal.tipo')" class="help is-danger text-danger"> El campo tipo de departamento es obligatorio</span>
                  </div>


                  <!-- <div class="col-md-12 ">
                  <font size=4><strong>Lado del departamento</strong></font>               
                  <select v-model="body.Lado" v-validate="'required'" class="form-control text-capitalize" name="lado">
                  <option value="Izquierdo">Izquierdo</option>
                  <option value="Derecho">Derecho</option>
                  </select>
                  </div> -->
                
                


                <div class="col-md-12">
                <font size=4><strong>Metros cuadrados totales</strong></font>              
                <input type="number" step="any" name="metrostotales"  class="form-control" min="0" 
                v-model.number="body.MetrosTotales" v-validate="'required'" disabled>
                 <i v-show="errors.has('principal.metrostotales')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.metrostotales')" class="help is-danger text-danger"> El campo de metros totales es obligatorio</span>
                </div>

                <div class="col-md-12">
                <font size=4><strong>Número de niveles</strong></font>                
                <input type="number" name="numeronivel" class="form-control"  oninput="validity.valid||(value='');" 
                min="1" v-model="body.NumeroNiveles" v-validate="'required'">
                <i v-show="errors.has('principal.numeronivel')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.numeronivel')" class="help is-danger text-danger"> El campo de número de niveles es obligatorio</span>
                </div>

                <div class="col-md-12">
                <br>
                <p-check class="p-svg p-curve" color="success" v-model="body.Activo">
                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                style="stroke: white;fill:white"></path>
                </svg>
                <strong>Activo</strong>
                </p-check>
                </div>



                </div>
                <div class="col-md-4" >
              
                  <h4 class="text-center text-primary">Espacios del Departamento</h4>            
                  <!-- <label>Ingresa los Espacios del departamento</label>  -->
                <div class="col-md-12">
                <font size=4><strong>Espacios</strong></font>
              
                <select v-model.number="vista" class="form-control text-capitalize" name="vista">
                      <option value="">Selecciona</option>
                    <option v-for="x in listaEspDepart" :key="x.clv_espacio_departamento" v-bind:value="x.clv_espacio_departamento"> {{x.nombre}} </option>
                </select>               
                </div>

                <div class="col-md-4 ">            
                <font size=4><strong>m² </strong></font>
                <div class="row"></div>
                <input type="number" step="any" v-validate="'required'" name="metros" 
                class="form-control"  v-model="newMetros"  min="1">
                 </div>
                <div class="col-md-12 ">            
                <font size=4><strong>Descripción </strong></font>              
                <input type="text"
                placeholder="Ingresa una breve descripción"
                class="form-control text-capitalize" name="desc"  v-model="descripcion" >
                </div>
                    
                <div class="col-md-12 pull-right">
                  <br>
                        <button class="btn btn-info btn-sm" type="button" @click="agregaRelacion1()"> <i class="fa fa-plus"></i> Agregar </button>
                    </div>           


                
                </div>

                <div class="col-md-5" style="max-height:300px;overflow-y:scroll;">
                   <table class="table table-striped" style="margin-top:20px;">
                      <thead>
                          <th>Espacios</th>
                          <th>Metros</th>
                          <th>Descripción</th>
                            <th></th>
                      </thead>
                      <tbody>
                          <tr v-for="(x, index ) in espacioSelected" :key="x.clv_espacio_departamento  ">
                              <td ><label style="margin-top:8px"  class=" text-capitalize">{{x.nombre}}</label></td>
                              <td><input step="any" style="width:60%" class="form-control input-sm text-capitalize" @blur="sumar(index)" 
                              @focus="restar(index)" type="number" v-model="x.metros"></td>
                              <td ><input @blur="editarDescripcion(x.descripcion, index)" class="form-control input-sm text-capitalize" type="text" v-model="x.descripcion"></td>
                              <td><button type="button"  class="btn btn-danger btn-xs" @click="eliminaVista(index)" ><i class="fa fa-trash"></i></button></td>
                          </tr>
                      </tbody>
                  </table>
                </div>

               <!--  <the-mask :mask="['(##) ####-####', '(##) #####-####']" /> -->

                </div>
                <div class="col-md-4 col-md-offset-8" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Salir <span class="fa fa-sign-out-alt"></span></button>
                </div>
               
                </form>


      </v-tab>

    <v-tab title="Imagenes del departamento" icon="ti-settings" v-if="body.Clv_departamento> 0 ">
             
            <div class="card panel ">
										<div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
											<font size=4><strong><header><i class="fa fa-plus"></i> Agregar Imagenes</header></strong></font>
											<div class="tools">
												<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
											</div>
										</div>
										<div id="accordion3-1" class="collapse in" aria-expanded="false" style="">
											<div class="card-body">
                          <div class="col-md-6">
                          <font size=4><strong>Tipo de imagen</strong></font>

                          <select v-model.number="tipo"  v-validate="'required'" @change="asignaurl" class="form-control  input-sm text-capitalize" name="tipodeimagen">
                          <option v-for="x in listaTipo" :key="x.id" v-bind:value="x.id"> {{x.nombre}} </option>
                          </select>
                          </div>
                           <div class="col-md-12">

                          <h4>(arrastra las imagenes o da un click en la zona punteada para subir imagenes)</h4>
                          <upload-image
                          v-on:upload-image-success="getImagenesDepartamento"
                          button_html="Guardar imagenes"
                          
                          input_id="1" :url="urlAddImagen" 
                          resize_max_width="300" resize_max_height="200"
                          name="archivos" :max_files="15"></upload-image>
                           </div>
                    
                    
											</div>
										</div>
									</div>


           

                <div class="col-md-12">
             

           

              <!--   <input type="text" v-mask="'##/##/####'" placeholder="dd/mm/yyyy" /> -->
               
                <h3>Imagenes Cargadas</h3>
                <gallery :images="images" :index="index" @close="index = null"></gallery>
                <div
                class="image"
                v-for="(image, imageIndex) in images"
                :key="imageIndex"
                @click="index = imageIndex"
                :style="{ backgroundImage: 'url(' + image + ')', width: '200px', height: '100px' }"
                ></div>
                 <div class="col-md-3 col-md-offset-9" style="padding:15px; margin-top:15px;">                   
                    <button @click="regresar" type="button" class="btn btn-default pull-right" > Salir <span class="fa fa-sign-out-alt"></span></button>
                </div>
              </div>     
              </v-tab>   
             </vue-tabs>
            </div>
          </div>
        </div>
  </template>
<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.vue_component__upload--image {
 margin-bottom: 1em;
    border: 7px dotted #b3b3b3;
}
</style>

<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
import url from "../../urls";
import VueGallery from "vue-gallery";
import UploadImage from "vue-upload-image";
export default {
  name: "addDepartamento",

  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      descripcion: "",
      newMetros: 1,
      vista: "",
      tipo: "",
      tabledata1: [],
      listaEspDepart: [],
      espacioSelected: [],
      body: {
        Clv_departamento: 0,
        TipoDepartamento: "",
        NumeroNiveles: 1,
        MetrosTotales: 0,
        CostoDepartamento: 0,
        Activo: 1
      },
      listaDepartamentos: [],
      urlAddImagen: "",

      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      images: [
        /*    'https://dummyimage.com/800/ffffff/000000',
          'https://dummyimage.com/1600/ffffff/000000',
          'https://dummyimage.com/1280/000000/ffffff',
          'https://dummyimage.com/400/000000/ffffff',      */
      ],
      index: null
    };
  },
  mounted() {
    this.getDepartamento();
    this.getListaDepartamentos();
    this.getDepartamentos();
    this.getImagenesDepartamento();
    this.getipoImagen();
    this.urlAddImagen =
      url.URL_IMAGENES +
      "/Sistema/GuardaImagenesDepartamento?id=" +
      this.$route.params.id +
      "&tipo=" +
      this.tipo;
    /*   this.$nextTick(function () {
            window.setInterval(() => {
                this.getImagenesDepartamento();
            },5000);
        }) */
  },
  methods: {
    asignaurl() {
      this.urlAddImagen =
        url.URL_IMAGENES +
        "/Sistema/GuardaImagenesDepartamento?id=" +
        this.$route.params.id +
        "&tipo=" +
        this.tipo;
    },
    getipoImagen() {
      let vm = this;
      axios.get("/SessionWeb/GetTipoImagen", this.header).then(res => {
        res.data.GetTipoImagenResult.forEach(el => {
          let obj = {
            id: el.id,
            nombre: el.nombre
          };
          vm.tabledata1.push(obj);
        });

        this.listaTipo = res.data.GetTipoImagenResult;

        console.log(this.listaTipo);
      });
      console.log(this.tipo);
    },
    getImagenesDepartamento() {
      this.images = [];
      axios
        .post(
          url.URL_IMAGENES +
            "/Sistema/GetImagenesDepartamento?id=" +
            this.$route.params.id,
          this.header
        )
        .then(res => {
          res.data.GetImagenesDepartamentoResult.forEach(i => {
            this.images.push(
              url.URL_IMAGENES_ARCHIVOS + "/ImagenesDepartamentos/" + i.Valor
            );
            // console.log(this.images)
          });
        });
    },
    ExisteNombre() {
      for (var a = 0; a < this.listaDepartamentos.length; a++) {
        if (
          this.listaDepartamentos[a].TipoDepartamento.toLowerCase() ==
            this.body.TipoDepartamento.toLowerCase() &&
          this.listaDepartamentos[a].Clv_departamento != this.$route.params.id
        ) {
          return true;
        }
      }
      return false;
    },
    getListaDepartamentos() {
      let vm = this;
      axios.get("/SessionWeb/GetDepartamentos", this.header).then(res => {
        this.listaDepartamentos = res.data.GetDepartamentosResult;
      });
    },
    getDepartamentos() {
      let vm = this;
      axios.get("/SessionWeb/GetSpaceDept", this.header).then(res => {
        this.listaEspDepart = res.data.GetSpaceDeptResult;
      });
    },
    getDepartamento() {
      let vm = this;
      let body = {
        clv_departamento: this.$route.params.id
      };
      console.log(this.$route.params.id);
      axios
        .post("/SessionWeb/GetDepartamentoC", body, this.header)
        .then(res => {
          this.body = res.data.GetDepartamentoCResult[0];
          this.body.MetrosTotales =
            res.data.GetDepartamentoCResult[0].MetrosTotales;
          this.body.Lado = res.data.GetDepartamentoCResult[0].Lado;
          console.log("METROS TOTALES  " + this.body.MetrosTotales);

          this.espacioSelected = res.data.GetDepartamentoCResult[0].espacios;
        });
    },
    eliminaVista(index) {
      this.body.MetrosTotales -= parseFloat(this.espacioSelected[index].metros);
      this.espacioSelected.splice(index, 1);
      this.totalMetros();
    },
    existe(id) {
      for (var i = 0; i < this.espacioSelected.length; i++) {
        if (this.espacioSelected[i].clv_espacio_departamento == id) {
          return true;
        }
      }
      return false;
    },
    agregaRelacion1() {
      let vm = this;
      if (this.descripcion) {
        if (this.existe(this.descripcion)) return;

        let result = this.listaEspDepart.filter(
          i => i.clv_espacio_departamento == this.vista
        );

        this.espacioSelected.push({
          clv_espacio_departamento: result[0].clv_espacio_departamento,
          nombre: result[0].nombre,
          metros: parseFloat(this.newMetros),
          descripcion: this.descripcion,
          suma: result[0].suma
        });
        this.totalMetros();
        this.vista = "";
        this.newMetros = 1;
        this.descripcion = "";
      }
    },
    restar(index) {
      this.body.MetrosTotales -= parseFloat(this.espacioSelected[index].metros);
    },
    sumar(index) {
      this.body.MetrosTotales += parseFloat(this.espacioSelected[index].metros);
    },
    editarDescripcion(descripcion, index) {
      if (this.existe(this.descripcion)) return;
      this.espacioSelected[index].descripcion = descripcion;
    },
    totalMetros() {
      let vm = this;

      vm.body.MetrosTotales = 0;
      this.espacioSelected.forEach(i => {
        if (i.suma) {
          console.log(
            "Este 1 " +
              parseFloat(vm.body.MetrosTotales) +
              " -> " +
              parseFloat(i.metros)
          );
          vm.body.MetrosTotales =
            parseFloat(vm.body.MetrosTotales) + parseFloat(i.metros);
        }
        /* 
        if (( vm.body.metros = 0)) {
           vm.body.MetrosTotales = 0;
        } */
      });
    },
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if (this.ExisteNombre()) {
            this.$snotify.error(
              "El tipo de departamento ya ha sido registrado",
              "¡Atención!"
            );
            return;
          }
          if (this.espacioSelected == 0) {
            this.$snotify.error(
              "Es importante agregar un espacio de departamento",
              "¡Atención!"
            );
            return;
          } else {
            axios
              .post(
                "/SessionWeb/UpdateDepartamentos",
                { obj: this.body, espacios: this.espacioSelected },
                this.header
              )
              .then(res => {
                this.$snotify.success(
                  "Departamento Editado con éxito, Ahora puedes subir las imagenes del departamento",
                  "¡Correcto!",
                  {
                    timeout: 1500,
                    showProgressBar: false,
                    closeOnClick: false,
                    pauseOnHover: true
                  }
                );
                this.$router.push("/departamento");
              });
          }
        }
      });
    },
    validaNumericos(event) {
      if (event.charCode >= 48 && event.charCode <= 57) {
        return true;
      }
      return false;
    },
    regresar() {
      this.$router.push("/departamento");
    }
  },
  components: {
    Money,
    gallery: VueGallery,
    UploadImage
  }
};
</script>
