<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Configuración del sistema</strong>

          <br />
          <small>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>
            <a href class="paginaActiva">Configuración</a>
          </small>
        </header>
      </div>
      <div class="card-body">
        <vue-tabs active-tab-color="#264562" v-model="selectedTab" active-text-color="white">
          <br />
          <v-tab v-if="!carga" title="Monto mensualidad" v-model="tab1" ref="tab1" id="uno" icon="fa fa-money">
            <form
      @submit.prevent="insertar('principal')"
              data-vv-scope="principal"
              autocomplete="false"
            >
           <div class="row"></div>
        <div class="col-md-4 col-md-offset-4" style="margin-top:20px;text-align: center">
           <h4>Precio Mensualidad</h4>
               <money 
                v-model="body.Monto" 
                name="Reservacion" 
                v-validate="'required'" 
                class="form-control input-sm text-capitalize"  
                v-bind="money">
                </money> 

          </div>

               <div class="row">
               <div  class="col-md-4 col-md-offset-4" style="margin-top:20px;text-align: center">
                  <h4>IVA Facturas</h4>                               
                  <money 
                    v-model="body.IVA" 
                    name="Cetes" 
                    v-validate="'required'" 
                    class="form-control text-capitalize"  
                    v-bind="moneyPorcentaje">
                </money> 
                </div>
                </div>



              <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <!-- <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button> -->
                </div>
              </div>
            </form>
          </v-tab>

          <v-tab  title="Serie y Folio" icon="fa fa-file-text"  key='second'  >
          <form  @submit.prevent="insertar2('principal')" data-vv-scope="principal" autocomplete="false" >
                <!-- <div class="col-md-12"> -->
                  
                  <div class="row"></div>
            
             <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
               <h4>Folio Recibo</h4>
                <input
                  type="number"
                  name="Folio"
                  min="0"
                  step="any"
                  v-model="body.Folio"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
             </div>
 <div class="row"></div>
            

                  <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                        <h4>Serie Recibo</h4>
                            <input
                              type="text"
                              step="any"
                              min="0"
                              name="Serie"
                              v-model="body.Serie"
                              v-validate="'required'"
                              class="form-control text-capitalize"
                            />
                  </div>


              
             <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <!-- <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button> -->
                </div>
              </div>
            
             </form>
          
          </v-tab>


        <v-tab  title="Mensajes Texto" icon="fa fa-comment"  key='tres' v-model="tab2" id="dos" >
          <form  @submit.prevent="insertar1('principal')" data-vv-scope="principal" autocomplete="false" >
                <!-- <div class="col-md-12"> -->
       
               <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                        <h4>Mensaje:</h4>

                        <textarea id="w3review"  v-model="body.Mensaje" name="w3review" rows="4" cols="50">
                        </textarea>
                            <!-- <input
                              type="text"
                              step="any"
                              min="0"
                              name="Serie"
                              v-model="body.Mensaje"
                              v-validate="'required'"
                              class="form-control text-capitalize"
                            /> -->
                  </div>

              
             <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <!-- <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button> -->
                </div>
              </div>
            
             </form>
          
          </v-tab>


             <v-tab  title="Usuario Alegra" icon="fa fa-user"  key='Tres'  >
          <form  @submit.prevent="insertar3('principal')" data-vv-scope="principal" autocomplete="false" >
                <!-- <div class="col-md-12"> -->
                  
                  <div class="row"></div>
            
             <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
               <h4>Usuario</h4>
                <input
                  type="text"
                  name="usuario"
                  min="0"
                  step="any"
                  v-model="Alegra.Usuario"
                  v-validate="'required'"
                  class="form-control "
                />
             </div>

               <div class="row"></div>
            

                  <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                        <h4>Token</h4>
                            <input
                              type="text"
                              step="any"
                              min="0"
                              name="Serie"
                              v-model="Alegra.Token"
                              v-validate="'required'"
                              class="form-control "
                            />
                  </div>


              
             <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <!-- <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button> -->
                </div>
              </div>
            
             </form>
          
          </v-tab>

           <v-tab  title="Generales Correo" icon="fa fa-user"  key='4'  >
          <form  @submit.prevent="insertar4('principal')" data-vv-scope="principal" autocomplete="false" >
                <!-- <div class="col-md-12"> -->
                  
                  <div class="row"></div>
                  
                  <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                    <h4>Cuenta</h4>
                      <input
                        type="text"
                        name="usuario"
                        min="0"
                        step="any"
                        v-model="General.Cuenta"
                        v-validate="'required'"
                        class="form-control "
                      />
                  </div>

               <div class="row"></div>
            

                  <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                        <h4>Contraseña</h4>
                            <input
                              type="text"
                              step="any"
                              min="0"
                              name="Serie"
                              v-model="General.Password"
                              v-validate="'required'"
                              class="form-control "
                            />
                  </div>


   <div class="row"></div>
            

                  <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                        <h4>Host</h4>
                            <input
                              type="text"
                              step="any"
                              min="0"
                              name="Serie"
                              v-model="General.Host"
                              v-validate="'required'"
                              class="form-control "
                            />
                  </div>

                   <div class="row"></div>
            

                  <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                        <h4>Port</h4>
                            <input
                              type="number"
                              step="any"
                              min="0"
                              name="Serie"
                              v-model="General.Port"
                              v-validate="'required'"
                              class="form-control "
                            />
                  </div>

              
             <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <!-- <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button> -->
                </div>
              </div>
            
             </form>
          
          </v-tab>

          
          <v-tab  title="Epayco" icon="fa fa-card"  key='5'  >
          <form  @submit.prevent="insertar5('principal')" data-vv-scope="principal" autocomplete="false" >
                <!-- <div class="col-md-12"> -->
          

               <div class="row"></div>
            

                  <div class="col-md-4 col-md-offset-4" style="margin-top:20px">
                        <h4>PUBLIC_KEY</h4>
                            <input
                              type="text"
                              step="any"
                              min="0"
                              name="Serie"
                              v-model="Epayco.Public_Key"
                              v-validate="'required'"
                              class="form-control "
                            />
                  </div>


              
             <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <!-- <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button> -->
                </div>
              </div>
            
             </form>
          
          </v-tab>

          <!-- <v-tab  title="Datos adicionales" icon="ti-user">



      
             
          </v-tab> -->
        </vue-tabs>
      </div>
    </div>
  </div>
</template>
<style>
input[type="file"] {
  display: none !important;
}
.vue_component__upload--image
  .upload_image_form__thumbnail
  img[data-v-590170d4] {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 200px;
  min-height: 250px;
  max-height: 100px;
  opacity: initial;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
</style>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.vue_component__upload--image {
  margin-bottom: 1em;
  border-color: #90a472;
  border-style: dashed;
}
</style>
<script>
var f = new Date();
f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear();

import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
 import moment from "moment";
// import { isNumber } from "util";
// import { truncate } from "fs";
// import VueGallery from "vue-gallery";
// import UploadImage from "vue-upload-image";
// import url from "../../urls";
Vue.prototype.$http = axios;
export default {
  name: "addClientes",
  props: ["Clv_vendedor"],

  data() {
    return {
      tabledata: [],

      activo: 1,
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },

      tipoUsuario: Vue.localStorage.get("tipoUsuario"),

      departamentos: [],
      fecha: f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear(),
      mostrar: " ",
      Epayco:{
       Public_Key:""
      },
      General:{
        Cuenta: "",
        Password:"",
        Host:"",
        Port:"",


      },
      body: {
        Monto:0,
        Folio:0,
        Serie:"",
        Mensaje:"",
        IVA:0        

       
      },

         Alegra: {
        Usuario:"",
        Token:""
      },

       money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      moneyPorcentaje: {
        decimal: ".",
        suffix: "%",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      tab2:"",
      tab1:"",
      active_tab:"",
      selectedTab:"",
      // departamentos: {
      //   departamentos: []
      // },

      Clv_departamento: 0,
      TipoDepartamento: "",
      listaDepartamentos: "",
      listaEstados: [],
      listaMunicipios: [],
      listacalles: [],
      listaModelos:[],

      carga: false,
      urlAddImagen: "",
      images: [],
      index: null,
      clv_proyecto: 0,
      clv_Departamento: 0,
      IdDetalle: 0,
      listacolonias: []
    };
  },
  mounted() {
    if (this.tipoUsuario > 2) {
      this.mostrar = false;
    } else {
      this.mostrar = true;
    }

    this.getEstados();
    this.getMonto();
    this.GetFaturaSerie();
    this.GetMensaje();
    this.getUsuarioAlegra();
    this.getGenerales();
    this.getEpayco();  
    //this.getDepartamentos();
  },
  methods: {

getEpayco(){
          axios.get("/SessionWeb/GetEpayco", this.header).then(res => {
                  this.Epayco= res.data.GetEpaycoResult[0];
                  
                    
              });

        },


    getGenerales(){
          axios.get("/SessionWeb/ConGeneralCorreo", this.header).then(res => {
                  this.General= res.data.ConGeneralCorreoResult[0];
                  
                    
              });

        },


getMonto(){
          axios.get("/SessionWeb/GetMonto", this.header).then(res => {
                  this.body.Monto= res.data.GetMontoResult[0].Monto;
                  this.body.IVA = res.data.GetMontoResult[0].IVA
                   console.log(res.data.GetMontoResult[0]);

                    
              });

        },

getUsuarioAlegra(){
          axios.get("/SessionWeb/GetUsuarioAlegra", this.header).then(res => {
                  this.Alegra= res.data.GetUsuarioAlegraResult[0];
                   console.log(res.data.GetUsuarioAlegraResult[0]);
                    
              });

        },


        

GetFaturaSerie(){
          axios.get("/SessionWeb/GetFaturaSerie", this.header).then(res => {
                  this.body.Folio= res.data.GetFaturaSerieResult[0].Folio;
                  this.body.Serie= res.data.GetFaturaSerieResult[0].Serie;

                   console.log(res.data.GetFaturaSerieResult[0]);
                    
              });

        },



GetMensaje(){
          axios.get("/SessionWeb/GetMensaje", this.header).then(res => {
                  this.body.Mensaje= res.data.GetMensajeResult[0].Mensaje;

                   console.log(res.data.GetMensajeResult[0]);
                    
              });

        },


     recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },

dameCodigoarea(x){
console.log('llega', x.codigoArea);
this.body.codigoArea = x.codigoArea;

},


 getEstados() {
    
      let vm = this;
      axios.get("/SessionWeb/GetEstado", this.header).then(res => {
        vm.estados = res.data.GetEstadoResult;
        this.listaEstados = vm.estados;
      });
        
    },


    getMunicipios(x) {
    console.log('llega 2', x);
         
      axios
        .post(
          "/SessionWeb/GetMunicipiosByEstado",
          { clv_estado: x.clv_pais },
          this.header
          
        )
        .then(res => {
          this.listaMunicipios = res.data.GetMunicipiosByEstadoResult;
        });
    },



    getcolonia(x) {
    let params = {
      clv_pais:this.body.clv_pais,
      clv_ciudad: x

    }
         
      axios.post("/SessionWeb/GetColoniaPaisCiudad",params,this.header)
        .then(res => {
          this.listacolonias = res.data.GetColoniaPaisCiudadResult;
        });
    },

getcalle(x){

     axios.post("/SessionWeb/GetCalleColonia",{clv_colonia:x},this.header)
        .then(res => {
          this.listacalles = res.data.GetCalleColoniaResult;
        });

},
acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    }, 



    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
       
        if (result) {

        let params ={
             monto: this.body
        }

          axios.post("/SessionWeb/addMonto",params,this.header)
            .then(res => {

              // console.log(res.data.AddClienteResult);
              // this.body.id = res.data.AddClienteResult;
            
              this.$snotify.success(
                "Monto agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              // this.$router.push({ path: `/cliente/update/${this.body.id}` });
            });
        }else{

                this.$snotify.warning(
                "verifica que todos los campos esten llenos",
                "¡Atencion!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );

        }
      });
    },


insertar5(scope) {
      this.$validator.validateAll(scope).then(result => {
       
        if (result) {

        let params ={
             Epayco: this.Epayco
        }

          axios.post("/SessionWeb/addEpayco",params,this.header)
            .then(res => {

              // console.log(res.data.AddClienteResult);
              // this.body.id = res.data.AddClienteResult;
            
              this.$snotify.success(
                "Token Epayco agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              // this.$router.push({ path: `/cliente/update/${this.body.id}` });
            });
        }else{

                this.$snotify.warning(
                "verifica que todos los campos esten llenos",
                "¡Atencion!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );

        }
      });
    },


     insertar4(scope) {
      this.$validator.validateAll(scope).then(result => {
       
        if (result) {

        let params ={
             correo: this.General
        }

          axios.post("/SessionWeb/addGeneralcorreo",params,this.header)
            .then(res => {

              // console.log(res.data.AddClienteResult);
              // this.body.id = res.data.AddClienteResult;
            
              this.$snotify.success(
                "Generales Correo agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              // this.$router.push({ path: `/cliente/update/${this.body.id}` });
            });
        }else{

                this.$snotify.warning(
                "verifica que todos los campos esten llenos",
                "¡Atencion!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );

        }
      });
    },


  insertar3(scope) {
      this.$validator.validateAll(scope).then(result => {
       
        if (result) {

        let params ={
             Usuario: this.Alegra
        }

          axios.post("/SessionWeb/addUsuarioAlegra",params,this.header)
            .then(res => {

              // console.log(res.data.AddClienteResult);
              // this.body.id = res.data.AddClienteResult;
            
              this.$snotify.success(
                "Usuario alegra agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              // this.$router.push({ path: `/cliente/update/${this.body.id}` });
            });
        }else{

                this.$snotify.warning(
                "verifica que todos los campos esten llenos",
                "¡Atencion!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );

        }
      });
    },


    insertar2(scope) {
      this.$validator.validateAll(scope).then(result => {
       
        if (result) {

        let params ={
             serie: this.body
        }

          axios.post("/SessionWeb/addSerie",params,this.header)
            .then(res => {

              // console.log(res.data.AddClienteResult);
              // this.body.id = res.data.AddClienteResult;
            
              this.$snotify.success(
                "Serie y Folio agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              // this.$router.push({ path: `/cliente/update/${this.body.id}` });
            });
        }else{

                this.$snotify.warning(
                "verifica que todos los campos esten llenos",
                "¡Atencion!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );

        }
      });
    },

    insertar1(scope) {
      this.$validator.validateAll(scope).then(result => {
       
        if (result) {

        let params ={
             mensaje: this.body
        }

          axios.post("/SessionWeb/addMensaje",params,this.header)
            .then(res => {

              // console.log(res.data.AddClienteResult);
              // this.body.id = res.data.AddClienteResult;
            
              this.$snotify.success(
                "Mensaje agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              // this.$router.push({ path: `/cliente/update/${this.body.id}` });
            });
        }else{

                this.$snotify.warning(
                "verifica que todos los campos esten llenos",
                "¡Atencion!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );

        }
      });
    },


    validaNumericos(event) {
      if (event.charCode >= 48 && event.charCode <= 57) {
        return true;
      }

      return false;
    },
    regresar() {
      this.$router.push("/cliente");
    },
    getMediosContacto() {
      axios.get("/SessionWeb/GetMedioContacto", this.header).then(res => {
        res.data.GetMedioContactoResult.forEach(medio => {
          if (medio.estatus == false) return;
          this.medioContacto.push(medio);
        });
      });
    }
  },
  components: {
    Money,
    
  }
};
</script>