<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong
            style="font-weight:bold; border:none; margin-left:10px;"
          >Editar Configuración Sistema</strong>
          <br />
          <small>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Configuración Sistema</a>
          </small>
        </header>
      </div>
      <div class="section-body" style="padding:0 90px 0 60px">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td style="padding-bottom: 40px;">
                <div>
                  <h4>TASA</h4>                               
                  <money 
                    v-model="body.Cetes" 
                    name="Cetes" 
                    v-validate="'required'" 
                    class="form-control text-capitalize"  
                    v-bind="moneyPorcentaje">
                </money> 
                </div>
              </td>

              <!--  <td>
                <button
                  style="margin-top: 25px;"
                  @click="update('Cete')"
                  data-vv-scope="first"
                  type="submit"
                  class="btn btn-success"
                >
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Multiplicador de descuentos</h4>
                <input
                  type="number"
                  step="any"
                  min="0"
                  name="MultiplicadorDescuentos"
                  v-model="body.MultiplicadorDescuentos"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('MultiplicadorDescuentos')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Multiplicador de financiamiento</h4>
                <input
                  type="number"
                  step="any"
                  min="0"
                  name="MultiplicadorFinanciamiento"
                  v-model="body.MultiplicadorFinanciamiento"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('MultiplicadorFinanciamiento')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Expiración de validez de cotización</h4>
                <input
                  type="number"
                  name="Expiracion"
                  min="0"
                  step="any"
                  v-model="body.Expiracion"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--   <td>
                <button @click="update('Expiracion')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Folio Recibo</h4>
                <input
                  type="number"
                  name="Folio"
                  min="0"
                  step="any"
                  v-model="body.Folio"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('Folio')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Serie Recibo</h4>
                <input
                  type="text"
                  step="any"
                  min="0"
                  name="Serie"
                  v-model="body.Serie"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('Serie')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <!-- <tr>
              <td style="padding-bottom: 40px;">
                <h4>IVA</h4>
                <the-mask
                  step="any"
                  min="1"
                  :mask="['#%','###%', '##%', '#.#%']"
                  name="IVA"
                  class="form-control text-capitalize"
                  v-model="body.IVA"
                  v-validate="'required'"
                />
              </td>
              <td>
                <button @click="update('IVA')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>
            </tr>-->
            <!-- <tr>
              <td style="padding-bottom: 40px;">
                <h4>Interes por atraso de pago</h4>
                <the-mask
                  step="any"
                  min="1"
                  :mask="['#%','###%', '##%', '#.#%']"
                  name="InteresAtraso"
                  class="form-control text-capitalize"
                  v-model="body.InteresAtraso"
                  v-validate="'required'"
                />
              </td>
              <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>
            </tr> -->
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Interes por atraso de pago</h4>              
                <money 
                v-model="body.InteresAtraso" 
                name="InteresAtraso" 
                v-validate="'required'" 
                class="form-control text-capitalize"  
                v-bind="moneyPorcentaje">
                </money> 
              </td>
              <!--   <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Monto de escrituración</h4>                                        
                <money 
                v-model="body.Escrituracion" 
                name="Escrituracion" 
                v-validate="'required'" 
                class="form-control text-capitalize"  
                v-bind="moneyPorcentaje">
                </money>    
              </td>
              <!--   <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Monto de reservación</h4>
                <money 
                v-model="body.Reservacion" 
                name="Reservacion" 
                v-validate="'required'" 
                class="form-control text-capitalize"  
                v-bind="money">
                </money>               
              </td>
              <!--   <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
              <tr>
                <td style="padding-bottom: 40px;">
                <div>
                  <h4>Descuento por enganche</h4>                               
                  <money 
                    v-model="body.DescuentoEnganche" 
                    name="Cetes" 
                    v-validate="'required'" 
                    class="form-control text-capitalize"  
                    v-bind="moneyPorcentaje">
                </money> 
                </div>
              </td>
              </tr>

            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pull-right" style="margin-bottom:15px; margin-right:35px">
        <button
          @click="validacion('InteresAtraso')"
          style="margin-right: 25px;"
          type="submit"
          class="btn btn-success"
        >
          Guardar
          <span class="fa fa-save"></span>
        </button>

        <button @click="$router.push('/configuracion')" class="btn btn-default">
          Salir
          <i class="fa fa-sign-out-alt"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
export default {
  name: "updateAmenitie",
  props: ["id"],
  components: {
    Money
    },
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },

      body: {
        id: this.$route.params.id,
        Cetes: 0,
        MultiplicadorDescuentos: 0,
        MultiplicadorFinanciamiento: 0,
        Expiracion: 0,
        Folio: 0,
        Serie: 0,
        IVA: 0,
        InteresAtraso: 0,
        Escrituracion: 0,
        Reservacion: 0,
        DescuentoEnganche:0
      },
       money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
       moneyPorcentaje: {
        decimal: ".",
        suffix: "%",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
    };
  },
  created() {
    this.getConfigC();
  },
  mounted() {},
  methods: {
    getConfigC() {
      axios
        .post(
          "/SessionWeb/GetConfiguracionSistemaById",
          { id: this.body.id },
          this.header
        )
        .then(res => {
          this.body = res.data.GetConfiguracionSistemaByIdResult[0];
        });
    },
    validacion() {
      if (this.body.Cetes == 0) {
        this.Error("Ingrese un valor de Cete");
        } else if (this.body.MultiplicadorDescuentos == 0) {
          this.Error("Ingrese un valor de Multiplicador de descuento");
          } else if (this.body.MultiplicadorFinanciamiento == 0) {
            this.Error("Ingrese un valor de Multiplicador de financiamiento");
            } else if (this.body.Expiracion == 0) {
              this.Error("Ingrese un valor de Expiración");
              }else if (this.body.Folio == 0) {
                this.Error("Ingrese un valor de Folio");
                }else if (this.body.Serie == 0) {
                  this.Error("Ingrese un valor de Serie");
                  } else if (this.body.InteresAtraso == 0) {
                    this.Error("Ingrese un valor de Interes por atraso de pago");
                  } else if (this.body.Escrituracion == 0) {
                    this.Error("Ingrese un valor en monto de escrituración");
                  } else if (this.body.Reservacion == 0) {
                    this.Error("Ingrese un valor en monto de reservación");
                  } else {                   
                    this.actualiza();
                  }

      /* case "IVA":
          if (this.body.IVA == 0) {
            this.Error("Ingrese un valor de IVA");
            return;
          } else {
            this.actualiza();
            return;
          } */
    },
    actualiza() {  
      axios
        .post("/SessionWeb/UpdateConfiguracionSistema", this.body, this.header)
        .then(res => {
          this.regresar();
        });
    },
    regresar() {
      this.$router.push("/configuracion");
    },
    Error(mensage) {
      this.$snotify.error(mensage, "¡Error!", {
        timeout: 1500,
        showProgressBar: false,
        closeOnClick: false,
        pauseOnHover: true
      });
    }
  }
};
</script>
