<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong
            style="font-weight:bold; border:none; margin-left:10px;"
          >Editar Configuración Sistema</strong>
          <br />
          <small>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Configuración Sistema</a>
          </small>
        </header>
      </div>
      <div class="section-body" style="padding:0 90px 0 60px">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td style="padding-bottom: 40px;">
                <div>
                  <h4>TASA</h4>                               
                  <money 
                    v-model="body.Cetes" 
                    name="Cetes" 
                    v-validate="'required'" 
                    class="form-control text-capitalize"  
                    v-bind="moneyPorcentaje">
                </money> 
                </div>
              </td>

              <!--  <td>
                <button
                  style="margin-top: 25px;"
                  @click="update('Cete')"
                  data-vv-scope="first"
                  type="submit"
                  class="btn btn-success"
                >
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Multiplicador de descuentos</h4>
                <input
                  type="number"
                  step="any"
                  min="0"
                  name="MultiplicadorDescuentos"
                  v-model="body.MultiplicadorDescuentos"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('MultiplicadorDescuentos')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Multiplicador de financiamiento</h4>
                <input
                  type="number"
                  step="any"
                  min="0"
                  name="MultiplicadorFinanciamiento"
                  v-model="body.MultiplicadorFinanciamiento"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('MultiplicadorFinanciamiento')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Expiración de validez de cotización</h4>
                <input
                  type="number"
                  name="Expiracion"
                  min="0"
                  step="any"
                  v-model="body.Expiracion"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--   <td>
                <button @click="update('Expiracion')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Folio Recibo</h4>
                <input
                  type="number"
                  name="Folio"
                  min="0"
                  step="any"
                  v-model="body.Folio"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('Folio')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Serie Recibo</h4>
                <input
                  type="text"
                  step="any"
                  min="0"
                  name="Serie"
                  v-model="body.Serie"
                  v-validate="'required'"
                  class="form-control text-capitalize"
                />
              </td>
              <!--  <td>
                <button @click="update('Serie')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <!-- <tr>
              <td style="padding-bottom: 40px;">
                <h4>IVA</h4>
                <the-mask
                  step="any"
                  min="1"
                  :mask="['#%','###%', '##%', '#.#%']"
                  name="IVA"
                  class="form-control text-capitalize"
                  v-model="body.IVA"
                  v-validate="'required'"
                />
              </td>
              <td>
                <button @click="update('IVA')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>
            </tr>-->
            <!-- <tr>
              <td style="padding-bottom: 40px;">
                <h4>Interes por atraso de pago</h4>
                <the-mask
                  step="any"
                  min="1"
                  :mask="['#%','###%', '##%', '#.#%']"
                  name="InteresAtraso"
                  class="form-control text-capitalize"
                  v-model="body.InteresAtraso"
                  v-validate="'required'"
                />
              </td>
              <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>
            </tr> -->
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Interes por atraso de pago</h4>              
                <money 
                v-model="body.InteresAtraso" 
                name="InteresAtraso" 
                v-validate="'required'" 
                class="form-control text-capitalize"  
                v-bind="moneyPorcentaje">
                </money> 
              </td>
              <!--   <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Monto de escrituración</h4>                                        
                <money 
                v-model="body.Escrituracion" 
                name="Escrituracion" 
                v-validate="'required'" 
                class="form-control text-capitalize"  
                v-bind="moneyPorcentaje">
                </money>    
              </td>
              <!--   <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>
            <tr>
              <td style="padding-bottom: 40px;">
                <h4>Monto de reservación</h4>
                <money 
                v-model="body.Reservacion" 
                name="Reservacion" 
                v-validate="'required'" 
                class="form-control text-capitalize"  
                v-bind="money">
                </money>               
              </td>
              <!--   <td>
                <button @click="update('InteresAtraso')" style="margin-top: 25px;" type="submit" class="btn btn-success">
                  Guardar
                  <span class="fa fa-save"></span>
                </button>
              </td>-->
            </tr>

            <tr>
                <td style="padding-bottom: 40px;">
                <div>
                  <h4>Descuento por enganche</h4>                               
                  <money 
                    v-model="body.DescuentoEnganche" 
                    name="Cetes" 
                    v-validate="'required'" 
                    class="form-control text-capitalize"  
                    v-bind="moneyPorcentaje">
                </money> 
                </div>
              </td>
              </tr>





            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pull-right" style="margin-bottom:15px; margin-right:35px">
        <button
          @click="validacion"
          style="margin-right: 25px;"
          type="button"
          class="btn btn-success"
        >
          Guardar
          <span class="fa fa-save"></span>
        </button>

        <button @click="$router.push('/configuracion')" class="btn btn-default">
          Salir
          <i class="fa fa-sign-out-alt"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #87CEFA;
}
</style>
<style type="text/css">
	.table-scroll {
        height:350px;
        overflow:auto;  
        margin-top:20px;
    }
    .table-scroll-docs {
        height:300px;
        overflow:auto;  
    }
    .table-HisFac {
        height:300px;
        overflow:auto;
    }
    .table-OrdSer {
        height:300px;
        overflow:auto;
    }
    .table-Reportes {
        height:300px;
        overflow:auto;
    }
    .input-sm {
        font-size: 12px;
    }

    .nav-tabs{
        float:left;
        font-size: 13px;
    }
    .contect-tabs{
        float:left;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }
    .span-info{
        color: #2196f3;
    }
    .span-danger{
        color: #f44336;
    }
</style>
<style type="text/css">
    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
    #wrapper.toggled {
        padding-left: 200px;
    }
    #sidebar-wrapper {
        box-shadow: 0 1px 1px rgba(135,206,250);
        border-radius: 0px 10px 10px 0px;
        z-index: 400;
        position: absolute;
        left: 250px;
        width: 0;
        top:20px;
        height: 400px;
        margin-left: -250px;
        overflow-y: auto;
        background-color:#B0E0E6 !Important;/*Fondo*/
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 10px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-left:-250px;
    }
    .sidebar-nav {
        position: absolute;
        top: 0;
        right: 15px;
        width: 255px;/*Opcion Respecto a lo ancho*/
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }
    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: black;
    }
    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #146bb3;
        font-weight: bold;
    }
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }
    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 0px;
        line-height: 0px;
    }
    .sidebar-nav > .sidebar-brand a {
        color:#87CEFA;
    }
    .sidebar-nav > .sidebar-brand a:hover {
        color: black;
        background: none;
    }
    @media(min-width:768px) {
        #wrapper {
            padding-left: 220px;
        }
        #wrapper.toggled {
            padding-left: 0;
        }
        #sidebar-wrapper {
            width: 250px;/*Menu - Ancho*/
        }
        #wrapper.toggled #sidebar-wrapper {
            width: 40px;
        }
        #wrapper.toggled span {
            visibility:hidden; 
        }
        #wrapper.toggled  i{
            float:right;
        } 
        #page-content-wrapper {
            padding: 20px;
            position: absolute;
        }
        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: 0;
        }
    }
    @media(max-width:414px) {
        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right:60px;
        }
        #wrapper.toggled {
            padding-right: 60px;
        }
        #wrapper {
            padding-left: 20px;
        }
        #wrapper.toggled {
            padding-left: 0;
        }
        #sidebar-wrapper {
            width: 50px;
        }
        #wrapper.toggled #sidebar-wrapper {
            width: 140px;
        }
        #wrapper.toggled span {
            visibility:visible;
            position: absolute;
            left:70px;
            bottom:13px;
        }
        #wrapper span {
            visibility:hidden;
        }
        #wrapper.toggled   i {
            float:right;
        } 
        #wrapper   i {
            float:right;
        } 
        #page-content-wrapper {
            padding: 5px;
            position: absolute;
        }
        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: 0;
        }
    }
</style>

<style>
input[type="file"] {
  display: none !important;
}
.vue_component__upload--image
  .upload_image_form__thumbnail
  img[data-v-590170d4] {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 200px;
  min-height: 250px;
  max-height: 100px;
  opacity: initial;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
</style>

<style scoped >

.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.vue_component__upload--image {
  margin-bottom: 1em;
  border: 1px solid red;
}
</style>


<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
export default {
  name: "addConfiguracion",
  components: {
    Money
    },
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },

      body: {
        Cetes: 0,
        MultiplicadorDescuentos: 0,
        MultiplicadorFinanciamiento: 0,
        Expiracion: 0,
        Folio: 0,
        Serie: 0,
        IVA: 0,
        InteresAtraso: 0,
        Escrituracion: 0,
        Reservacion: 0,
        DescuentoEnganche:0
      },
       money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      moneyPorcentaje: {
        decimal: ".",
        suffix: "%",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
    };
  },
  methods: {
    validacion() {
      if (this.body.Cetes == 0) {
        this.Error("Ingrese un valor de Cete");
        } else if (this.body.MultiplicadorDescuentos == 0) {
          this.Error("Ingrese un valor de Multiplicador de descuento");
          } else if (this.body.MultiplicadorFinanciamiento == 0) {
            this.Error("Ingrese un valor de Multiplicador de financiamiento");
            } else if (this.body.Expiracion == 0) {
              this.Error("Ingrese un valor de Expiración");
              }else if (this.body.Folio == 0) {
                this.Error("Ingrese un valor de Folio");
                }else if (this.body.Serie == 0) {
                  this.Error("Ingrese un valor de Serie");
                  } else if (this.body.InteresAtraso == 0) {
                    this.Error("Ingrese un valor de Interes por atraso de pago");
                  } else if (this.body.Escrituracion == 0) {
                    this.Error("Ingrese un valor en monto de escrituración");
                  } else if (this.body.Reservacion == 0) {
                    this.Error("Ingrese un valor en monto de reservación");
                  } else {                   
                    this.insertar();
                  }
  
    },
       insertar(){     
                        
            //console.log(this.body)
            axios.post('/SessionWeb/AddConfiguracionSistema', this.body,this.header)
            .then((res) => { 
              console.log(res.data)      
                this.$snotify.success('Configuración agregada con éxito', '¡Correcto!', {
                    timeout: 1500,
                    showProgressBar: false,
                    closeOnClick: false,
                    pauseOnHover: true
                    });      
                  this.$router.push("/configuracion");                
            })
          return;                                                                            
      },
    Error(mensage) {
      this.$snotify.error(mensage, "¡Error!", {
        timeout: 1500,
        showProgressBar: false,
        closeOnClick: false,
        pauseOnHover: true
      });
    }
  }
};
</script>




