<template>
    <div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo País</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/estado" class="paginaActiva">Direcciones</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
    			<div class="col-md-4 col-md-offset-4" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
                <div class="col-md-12 form-group">
			        	<font size=4><strong>Nombre</strong></font>
                <div class="row"></div>
                <input name="nombre" v-model="nombre"  v-validate="'required'" class="form-control text-capitalize" type="text">
                <div class="row"></div>
                <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                </div>
                <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                </form>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addEstados",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      nombre: "",
      listaEstados: []
    };
  },
  mounted() {
    this.getEstados();
  },
  methods: {
    ExisteNombre() {
      for (var a = 0; a < this.listaEstados.length; a++) {
        if (
          this.listaEstados[a].nombre.toLowerCase() == this.nombre.toLowerCase()
        ) {
          return true;
        }
      }
      return false;
    },

    getEstados() {
      let vm = this;
      axios.get("/SessionWeb/GetEstado", this.header).then(res => {
        this.listaEstados = res.data.GetEstadoResult;
      });
    },

    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if (this.ExisteNombre()) {
            this.$snotify.error(
              "El País ya ha sido registrado",
              "¡Atención!"
            );
            return;
          }
          let body = {
            nombre: this.nombre
          };
          axios.post("/SessionWeb/AddEstado", body, this.header).then(res => {
            this.$snotify.success("País agregado con éxito", "¡Correcto!", {
              timeout: 1500,
              showProgressBar: false,
              closeOnClick: false,
              pauseOnHover: true
            });
            this.$router.push("/estado");
            
          });
          return;
        }
      });
    },
    regresar() {
      this.$router.push("/estado");
   
    }
  }
};
</script>
