<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Editar Usuario</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Configuración > Editar </small>
		</header>
	</div>
	<div class="section-body">
    			<div class="col-md-4 col-lg-offset-4" style="padding-top: 10px;">	
                <form  @submit.prevent="update('principal')" data-vv-scope='principal'>			
                <div class="col-md-12 form-group">
				<span>Nombre</span>
                <div class="row"></div>
                <input name="nombre" v-model="nombre"  v-validate="'required'" class="text-capitalize form-control" type="text">
                <div class="row"></div>
                <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                </div>
                <div class="col-md-12 form-group">
				<span>Correo</span>
                <div class="row"></div>
                <input type="text" name="correo" class="form-control" v-model="correo" v-validate="'required|email'">
                <div class="row"></div>
                <i v-show="errors.has('principal.correo')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.correo')" class="help is-danger text-danger">{{ errors.first('principal.correo') }}</span>
                </div>
             <!--    <div class="col-md-12 form-group">
				<span>Contraseña</span>
                <div class="row"></div>
                <input type="text" name=pass class="form-control" v-model="contrasenia" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.pass')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.pass')" class="help is-danger text-danger"> El campo contraseña es obligatorio</span>
                </div> -->
                <div class="col-md-12 form-group">
				<span>Tipo de Usuario</span>
                <select class="form-control text-capitalize" v-model="tipoUsuario" v-validate="'required'" name="tipoUsuario" :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in ListatipoUsuarios" :key="option.Id" v-bind:value="option.Id" >{{option.Nombre}}</option>
                </select>                
                <i v-show="errors.has('principal.tipoUsuario')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.tipoUsuario')" class="help is-danger text-danger"> El campo tipo Usuario es obligatorio</span>
                </div>
           <div class="col-md-12">                
               <p-check class="p-svg p-curve" color="success" v-model="activo">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             Activo
                           </p-check>
                </div>
                  <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                </form>
		</div>
	</div>
</div>
    </div>
</template>


<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "updateUsuarios",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      clave: "",
      usuarios: "",
      nombre: "",
      //contrasenia:'',
      correo: "",
      activo: false,
      ListatipoUsuarios: [],
      tipoUsuario: ""
    };
  },
  created() {
    this.getUsuariosC();
    this.getTiposUsuario()
  },
  methods: {
    getTiposUsuario() {
      let vm = this;
      axios.get("/SessionWeb/GetTiposUsuario", this.header).then(res => {
        console.log(res);
        vm.ListatipoUsuarios = res.data.GetTiposUsuarioResult.filter((i)=> i.Activo == true);
      });
    },
    getUsuariosC() {
      axios
        .post(
          "/SessionWeb/GetUsuariosC",
          { 'clv_usuario': this.$route.params.id },
          this.header
        )
        .then(res => {            
           this.clave = res.data.GetUsuariosCResult[0].clv_usuario
            this.nombre = res.data.GetUsuariosCResult[0].nombre
            this.correo = res.data.GetUsuariosCResult[0].correo
            //this.contrasenia = res.data.GetUsuariosCResult[0].contrasenia,
            this.activo = res.data.GetUsuariosCResult[0].activo
          this.tipoUsuario = res.data.GetUsuariosCResult[0].tipoUsuario;
          this.nombre  = res.data.GetUsuariosCResult[0].tipoVendedor;
        });
    },
    update(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
            let params= {
                nombre: this.nombre,
                clv_usuario:parseInt(this.$route.params.id),
                correo:this.correo,
                tipoUsuario: this.tipoUsuario,
                activo:this.activo
            }         
          axios
            .post("/SessionWeb/UpdateUsuarios", params, this.header)
            .then(res => {         
              
              
              console.log(res.data.UpdateUsuariosResult);

              this.$snotify.success(
                "Usuario actualizado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
          this.$router.push("/usuarios");
            });
        }
      });
    },
    regresar() {
  this.$router.push("/usuarios");
    }
  }
};
</script>

