<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">{{titulo}}</strong>
          <br />
          <small>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Configuración</a>
          </small>
        </header>
      </div>
      <div class="card-body">
        <vue-tabs active-tab-color="#264562" active-text-color="white">
          <v-tab title="Datos generales" icon="ti-user">
          
             
              <form @submit.prevent="insertar('principal')" data-vv-scope="principal">

                <h3>Datos del Usuario</h3>
                <div class="col-md-4 col-md-offset-2">
 
                    <div class="col-md-12">
                <font size=3><strong>Nombre Completo</strong></font>
                <div class="row"></div>
                <input
                  name="nombrevendedor"
                  v-model="datosVendedor.nombreVendedor"
                  v-validate="'required'"
                  class="text-capitalize form-control"
                  type="text"
                />
                <div class="row"></div>
                <i v-show="errors.has('principal.nombrevendedor')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.nombrevendedor')"
                  class="help is-danger text-danger"
                >El campo nombre es obligatorio</span>
              </div>

                <div class="col-md-12">
                  <br>
                  <font size=3><strong>Login</strong></font>
                  <div class="row"></div>
                  <input
                    name="login"
                    v-model="usuario.nombre"
                    v-validate="'required|min:3|max:7'"
                    style="text-transform:uppercase"
                    class="form-control"
                    type="text"
                  />
                  <div class="row"></div>
                  <i v-show="errors.has('principal.login')" class="fa fa-warning"></i>
                  <span
                    v-show="errors.has('principal.login')"
                    class="help is-danger text-danger"
                  >{{ errors.first('principal.login') }}</span>
                </div>
                <div class="col-md-12">
                  <br>
                  <font size=3><strong>Correo</strong></font>
                  <div class="row"></div>
                  <input
                    type="text"
                    name="correo"
                    class="form-control"
                    v-model="usuario.correo"
                    v-validate="'required|email'"
                  />
                  <div class="row"></div>
                  <i v-show="errors.has('principal.correo')" class="fa fa-warning"></i>
                  <span
                    v-show="errors.has('principal.correo')"
                    class="help is-danger text-danger"
                  >{{ errors.first('principal.correo') }}</span>
                </div>

               </div>
                <div class="col-md-4 ">
                  
                  <div id="app"  class="col-md-10">                   
                  <font size=3><strong>Contraseña</strong></font>

                  <div class="row"></div>
                  

                   <input :type="passwordFieldType"
                    name="pass"
                    class="form-control"
                    v-model="usuario.contrasenia"
                    v-validate="'required'"
                  /><button type="button"  style="font-size: 10px" @click="switchVisibility"><span :class='{"fa fa-eye": true , " fa-eye": ocultaContrasenia, "fa-eye-slash": muestraContrasenia }'></span> </button>
                 


                  <div class="row"></div>
                  <i v-show="errors.has('principal.pass')" class="fa fa-warning"></i>
                  <span
                    v-show="errors.has('principal.pass')"
                    class="help is-danger text-danger"
                  >El campo contraseña es obligatorio</span>
               

                </div>

                
                    <!-- <button type="password" @click="switchVisibility">show / hide</button> -->

                <div class="col-md-12">
                   <br>
                  <font size=3><strong>Tipo de Usuario</strong></font>
                  <select
                    class="form-control text-capitalize"
                    @change="usuarioSeleccionado(usuario.tipoUsuario)"
                    v-model="usuario.tipoUsuario"
                    v-validate="'required'"
                    name="tipoUsuario"
                    :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'"
                  >
                    <option value>Selecciona</option>
                    <option
                      v-for="option in ListatipoUsuarios"
                      :key="option.Id"
                      v-bind:value="option.Id"
                    >{{option.Nombre}}</option>
                  </select>
                  <i v-show="errors.has('principal.tipoUsuario')" class="fa fa-warning"></i>
                  <span
                    v-show="errors.has('principal.tipoUsuario')"
                    class="help is-danger text-danger"
                  >El campo tipo Usuario es obligatorio</span>
                </div>
                <div class="col-md-6">
                  <br>
                  <p-check class="p-svg p-curve" color="success" v-model="usuario.activo">
                    <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                      <path
                        d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                        style="stroke: white;fill:white"
                      />
                    </svg>
                    Activo
                  </p-check>
                </div>

                <!-- <div class="col-md-6">
                   <br>
                  <p-check class="p-svg p-curve" color="success" v-model="vendedor">
                    <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                      <path
                        d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                        style="stroke: white;fill:white"
                      />
                    </svg>
                    El usuario es vendedor
                  </p-check>
                </div>
                  -->
               </div>

                
                


                <div class="col-md-12">
                  <div class="col-md-3 col-md-offset-9">
                       <button type="submit" class="btn btn-success">
              Registrar
              <span class="fa fa-check"></span>
            </button>
              <button @click="regresar" type="button" class="btn btn-default pull-right">
              Cancelar
              <span class="fa fa-sign-out-alt"></span>
            </button>
                  </div>
         
        </div>
              </form>
         

           

          </v-tab>
<!-- 
          <v-tab v-if="vendedor" title="Datos del vendedor" icon="ti-user">
            <form @submit.prevent="insertar('principal')" data-vv-scope="principal">
            <div class="col-md-4">
              <div class="col-md-12 form-group">
                <font size=3><strong>Tipo de Vendedor</strong></font>
                <select
                  class="form-control text-capitalize"
                  v-model="usuario.clv_tipoVendedor"
                  v-validate="'required'"
                  name="tipoVendedor"
                  :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'"
                >
                  <option value>Selecciona</option>
                  <option
                    v-for="option in ListatipoVendedores"
                    :key="option.Id"
                    v-bind:value="option.Id"
                  >{{option.Descripcion}}</option>
                </select>
                <i v-show="errors.has('principal.tipoVendedor')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.tipoVendedor')"
                  class="help is-danger text-danger"
                >El campo tipo vendedor es obligatorio</span>
              </div>

              

              <div class="col-md-12 form-group">
                <font size=3><strong>RFC</strong></font>
                <div class="row"></div>
                <input
                  name="rfc"
                  minlength="12"
                  maxlength="13"
                  v-model="datosVendedor.rfc"
                  v-validate="'required'"
                  style="text-transform:uppercase;"
                  class="text-capitalize form-control"
                  type="text"
                />
                <div class="row"></div>
                <i v-show="errors.has('principal.rfc')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.rfc')"
                  class="help is-danger text-danger"
                >El campo RFC es obligatorio</span>
              </div>

              <div class="col-md-12 form-group">
                <font size=3><strong>CURP</strong></font>
                <div class="row"></div>
                <input
                  name="CURP"
                  maxlength="18"
                  v-model="datosVendedor.curp"
                  class="text-capitalize form-control"
                  style="text-transform:uppercase;"
                  type="text"
                />               
              </div>

              <div class="col-md-12 form-group">
                <font size=3><strong>Celular</strong></font>
                <div class="row"></div>
                <the-mask
                  :mask="['(###) ###-####']"
                  v-model="datosVendedor.celular"
                  v-validate="'required'"                
                  class="text-capitalize form-control"
                />
                <div class="row"></div>
                <i v-show="errors.has('principal.celular')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.celular')"
                  class="help is-danger text-danger"
                >El Celular nombre es obligatorio</span>
              </div>
            </div>


            <div class="col-md-6">
              <div class="col-md-6 card" style="height:380px;">
                <h5 class="text-center">Asignación de proyectos</h5>
                <div class="col-md-12" style="max-height:320px; overflow-y:scroll;">
                  <table class="table">
                    <thead>
                      <th>Nombre</th>                     
                      <th>Asignar</th>
                    </thead>
                    <tbody>
                      <tr v-for="(x, index) in proyectos" :key="x.clv_proyecto">
                        <td hidden>{{x.clv_proyecto}}</td>
                        <td>{{x.nombre}}</td>
                    
                        <td>
                          <button
                            @click="Asignar(x.clv_proyecto, index)"
                            class="btn btn-success btn-xs"
                          >
                            <i class="fa fa-hand-pointer" aria-hidden="true"></i> Asignar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6 card" style="height:380px;">
                <h5 class="text-center">Proyectos Asignados</h5>
                <div class="col-md-12" style="max-height:320px; overflow-y:scroll;">
                  <table class="table">
                    <thead>
                      <th>Nombre</th>                     
                      <th>Asignar</th>
                    </thead>
                    <tbody>
                      <tr v-for="(x, index) in proyectos_asignados " :key="x.clv_proyecto">
                        <td hidden>{{x.clv_proyecto}}</td>
                        <td>{{x.nombre}}</td>                      
                        <td>
                          <button
                            @click="Eliminar(x.clv_proyecto, index)"
                            class="btn btn-danger btn-xs"
                          >
                            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <div class="col-md-12">
          <div class="col-md-3 pull-right" style="padding:15px; margin-top:15px;">
            <button type="submit" class="btn btn-success">
              Registrar
              <span class="fa fa-check"></span>
            </button>
            <button @click="regresar" type="button" class="btn btn-default" style="margin-left:10px">
              Cancelar
              <span class="fa fa-sign-out-alt"></span>
            </button>
          </div>
        </div>
            </form>
          </v-tab> -->
        </vue-tabs>
        
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  el: '#addUsuarios',
  name: "addUsuarios",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      usuario: {
        clv_usuario: 0,
        correo: "",
        nombre: "",
        contrasenia: "",
        activo: true,
        tipoUsuario: '',
        clv_tipoVendedor: 0
      },
      datosVendedor: {
        celular: "",
        tipoVendedor: 0,
        curp: "",
        rfc: "",
        nombreVendedor: ""
      },
      vendedor: false,
      ListatipoUsuarios: [],
      ListatipoVendedores: [],
      titulo: "",
      proyectos: [],
      proyectos_asignados: [],
      passwordFieldType: 'password',
      muestraContrasenia: false,
      ocultaContrasenia: false 


    };
  },
  mounted() {
    if (this.$route.params.id) {
      this.getUsuario(this.$route.params.id);
      this.getEstatus();
      // this.getProyectosUsuarios();
      this.titulo = "Editar Usuario";
    } else {
      this.titulo = "Nuevo Usuario";
      this.getProyectos();
    }
    this.getTiposUsuario();
    this.getTipoVendedor();
  },
  methods: {
 switchVisibility() {
      // this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
      if (this.passwordFieldType == 'password'){
        this.passwordFieldType = 'text'
        this.muestraContrasenia = true
        this.ocultaContrasenia=false
      }else{
          this.passwordFieldType = 'password'
           this.muestraContrasenia = false
           this.ocultaContrasenia=true
      }
    },









    getUsuario(id) {
      let vm = this;
      axios
        .post("/SessionWeb/GetUsuariosC", { clv_usuario: id }, this.header)
        .then(res => {
          console.log(res);
          vm.usuario = res.data.GetUsuariosCResult;
          vm.vendedor =
          res.data.GetUsuariosCResult.clv_tipoVendedor == 0 ? false : true;
          vm.datosVendedor = res.data.GetUsuariosCResult.detalleVendedor;
          vm.datosVendedor.nombreVendedor =  res.data.GetUsuariosCResult.tipoVendedor
        });
    },
    getTiposUsuario() {
      let vm = this;
      axios.get("/SessionWeb/GetTiposUsuario", this.header).then(res => {
        console.log(res);
        vm.ListatipoUsuarios = res.data.GetTiposUsuarioResult.filter(
          i => i.Activo == true
        );
      });
    },
    getTipoVendedor() {
      let vm = this;
      axios.get("/SessionWeb/GetTipoVendedor", this.header).then(res => {
        vm.ListatipoVendedores = res.data.GetTipoVendedorResult;
        console.log(res);
      });
    },
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
            
          if (this.vendedor) {
            if (!this.usuario.clv_tipoVendedor > 0) {
              this.$snotify.error("Seleccione un tipo de vendedor");
              return;
            }            

            let pattern = /^[a-zA-Z]{3,4}(\d{6})((\D|\d){2,3})?$/;
            // console.log(pattern.test(this.datosVendedor.rfc))
            // if (!pattern.test(this.datosVendedor.rfc)) {
            //   this.$snotify.error("Ingrese un RFC Válido");
            //   return;
            // }
          }        

          let params = {
            usuario: this.usuario,
            vendedor: this.datosVendedor
          };

          if (this.usuario.clv_usuario === 0) {
            axios
              .post("/SessionWeb/AddUsuario", params, this.header)
              .then(res => {
                console.log(res.data.AddusuarioResult);
                let control = 0;
                if (res.data.AddusuarioResult === 0) {
                  this.$snotify.error("El Login que intenta registrar ya existe");
                  return;
                }

                if (res.data.AddusuarioResult === -1) {
                  this.$snotify.error("El Correo que intenta registrar ya existe");
                  return;
                }

                this.proyectos_asignados.forEach((el, index) => {                   
                  axios
                  .post(
                    "/SessionWeb/AddRelUsuarioProyecto",
                    { idUsuario: res.data.AddusuarioResult, idProyecto: el.clv_proyecto },
                    this.header
                  )
                  .then(res => {                    
                                        
                    if (control == (this.proyectos_asignados.length - 1)) {
                    this.$snotify.success("Usuario agregado con éxito");
                    this.$router.push("/usuarios");
                    }
                    control++;                    
                  });
                });                                 
                if (this.proyectos_asignados.length === 0) {
                      this.$snotify.success("Usuario agregado con éxito");
                      this.$router.push("/usuarios");
                    }
             });
          } else {
            axios
              .post("/SessionWeb/UpdateUsuarios", params, this.header)
              .then(res => {

                if (res.data.UpdateUsuariosResult === 0) {
                  this.$snotify.error("El Login que intenta registrar ya existe");
                  return;
                }

                if (res.data.UpdateUsuariosResult === -1) {
                  this.$snotify.error("El Correo que intenta registrar ya existe");
                  return;
                }
                this.$snotify.success(
                  "Usuario Actualizado con éxito",
                  "¡Correcto!"
                );
                //this.$router.push("/usuarios");
              });
          }
        }else{
          this.$snotify.error(
                  "Complete la información del usuario",
                  "¡Error!"
                );
        }
      });
    },
    usuarioSeleccionado(seleccion) {
      seleccion == 5 ? (this.vendedor = true) : this.vendedor = false;
    },
    regresar() {
      this.$router.push("/usuarios");
    },

    // getProyectosUsuarios() {
    //   let vm = this;
    //   vm.proyectos_asignados = [];
    //   axios
    //     .post(
    //       "/SessionWeb/GetRelUsuarioProyectoById",
    //       { id: this.$route.params.id },
    //       this.header
    //     )
    //     .then(function(res) {
    //       console.log(res.data.GetRelUsuarioProyectoByIdResult);
    //       vm.proyectos_asignados = res.data.GetRelUsuarioProyectoByIdResult;
    //     });
    // },
    Asignar(item, index) {
      this.proyectos_asignados.push(this.proyectos[index]);
      this.proyectos.splice(index, 1);
    if (this.$route.params.id) {
    axios
        .post(
          "/SessionWeb/AddRelUsuarioProyecto",
          { idUsuario: this.$route.params.id, idProyecto: item },
          this.header
        )
        .then(res => {
          
        });
    }
    },
    getEstatus() {
      axios
        .post(
          "/SessionWeb/GetRelUsuarioProyectoDisponibles",
          { idUsuario: this.$route.params.id },
          this.header
        )
        .then(res => {
          this.proyectos = res.data.GetRelUsuarioProyectoDisponiblesResult;
        });
    },
    Eliminar(id, index) {
      this.proyectos.push(this.proyectos_asignados[index]);
      this.proyectos_asignados.splice(index, 1);
      if (this.$route.params.id) {
      axios
        .post("/SessionWeb/DeleteRelUsuarioProyecto", { id: id }, this.header)
        .then(res => {
          this.proyectos = [];
          this.getEstatus();
        });
      }
    },
     getProyectos() {
      let vm = this;
      axios.get("/SessionWeb/GetAllProyectos", this.header).then(res => {
        vm.proyectos = res.data.GetAllProyectosResult;
      });
     },
     
  }
};
</script>
