<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo Espacio departamento</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/" class="paginaActiva"> Catálogo Departamento</a>
            </small>   
		</header>
	</div>
<div class="card-body">
    			<div class="col-md-5 col-md-offset-3" style="padding-top: 10px;">	
          <form @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
               
          <div class="row form-group">
          <font size=4><strong>Nombre</strong></font>
          <div class="row"></div>
          <input name="nombre" v-model="nombre"  v-validate="'required'" class="text-capitalize form-control" type="text">
          <div class="row"></div>

          <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
          <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
          </div>
     

     <div class="row">
           <br>
                  <p-check class="p-svg p-curve" color="success" v-model="suma">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             <strong>¿Se incluirá en el metraje total del departamento?</strong>
                              </p-check>
                </div>

                <div class="row">
                      <br>
                  <p-check class="p-svg p-curve" color="success" v-model="activo">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             <strong>Activo</strong>
                              </p-check>
                </div>
     

                
                 <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                </form>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addVistas",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      clv_espacio_departamento: "",
      activo: true,      
      nombre: "",
      suma:true,
      listaEspDepart:[]
    };
  },
  mounted (){               
      this.getEdepartamento();         
    },
  methods: {
    getEdepartamento(){
           let vm = this;         
            axios.get('/SessionWeb/GetSpaceDept',this.header)
            .then((res) => {  
                this.listaEspDepart = res.data.GetSpaceDeptResult                                  
                                                                                                                             
            })
      },
      ExisteNombre(){      
            for(var a=0; a < this.listaEspDepart.length; a++){
                if(  this.listaEspDepart[a].nombre.toLowerCase() == this.nombre.toLowerCase() ){
                    return true;
                }
            }
            return false        
        },
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if(this.ExisteNombre()){
               this.$snotify.error('El espacio departamento ya ha sido registrado', '¡Atención!')
            return
            } 
          let body = {
            activo: this.activo,          
            nombre: this.nombre,
            suma: this.suma
          };
          axios
            .post("/SessionWeb/AddespacioDepartamento", body, this.header)
            .then(res => {
              this.$snotify.success(
                "Espacio departamento agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
          this.$router.push("/esdepartamento");
            });
          return;
        }
      });
    },
    regresar() {
  this.$router.push("/esdepartamento");
    }
  }
};
</script>
