<!DOCTYPE html>
<html lang="en">
  <head>
<style>
body {
  background-image: url('https://drive.google.com/uc?export=view&id=15L_Vvzs8p78GXyJ0ysyBpf6WVLuzf0jM');
}
</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Robinson Fullsolutions</title>
    <link type="text/css" rel="stylesheet" href="/styles/css/bootstrap.css" />  
    <link type="text/css" rel="stylesheet" href="/styles/css/materialadmin.css" />
    
  

    <link type="text/css" rel="stylesheet" href="/styles/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/styles/css/material-design-iconic-font.css" />
    <link type="text/css" rel="stylesheet" href="/styles/css/pretty-checkbox.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
     <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'
    />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css"/>
  </head>
  


  <body class="menubar-hoverable header-fixed " style="background-image:url(https://drive.google.com/uc?export=view&id=1Fuw5vkqa7owFwr0H_cm5L2sc7MDI4SCn)" >
   <script type="text/javascript" src="https://checkout.epayco.co/checkout.js"></script>

    <noscript>
      <strong>We're sorry but inmobiliaria doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body> 
   <script src="/js/jquery.js"></script>
   <script src="/js/bootstrap.js"></script>
   <script src="/js/source/App.js"></script>
   <script src="/js/source/AppCard.js"></script>
   <script src="/js/source/AppForm.js"></script>
   <script src="/js/source/AppNavigation.js"></script>
   <script src="/js/source/AppNavSearch.js"></script>
   <script src="/js/source/AppVendor.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/javascripts/jquery.nanoscroller.min.js"></script>
 




    
</html>

