<template>
<div id="reporteDepVendidosApartados">
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Reporte de departamentos vendidos</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Reportes</a>
            </small>   
		</header>
	</div>
	<div class="card-body">

        <div class="col-md-4 card">

            <div class="card-body">

                <!-- <div class="col-md-12">.
                <label>Clientes</label>
                <select name="proyecto" class="form-control text-capitalize" @change="Getcomprador" v-model="clv_comprador" >
                    <option value="0" selected="true" disabled="disabled">Selecciona </option>
                    <option  v-for="x in tabledata" :key="x.clv_comprador" v-bind:value="x.clv_comprador" >{{x.nombre}}</option>
               </select>
            </div>

           <div class="col-md-12" style="height:150px; max-height:150px; margin-top:20px">
                <div class="col-md-12">
                    <label>Selecciona el contrato </label>
                </div>
                 <div class="col-md-12" v-for="x in contratos" :key="x">
                      <p-check class="p-svg p-curve" color="success" v-model="x.selected">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             {{x.id}}
                </p-check>
                 </div>
            </div>  -->
            

                <div class="col-md-12">

                  <font size=4><strong>Fecha Inicio</strong></font>
                  
                  <input type="date" class="form-control input-sm" v-model="FechaInicio">

                </div>

                 <div class="col-md-12">
               <font size=4><strong>Fecha Fin</strong></font>    
                     <input type="date" class="form-control input-sm" v-model="FechaFin">
                </div>
                <div class="col-md-12">
                <button class="btn btn-primary btn-block" @click="GetReporte">Generar Reporte</button>
                </div>

            </div>

            
            
        </div>
        <div class="col-md-8">
               <iframe :src="url" style="width:600px;height:600px"></iframe>
        </div>


    </div>
</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import urls from "../../urls";
export default {
  name: "reporteDepVendidosApartados",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      proyectos:[],
      listaEstatus:[],
      tabledata:[],
      contratos:[],
      clv_comprador:0,  
      clv_estatus:0,
      url:'',
      FechaInicio: new Date().toISOString().substr(0, 10),
      FechaFin:new Date().toISOString().substr(0, 10),

      params : {
        contrato: 0 ,
        nombre:'',
        segundoNombre:'',
        ApellidoPaterno:'',
        ApellidoMaterno:'',
        clv_usuario: Vue.localStorage.get("clv_usuario")
      },
    }
      
  },
  mounted(){
    this.getClientes()
    
  },
  methods:{
       GetReporte(){
     if (this.clv_proyecto == 0){
      this.$snotify.error(
       "Es importante seleccionar al menos un proyecto",
         "¡Atención!");
             return;
             }
          let torres = []
          this.torres.forEach(x=> {
              if(x.selected){
                  torres.push(x.Torre);
              }
          })

     if (torres == 0){
      this.$snotify.error(
       "Es importante seleccionar al menos una torre",
         "¡Atención!");
             return;
             }

          let params= {
              Opexportacion:1 ,
              clv_proyecto:this.clv_proyecto,
              torres: torres,
              clv_estatus: this.clv_estatus,
              fechaInicio:this.FechaInicio,
              fechaFin:this.FechaFin
          }
        axios.post("/SessionWeb/GetReporteDepartamentosApartadosVendidos", params,this.header).then(res => {
          console.log(res)
           this.url = urls.URL_REPORTES +  res.data.GetReporteDepartamentosApartadosVendidosResult
        });

          
      },
     getClientes() {

      let vm = this;
      vm.tabledata = []
      let params = {
        clv_usuario: Vue.localStorage.get("clv_usuario"),
        clv_estatus: (this.Estatus) ? this.Estatus:0,
        nombre: this.NombreCliente,
        celular: this.Celular
      };
      console.log("Clave", params);
      axios.post("/SessionWeb/GetClientes", params, this.header).then(res => {
         this.tabledata =res.data.GetClientesResult
         console.log('Resultado',this.tabledata)
         this.Getcomprador()
        });
        
    
    },
Getcomprador() {
    console.log('Claves', this.clv_comprador)
      let vm = this
      this.params.contrato =(this.params.contrato) ? this.params.contrato:0
      axios.post("/SessionWeb/GetContrato",this.params,this.header).then(res => {
      res.data.GetContratoResult.forEach(el => {
          if (el.IdCliente == this.clv_comprador){    
          console.log('filto',el.IdCliente == this.clv_comprador)            
            let obj = {
            id: el.Id,
            nombre:  el.cliente.nombre + " " +   el.cliente.otro_nombre +  " " +  el.cliente.primer_apellido +  " " + el.cliente.segundo_apellido,
            correo: el.cliente.correo,
            departamento: el.departamento.NumDepartamento,
            tipodepartamento: el.departamento.departamento,
             selected: false
          };
          vm.contratos.push(obj);
         
             }
        });

      });
    },
    //    GetTorres() {
    //        this.torres= []
    //        let vm = this
    //     let params = { clv_proyecto:this.clv_proyecto}
    //     axios.post("/SessionWeb/GetTorresProyecto", params,this.header).then(res => {
    //         res.data.GetTorresProyectoResult.forEach(function(e) {
    //             let obj = {
    //                 Torre:e,
    //                 selected: false
    //             }
    //             vm.torres.push(obj)
    //         });
          
    //     });
    //   }             
  }
  
}
</script>
