<template>
<div id="reporteDepVendidosApartados">
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Reporte de ingresos por cobrar</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Reportes</a>
            </small>   
		</header>
	</div>
	<div class="card-body">

        <div class="col-md-4 card">

            <div class="card-body">

                 <div class="col-md-12" style="height:150px; max-height:150px; margin-top:20px">
                <div class="col-md-12">
               <font size=4><strong>Selecciona Concepto</strong></font>    
                </div>
                 <div class="col-md-12" v-for="x in Conceptos" :key="x">
                      <p-check class="p-svg p-curve" color="success" v-model="x.selected">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             {{x.Descripcion}}
                </p-check>
                 </div>
            
            </div>

                <div class="col-md-12">
                  <font size=4><strong>Fecha Inicio</strong></font> 
                  
                  <input type="date" class="form-control input-sm" v-model="FechaInicio">

                </div>

                 <div class="col-md-12">
                 <font size=4><strong>Fecha Fin</strong></font>   
                     <input type="date" class="form-control input-sm" v-model="FechaFin">
                </div>
                <div class="col-md-12">
                <button class="btn btn-primary btn-block" @click="GetReporte">Generar Reporte</button>
                </div>

            </div>

            
            
        </div>
        <div class="col-md-8">
               <iframe :src="url" style="width:600px;height:600px"></iframe>
        </div>


    </div>
</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import urls from "../../urls";
export default {
  name: "reporteDepVendidosApartados",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      proyectos:[],
      listaEstatus:[],
      Conceptos:[],
      contratos:[],
      clv_comprador:0,  
      clv_estatus:0,
      url:'',
      FechaInicio: new Date().toISOString().substr(0, 10),
      FechaFin:new Date().toISOString().substr(0, 10),

      params : {
        contrato: 0 ,
        nombre:'',
        segundoNombre:'',
        ApellidoPaterno:'',
        ApellidoMaterno:'',
        clv_usuario: Vue.localStorage.get("clv_usuario")
      },
    }
      
  },
  mounted(){
    this.getConceptosDePago()
    
  },
  methods:{
 getConceptosDePago(){
       axios.get('/SessionWeb/getConceptosDePago', this.header).then(res => {
           res.data.getConceptosDePagoResult.forEach(element => {
             if (element.Id == 5 | element.Id == 7 ){
                console.log('esto tiene',this.tabledata)
              let obj = {
               Id: element.Id,
               Clv_txt: element.Clv_txt,
               Descripcion: element.Descripcion,
               Activo: element.Activo 
           } 
           
              
               this.Conceptos.push(obj);

             }
           });           
       });
   },

       GetReporte(){
       let ConceptosArray=  this.Conceptos.filter(i=>i.selected == true)
     if (ConceptosArray.length == 0){
      this.$snotify.error(
       "Es importante seleccionar al menos un Concepto",
         "¡Atención!");
             return;
             }

          let params= {
              Opexportacion:1 ,
              fechaInicio:this.FechaInicio,
              fechaFin:this.FechaFin,
              concepto:ConceptosArray
          }
        axios.post("/SessionWeb/GetReporteIngresosPorCobrar", params,this.header).then(res => {
          console.log(res)
          this.url = urls.URL_REPORTES + res.data.GetReporteIngresosPorCobrarResult
        });

          
      },
   

  }
  
}
</script>
