<template>
  <div id="reporteDepVendidosApartados">
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong
            style="font-weight:bold; border:none; margin-left:10px;"
          >Reporte Tareas</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="home" class="paginaActiva">Reportes</a>
          </small>
        </header>
      </div>
      <div class="card-body">
        <div class="col-md-4 card">
          <div class="card-body">
              
              <div class="col-md-12">.
                <font size=4><strong>Clientes</strong></font>  
                <select name="proyecto" class="form-control text-capitalize"  v-model="clv_comprador" >
                    <option value="0" selected="true" disabled="disabled">Selecciona </option>
                    <option  v-for="x in tabledata" :key="x.id" v-bind:value="x.id" >{{x.nombre}}</option>
               </select>
            </div>

            <div class="col-md-12">
            <font size=4><strong>Fecha Agendada</strong></font>  
             
            </div>
            <div class="col-md-6">
            <font size=4><strong>De:</strong></font>  
             
              <input type="date" class="form-control input-sm" v-model="FechaInicio" />
            </div>

            <div class="col-12 col-md-6">
              <font size=4><strong>Hasta:</strong></font>    
        
              <input type="date" class="form-control input-sm" v-model="FechaFin" />
            </div>
            <div class="col-md-12" style="margin-top:15px">
              <button class="btn btn-primary btn-block" @click="GetReporte">Generar Reporte</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <iframe :src="url" style="width: 100%; max-width:900px;height:580px"></iframe>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import urls from "../../urls";
export default {
  name: "reporteResumenEstatusDep",
  data() {
    return {
      usuarios: 0,
      usuariosArray: [],
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      FechaInicio: new Date().toISOString().substr(0, 10),
      FechaFin: new Date().toISOString().substr(0, 10),
      url: "",
      clv_comprador: 0,
      tabledata: []
    };
  },
  mounted() {
    this.getClientes();

  },
  methods: {  
    
      getClientes() {
      let vm = this;
      vm.tabledata = []
      let params = {
        clv_usuario: Vue.localStorage.get("clv_usuario"),
        clv_estatus: (this.Estatus) ? this.Estatus:0,
        nombre: this.NombreCliente,
        celular: this.Celular
      };
      console.log("Clave", params);
      axios.post("/SessionWeb/GetClientes", params, this.header).then(res => {
        res.data.GetClientesResult.forEach(el => {
          let obj = {
            id: el.clv_comprador,
            nombre: el.nombre ,
            estatus: el.estatus,            
            correo: el.correo,
            celular:el.celular
          };
          vm.tabledata.push(obj);
        });
      });
    },



  GetReporte() {
         if (this.clv_comprador == 0){
      this.$snotify.error(
       "Es importante seleccionar al menos un cliente",
         "¡Atención!");
             return;
             }

      let params = {
        Opexportacion: 1,
        fechaInicio: this.FechaInicio,
        fechaFin: this.FechaFin,
        clv_comprador: this.clv_comprador
      };
           axios.post("/SessionWeb/GetReporteTarea", params,this.header).then(res => {
             this.url = urls.URL_REPORTES +  res.data.GetReporteTareaResult
  }); 
    },
    Error(mensaje) {
      this.$snotify.error(mensaje, "¡Error!", {
        timeout: 1500,
        showProgressBar: false,
        closeOnClick: false,
        pauseOnHover: true
      });
    }
  }
};
</script>

