<template>
<div id="reporteDepVendidosApartados">
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Departamentos Vendidos y Apartados</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Reportes</a>
            </small>   
		</header>
	</div>
	<div class="card-body">

        <div class="col-md-4 card">

            <div class="card-body">

                <div class="col-md-12">
                <font size=4><strong>Proyectos</strong></font>    
               
                <select name="proyecto" class="form-control text-capitalize" @change="GetTorres" v-model="clv_proyecto" >
                    <option value="0" selected="true" disabled="disabled">Selecciona </option>
                    <option  v-for="x in proyectos" :key="x.clv_proyecto" v-bind:value="x.clv_proyecto" >{{x.nombre}}</option>
               </select>
            </div>

            <div class="col-md-12" style="height:150px; max-height:150px; margin-top:20px">
                <div class="col-md-12">
                <font size=4><strong>Selecciona las torres</strong></font>   
                </div>
                 <div class="col-md-12" v-for="x in torres" :key="x">
                      <p-check class="p-svg p-curve" color="success" v-model="x.selected">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             {{x.Torre}}
                </p-check>
                 </div>
            
            </div>
            
            <div class="col-md-12" style="height:150px; max-height:150px; margin-top:20px overflow-y:scroll">
              <div class="col-md-12">
              <font size=4><strong>Selecciona vendedor</strong></font>     
              </div>
              <div class="col-md-12" v-for="x in usuarios" :key="x.clv_usuario">
                <p-check class="p-svg p-curve" color="success" v-model="x.selected">
                  <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white;fill:white"
                    />
                  </svg>
                  {{x.nombre}}
                </p-check>
              </div>
            </div>

              <div class="col-md-12">
              <font size=4><strong>Estatus</strong></font>                
                <select 
                v-model="clv_estatus"
              
                 v-validate="'required'" name="estatus" class="form-control">                    
                   <option v-for="x in listaEstatus" :key="x.Id" 
                    v-bind:value="x.Id">{{x.Descripcion}}</option>
                </select>               
                <i v-show="errors.has('principal.estatus')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.estatus')" class="help is-danger text-danger"> Seleccione un estatus</span>
                </div>

                <div class="col-md-12">
                 <font size=4><strong>Fecha Inicio</strong></font>    
                  
                  <input type="date" class="form-control input-sm" v-model="FechaInicio">

                </div>

                 <div class="col-md-12">
                   <font size=4><strong>Fecha Fin</strong></font>     
                    
                     <input type="date" class="form-control input-sm" v-model="FechaFin">
                </div>
                <div class="col-md-12">
                <button class="btn btn-primary btn-block" @click="GetReporte">Generar Reporte</button>
                </div>

            </div>

            
            
        </div>
        <div class="col-md-8">
               <iframe :src="url" style="width:600px;height:600px"></iframe>
        </div>


    </div>
</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import urls from "../../urls";
export default {
  name: "reporteDepVendidosApartados",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      proyectos: [],
      usuarios: [],
      listaEstatus: [],
      torres: [],
      clv_proyecto: 0,
      clv_estatus: 0,
      url: "",
      FechaInicio: new Date().toISOString().substr(0, 10),
      FechaFin: new Date().toISOString().substr(0, 10)
    };
  },
  mounted() {
    this.GetProyectos();
    this.GetEstatusVentaDepartamento();
    this.getUsuarios();
  },
  methods: {
    GetReporte() {
      if (this.clv_proyecto == 0) {
        this.$snotify.error(
          "Es importante seleccionar al menos un proyecto",
          "¡Atención!"
        );
        return;
      }

     let usuariosArray = this.usuarios.filter(i => i.selected == true);

      if (usuariosArray.length == 0) {
        this.Error("Selecciona al menos un vendedor");
        return;
      }

      let torres = [];
      this.torres.forEach(x => {
        if (x.selected) {
          torres.push(x.Torre);
        }
      });

      if (torres == 0) {
        this.$snotify.error(
          "Es importante seleccionar al menos una torre",
          "¡Atención!"
        );
        return;
      }

      let params = {
        Opexportacion: 1,
        clv_proyecto: this.clv_proyecto,
        torres: torres,
        clv_estatus: this.clv_estatus,
        fechaInicio: this.FechaInicio,
        fechaFin: this.FechaFin,
        usuarios: usuariosArray
      };
      axios
        .post(
          "/SessionWeb/GetReporteVendedorDepApartadosVendidos",
          params,
          this.header
        )
        .then(res => {
          console.log(res);
          this.url =
            urls.URL_REPORTES +
            res.data.GetReporteVendedorDepApartadosVendidosResult;
        });
    },
    GetProyectos() {
      let params = { id: Vue.localStorage.get("clv_usuario") };
      axios
        .post("/SessionWeb/GetRelUsuarioProyectoById", params, this.header)
        .then(res => {
          this.proyectos = res.data.GetRelUsuarioProyectoByIdResult;
          this.body.proyecto = this.proyectos[0].clv_proyecto;
          this.GetTorres();
        });
    },
    GetEstatusVentaDepartamento() {
      axios
        .get("/SessionWeb/GetEstatusVentaDepartamento", this.header)
        .then(res => {
          console.log("Resultado", res.data.GetEstatusVentaDepartamentoResult);
          res.data.GetEstatusVentaDepartamentoResult.forEach(el => {
            if (el.Id < 3) {
              let obj = {
                Id: el.Id,
                Descripcion: el.Descripcion
              };

              this.listaEstatus.push(obj);
            }
          });
        });
    },
    getUsuarios() {
      this.usuarios = [];
      let vm = this;
      let params = {
        clv_usuario: Vue.localStorage.get("clv_usuario")
      };
      axios
        .post("/SessionWeb/GetVendedoresByUsuario", params, this.header)
        .then(res => {
          this.usuarios = res.data.GetVendedoresByUsuarioResult;
        });
    },
    GetTorres() {
      this.torres = [];
      let vm = this;
      let params = { clv_proyecto: this.clv_proyecto };
      axios
        .post("/SessionWeb/GetTorresProyecto", params, this.header)
        .then(res => {
          res.data.GetTorresProyectoResult.forEach(function(e) {
            let obj = {
              Torre: e,
              selected: false
            };
            vm.torres.push(obj);
          });
        });
    }
  }
};
</script>

