<template>
  <div id="reporteDepVendidosApartados">
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong
            style="font-weight:bold; border:none; margin-left:10px;"
          >LLamadas y visitas pendientes</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="home" class="paginaActiva">Reportes</a>
          </small>
        </header>
      </div>
      <div class="card-body">
        <div class="col-md-4 card">
          <div class="card-body">
            <div class="col-md-12 col-12">
            <font size=4><strong>Tipo de agenda</strong></font>  
              <select v-model="tipoAgenda" class="form-control">
                <option value="1">Llamada</option>
                <option value="2">Visita</option>
                <option value="3">Ambas</option>
              </select>
            </div>

            <div class="col-md-12" style="height:150px; max-height:150px; margin-top:20px">
              <div class="col-md-12">
              <font size=4><strong>Selecciona vendedor</strong></font>                  
              </div>
              <div class="col-md-12" v-for="x in usuarios" :key="x.clv_usuario">
                <p-check class="p-svg p-curve" color="success" v-model="x.selected">
                  <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white;fill:white"
                    />
                  </svg>
                  {{x.nombre}}
                </p-check>
              </div>
            </div>

            <div class="col-md-12">
            <font size=4><strong>Fecha Agendada</strong></font>  
             
            </div>
            <div class="col-md-6">
            <font size=4><strong>De:</strong></font>  
             
              <input type="date" class="form-control input-sm" v-model="FechaInicio" />
            </div>

            <div class="col-12 col-md-6">
              <font size=4><strong>Hasta:</strong></font>    
        
              <input type="date" class="form-control input-sm" v-model="FechaFin" />
            </div>
            <div class="col-md-12" style="margin-top:15px">
              <button class="btn btn-primary btn-block" @click="GetReporte">Generar Reporte</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <iframe :src="url" style="width: 100%; max-width:900px;height:580px"></iframe>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import urls from "../../urls";
export default {
  name: "reporteResumenEstatusDep",
  data() {
    return {
      usuarios: 0,
      usuariosArray: [],
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      tipoAgenda: 1,
      FechaInicio: new Date().toISOString().substr(0, 10),
      FechaFin: new Date().toISOString().substr(0, 10),
      usuarios: 0,
      clv_estatus: 0,
      url: ""
    };
  },
  mounted() {
    this.getUsuarios();
  },
  methods: {   
    getUsuarios() {
      this.usuarios = [];
      let vm = this;
      let params= {
        clv_usuario: Vue.localStorage.get("clv_usuario")
      }   
      axios.post("/SessionWeb/GetVendedoresByUsuario",params, this.header).then(res => {        
         this.usuarios=res.data.GetVendedoresByUsuarioResult        
      });
    },
    GetReporte() {
      if (this.tipoAgenda === 0){
         this.Error("Seleccione un tipo de agenda")
        return;
      }


      console.log(this.usuarios)
     
     let usuariosArray=  this.usuarios.filter(i=>i.selected == true)

     if(usuariosArray.length == 0){
          this.Error("Selecciona al menos un vendedor");
        return;
      }
      
      let params = {
        Opexportacion: 1,
        fechaInicio: this.FechaInicio,
        fechaFin: this.FechaFin,
        usuarios: usuariosArray,
        tipoAgenda: this.tipoAgenda
      };
           axios.post("/SessionWeb/GetReporteLlamadasVisitasPendientes", params,this.header).then(res => {
             this.url = urls.URL_REPORTES +  res.data.GetReporteLlamadasVisitasPendientesResult
  }); 
    },
    Error(mensaje) {
      this.$snotify.error(mensaje, "¡Error!", {
        timeout: 1500,
        showProgressBar: false,
        closeOnClick: false,
        pauseOnHover: true
      });
    }
  }
};
</script>

