<template>
<div id="reporteDepVendidosApartados">
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Reporte general de ingresos</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Reportes</a>
            </small>   
		</header>
	</div>
	<div class="card-body">

        <div class="col-md-4 card">

            <div class="card-body">


                <div class="col-md-12">
                  <font size=4><strong>Fecha Inicio</strong></font>
                
                  <input type="date" class="form-control input-sm" v-model="FechaInicio">

                </div>

                 <div class="col-md-12">
                  <font size=4><strong>Fecha Fin</strong></font>  
                     <input type="date" class="form-control input-sm" v-model="FechaFin">
                </div>
                <div class="col-md-12">
                <button class="btn btn-primary btn-block" @click="GetReporte">Generar Reporte</button>
                </div>

            </div>

            
            
        </div>
        <div class="col-md-8">
               <iframe :src="url" style="width:600px;height:600px"></iframe>
        </div>


    </div>
</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import urls from "../../urls";
export default {
  name: "reporteDepVendidosApartados",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      url:'',
      FechaInicio: new Date().toISOString().substr(0, 10),
      FechaFin:new Date().toISOString().substr(0, 10),

    }
      
  },
  methods:{
       GetReporte(){
    
          let params= {
              Opexportacion:1,  
              fechaInicio:this.FechaInicio,
              fechaFin:this.FechaFin,
          }
         axios.post("/SessionWeb/GetReporteGeneralIngresos", params,this.header).then(res => {
           console.log(res)
            this.url = urls.URL_REPORTES +  res.data.GetReporteGeneralIngresosResult
         });
 }
    
      
  }
  
}
</script>
