<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo plano</strong>
          <br />
          <small>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Catálogo Departamento</a>
          </small>
        </header>
      </div>

      <div class="card-body">
        <div class="card animated fadeIn fast col-md-3" style="margin-right: 20px">
          <h3>Selecciona un proyecto, un tipo y un nivel </h3>
          <h4>Proyecto</h4>
          <select class="form-control text-capitalize" @change="getImagenes" v-model="clv_proyecto">
            <option disabled value="0">Selecciona</option>
            <option
              v-for="option in proyectos"
              :key="option.clv_proyecto"
              v-bind:value="option.clv_proyecto"
            >{{option.nombre}}</option>
          </select>

           <h4>Bodega o cajon</h4>
          <select class="form-control" @change="getImagenes" v-model="Tipo">
            <option disabled value="0">Selecciona</option>
            <option  value="1">Bodega</option>
            <option  value="2">Cajon</option>
            
          </select>

          <h4>Nivel</h4>
          <select class="form-control" @change="getImagenes" v-model="Nivel">
            <option disabled value="0">Selecciona</option>
            <option v-for="i in ListaNivel" :key="i.Nivel" v-bind:value="i.Nivel">{{i.Nivel}}</option>
          </select>
        </div>
        <div class="col-md-12">
          <h4>(arrastra las imagenes o da un click en la zona punteada para subir imagenes  de formato .JPG o .NPG)</h4>
          <upload-image
            v-on:upload-image-success="getImagenes"
            button_html="Subir imagenes"
            input_id="1"
            :url="urlAddImagen"
            resize_max_width="300"
            resize_max_height="200"
            name="archivos"
            :max_files="15"
          ></upload-image>

          <!--  -->
          <!--   <input type="text" v-mask="'##/##/####'" placeholder="dd/mm/yyyy" /> -->

          <h3>Imagenes Cargadas</h3>
          <gallery :images="images" :index="index" @close="index = null"></gallery>

          <div
            class="image"
            v-for="(image, imageIndex) in images"
            :key="imageIndex"
            :style="{ backgroundImage: 'url(' + url +'/'+ image + ')', width: '200px', height: '100px' }"
          >
            <div>
              <button
                type="button"
                class="btn btn-danger btn-xs"
                @click="eliminaImagen(image, imageIndex)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
input[type="file"] {
  display: none !important;
}
</style>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.vue_component__upload--image {
  margin-bottom: 1em;
  border: 7px dotted #b3b3b3;
}
</style>
<script>
import Vue from "vue";
import axios from "axios";
import PrettyCheckbox from "pretty-checkbox-vue";
import { Money } from "v-money";
import { isNumber } from "util";
import { truncate } from "fs";
import VueGallery from "vue-gallery";
import UploadImage from "vue-upload-image";
import url from "../../urls";
Vue.prototype.$http = axios;
export default {
  name: "addVistas",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      url: url.URL_IMAGENES_ARCHIVOS_PLANOS,
      ListaNivel: [],
      proyectos: [],
      clv_proyecto: 0,
      Nivel: "",
      Tipo:0,
      urlAddImagen: "",
      images: [],
      index: null
    };
  },
  mounted() {
    this.getNiveles();
    this.getProyectos();
    this.getImagenes();
    this.urlAddImagen = 
    url.URL_IMAGENES +"/Sistema/GuardaPlanosBodega?clv_proyecto="
    +this.clv_proyecto
     +"&Nivel=" +this.Nivel
     +"&Tipo="+this.Tipo
     
     ;
  },
  methods: {
    getImagenes() {
      this.urlAddImagen = url.URL_IMAGENES 
      +"/Sistema/GuardaPlanosBodega?clv_proyecto="
       +this.clv_proyecto 
       +"&Nivel=" +this.Nivel
       + "&Tipo="+this.Tipo
       ;
       console.log('Tipo ',this.Tipo)
      this.images = [];
      axios
        .get(
          url.URL_IMAGENES +
            "/Sistema/GetPlanosBodega?clv_proyecto=" +
            this.clv_proyecto +
            "&Nivel=" +
            this.Nivel+
            "&Tipo="+this.Tipo
            ,
          this.header
        )
        .then(res => {
          res.data.GetPlanosBodegaResult.forEach(i => {
            this.images.push(i.Nombre_Imagen);
            //console.log('El Get', this.images)
          });
        });
    },
    getNiveles() {
      let vm = this;
      axios.get("/SessionWeb/GetNivel", this.header).then(res => {
        vm.ListaNivel = res.data.GetNivelResult;
        vm.Nivel = vm.ListaNivel[0]
      });
    },

    eliminaImagen(image, index) {
      console.log(image, index);

      axios
        .post(
          url.URL_IMAGENES + "/Sistema/DeleteImagenPlano",
          { identificador: image },
          this.header
        )
        .then(res => {
          this.images.splice(index, 1);
          this.getImagenes();
        });
    },

    getProyectos() {
      let vm = this;
      axios.get("/SessionWeb/GetProyecto", this.header).then(res => {
        vm.proyectos = res.data.GetProyectoResult;
        vm.clv_proyecto = vm.proyectos[0].clv_proyecto
      });
    }
  },
  components: {
    Money,
    UploadImage,
    gallery: VueGallery
  }
};
</script>
<style>
.pretty input[type="checkbox"] {
  position: absolute !important;
}
</style>