<template>
    <div id="addolt">
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Nueva OLT</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/tipoUsuario" class="paginaActiva">Direcciones</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
        <form  @submit.prevent="insertar('principal')" data-vv-scope='principal'>	
    	<div class="row">
        		

            <div class="col-md-4">

             <div class="col-md-12">
                 <label style="font-weight:bold">Nombre</label>
                 <input type="text" class="form-control input-sm" 
                 name="nombre"
                  v-validate="'required'"
                 v-model="olt.nombre_olt">
                  <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">IP</label>
                 <input type="text" class="form-control input-sm"
                 v-validate="'required'"
                 name="ip"
                  v-model="olt.olt_ip">
                   <span v-show="errors.has('principal.ip')" class="help is-danger text-danger"> El IP nombre es obligatorio</span>
             </div>            
             <div class="col-md-12">
                 <label style="font-weight:bold">Telnet port</label>
                 <input type="text" class="form-control input-sm" 
                 v-model="olt.telnet_port">
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">Telnet username</label>
                 <input type="text" class="form-control input-sm" v-model="olt.telnet_username">
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">telnet password</label>
                 <input type="text" class="form-control input-sm" v-model="olt.telnet_password">
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">SNMP Port</label>
                 <input type="text" class="form-control input-sm" v-model="olt.snmp_udp_port">
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">SNMP Readonly</label>
                 <input type="text" class="form-control input-sm" v-model="olt.snmp_readonly">
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">SNMP ReadWrite</label>
                 <input type="text" class="form-control input-sm" v-model="olt.snmp_readwrite">
             </div>
             

            </div>
            <div class="col-md-4">
             <div class="col-md-12">
                 <label style="font-weight:bold">IPTV Moodule</label>
                 <input type="text" class="form-control input-sm" v-model="olt.iptv_module">
             </div>
              <div class="col-md-12">
                 <label style="font-weight:bold">Hardware version</label>
                 <input type="text" class="form-control input-sm" v-model="olt.hardware_version">
             </div>
              <div class="col-md-12">
                 <label style="font-weight:bold">Software version</label>
                 <input type="text" class="form-control input-sm" v-model="olt.software_version">
             </div>
              <div class="col-md-12">
                 <label style="font-weight:bold">Contacto Tecnico</label>
                 <input type="text" class="form-control input-sm" v-model="olt.contacto_tecnico">
             </div>
              <div class="col-md-12">
                 <label style="font-weight:bold">Telefono</label>
                 <the-mask
                      class="form-control"
                      :mask="['(###) ###-####', '(##) ####-####']"
                       v-model="olt.contacto_telefono"
                    />
                 
             </div>
             
             <div class="col-md-12">
                 <label style="font-weight:bold">Celular</label>
                  <the-mask
                      class="form-control"
                      :mask="['(###) ###-####', '(##) ####-####']"
                       v-model="olt.contacto_celular"
                    />
               
             </div>
              <div class="col-md-12">
                 <label style="font-weight:bold">Correo</label>
                 <input type="email" class="form-control input-sm" 
                  v-validate="'required|email'"
                 v-model="olt.contacto_correo">
             </div>
             
                
            </div>
            <div class="col-md-4">

                <div class="col-md-12">
                 <label style="font-weight:bold">Estatus</label>
                 <select  v-model="olt.estatus"
                  v-validate="'required'" class="form-control text-capitalize" name="estatus">
                   <option value="" disable>Selecciona</option>
                   <option v-for="x in estatus" :key="x.Id" v-bind:value="x.Id"
                    >{{x.Nombre}}</option>

                </select>
                <span v-show="errors.has('principal.estatus')" class="help is-danger text-danger"> El campo es obligatorio</span>
                 
             </div>
              <div class="col-md-12">
                 <label style="font-weight:bold">Tipo pago</label>
                <select  v-model="olt.periodicity" v-validate="'required'" class="form-control text-capitalize" name="tipopago">
                   <option value="" disable>Selecciona</option>
                   <option v-for="x in tipopago" :key="x.id" v-bind:value="x.id"
                    >{{x.nombre}}</option>
                </select>
                
                <span v-show="errors.has('principal.tipopago')" class="help is-danger text-danger"> El campo es obligatorio</span>
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">Fecha Alta</label>
                 <input type="date" class="form-control input-sm" v-model="olt.fecha_alta">
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">Fecha Baja</label>
                 <input type="date" class="form-control input-sm" v-model="olt.fecha_baja">
             </div>
             <div class="col-md-12">
                 <label style="font-weight:bold">Fecha Suspendido</label>
                 <input type="date" class="form-control input-sm" v-model="olt.fecha_suspendido">
             </div>
              <div class="col-md-12">
                 <label style="font-weight:bold">Fecha Ultimo Pago</label>
                 <input type="date" class="form-control input-sm" v-model="olt.fecha_ultimopago">
             </div>
             <div class="col-md-6">
                 <label style="font-weight:bold">Ultimo Mes</label>
                 <input type="number" class="form-control input-sm" v-model="olt.ultimo_mes">
             </div>
             <div class="col-md-6">
                 <label style="font-weight:bold">Ultimo Año</label>
                 <input type="number" class="form-control input-sm" v-model="olt.ultimo_anio">
             </div>
            </div>


        
      </div> 
      <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-save"></i> Guardar</button>
        </div>
      </div> 
      </form>   
    </div>
	
</div>
</div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addolt",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      olt:{
        id:0,
        cliente_id:0,
        nombre_olt:'',
        olt_ip:'',
        telnet_port:'',
        telnet_username:'',
        telnet_password:'',
        snmp_readonly:'',
        snmp_readwrite:'',
        snmp_udp_port:'',
        iptv_module:'',
        hardware_version:'',
        software_version:'',
        supported_pon_types:'',
        pago_inicial:'',
        periodicity:'',
        prox_pago:'',
        olt_picture:'',
        status:0,      
        continente:'',
        latitud:'',
        longitud:'',
        moneda:'',
        timezone:'',
        usuario:'',
        clave:'',
        contrato_estado:'',
        notificacion:0,
        fecha_alta:'',
        fecha_baja:'',
        fecha_suspendido:'',
        fecha_ultimopago:'',
        ultimo_mes:0,
        ultimo_anio:0,
        contacto_tecnico:'',
        contacto_correo:'',
        contacto_telefono:'',
        contacto_celular:''
      },
      estatus:[],
      tipopago:[
          {
              id:'M',
              nombre:'Mensual'
          },
          {
              id:'T',
              nombre:'Trimestral'
          },
          {
              id:'S',
              nombre:'Semestral'
          },
          {
              id:'A',
              nombre:'Anual'
          }
      ],
    };
  },
  mounted() {
      
    this.getEstatus();   
    axios
    .post("/SessionWeb/GetOLTById",{id: this.$route.params.id }, this.header)
    .then(res => {
       let olt=res.data.GetOLTByIdResult

    /*    if ( olt.fecha_alta =='1900-01-01'){
           olt.fecha_alta = '';
       }else{
           olt.fecha_alta = this.recuperaFecha(olt.fecha_alta)
       }

        if ( olt.fecha_baja =='1900-01-01'){
           olt.fecha_baja = '';
       }else{
           olt.fecha_baja = this.recuperaFecha(olt.fecha_baja)
       } */
       this.olt =olt;
       console.log(olt)
    });
  },
  methods: {  
      recuperaFecha(x) {
      const fecha = x.split("-");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    }, 
    getEstatus(){
        axios
            .get("/SessionWeb/GetStatus", this.header)
            .then(res => {
              this.estatus=res.data.GetStatusResult

        });
          
    },
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {        
        if (result) {
          
          console.log( this.olt)

          
         let body = {
            olt: this.olt
          }
          axios
            .post("/SessionWeb/UpdateOLT", body, this.header)
            .then(res => {
              this.$snotify.success(
                "OLT agregada con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
              this.$router.push("/olt");
              
            });
            return;
            
        
        }
        
      });
    },
    regresar() {
      this.$router.push("/olt");
     
    }
  }
};
</script>
