<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Edita Firmware</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/tipoUsuario" class="paginaActiva">Configuración</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
    			<div class="col-md-6 col-md-offset-3" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
                
                <div class="row">
                   <div class="col-md-12 ">
                    <font size=4><strong>Firmware: </strong></font>
              
                    <input type="text" class="text-capitalize  form-control"  v-validate="'required'" name="nombre"  v-model="Nombre">
                    <div class="row"></div>
                    <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                    <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                   </div>
                </div>
              
                <div class="row">
                  <br>
                    <div class="col-md-8">                     
                   
                        <font size=4><strong>Selecciona con que marca y modelos se relaciona</strong></font>
                      
                        <div class="col-md-12 ">
                        <h4>Marca</h4>
                        <div class="row"></div>

                        <select @change="getModelosbymarca(oltAdd.clv_marca)" v-model="oltAdd.clv_marca" v-validate="'required'" class="form-control text-capitalize" name="marca">
                            
                            <option value="" disabled>Selecciona</option>
                            <option v-for="x in MarcaList" :key="x.clv_marca" v-bind:value="x.clv_marca"
                            >{{x.nombre}}</option>
                        </select>
                        <div class="row"></div>
                        <i v-show="errors.has('principal.marca')" class="fa fa-warning"> </i>
                        <span v-show="errors.has('principal.marca')" class="help is-danger text-danger"> Seleccione un marca </span>
                        </div>



                        <div class="col-md-12 ">
                        <h4>Modelo</h4>
                        <div class="row"></div>
                        <select v-model="oltAdd.clv_modelo" v-validate="'required'" class="form-control text-capitalize" name="modelo">
                            
                            <option value="" disabled>Selecciona</option>
                            <option v-for="x in listaModelos" :key="x.clv_modelo" v-bind:value="x.clv_modelo"
                            >{{x.Nombre}}</option>
                        </select>
                        <div class="row"></div>
                        <i v-show="errors.has('principal.modelo')" class="fa fa-warning"> </i>
                        <span v-show="errors.has('principal.modelo')" class="help is-danger text-danger"> Seleccione un modelo </span>
                        </div>
            
                         <div class="row"></div>
                        <!-- <i v-show="errors.has('principal.estado')" class="fa fa-warning"> </i>
                        <span v-show="errors.has('principal.estado')" class="help is-danger text-danger"> Seleccione un estado</span> -->
                    
                    </div>
                    <div class="col-md-4">
                         <br>
                     
                        <button class="btn btn-default btn-sm" type="button" @click="agregaRelacion()"> <i class="fa fa-plus"></i> Agregar </button>
                    </div>
                
                </div>
                <div class="col-md-12" style="margin-top:30px">
                  <h4 class="text-center">Modelos Relacionados</h4>
                  <table class="table table-striped">
                      <thead>
                          <th class="">Modelo</th>
                           <th class="text-center"> Opciones</th>
                      </thead>
                      <tbody>
                         <tr v-for="(x, index ) in estadosSelected" :key="x.clv_modelo">
                             <td class="text-capitalize">{{x.Nombre}}</td>
                             <td class="text-center"><button type="button"  class="btn btn-danger btn-sm" @click="eliminaEstado(index)" ><i class="fa fa-trash"></i> Eliminar</button></td>
                         </tr>
                      </tbody>
                  </table>

                <!-- <div class="radio">
                    <input type="checkbox" id="checkbox" v-model="Activo">
                    <label for="checkbox">{{ ((activo) ? 'Activo':'Inactivo' ) }}</label>                    
                </div>
                <span id="errorEstatus" style="display:none; margin-left: 10px;" class="text-danger">Debe seleccionar un estatus</span> -->
                </div>
                 <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                 </form>
                </div>
               
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addVendedores",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      Nombre: "",
      Activo: false,
      estado: "",
      ListaEstados: [],
      estadosSelected: [],
      MarcasSelected:[],
      MarcaList:[],
      listaModelos:[],

      oltAdd:{
        id:0,
        cliente_id: this.$route.params.id,
        nombre_olt:'',
        olt_ip:'',
        clv_marca:0,
        clv_modelo:0


      },
    };
  },
  mounted() {
    this.getEstados();
    this.getFirmware();
    this. getMarca();

  },
  methods: {

    getModelosbymarca(x){

          axios.post("/SessionWeb/GetModelosByMarca",
          { clv_marca: x },
          this.header
          
        )
        .then(res => {
          this.listaModelos = res.data.GetModelosByMarcaResult;
          // this.getcolonia(this.body.clv_ciudad)
        });

},


   getMarca(){
      let vm = this;
      axios.get("/SessionWeb/GetMarca", this.header).then(res => {
        this.MarcaList= res.data.GetMarcaResult;       
      });
    },   
    getEstados() {
      let vm = this;
     axios.get("/SessionWeb/GetModelo", this.header).then(res => {
        this.Listamodelos = res.data.GetModeloResult;
        console.log('entra', this.Listamodelos)
      });
    },


    getFirmware(){
    let params = {
        clv_firmware: this.$route.params.id 
    }
      axios.post("/SessionWeb/GetFirmwareById",params, this.header).then(res => {
        console.log(res)
        this.Nombre=  res.data.GetFirmwareByIdResult[0].nombre
        this.estadosSelected =  res.data.GetFirmwareByIdResult[0].modelos


        console.log('Entra M', this.estadosSelected);
      });
        

    },
     eliminaEstado (index) {
     this.estadosSelected.splice(index,1)
    },
    
    agregaRelacion() {
      let vm = this;
      if (this.oltAdd.clv_modelo) { 
        console.log(this.existe(this.oltAdd.clv_modelo))
        if(this.existe(this.oltAdd.clv_modelo)) return    
        if(this.existeMarca(this.oltAdd.clv_marca)) return    
        let result = this.Listamodelos.filter(i => i.clv_modelo == this.oltAdd.clv_modelo);

       this.MarcaList.forEach(el => {
          if (el.clv_marca == this.oltAdd.clv_marca)
          {
              let obj = {
              clv_marca: el.clv_marca,
              nombre: el.nombre,
              Nombre:result[0].Nombre,
              clv_modelo:result[0].clv_modelo
              
              };
            vm.estadosSelected.push(obj);
          }
          });
          console.log('array',this.estadosSelected)
        // this.estadosSelected.push(result[0]);
      }
    },
    existe(clv_modelo){
      for(var i=0; i< this.estadosSelected.length; i++){
          console.log(this.estadosSelected[i].clv_modelo,clv_modelo)
          if(this.estadosSelected[i].clv_modelo == clv_modelo){
              return true
          }
      }
      return false
    },
    existeMarca(clv_marca){
      for(var i=0; i< this.estadosSelected.length; i++){
          console.log(this.estadosSelected[i].clv_marca,clv_marca)
          if(this.estadosSelected[i].clv_marca != clv_marca){
             this.$snotify.error(
                "El firmware solo se puede relacionar a una sola marca y sus modelos ",
                "¡Error!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
              return true               
          }
      }
      return false
    },

    
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {        
        if (result) {
          if(this.estadosSelected.length>0){
            console.log('envio', this.estadosSelected);
          let body = {
            obj: {
              nombre: this.Nombre,
              modelos: this.estadosSelected,
              clv_firmware: this.$route.params.id     
            }
          }
          axios
            .post("/SessionWeb/UpdateFirmMarcaModelo", body, this.header)
            .then(res => {
              this.$snotify.success(
                "Firmware agregada con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
                 this.$router.push("/firmware");
            });
            return
             }else{
          this.$snotify.error(
                "Agrega la relación",
                "¡Error!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
        }
        }       
      });
    },
    regresar() {
     this.$router.push("/firmware");
    }
  }
};
</script>
