<template>
  <div class="bodegas">
    <!--      @mousemove="doDrag"
      @mousedown="doMove"
    @mouseup="done"-->
    <canvas
      id="canvas"
      width="5000"
      height="3000"
      class="canvas"
      v-on:dblclick="gameClick"
      :style="{ backgroundImage: 'url(' + image + ')' }"
    ></canvas>
    <div class="seleccion">
      <div class="col-md-12">
    
        <h3>Departamento</h3>
        <h5 v-if="departamento.NumDepartamento" >No.Departamento: {{departamento.NumDepartamento}}</h5>
        <h5>Tipo Departamento: {{departamento.departamento}}</h5>

        <div class="col-md-12">
          <h3>Selecciona un Nivel</h3>
          <select class="form-control input-sm" @change="GetPlanos" v-model="Nivel">
            <option value="0" selected disabled>Selecciona</option>
            <option v-for="i in ListaNivel" :key="i.Nivel" v-bind:value="i.Nivel">{{i.Nivel}}</option>
          </select>
        </div>

       
      </div>
      <!-- <div class="col-md-12">
        <h4>Cajones de Estacionamiento</h4>
        <table class="table">
          <tbody>
            <tr v-for="(x,index) in coordenadas" :key="x.id">
             
              <td v-if="x.Tipo == 1">{{x.Referencia}}</td>
              <td v-if="x.Tipo == 1">{{x.Nivel}}</td>
              <td v-if="x.Tipo == 1">
                <button class="btn btn-default btn-xs" @click="find(index)">Encontrar</button>
              </td>
              <td v-if="x.Tipo == 1">
                <button class="btn btn-danger btn-xs" @click="eliminar(index)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <div class="col-md-12">
        <h4>Bodegas</h4>
        <table class="table">
          <tbody>
            <tr  v-for="(x,index) in coordenadas" :key="x.id">
             
              <td >{{x.Referencia}}</td>
              <td >{{x.Nivel}}</td>
              <td >
                <button class="btn btn-default btn-xs" @click="find(index)">Encontrar</button>
              </td>
              <td >
                <button :disabled="soloLectura" class="btn btn-danger btn-xs" @click="eliminar(index)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <button :disabled="soloLectura" class="btn btn-block btn-primary" @click="guardarDepartamento()">Guardar</button>
      </div>    
    </div>

    <modal
      name="modal-elige"
      :width="350"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500; "
    >
     <!-- <div class="col-md-12">
          <h3>Seleccione cajon o bodega</h3>
          <select class="form-control" name="tipo" v-model="Tipo">
            <option disabled value="0">Seleccione un tipo</option>
            <option value="1">Cajon estacionamiento</option>
            <option value="2">Bodega</option>
          </select>
        </div> -->
      <div class="col-md-12" style="padding:20px;">
        <label>Referencia</label>
        <input type="text" v-model="coordenada.Referencia" class="form-control" />
      </div>
      <div class="col-md-12" style="padding:20px;">
        <div class="col-md-6 text-left">
          <button class="btn btn-success" @click="guardar">Guardar</button>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-default" @click="$modal.hide('modal-elige')">Cancelar</button>
        </div>
      </div>
    </modal>

    <!-- <modal
      name="modal-Nivel"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
     <div class="col-md-10 col-md-offset-1 ">
       <div class="col-md-12 text-center">
         <h4>Ingresa el Nivel </h4>
       </div>
         <div class="col-md-12">

            <label>Selecciona un Nivel</label>
            <select class="form-control input-sm" @change="GetPlanos" v-model="Nivel"  >
            <option value="" >selecciona</option>
            <option v-for="i in ListaNivel" :key="i.Nivel"  v-bind:value="i.Nivel">{{i.Nivel}}</option>
            </select>
          
       </div>              
     </div>    
      
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-6" style="padding:10px;">
          <button
            class="btn btn-success"
            type="button"
            @click="GuardaMotivo()"
          >Guardar</button>
        </div> 
      </div>
    </modal>-->
  </div>
</template>
<style scoped>
html,
body {
  height: 100%;
}

.seleccion {
  width: 400px;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  -webkit-box-shadow: -7px 2px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -7px 2px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: -7px 2px 5px 0px rgba(0, 0, 0, 0.31);
}
.canvas {
  filter: gray;

  cursor: pointer;
}
</style>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import url from "../urls";

export default {
  name: "bodegas",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      soloLectura: false,
      image: "",
      coordenadas: [],
      Resultado:[],
      Planos: "",
      ListaNivel:[],
      departamento: {},
      dragging: false,
      lastX: 0,
      marginLeft: 0,
      lastY: 0,
      marginTop: 0,
      Tipo: 1,
      Nivel: "",
      coordenada: {
        id: 0,
        IdDetalle: this.$route.params.id,
        x: "",
        y: "",
        Referencia: "",
        Tipo: this.Tipo,
        IdLayout: 1,
        Nivel: this.Nivel
      }
    };
  },
  mounted() {
    this.getDepartamento(this.$route.params.id);
    this.GetBodegasCajonesByIdDepartamento();
    this.getNiveles();
    if (this.$route.params.ReadOnly == 1) {
      this.soloLectura = true;
    }
  },
  methods: {
    GetPlanos() {
      //console.log("Nivel", this.Nivel);
      let params = {
        clv_proyecto: this.departamento.clv_proyecto,
        Nivel:this.Nivel,
        Tipo:1
      };
      console.log('params', params)
      let vm = this;
      axios
        .post("/SessionWeb/GetPlanosBodega", params, this.header)
        .then(res => {
          vm.Planos = res.data.GetPlanosBodegaResult.Nombre_Imagen;
          this.image = url.URL_IMAGENES_ARCHIVOS_PLANOS + this.Planos;
          this.draw();
          console.log("Ruta", this.image);
        });
    },

    
    getNiveles() {
      
      let vm = this;
      axios.get("/SessionWeb/GetNivel", this.header).then(res => {
        vm.ListaNivel = res.data.GetNivelResult;
      });
    },

    done(e) {
      this.dragging = false;
    },
    doMove(e) {
      var evt = e || event;
      this.dragging = true;
      this.lastX = evt.clientX;
      this.lastY = evt.clientY;
      e.preventDefault();
    },
    doDrag(e) {
      var canvas = document.getElementById("canvas");
      console.log(canvas);
      var evt = e || event;
      if (this.dragging) {
        var delta = evt.clientX - this.lastX;
        var delta2 = evt.clientY - this.lastY;
        this.lastX = evt.clientX;
        this.lastY = evt.clientY;
        this.marginLeft += delta;
        this.marginTop += delta2;
        canvas.style.marginLeft = this.marginLeft + "px";
        canvas.style.marginTop = this.marginTop + "px";
      }
      e.preventDefault();
    },
    GetBodegasCajonesByIdDepartamento() {
      axios
        .post(
          "SessionWeb/GetBodegasCajonesByIdDepartamento",
          { IdDetalle: this.$route.params.id, Nivel: this.Nivel, Tipo :this.Tipo },
          this.header
        )
        .then(res => {
          this.coordenadas = res.data.GetBodegasCajonesByIdDepartamentoResult;
          this.Resultado = res.data.GetBodegasCajonesByIdDepartamentoResult[0]
          //  console.log('Resultado', this.Resultado)
          console.log('Nivel', this.Resultado.Nivel)
           this.Nivel = this.Resultado.Nivel
           this.x = this.Resultado.x
           this.y = this.Resultado.y
           this.GetPlanos()

          this.draw();
          this.find(0);
        });
    },
    guardarDepartamento() {
      if (!this.coordenadas.length > 0) {
        this.$snotify.error(
          "Ingrese almenos una bodega o cajon de estacionamiento",
          "¡Atención!"
        );
        return;
      }
     

      axios
        .post(
          "SessionWeb/AddBodegaCajon",
          { obj: this.coordenadas },
          this.header
        )
        .then(res => {
          this.departamento = res.data.GetEstatusDepartamentoResult;
           this.$snotify.success("Se registro correctamente ", "¡Exitoso!");
        });
    },
    find(index) {
      console.log('Index', index)
      if (this.coordenadas[index].Nivel == this.Nivel) {
        window.scrollTo(this.coordenadas[index].x, this.coordenadas[index].y);
        console.log('Indexere', this.coordenadas[index].x)
        console.log('Indexere', this.coordenadas[index].y)

      } else {
        this.$snotify.error("Seleccione el nivel correcto", "¡Atención!");
        return;
      }
    },
    eliminar(index) {
      this.coordenadas.splice(index, 1);
      this.draw();
    },
    getDetail(event) {
      console.log(event);
      var target = document.getElementById(event.target.id);
      //target.style.background = 'green'
      target.style.color = "#1982ff";
      target.style.fontSize = "20px;";
      target.style.cursor = "pointer";
      console.log(target);
    },
    removeDetail() {
      var target = document.getElementById(event.target.id);
      // target.style.background = 'red'
      target.style.cursor = "crosshair";
      target.style.color = "#20252b";
    },
    gameClick(event) {
      

      
      let rect = canvas.getBoundingClientRect();
      let x = event.clientX - rect.left;
      let y = event.clientY - rect.top;
      this.coordenada = {
        Referencia:'',
        id: x + y,
        x: parseFloat(x.toFixed(2)),
        y: parseFloat(y.toFixed(2)),
         Tipo: this.Tipo,
        IdDetalle: this.$route.params.id,
        Nivel: this.Nivel
      };
      
      this.$modal.show("modal-elige");
    },
    guardar() {
      this.$modal.hide("modal-elige");
      this.coordenada.Tipo= this.Tipo;
      let coor = this.coordenada
      this.coordenadas.push(coor);
      
      this.draw();
    },
    getDepartamento(id) {
      let params = {
        IdDetalle: id
      };
      axios
        .post("SessionWeb/GetEstatusDepartamento", params, this.header)
        .then(res => {
          this.departamento = res.data.GetEstatusDepartamentoResult;
          console.log("clv", this.departamento.clv_proyecto);
        });
    },
    draw() {
      //  console.log( this.coordenadas);
      let ctx = document.getElementById("canvas").getContext("2d");
      /* ctx.fillStyle = "#ff2626"; // Red color

        this.coordenadas.forEach(item => {
        ctx.beginPath();
        ctx.arc( item.x,item.y, 10, 0, Math.PI * 2, true);
        ctx.fill();

        }) */

      const removeElements = elms => elms.forEach(el => el.remove());

      removeElements(document.querySelectorAll(".point"));

      this.coordenadas.forEach(item => {
        console.log('dentro del draw',item);
        
        if (item.Nivel != this.Nivel) {
          console.log(item.Nivel)
          return;
        }
        var div = document.createElement("div");

        div.id = item.x + item.y * 10;
        div.className = "point";
        div.style.width = "100px";
        div.style.height = "100px";
        div.style.backgroundImage =
          "url(http://187.163.207.252:7000/planos/pin.png)";
        div.style.backgroundRepeat = "no-repeat";
        div.style.backgroundSize = "cover";
        div.style.color = "#20252b";
        div.style.position = "absolute";
        div.style.left = item.x + "px";
        div.style.top = item.y + "px";
        div.style.borderRadius = "50%";
        div.style.fontSize = "40px";
        div.style.zIndex = "1000";
        div.addEventListener("mouseover", this.getDetail, false);
        div.addEventListener("mouseleave", this.removeDetail, false);
        div.innerHTML = item.Referencia;        
        document.body.appendChild(div);
      });
    }
  }
};
</script>
