<template>
<div class="bodegas">

    <canvas 
      id="canvas" 
      width="5000"
      height="5000"
      class="canvas"
            
      :style="{ backgroundImage: 'url(' + image + ')' }"    >
      </canvas>         
</div>
</template>
<style scoped>
html,
body {
  height: 100%;
}

.seleccion {
  width: 400px;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  -webkit-box-shadow: -7px 2px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -7px 2px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: -7px 2px 5px 0px rgba(0, 0, 0, 0.31);
}
.canvas {
  cursor: crosshair;
  filter: gray;
  -webkit-filter: grayscale(100%);
}
</style>
<script>
import Vue from "vue";
import axios from "axios";

export default {
  name: "canvasbodegas",
  data() {
    return {
        token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      image:"http://187.163.207.252:7000/planos/MXDF-OP-V40.0-0ARQ-plantas-A-3-1.jpg" ,
      coordenadas: [],
      departamento:{},
      coordenada: {
        id: 0,
        x: "",
        y: "",
        referencia: "",
        tipo: "Bodega"
      }
    };
  },
  created() {
       this.coordenada = {
        id: x + y,
        x: x,
        y: y,
        tipo: "Bodega"
      };

      this.coordenadas.push(this.coordenada);
      this.draw();
      window.scrollTo(this.coordenadas[index].x, this.coordenadas[index].y)     
  },
  methods: { 
   
    getDetail(event) {    
      var target = document.getElementById(event.target.id);     
      target.style.color = "#1982ff";
      target.style.fontSize = "20px;";
      target.style.cursor = "pointer";    
    },
    removeDetail() {
      var target = document.getElementById(event.target.id);    
      target.style.cursor = "crosshair";
      target.style.color = "#20252b";
    },    
    draw() {
    
      let ctx = document.getElementById("canvas").getContext("2d");
      const removeElements = elms => elms.forEach(el => el.remove());
      removeElements(document.querySelectorAll(".point"));
      this.coordenadas.forEach(item => {
        var div = document.createElement("div");
        div.id = item.x + item.y * 10;
        div.className = "point";
        div.style.width = "100px";
        div.style.height = "100px";
        div.style.backgroundImage =
          "url(http://187.163.207.252:7000/planos/pin.png)";
        div.style.backgroundRepeat = "no-repeat";
        div.style.backgroundSize = "cover";
        div.style.color = "#20252b";
        div.style.position = "absolute";
        div.style.left = item.x + "px";
        div.style.top = item.y + "px";
        div.style.borderRadius = "50%";
        div.style.fontSize = "40px";
        div.style.zIndex = "1000";
        div.addEventListener("mouseover", this.getDetail, false);
        div.addEventListener("mouseleave", this.removeDetail, false);
        div.innerHTML = item.referencia;
        document.body.appendChild(div);
      });
    }
  }
};
</script>