<template>
  <div class="home">
    <app-Header></app-Header>
    <div id="base">
      <div id="content">
        <section>
          <router-view></router-view>
        </section>
      </div>
    </div>

    <app-menu></app-menu>
    <vue-progress-bar></vue-progress-bar>
    <modal
      name="modalSalir"
      :width="400"
      :height="400"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <h1 align="center">SESIÓN FINALIZADA POR INACTIVIDAD</h1>
      <img
        src="../assets/fin.gif"
        id="icon"
        alt="User Icon"
        style="width:180px; margin-left: 100px;"
        class="center"
      />
      <h4 align="center">Tu sesión en el sistema ha expirado.</h4>
      <div class="row">
        <button class="btn btn-block btn-danger" @click="Salir()">
          Volver a iniciar sesión
        </button>
      </div>
    </modal>
  </div>
</template>

<script>
import appHeader from "../components/app_header";
import appMenu from "../components/app_menu";
import Vue from "vue";
export default {
  name: "home",
  data() {
    return {
      interval: "",
      LogOut: 0,
    };
  },
  created() {
    var self = this;

    self.interval = setInterval(function(params) {
      self.Tiempo();
    }, 1080000);
  },

  mounted() {
    if (!Vue.localStorage.get("token")) {
      this.$router.push("/");
    }
  },
  methods: {
    Tiempo() {
      let hoy = new Date();
      let hora = hoy.getHours() + ":" + hoy.getMinutes();
      // console.log('Tiempo', hora)
      // console.log('Hora',Vue.localStorage.get('Hora') )

      if (hora > Vue.localStorage.get("Hora")) {
        var out = this;
        setTimeout(function() {
          // console.log('Ya entro')
          if (hora > Vue.localStorage.get("Hora")) {
            out.LogOut = 1;
            out.Cerrar();
          } else {
            out.LogOut = 0;
          }
        }, 3600000);
      }
    },

    Cerrar() {
      var Mo = this;
      if (this.LogOut == 0) {
        return;
      } else {
        //  console.log('Ya tiene que salir modal');
        this.$modal.show("modalSalir");
        this.$localStorage.remove("token");
        //  location.reload();
        clearInterval(this.interval);
      }
    },
    Salir() {
      this.$localStorage.set("Cliente_Id", 0);
      this.$localStorage.remove("token");
      this.$router.push("/home");
      clearInterval(this.interval);
      location.reload();
    },
  },

  components: {
    appHeader,
    appMenu,
  },
};
</script>
