<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
   
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">  Cancelaciòn de Pagos </strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catálogos ventas</a>
            </small>   
		</header>
	</div>

    <div class= "col-md-12">
     <div class="col-md-2">
         <font size=3><strong>Factura</strong></font>
         <input type="number" @change="getMotivo()" value="0"  min="0" class="form-control input-sm" v-model="Factura">
      </div>
       <!-- <div class="col-md-2">
          <font size=3><strong>Contrato</strong></font>
          <input type="number" value="0"  min="0" @change="getPagosContrato()" class="form-control input-sm" v-model="contrato">
      </div>
      <div class="col-md-2">
          <font size=3><strong>Cotizacion</strong></font>
          <input type="number" value="0"  min="0" @change="getMotivo()" class="form-control input-sm" v-model="Cotizacion">
      </div>     
       -->
      <div class= "col-md-6">
   <div class="col-md-4">
        <font size=3><strong>Fecha de Inicio</strong></font>
        <input type="date" name="Fecha1" id="FechaInicial" v-model="FechaInicio"   class="form-control">
        </div> 

         <div class="col-md-4">
        <font size=3><strong>Fecha de Fin</strong></font>
        <input type="date" name="Fecha2" id="FechaFin" v-model="FechaFin"   class="form-control">
        </div> 
          <div class="col-md-2">
        <br>
         <button class="btn btn-default btn-sm" @click="getMotivo">Buscar</button>
      </div>
    </div>
    </div>


 <modal
      name="modal-Eliminar"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
    <div ></div>
    
    <h3 align="center">¿Estas seguro que quieres eliminar?</h3>


      <div class="col-md-12 "   align="center" style="border-top: 1px solid #e6dada">
        <div class="col-md-6 " style="padding:10px;">
          <button class="btn btn-success" type="button"  @click="Cancela()" >Si</button>
           
        </div> 
        
        <div class="col-md-6 " style="padding:10px;">
          <button class="btn btn-error" type="button"  @click="$modal.hide('modal-Eliminar')">No</button>
           
        </div> 
       
      </div>
    </modal>  

    <modal
      name="modal-motivo"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
    <div ><h4 align="center">Selecciona el motivo por el cual se cancela </h4></div>
    <div class="row"></div>
   
     <div class="col-md-12"  align="center" style="border-top: 1px solid #e6dada">
      <select  align="center" @change="relcancela()" v-model="Motivo" class="form-control text-capitalize" name="vista">
       <option value="0" disabled >Selecciona</option>
       <option v-for="x in Listamotivos" :key="x.id" v-bind:value="x.id"> {{x.Descripcion}} </option>
         </select>
     </div>
   
          
    </modal>  

<div class="col-md-12" >

     <table class="table table-striped">
              <thead>
                <th># Factura</th>
                 <th>Usuario Registro</th>
                <th>Fecha Captura</th>           
                <th>Monto</th>
                <th>Cliente</th>
                <th>Estatus</th>
                <th>Ticket</th>
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr v-for="x in Ordenados" :key="x.id">
                  <td>{{x.id}}</td>
                  <td>{{x.nombreUsuario}}</td>
                  <td>{{x.Fecha}}</td>
                  <td>{{x.monto| currency}}</td>
                  <td class="text-capitalize">{{x.nombreCliente}}</td>
                  <td>{{(x.Status)}}</td>
                   <td v-show="x.Status=='Pagado'" ><button   type="button"  @click="Ticket(x.id)" class="btn btn-success btn-sm"><i class="fas fa-print"></i> imprimir </button></td>
                  <td v-show=" Dia==x.Fecha & x.Status=='Pagado' & tipousuario==1" ><button  type="button"  @click="enviar(x.id)" class="btn btn-danger btn-sm"><i class="fas fa-ban"></i> Cancelar</button></td>
                </tr>
              </tbody>
            </table>
             <vue-pagination
              :total="Math.ceil(this.tabledata.length/this.pageSize)"
              :each-side="1"
              v-model="currentPage"
            />



            </div>
      <modal
      name="modal-ticket"
      :width="500"
      :height="600"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
      >
     <iframe :src="ticket" style="width:500px;height:550px"></iframe>
      <div class="row">
        <button class="btn btn-block btn-default" @click=" $modal.hide('modal-ticket')">Salir</button>
      </div>
    </modal>



<!-- 
				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
       
         >
         </tablecomponent>	
	</div> -->
</div>

</div>
</template>
<script>
var f = new Date();

f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear();
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from '../../components/table.vue'
import { EventBus } from '../../event-bus'
import url from "../../urls";
export default {
  
  name: "app_motivo", 
   props: {
    total: {
      type: Number,
      required: true,
      validator: val => val > 0
    },
    eachSide: {
      type: Number,
      default: 1,
      validator: val => val >= 0
    }
  },
  computed: {
    Ordenados() {
      return this.tabledata.sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === "desc") modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        })
        .filter((row, index) => {
          let start = (this.currentPage - 1) * this.pageSize;
          let end = this.currentPage * this.pageSize;
          if (index >= start && index < end) return true;
        });
    }
  },
  data() {
    return {
      headers: [
        '#',
        'Contarto',
        'Cotizacion',
        'Monto',
        'Cliente',
        'Descripcion',
        'Estatus'

      ],
      actions: {
      
         filter:false
      },
      Dia:   (f.getDate()<10 ? `0${f.getDate()}`:f.getDate()) + "/" + ((f.getMonth() + 1)<10 ? `0${f.getMonth() + 1}`:f.getMonth() + 1)  + "/" + f.getFullYear(),
      tabledata:[],
      contrato: 0,
      Listamotivos:[],
      secancela: 0, 
      Factura: 0,
      FechaInicio :'',
      FechaFin :'',
      Cotizacion:0,
      Motivo:0,
      Op:0,
      Estatus:'',
       currentSort: "name",
      currentSortDir: "asc",
      pageSize: 5,
      currentPage: 1,
      ticket:'',
      tipousuario:  Vue.localStorage.get("tipoUsuario"),

      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }   
    };
  },
  mounted() {
    this.getMotivo();
    this.getMotivos();
  },
  methods: {
Ticket(x){
console.log('llega', x)
 let params = {
  Opexportacion: 1,
  IdDetalle: x
        };
 this.$modal.show("modal-ticket");
  axios
.post("/SessionWeb/GetTicket", params, this.header)
.then(res => {
   console.log(  this.ticket);
   this.ticket = url.URL_REPORTES + res.data.GetTicketResult;
 });

},




getMotivos() {
      let vm = this;
      axios.get("/SessionWeb/GetMotivoCacelacionPago", this.header).then(res => {
       res.data.GetMotivoCacelacionPagoResult.forEach((el) => {
         let obj = {
           id:el.Id,
           Descripcion: el.Descripcion,
           Activo:((el.Activo))? 'Activo' : 'Inactivo'
                           
          }          
          vm.Listamotivos.push(obj)
       });        
      });
    },   

relcancela(x){
   let params ={
     clv_Factura:this.secancela,
     id_Usuario: Vue.localStorage.get("clv_usuario"),
     Motivo: this.Motivo
   }

   console.log('que envio', params)

   axios
          .post("/SessionWeb/AddRelCancelacionFactura", params, this.header)
          .then(res => {
              this.$modal.hide("modal-motivo")
              setTimeout(function(){location.reload()}, 500);
          });   
},
    enviar(x){
      console.log('llego',x)
       this.secancela = x
       this.$modal.show('modal-Eliminar')
  


    },
     acomodarFecha(x) {

       console.log('fecha', x)
       let arrayFecha = x.split("-");
       let fechanueva =
         arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
       return fechanueva;
     },       
    
 Cancela(){
   let vm = this;
       axios
          .post("/SessionWeb/CancelarPago", { id:this.secancela }, this.header)
          .then(res => {
            this.$modal.hide("modal-Eliminar")
              this.$modal.show("modal-motivo")
          });      
          },
  
    getMotivo() {

       
      let vm = this;
      vm.tabledata = []
      let params = {
         Cotizacion: ((this.Cotizacion) ? this.Cotizacion: 0),
         Factura: ((this.Factura)? this.Factura: 0),
         FechaInicio: (this.FechaInicio =='') ? '':this.acomodarFecha(this.FechaInicio), 
         FechaFin: (this.FechaFin =='') ? '':this.acomodarFecha(this.FechaFin),
         Contrato: this.contrato,  
      }
      console.log('Params', params)
      axios.post("/SessionWeb/GetPagos",params ,this.header).then(res => {

        console.log('Estatus', res.data.GetPagosResult )
       res.data.GetPagosResult.forEach(el => {
         
         let obj = {
           id:el.Clv_factura,
           contrato: el.Contrato,
           cotizacion:el.Clv_Cotizacion,
           monto:el.Total,
           nombreCliente:el.Nombre_cliente,
           Descripcion:el.Descripcion,
           Status:((el.Estatus == 'C'))? 'Cancelada' : 'Pagado',
           nombreUsuario:el.nombre,
           Fecha: el.Fecha2,
           IdDetalle: el.IdDetalle
          //  Activo:((el.Activo))? 'Activo' : 'Inactivo'
                           
          };     
          vm.tabledata.push(obj)    
       });    
       
      });
    }
       
  },
  components: {
    tablecomponent
  }
};
</script>