<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Recepción de pagos</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="home" class="paginaActiva">Ventas</a>
          </small>
        </header>
      </div>

      
 
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <modal name="modal-pagos" :width="600" :height="555" :scrollable="true" :clickToClose="true">
      <h3 style="margin-left:20px">
        Total a pagar
        <money
          readonly
          v-model="total"
          name="precioAct"
          v-validate="'required'"
          class="form-control input-sm"
          v-bind="money"
        ></money>
      </h3>
      <div class="col-md-12" style="height:290px;overflow-y:scroll;">
        <select name="opPago" id="op" class="form-control" v-model="opPago">
          <option value>Seleccionar</option>
          <option value="1">Efectivo</option>
          <option value="2">Cheque</option>
          <option value="3">Transferencia</option>
        </select>

        <div v-if="opPago == 1">
          <div class="col-md-7">
            <h3>Pago en efectivo</h3>
          </div>
          <div class="col-md-4" style="margin-top:15px">
            <money
              @change.native="calcularCambio"
              v-model="Pago.Monto"
              name="precioAct"
              v-validate="'required'"
              class="form-control input-sm"
              v-bind="money"
            ></money>
          </div>
        </div>

        <div class="row"></div>

        <div class="col-12 col-lg-12 col-md-12"></div>

        <div v-if="opPago == 2">
          <div class="col-md-7">
            <h3>Pago en cheque</h3>
          </div>
          <div class="col-md-4" style="margin-top:15px">
            <money
              @change.native="calcularCambio"
              v-model="Pago.Monto"
              name="precioAct"
              v-validate="'required'"
              class="form-control input-sm"
              v-bind="money"
            ></money>
          </div>

          <div class="row"></div>

          <div class="col-md-7">
            <h3>Número de cheque</h3>
          </div>
          <div class="col-md-4" style="margin-top:15px">
            <input type="number" class="form-control" v-model="Pago.numeroCheque" />
            <br />
          </div>

          <div class="col-md-7">
            <h3>Banco</h3>
          </div>
          <div class="col-md-4" style="margin-top:15px">
            <select
              @change="getCuentas(Pago.banco)"
              v-model="Pago.banco"
              v-validate="'required'"
              class="form-control text-capitalize"
              name="nombre"
            >
              <option v-for="x in bancos" :key="x.id" v-bind:value="x.id">{{x.nombre}}</option>
            </select>
            <i v-show="errors.has('principal.nombre')" class="fa fa-warning"></i>
            <span
              v-show="errors.has('principal.nombre')"
              class="help is-danger text-danger"
            >El campo es obligatorio</span>
          </div>
        </div>

        <div class="col-12 col-lg-12 col-md-12"></div>

        <div v-if="opPago == 3">
          <div class="col-md-7">
            <h3>Pago con transferencia bancaria</h3>
          </div>
          <div class="col-md-4" style="margin-top:15px">
            <money
              @change.native="calcularCambio"
              v-model="Pago.Monto"
              name="precioAct"
              v-validate="'required'"
              class="form-control input-sm"
              v-bind="money"
            ></money>
          </div>

          <div class="row"></div>

          <div class="col-md-7">
            <h3>Banco</h3>
          </div>
          <div class="col-md-4" style="margin-top:15px">
            <select
              @change="getCuentas(Pago.banco)"
              v-model="Pago.banco"
              v-validate="'required'"
              class="form-control text-capitalize"
              name="nombre"
            >
              <option v-for="x in bancos" :key="x.id" v-bind:value="x.id">{{x.nombre}}</option>
            </select>
            <i v-show="errors.has('principal.nombre')" class="fa fa-warning"></i>
            <span
              v-show="errors.has('principal.nombre')"
              class="help is-danger text-danger"
            >El campo es obligatorio</span>
          </div>

          <div class="col-md-7">
            <h3>Número de cuenta</h3>
          </div>
          <div class="col-md-4" style="margin-top:15px">
            <select
              v-model="Pago.cuenta"
              v-validate="'required'"
              class="form-control text-capitalize"
              name="cuenta"
            >
              <option v-for="x in cuentas" :key="x.id" v-bind:value="x.id">{{x.cuenta}}</option>
            </select>
            <i v-show="errors.has('principal.cuenta')" class="fa fa-warning"></i>
            <span
              v-show="errors.has('principal.cuenta')"
              class="help is-danger text-danger"
            >El campo es obligatorio</span>
            <br />
          </div>
        </div>

        <div class="col-12 col-lg-12 col-md-12"></div>

        <div v-if="opPago!=''" class="pull-right">
          <button @click="AddPago" class="btn btn-success">
            <span class="fa fa-plus"></span> Agregar pago
          </button>
        </div>
      </div>

      <div class="col-md-12" style="height:120px;overflow-y:scroll;">
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <tr v-for="(x, index) in metodosPago" :key="index">
                <td v-show="x.Clv_tipoPago==1">Efectivo monto: {{x.Monto|currency}}</td>
                <td
                  v-show="x.Clv_tipoPago==2"
                >Cheque número: #{{x.numeroCheque}} monto: {{x.Monto|currency}}</td>
                <td v-show="x.Clv_tipoPago==3">Transferencia monto: {{x.Monto|currency}}</td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs" @click="eliminarPago(index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-12" style="border-top: 1px solid #e6dada; bottom: 0">
        <div class="col-md-8 pull-left">
          <h3>Saldo: {{cambio|currency}}</h3>
        </div>
        <div class="col-md-4 pull-right" style="padding:10px;">
          <button class="btn btn-default" type="button" @click="$modal.hide('modal-pagos')">Cerrar</button>
          <button @click="Pagar" class="btn btn-success" style="margin-left:10px">Pagar</button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-ticket"
      :width="500"
      :height="600"
      :scrollable="true"
      :clickToClose="false"
      style="z-index: 1500;"
    >
      <iframe :src="tiket" style="width:500px;height:550px"></iframe>
      <div class="row">
        <button class="btn btn-block btn-default" @click=" salir()">Salir</button>
      </div>
    </modal>
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import { Money } from "v-money";
import url from "../../urls";
export default {
  name: "app_addRecepcionDePagos",
  components: {
    Money
  },
  computed: {
    sortedArray: function() {
      function compare(a, b) {
        if (b.Id < a.Id) return -1;
        if (b.Id > a.Id) return 1;
        return 0;
      }

      return this.conceptos.sort(compare);
    }
  },
  data() {
    return {
      opPago: "",
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      url: "",
      fechaEnganche: "",
      fechaApartado: "",
      activoApartado: true,
      pago: 0,
      cambio: 0,
      contrato: 0,
      IVA: 0,
      subtotal: 0,
      conIVA: 0,
      efectivo: 0,
      cheque: 0,
      transferencia: 0,
      total: 0,
      enganche: false,
      apa: false,
      conceptosArray: [],
      conceptos: [],
      pagar: false,
      cliente: false,
      bancos: "",
      cuentas: [],
      conceptosNoAutomatico: [],
      tablecliente: [],
      tablecontrato: [],
      tablecontratoC: [],
      tablecontratoD: [],
      tablecotizacion: [],
      tablecotizacionC: [],
      tablecotizacionD: [],
      tableCotizacionCliente: [],
      tableContratoCliente: [],
      clv_cliente: [],
      nombre: "",
      body: {
        banco: "",
        cuenta: "",
        concepto: "",
        fecha: "",
        monto: "",
        formaDePago: "",
        activo: true
      },
      metodosPago: [],
      Pago: {
        Clv_factura: 0,
        Clv_tipoPago: 1,
        banco: 0,
        cuenta: 0,
        Monto: 0,
        numeroCheque: 0
      },
      filtro: {
        contrato: 0,
        cotizacion: 0,
        nombre: "",
        primer_apellido: "",
        segundo_apellido: "",
        otro_nombre: ""
      },
      params: {
        clv_cliente: 0,
        clv_usuario: Vue.localStorage.get("clv_usuario"),
        serie: "",
        folio: 1,
        pagoDolares: false,
        total: 0
      },
      impuestos: {
        idDetalle: 0,
        IVA: 0,
        IEPS: 0,
        subTotal: 0,
        total: 0
      },
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      arregloApartado: [],
      idContrato: 0,
      reservacion: 0,
      tiket: "",
      No_pago:"",
      contador: 0,
      Op:0
    };
  },
  mounted() {
    // this.getBancos();
    // this.getConfiguracion();
    // this.getClientes();
  },
  methods: {
    enviarIdcontrato(x) {
      this.tablecotizacion.Id = x;
      this.validarPagos();
    },
    getcotizacion(x) {
      let params = {
        clv_cotizacion: x
      };
      axios
        .post("/SessionWeb/ValidarCotizacion", params, this.header)
        .then(res => {
          if (res.data.ValidarCotizacionResult == 0) {
            this.$snotify.error(
              "La cotización no existe o la propuesta aún no ha sido aceptada",
              "¡Atención!"
            );
            return;
          }
          axios
            .post("/SessionWeb/GetCotizacionById", params, this.header)
            .then(res => {
              this.tablecotizacion = res.data.GetCotizacionByIdResult;
              console.log('TableCotizacion',  this.tablecotizacion)
              this.Op =res.data.GetCotizacionByIdResult.Op
              console.log('OP',res.data.GetCotizacionByIdResult.Op);
              this.params.clv_cliente = this.tablecotizacion.Clv_cliente;
              if (this.tablecotizacion.Estatus != "C") {
                axios
                  .post("/SessionWeb/getFechasEA", params, this.header)
                  .then(res => {
                    this.fechaEnganche =
                      res.data.getFechasEAResult.FechaEnganche2;
                    this.fechaApartado =
                      res.data.getFechasEAResult.FechaApartado2;

                    //console.log(res.data.getFechasEAResult);
                    this.getConceptos();
                  });
              } else {
                this.$snotify.error(
                  "La cotización esta cancelada",
                  "¡Atención!"
                );
                return;
              }
            });
        });
    },

    getcotizacion1(x) {
      axios
        .post(
          "/SessionWeb/GetCotizacionById",
          { clv_cotizacion: x },
          this.header
        )
        .then(res => {
          this.tablecotizacion = res.data.GetCotizacionByIdResult;
          console.log('tablecotizacion', this.tablecotizacion);
          this.params.clv_cliente = this.tablecotizacion.Clv_cliente;
          if (this.tablecotizacion.Estatus != "C") {
            this.getConceptos();
          } else {
            this.$snotify.error("La cotización esta cancelada", "¡Atención!");
            return;
          }
        });
    },
    enviarIdCotizacion(x) {
      this.validarPagos(x);
      this.getcotizacion1(x);

      this.tableCotizacionCliente.splice(0);
      this.pagar = true;
    },
    salir() {
      setTimeout(function() {
        location.reload();
      }, 200);
    },

    seleccionarContrato(x) {
      this.pagar = true;
    },
    seleccionarCotizacion(x) {
      this.validarPagos(x);
      this.pagar = true;
    },

    seleccionarClientes(x) {
      this.getCotizacionesCliente(x);
      this.GetContratoByCliente(x);
      this.tablecliente.splice(0);

      console.log("clave", this.clv_cliente);
    },
    getContrato(x) {
      this.idContrato = x;
      let params = {
        contrato: x
      };
      axios
        .post("/SessionWeb/ValidaContrato", params, this.header)
        .then(res => {
          if (res.data.ValidaContratoResult == 0) {
            this.$snotify.error("El contrato no existe", "Error");
            return;
          }
          axios
            .post("/SessionWeb/GetContratoById", params, this.header)
            .then(res => {
              this.tablecontrato = res.data.GetContratoByIdResult;
              this.tablecontratoC = res.data.GetContratoByIdResult.cliente;
              this.tablecontratoD = res.data.GetContratoByIdResult.departamento;

              this.getcotizacion(this.tablecontrato.Clv_cotizacion);
            });
        });
    },
    getContrato1(x) {
      axios
        .post("/SessionWeb/GetContratoById", params, this.header)
        .then(res => {
          this.tablecontrato = res.data.GetContratoByIdResult;
          this.tablecontratoC = res.data.GetContratoByIdResult.cliente;
          this.tablecontratoD = res.data.GetContratoByIdResult.departamento;
  
        });
        console.log('Op', this.Op)
    },

    GetContratoByCliente(x) {
      axios
        .post("/SessionWeb/GetContratoByCliente", { Id: x }, this.header)
        .then(res => {
          this.tableContratoCliente = res.data.GetContratoByClienteResult;
          console.log("que trae2", this.tableContratoCliente);
        });
    },

    getCotizacionesCliente(x) {
      axios
        .post("/SessionWeb/SearchCotizacionByCliente", { Id: x }, this.header)
        .then(res => {
          this.tableCotizacionCliente =
            res.data.SearchCotizacionByClienteResult;
          console.log("que trae", this.tableCotizacionCliente);
        });
    },

    validarPagos(x) {
      this.conceptos = [];
      let enganche = false;

      axios
        .post(
          "/SessionWeb/GetContratoByCotizacion",
          { clv_cotizacion: this.tablecotizacion.Id },
          this.header
        )
        .then(resultado => {
          this.contrato = resultado.data.GetContratoByCotizacionResult;
        });

      axios
        .post(
          "/SessionWeb/selectPagoApartado",
          { clv_cotizacion: this.tablecotizacion.Id },
          this.header
        )
        .then(res => {
          let resultado = res.data.selectPagoApartadoResult;
          console.log('Esto llega', res.data.selectPagoApartadoResult)
          if (resultado == 1 || this.tablecotizacion.Reservacion == 0) {
            this.apa = true;
          } else {
            this.apa = false;
          }

          axios
            .post(
              "/SessionWeb/selectPagoEnganche",
              { clv_cotizacion: this.tablecotizacion.Id },
              this.header
            )
            .then(res => {
              let resultado = res.data.selectPagoEngancheResult;
       
              if (resultado == 1) {
                this.tablecotizacion.precios.EngancheInicial = 0;
                this.enganche = true;
              } else {
                this.enganche = false;
              }

              x.forEach((el, index) => {
                console.log(el);

                if (el.Id == 6 && this.apa == false) {
                  el.Monto = this.tablecotizacion.Reservacion;
                  el.FechaPago = this.fechaApartado;
                  this.arregloApartado.push(el);
                  this.conceptos.push(el);
                  return;
                }

                if (el.Id == 4 && this.enganche == false) {
                  // console.log('ENGANCHEI',this.tablecotizacion.EngancheInicial);
                     
                  enganche = true;
                  el.FechaPago = this.fechaEnganche;
                  
                  
                  if (this.Op == 1){
                      el.Monto = (
                    ((this.tablecotizacion.EngancheInicial +
                      this.tablecotizacion.EngancheAdicional) /
                      100) *
                      this.tablecotizacion.precios.PrecioInicial -
                    this.tablecotizacion.Reservacion
                  ).toFixed(2);
                  this.conceptos.push(el);
                  return;

                  }
                    if (this.Op == 0){
                      el.Monto = (
                    ((this.tablecotizacion.EngancheInicial +
                      this.tablecotizacion.EngancheAdicional) /
                      100) *
                      this.tablecotizacion.precios.PrecioInicial -
                    this.tablecotizacion.Reservacion
                  ).toFixed(2);
                  this.conceptos.push(el);
                  return;

                  }
                
                }

                if (!enganche) {
                  if (this.contrato == 0 && index == x.length - 1) {
                    this.$snotify.error("No existe un contrato", "Error");
                  }

                  axios
                    .post(
                      "/SessionWeb/GetRelacionPagosContratoById",
                      { contrato: this.contrato },
                      this.header
                    )
                    .then(pagos => {
                      let listapagos = pagos.data.GetRelacionPagosContratoByIdResult;

                      if (listapagos.length == 0) {
                        return;
                      }
                      if (el.Id == 4 || el.Id == 6) return;

                      if (index == x.length - 1) {
                        listapagos.forEach((element, index) => {
                          let f = element.FechaPago2.split("/");
                          let FPago = new Date(f[2], f[1] - 1, f[0]);
                          console.log('Pagos', listapagos)

                          element.FechaPago = element.FechaPago2;
                          this.conceptos.push(element);
                          if (element.clv_concepto == 10) {
                            return;
                            /* this.conceptosArray.push(element);
                            this.total += element.Monto; */
                          }

                          if (FPago.getTime() <= new Date().getTime()) {
                            this.conceptos[index].des = true;
                            this.conceptos[index].check = true;
                            this.conceptosArray.push(element);
                            this.total += element.Monto;
                          }
                        });
                        return;
                      }
                      /* if (el.Id == 7) {
                    el.FechaPago = this.tablecotizacion.FechaEntrega2;
                    el.Monto = this.tablecotizacion.precios.LiquidacionEscrituracion;
                    this.conceptos.push(el); 
                    return;
                }
                if (el.Id == 9) {
                    return;
                } */
                    });
                }
              });
            });
        });
    },
    getClientes() {
      let vm = this;
      if (vm.filtro.nombre == "") {
        this.$snotify.error("Ingrese un nombre", "¡Atención!");
        return;
      }
      vm.tablecliente = [];
      let params = {
        Op: 2,
        nombre: this.filtro.nombre,
        otro_nombre: this.filtro.otro_nombre,
        primer_apellido: this.filtro.primer_apellido,
        segundo_apellido: this.filtro.segundo_apellido
      };

      axios
        .post("/SessionWeb/Searchclientes", params, this.header)
        .then(res => {
          res.data.SearchclientesResult.forEach(el => {
            let obj = {
              id: el.clv_comprador,
              nombre: el.nombre,
              otro_nombre: el.otro_nombre,
              primer_apellido: el.primer_apellido,
              segundo_apellido: el.segundo_apellido,
              celular: el.celular
            };
            vm.tablecliente.push(obj);
            this.cliente = true;
          });
        });
    },
    getBancos() {
      let vm = this;
      axios.get("/SessionWeb/GetBancos", this.header).then(res => {
        this.bancos = res.data.GetBancosResult;
      });
    },
    getCuentas(x) {
      this.cuentas = [];
      axios
        .post(
          "/SessionWeb/GetCuentasBancariasByBanco",
          { idBanco: x },
          this.header
        )
        .then(res => {
          this.cuentas = res.data.getCuentasBancariasByBancoResult;
        });
    },
    getConceptos() {
      let vm = this;
      let array = [];
      axios.get("/SessionWeb/getConceptosDePago", this.header).then(res => {
        res.data.getConceptosDePagoResult.forEach(x => {
          if (x.Activo == true && x.CobroAutomatico == true) {
            array.push(x);
          }
        });
      });
      this.seleccionarCotizacion(array);
    },
    addRecepcionDePago(scope) {},
    buscarCliente(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
        } else {
          return;
        }
      });
    },
    Pagar() {
      let CLV_FACTURA = 0;

      if (this.pago == 0 && this.total != 0) {
        this.$snotify.error(
          `No ha introducido ninguna cantidad para el pago`,
          "¡Atención!"
        );
        return;
      }

      if (this.pago == 0 && this.total == 0) {
        this.$modal.hide("modal-pagos");
        return;
      }

      let comparacion = this.total - this.pago;

      if (comparacion > 0) {
        this.$snotify.error(
          `Faltan $${comparacion.toFixed(2)} por pagar`,
          "¡Error!"
        );
      } else {
        this.params.total = this.total.toFixed(2);
        axios
          .post("/SessionWeb/addRecepcionDePago", this.params, this.header)
          .then(res => {
            CLV_FACTURA = res.data.addRecepcionDePagoResult;
            this.No_pago = res.data.addRecepcionDePagoResult
            //console.log(CLV_FACTURA);
            this.conceptos.forEach((el, index) => {
              console.log(el)
              if(!el.check || el.check == false){
                this.contador++;
              return;           
                 }
              axios
                .post(
                  "/SessionWeb/addRecepcionDePagoDet",
                  {
                    clv_factura: res.data.addRecepcionDePagoResult,
                    clv_concepto: el.Id ? el.Id : el.clv_concepto,
                    precio_unitario: el.Monto,
                    descripcion: el.Descripcion,
                    contrato: this.contrato,
                    clv_cotizacion: this.tablecotizacion.Id,
                    clv_departamento: this.tablecotizacion.departamento.IdDetalle
                  },
                  this.header
                )
                .then(res => {
                  this.impuestos.idDetalle = res.data.addRecepcionDePagoDetResult;
                  this.impuestos.subTotal = this.subtotal;
                  this.impuestos.total = this.total;
                  if (this.contador == this.conceptos.length - 1) {
                    console.log('ENTRA');
                    this.metodosPago.forEach((elemento, posicion) => {
                      elemento.Clv_factura = CLV_FACTURA;
                      axios
                        .post(
                          "/SessionWeb/addMetodoPago",
                          elemento,
                          this.header
                        )
                        .then(res => {          
                  
                        });                      
                    });
                  }
                 this.contador++;
                });
            });
          });
      }
    },
    agregar() {
      this.conceptosDePago();
      this.$modal.show("modal-conceptos");
    },
    conceptosDePago() {
      axios.get("/SessionWeb/getConceptosDePago", this.header).then(res => {
        this.conceptosNoAutomatico = [];
        res.data.getConceptosDePagoResult.forEach(concepto => {
          if (concepto.Activo == true && concepto.CobroAutomatico == false)
            this.conceptosNoAutomatico.push(concepto);
        });
      });
    },
    check(x, pos) {                

        let f2 = new Date(this.recuperaFecha(x)).getTime();
        for (var i = 0; i < this.conceptos.length; i++) {
          if (this.conceptos[i].clv_concepto != 10) {
            if (!this.conceptos[i].des) {
              let f1Comparacion = new Date(
                this.recuperaFecha(this.conceptos[i].FechaPago)
              ).getTime();
              if ((f1Comparacion - f2) / (1000 * 60 * 60 * 24) < 0) {
                this.conceptos[i].check = true;
              }
              if ((f1Comparacion - f2) / (1000 * 60 * 60 * 24) > 0) {
                this.conceptos[i].check = false;                
              }
            }
          }
        }
      
      this.total = 0;
      this.subtotal = 0;
      this.conIVA = 0;

      this.conceptos.forEach(el => {
        if (el.check) {
          this.subtotal += parseFloat(el.Monto);
        }
      });

      /* this.conIVA = (this.subtotal * (this.IVA / 100));
      this.total = this.subtotal + this.conIVA; */
      this.cambio = this.subtotal;
      this.total = this.subtotal;
    },
    getConfiguracion() {
      let vm = this;
      axios
        .get("/SessionWeb/GetConfiguracionSistema", this.header)
        .then(res => {
          this.IVA = res.data.GetConfiguracionSistemaResult[0].IVA;
          this.params.serie = res.data.GetConfiguracionSistemaResult[0].Serie;
          this.reservacion = res.data.GetConfiguracionSistemaResult[0].Reservacion;
        });
    },
    calcularCambio() {},
    AddPago() {
      if (this.opPago == 1 && this.Pago.Monto == 0) {
        this.$snotify.error("Ingrese una cantidad", "¡Atención!");
        return;
      }
      if (
        this.opPago == 2 &&
        (this.Pago.Monto == 0 ||
          this.Pago.numeroCheque == 0 ||
          this.Pago.banco == 0)
      ) {
        this.$snotify.error("Complete los datos del cheque", "¡Atención!");
        return;
      }
      if (
        this.opPago == 3 &&
        (this.Pago.Monto == 0 || this.Pago.cuenta == 0 || this.Pago.banco == 0)
      ) {
        this.$snotify.error(
          "Complete los datos de la transferencia",
          "¡Atención!"
        );
        return;
      }
      this.metodosPago.push({
        Clv_factura: this.Pago.Clv_factura,
        Monto: this.Pago.Monto,
        Clv_tipoPago: this.opPago,
        banco: this.Pago.banco,
        cuenta: this.Pago.cuenta,
        numeroCheque: this.Pago.numeroCheque
      });

      this.pago = 0;

      this.metodosPago.forEach(el => {
        this.pago += el.Monto;
      });
      console.log(this.pago);
      this.cambio = this.total - this.pago;

      this.Pago.Clv_factura = 0;
      this.Pago.Clv_tipoPago = 1;
      this.Pago.banco = 0;
      this.Pago.cuenta = 0;
      this.Pago.Monto = 0;
      this.Pago.numeroCheque = 0;
    },
    eliminarPago(x) {
      this.cambio += this.metodosPago[x].Monto;
      this.metodosPago.splice(x, 1);
    },
    recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "/" + fecha[1] + "/" + fecha[0];      
      return arreglo;
    },
  }
};
</script>