<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Recibir pago</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="home" class="paginaActiva">Ventas</a>
          </small>
        </header>
      </div>
      <div class="card-body">

      
           <div class="col-md-12">
            <div class="card-head style-default-light">
              <header>
                <div class="col-md-12">
                <strong style="font-weight:bold; border:none; margin-left:10px;">Buscar cliente</strong>
              </div>
              </header>
              <span data-toggle="collapse" class="fa fa-angle-down pull-right" style="margin:20px 35px 0 0;" href="#body" aria-expanded="true" aria-controls="body"></span>
            </div>          
            
            <div class="card-body panel-collapse collapse in" id="body" style="background-color:#FAFAFA">

              <vue-tabs active-tab-color="#264562"   active-text-color="white">

                <v-tab title="Contrato">
                  <form @submit.prevent="buscarCliente('filtroContrato')" data-vv-scope="filtroContrato">
                    <div class="col-md-3" style="margin-top:24px">
                    <h4>Contrato</h4>
                    <div class="row"></div>
                    <input type="text" name="contrato" class="text-capitalize form-control" v-model="filtro.contrato" v-validate="'required'">
                    <div class="row"></div>
                    <i v-show="errors.has('filtroContrato.contrato')" class="fa fa-warning"> </i>
                    <span v-show="errors.has('filtroContrato.contrato')" class="help is-danger text-danger"> El campo es obligatorio</span>
                    </div>
                    <div class="col-md-12">
                      <button class="btn btn-success pull-right" @click="getContrato" style="margin-right: 15px"><span class="fa fa-search"></span> Buscar</button>
                    </div>
                  </form>
                     
                     <div v-if="tablecontrato.Id" class="col-lg-12 table-responsive">				
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                               <th>Clv_cotizacion</th> 
                               <th>Nombre cliente</th> 
                               <th>Numero departamento</th> 
                               <th>Seleccionar</th>
                            
                                              
                            </tr>
                        </thead>
                        <tbody >
                            
                            <tr>
                                 <td>{{tablecontrato.Id}}</td>
                                 <td>{{tablecontrato.Clv_cotizacion}}</td> 
                                 <td class="text-capitalize">{{tablecontratoC.nombre}} {{tablecontratoC.otro_nombre}} {{tablecontratoC.primer_apellido}} {{tablecontratoC.segundo_apellido}}</td>
                                 <td>{{tablecontratoD.NumDepartamento}}</td>
                                 <td ><button type="button" @click="seleccionarC(tablecontrato.Id)" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Seleccionar</button></td> 
                                            
                            </tr>                            
                        </tbody>                        
                    </table>   

                     <div v-if="pagar" class="col-12 col-md-12 col-lg-12">
                        <div class="col-12 col-md-3 col-lg-3">	
                        <h4>Datos del cliente</h4>			                      
                          <div class="col-12">
                          <span>Nombre <br>{{` ${tablecotizacion.cliente.nombre} ${tablecotizacion.cliente.otro_nombre} ${tablecotizacion.cliente.primer_apellido} ${tablecotizacion.cliente.segundo_apellido} `}}</span>
                          </div>
                          <div class="col-12">
                          <span>Correo <br>{{` ${tablecotizacion.cliente.correo}`}}</span>
                          </div>
                          <div class="col-12">
                          <span>Celular <br>{{` ${tablecotizacion.cliente.celular}`}}</span>
                          </div>
                        </div>              

                     <div class="col-12 col-md-3 col-lg-3">	
                          <h4>Datos del departamento</h4>		
                          <div class="col-12 col-md-6">
                            <span>Torre <br>{{`${tablecotizacion.departamento.Torre}`}}</span>
                            </div>	                      
                            <div class="col-12 col-md-6">
                            <span>Departamento <br>{{` ${tablecotizacion.departamento.departamento} `}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Piso <br>{{` ${tablecotizacion.departamento.Piso}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Nivel <br>{{` ${tablecotizacion.departamento.Nivel}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Número <br>{{` ${tablecotizacion.departamento.NumDepartamento}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Lado <br>{{` ${tablecotizacion.departamento.Lado}`}}</span>
                            </div>
                            
                    </div>	

          </div>


                </div>		  



                </v-tab>

                <v-tab title="Cotizacion">
                    <div class="col-md-3">
                      <h4>Cotizacion</h4>
                      <div class="row"></div>
                      <input type="number" name="cotizacion" class="text-capitalize form-control" v-model="filtro.cotizacion" v-validate="'required'">                      
                    </div>
                    <div class="col-md-12">
                      <button type="button" class="btn btn-success pull-right"  @click="getcotizacion" style="margin-right: 15px"><span class="fa fa-search"></span> Buscar</button>
                    </div>

                      <div v-if="pagar" class="col-12 col-md-12 col-lg-12">

                        <div class="col-12 col-md-3 col-lg-3">	
                        <h4>Datos del cliente</h4>			                      
                          <div class="col-12">
                          <span>Nombre <br>{{` ${tablecotizacion.cliente.nombre} ${tablecotizacion.cliente.otro_nombre} ${tablecotizacion.cliente.primer_apellido} ${tablecotizacion.cliente.segundo_apellido} `}}</span>
                          </div>
                          <div class="col-12">
                          <span>Correo <br>{{` ${tablecotizacion.cliente.correo}`}}</span>
                          </div>
                          <div class="col-12">
                          <span>Celular <br>{{` ${tablecotizacion.cliente.celular}`}}</span>
                          </div>
                        </div>              

                     <div class="col-12 col-md-3 col-lg-3">	
                          <h4>Datos del departamento</h4>		
                          <div class="col-12 col-md-6">
                            <span>Torre <br>{{`${tablecotizacion.departamento.Torre}`}}</span>
                            </div>	                      
                            <div class="col-12 col-md-6">
                            <span>Departamento <br>{{` ${tablecotizacion.departamento.departamento} `}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Piso <br>{{` ${tablecotizacion.departamento.Piso}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Nivel <br>{{` ${tablecotizacion.departamento.Nivel}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Número <br>{{` ${tablecotizacion.departamento.NumDepartamento}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Lado <br>{{` ${tablecotizacion.departamento.Lado}`}}</span>
                            </div>
                            
                    </div>	

                    </div>		

                </v-tab>





                <v-tab title="Nombre">
                  <form @submit.prevent="buscarCliente('filtroNombre')" data-vv-scope="filtroNombre">
                    <div class="col-md-3">
                    <h4>Nombre</h4>
                    <div class="row"></div>
                    <input type="text" name="contrato" class="text-capitalize form-control" v-model="filtro.nombre" v-validate="'required'">
                    <div class="row"></div>
                    <i v-show="errors.has('filtroNombre.contrato')" class="fa fa-warning"> </i>
                    <span v-show="errors.has('filtroNombre.contrato')" class="help is-danger text-danger"> El campo es obligatorio</span>
                    </div>
                 
     
                 
                    <div class="col-md-3">
                    <h4>Otro nombre</h4>
                    <div class="row"></div>
                    <input type="text" name="Otro" class="text-capitalize form-control" v-model="filtro.otro_nombre" v-validate="'required'">
                    <!-- <div class="row"></div>
                    <i v-show="errors.has('filtroNombre.Otro')" class="fa fa-warning"> </i>
                    <span v-show="errors.has('filtroNombre.Otro')" class="help is-danger text-danger"> El campo es obligatorio</span> -->
                    </div>

                   
                    <div class="col-md-3">
                    <h4>Primer apellido</h4>
                    <div class="row"></div>
                    <input type="text" name="Primer" class="text-capitalize form-control" v-model="filtro.primer_apellido" v-validate="'required'">
                    <!-- <div class="row"></div>
                    <i v-show="errors.has('filtroNombre.Primer')" class="fa fa-warning"> </i>
                    <span v-show="errors.has('filtroNombre.Primer')" class="help is-danger text-danger"> El campo es obligatorio</span> -->
                    </div>


                    <div class="col-md-3">
                    <h4>Segundo apellido</h4>
                    <div class="row"></div>
                    <input type="text" name="Segundo" class="text-capitalize form-control" v-model="filtro.segundo_apellido" v-validate="'required'">
                    <div class="row"></div>
                    <!-- <i v-show="errors.has('Segundo.contrato')" class="fa fa-warning"> </i>
                    <span v-show="errors.has('Segundo.contrato')" class="help is-danger text-danger"> El campo es obligatorio</span> -->
                    </div>

                    <div class="col-md-12">
                      <button type="button" class="btn btn-success pull-right" style="margin-top:10px"   @click="getClientes" ><span class="fa fa-search"></span> Buscar</button>
                    </div>


                  </form>
                     <div v-if="cliente" class="col-lg-12 table-responsive">				
                    <table   v-if="tablecliente.length >0" class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Primer apellido</th>
                                <th>Segundo apellido</th>
                                <th>Celular</th>
                                              
                            </tr>
                        </thead>
                        <tbody >
                            
                            <tr v-for="(x, index) in tablecliente" :key="x.id">
                                 <td>{{x.id}}</td>
                                 <td class="text-capitalize">{{x.nombre}}{{x.otro_nombre}}</td> 
                                 <td class="text-capitalize">{{x.primer_apellido}}</td> 
                                 <td class="text-capitalize">{{x.segundo_apellido}}</td>
                                 <td>{{x.celular}}</td>
                                 <td><button type="button" @click="seleccionarClientes(x.id,index)" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Seleccionar</button></td>

                                            
                            </tr>                            
                        </tbody>                        
                    </table>                                     
                </div>	
               <div v-if="this.tableCotizacionCliente.length >0"    class="col-md-12">
                 <h4 align ='center'>Cotizaciones del cliente</h4>
            <table class="table table-striped">
              
              <thead>
                <th># Folio</th>
                <th>Estatus</th>
                <th>Fecha Cotización</th>
                <th>Fecha Expiración</th>
                <th>Cliente</th>               
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr v-for="x in tableCotizacionCliente" :key="x.Id">
                  <td>{{x.Id}}</td>
                  <td>{{(x.Estatus=='A')? "Activo":"Cancelado"}}</td>
                  <td>{{x.Fecha2}}</td>
                  <td>{{x.FechaExpiracion2}}</td>
                  <td class="text-capitalize">{{x.Nombre_cliente}}</td>
                  
                  <td>
                    <button
                      class="btn btn-success btn-sm"
                      @click="enviarIdCotizacion(x.Id)"
                    >
                      <i class="fa fa-hand-pointer"></i> Seleccionar 
                    </button>                   
                  </td>
                </tr>
              </tbody>
            </table>
                     

                    </div>		
 <div v-if="pagar" class="col-12 col-md-12 col-lg-12">
                        <div class="col-12 col-md-3 col-lg-3">	
                        <h4>Datos del cliente</h4>			                      
                          <div class="col-12">
                          <span>Nombre <br>{{` ${tablecotizacion.cliente.nombre} ${tablecotizacion.cliente.otro_nombre} ${tablecotizacion.cliente.primer_apellido} ${tablecotizacion.cliente.segundo_apellido} `}}</span>
                          </div>
                          <div class="col-12">
                          <span>Correo <br>{{` ${tablecotizacion.cliente.correo}`}}</span>
                          </div>
                          <div class="col-12">
                          <span>Celular <br>{{` ${tablecotizacion.cliente.celular}`}}</span>
                          </div>
                        </div>              

                     <div class="col-12 col-md-3 col-lg-3">	
                          <h4>Datos del departamento</h4>		
                          <div class="col-12 col-md-6">
                            <span>Torre <br>{{`${tablecotizacion.departamento.Torre}`}}</span>
                            </div>	                      
                            <div class="col-12 col-md-6">
                            <span>Departamento <br>{{` ${tablecotizacion.departamento.departamento} `}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Piso <br>{{` ${tablecotizacion.departamento.Piso}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Nivel <br>{{` ${tablecotizacion.departamento.Nivel}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Número <br>{{` ${tablecotizacion.departamento.NumDepartamento}`}}</span>
                            </div>
                            <div class="col-12 col-md-6">
                            <span>Lado <br>{{` ${tablecotizacion.departamento.Lado}`}}</span>
                            </div>
                            
                    </div>	

          </div>

            <div v-if="this.tableContratoCliente.length >0" class="col-md-12">
            <h4 align ='center'>Contratos del cliente</h4>
            <table class="table table-striped">
              
              <thead>
                <th># Folio</th>
                <th>Cotizacion</th>
                <th>Nombre cliente</th> 
                <th>Numero departamento</th>    
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr v-for="x in tableContratoCliente" :key="x.Clv_cotizacion">
                  <td>{{x.Id}}</td>
                  <td>{{x.Clv_cotizacion}}</td>
                  <td class="text-capitalize">{{x.Nombre_cliente}}</td>
                  <td>{{x.NumDepartamento}}</td>
                
                  
                  <td>
                    <button
                      class="btn btn-success btn-sm"
                      @click="enviarIdcontrato(x.Clv_cotizacion)"
                    >
                      <i class="fa fa-hand-pointer"></i> Seleccionar 
                    </button>                   
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

                </v-tab>
	                             
              </vue-tabs>
            </div>  
<br>
      <div v-if="pagar">
            <div class="card-body" style="background-color:#FAFAFA">
            <span data-toggle="collapse" class="fa fa-angle-down pull-right" style="margin-right: 10px" href="#body2" aria-expanded="true" aria-controls="body2"></span>
            </div>
           <div class="card-body panel-collapse collapse in" id="body2" style="background-color:#FAFAFA">
          <form @submit.prevent="addRecepcionDePago('principal')" data-vv-scope="principal">         

          <div class="col-md-6">

           <table class="table table-bordered">
             <thead>
               <tr style="text-align:center">
                 <td>Concepto</td>
                 <td>Fecha de pago</td> 
                 <td>Importe</td>
                 <td>Seleccionar</td>
               </tr>
             </thead>
                <tbody>
                  <tr v-for="(x, y) in conceptos" :key="y">
                    <td>{{x.Descripcion}}</td>
                    <td class="text-center">
                      {{x.FechaPago}}
                    </td>
                    <td class="text-center">
                      {{x.Monto|currency}}
                    </td>
                    <td v-if="!apa || !enganche" class="text-center">                    
                        <p-check 
                        @change="check(conceptosArray)"  
                        v-model="conceptosArray" 
                        :value='(x)'                        
                        class="p-svg p-curve" color="success">
                          <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                              style="stroke: white;fill:white"                              
                            />
                          </svg>                      
                        </p-check>                      
                    </td>
                    <td v-if="apa && enganche" class="text-center">                    
                        <p-check 
                        @change="check(conceptosArray)"  
                        v-model="conceptosArray" 
                        :value='(x)'                        
                        class="p-svg p-curve" color="success">
                          <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                              style="stroke: white;fill:white"                              
                            />
                          </svg>
                      
                        </p-check>                      
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>Total </td>
                    <td></td>
                    <td class="text-center">${{total}}</td>
                  </tr> -->
                </tbody>
           </table>

          <!--   <div class="col-md-12 form-group">
              <span>Cuenta</span>
              <div class="row"></div>
              <select
                v-model="body.cuenta"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="cuenta"
              >
                <option v-for="x in cuentas" :key="x.id" v-bind:value="x.cuenta">{{x.cuenta}}</option>
              </select>
              <i v-show="errors.has('principal.cuenta')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.cuenta')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span>
            </div>

             <div class="col-md-12 form-group">
              <span>Concepto</span>
              <div class="row"></div>
              <select
                v-model="body.concepto"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="concepto"
              >
                <option v-for="x in conceptos" :key="x.id" v-bind:value="x.concepto">{{x.concepto}}</option>
              </select>
              <i v-show="errors.has('principal.concepto')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.concepto')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span>
            </div>

          </div>

          <div class="col-md-6">
               <div class="col-md-12 form-group">
				        <span>Fecha</span>
                <div class="row"></div>
                <input 
                type="date" 
                name="fecha"                  
                class="form-control"                
                v-model="body.fecha" 
                v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principalPiso.fecha')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principalPiso.fecha')" class="help is-danger text-danger"> Ingresa una fecha válida</span>
                </div>

                <div class="col-md-12">
			    <span>Monto</span>
                <div class="row"></div>
                <input type="number" name="monto" class="text-capitalize form-control" v-model="body.monto" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.monto')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.monto')" class="help is-danger text-danger"> El campo es obligatorio</span>
                </div> 



            <div class="col-md-12">
              <p-check class="p-svg p-curve" color="success" v-model="body.activo">
                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                  <path
                    d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                    style="stroke: white;fill:white"
                  />
                </svg>
                Activo
              </p-check>
            </div>-->

            <!-- <div class="col-md-6 pull-right" style="padding:15px; margin-top:15px;">
              <button type="submit" class="btn btn-success pull-left">
                Registrar
                <span class="fa fa-check"></span>
              </button>
              <button
                @click="$router.push({ path: `/cuentasBancarias` })"
                type="button"
                class="btn btn-default pull-right"
              >
                Cancelar
                <span class="fa fa-sign-out-alt"></span>
              </button>
            </div> -->
          </div>
        </form>
            </div>

        <br>

            <div class="card-body" style="background-color:#FAFAFA">
            <span data-toggle="collapse" class="fa fa-angle-down pull-right" style="margin-right: 10px" href="#body3" aria-expanded="true" aria-controls="body3"></span>
            </div>
           <div class="card-body panel-collapse collapse in" id="body3" style="background-color:#FAFAFA">
             <div class="col-md-4">
               <button class="btn btn-success" @click="agregar" style="margin-right:10px">Agregar</button>
               <button class="btn">Quitar</button>
             </div>
                <div class="col-md-2 pull-right">                  
                 <!--  <h3 style="margin-right:50px">Subtotal</h3>
                  <money v-model="subtotal" name="precioAct" class="form-control" readonly  v-bind="money"></money>
                  <h3 style="margin-right:50px">IVA</h3>
                  <money v-model="conIVA" name="precioAct" class="form-control" readonly  v-bind="money"></money> -->
                  <h3 style="margin-right:50px">Total</h3>
                  <money v-model="total" name="precioAct" class="form-control" readonly  v-bind="money"></money>
              </div>
              <div class="col-md-12">        
                <button @click="$modal.show('modal-pago')" class="btn btn-success pull-right" style="margin-right:15px; margin-top:30px">Pagar</button>
              </div>
           </div>


           </div>

           </div>
      </div>
    </div>


      <modal
      name="modal-pago"
      :width="600"
      :height="700"
      :scrollable="true"
      :clickToClose="true"      
    >
      <h3 style="margin-left:20px">Total a pagar
      <money 
      readonly 
      v-model="total" 
      name="precioAct" 
      v-validate="'required'" 
      class="form-control input-sm"  
      v-bind="money"></money>
        </h3>
      <div class="col-md-12" style="max-height:550px;overflow-y:scroll;">
     
     <div class="col-md-7">
        <h3>Pago en efectivo</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
        <money  v-model="efectivo.monto" name="precioAct" v-validate="'required'" class="form-control input-sm"  v-bind="money"></money>
      </div>

       <div class="row"></div>

      <div class="col-md-7">
        <h3>Banco</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
              <select
                @change="getCuentas(efectivo.banco)"
                v-model="efectivo.banco"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="nombre"
              >
                <option v-for="x in bancos" :key="x.id" v-bind:value="x.id">{{x.nombre}}</option>
              </select>
              <i v-show="errors.has('principal.nombre')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.nombre')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span>
      </div>

      <div class="col-md-7">
        <h3>Número de cuenta</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
              <select
                v-model="efectivo.cuenta"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="cuenta"
              >
                <option v-for="x in cuentas" :key="x.id" v-bind:value="x.id">{{x.cuenta}}</option>
              </select>
              <i v-show="errors.has('principal.cuenta')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.cuenta')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span><br>
      </div>

      <div class="col-12 col-lg-12 col-md-12">
  ----------------------------------------------------------------------------------------------------------------------------------------------------
  </div>

      <div class="col-md-7">
        <h3>Pago en cheque</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
        <money v-model="cheque.monto" name="precioAct" v-validate="'required'" class="form-control input-sm"  v-bind="money"></money>
      </div>

      <div class="row"></div>      
      
      <div class="col-md-7">
        <h3>Número de cheque</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
        <input type="number" class="form-control"><br>
      </div>

      <div class="col-md-7">
        <h3>Banco</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
              <select
                @change="getCuentas(cheque.banco)"
                v-model="cheque.banco"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="nombre"
              >
                <option v-for="x in bancos" :key="x.id" v-bind:value="x.id">{{x.nombre}}</option>
              </select>
              <i v-show="errors.has('principal.nombre')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.nombre')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span>
      </div>

      <div class="col-md-7">
        <h3>Número de cuenta</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
              <select
                v-model="cheque.cuenta"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="cuenta"
              >
                <option v-for="x in cuentas" :key="x.id" v-bind:value="x.id">{{x.cuenta}}</option>
              </select>
              <i v-show="errors.has('principal.cuenta')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.cuenta')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span><br>
      </div>


 <div class="col-12 col-lg-12 col-md-12">
  ----------------------------------------------------------------------------------------------------------------------------------------------------
  </div>


      <div class="col-md-7">
        <h3>Pago con transferencia bancaria</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
        <money v-model="transferencia.monto" name="precioAct" v-validate="'required'" class="form-control input-sm"  v-bind="money"></money>
      </div>

      <div class="row"></div>

      <div class="col-md-7">
        <h3>Banco</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
              <select
                @change="getCuentas(transferencia.banco)"
                v-model="transferencia.banco"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="nombre"
              >
                <option v-for="x in bancos" :key="x.id" v-bind:value="x.id">{{x.nombre}}</option>
              </select>
              <i v-show="errors.has('principal.nombre')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.nombre')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span>
      </div>

      <div class="col-md-7">
        <h3>Número de cuenta</h3>
      </div>
      <div class="col-md-4" style="margin-top:15px">
              <select
                v-model="transferencia.cuenta"
                v-validate="'required'"
                class="form-control text-capitalize"
                name="cuenta"
              >
                <option v-for="x in cuentas" :key="x.id" v-bind:value="x.id">{{x.cuenta}}</option>
              </select>
              <i v-show="errors.has('principal.cuenta')" class="fa fa-warning"></i>
              <span
                v-show="errors.has('principal.cuenta')"
                class="help is-danger text-danger"
              >El campo es obligatorio</span><br>
      </div>



      </div>
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-6 pull-left">
         <h3> Cambio: {{cambio|currency}}</h3>
          </div>
        <div class="col-md-6 pull-right" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-pago')"
          >Cerrar</button>
          <button @click="calcularCambio" class="btn btn-success" style="margin-left:10px">Pagar</button>
        </div>
      </div>
    </modal>


     <modal
      name="modal-conceptos"
      :width="600"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
    >
      <h3 style="margin-left:20px">Conceptos</h3><hr>
      <div class="col-md-offset-3 col-md-6" style="margin-bottom:10px">
        <select class="form-control" name="conceptos" id="conceptos">
          <option v-for="x in conceptosNoAutomatico" :key="x.Id" v-value="x.Id">
            {{x.Descripcion}}
          </option>
        </select>
     </div>
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-6 col-md-offset-8" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-conceptos')"
          >Cerrar</button>
          <button class="btn btn-success" style="margin-left:10px">aceptar</button>
        </div>
      </div>
    </modal>

    <modal
      name="modal-cambio"
      :width="400"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
    >
      <h3 style="margin-left:20px">Cambio</h3><hr>
      <div class=" col-md-12" style="margin-bottom:10px">
        <h3>Regresar al cliente {{cambio|currency}}</h3>
     </div>
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="pull-right" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-conceptos')"
          >Cerrar</button>
          <button @click="Pagar" class="btn btn-success" style="margin-left:10px">aceptar</button>
        </div>
      </div>
    </modal>

 <modal
      name="modal-ticket"
      :width="400"
      :height="300"
      :scrollable="true"
      :clickToClose="false"
     style="z-index: 1500;"
    >
      <iframe :src="url"  allowfullscreen height="500" width="800"></iframe>
      <div class="row">
        <button class="btn btn-block btn-default" @click="$modal.hide('modal-ticket')">Salir</button>
      </div>
    </modal> 



  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import { Money } from "v-money";
export default {
  name: "app_addRecepcionDePagos",
  components: {
    Money
    },
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      url:'',
      pago: 0,
      cambio: 0,
      contrato: 0,
      IVA: 0,
      subtotal: 0,
      conIVA: 0,
      efectivo: 0,
      cheque: 0,
      transferencia: 0,
      total: 0,
      enganche: false,
      apa: false,
      conceptosArray: [],
      conceptos: [],
      pagar: false,
      cliente: false,
      bancos: "",
      cuentas: [],
      conceptosNoAutomatico: [],
      tablecliente:[],
      tablecontrato:[],
      tablecontratoC:[],
      tablecontratoD:[],
      tablecotizacion:[],
      tablecotizacionC:[],
      tablecotizacionD:[],
      tableCotizacionCliente:[],
      tableContratoCliente:[],
      clv_cliente:[],
      nombre:'',
      body: {
        banco: "",
        cuenta: "",
        concepto: "",
        fecha: "",
        monto: "",
        formaDePago: "",
        activo: true
      },
      efectivo: {
        Clv_factura: 0,
        Clv_tipoPago: 1,
        banco: '',
        cuenta: '',
        Monto: 0
      },
      cheque: {
        Clv_factura: 0,
        Clv_tipoPago: 2,
        banco: '',
        cuenta: '',
        Monto: 0
      },
      transferencia: {
        Clv_factura: 0,
        Clv_tipoPago: 3,
        banco: '',
        cuenta: '',
        Monto: 0
      },
      filtro: {
        contrato: 0,
        cotizacion: 0,
        nombre: '',
        primer_apellido:'',
        segundo_apellido: '',
        otro_nombre:''
      },
      params: {
            clv_cliente: 0,
            clv_usuario: Vue.localStorage.get('clv_usuario'),
            serie: '', 
            folio: 1,
            pagoDolares: false,
            total: 0
        },        
        impuestos: {
          idDetalle: 0,
          IVA: 0,
          IEPS: 0,
          subTotal: 0,
          total: 0
        },
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
    };
  },
  mounted() {
    this.getBancos();    
    this.getConfiguracion();
    // this.getClientes();
  },
  methods: {
 getcotizacion(x){
    let params ={
      clv_cotizacion:(this.filtro.cotizacion)? this.filtro.cotizacion:x
    }
      axios.post("/SessionWeb/GetCotizacionById", params, this.header).then(res => {
            this.tablecotizacion = res.data.GetCotizacionByIdResult  
            //console.log(this.tablecotizacion);
            this.params.clv_cliente = this.tablecotizacion.Clv_cliente;
            if (this.tablecotizacion.Estatus != 'C') {
              this.getConceptos();
            } else {
               this.$snotify.error(
               "La cotización esta cancelada",
               "¡Atención!"
             );
              return;
            }
          });
          
    },

     getcotizacion1(x){
  
      axios.post("/SessionWeb/GetCotizacionById", {clv_cotizacion:x}, this.header).then(res => {
            this.tablecotizacion = res.data.GetCotizacionByIdResult  
            console.log('tablecotizacion', this.tablecotizacion);
            this.params.clv_cliente = this.tablecotizacion.Clv_cliente;
            if (this.tablecotizacion.Estatus != 'C') {
              this.getConceptos();
            } else {
               this.$snotify.error(
               "La cotización esta cancelada",
               "¡Atención!"
             );
              return;
            }
          });
          
    },

    seleccionarC(x){
      console.log('x', x)

    },

  enviarIdcontrato(x){
console.log('llego',x)
  this.getcotizacion1(x)
  this.validarPagos(x); 
  this.tableContratoCliente.splice(0)
this.pagar = true
    },
enviarIdCotizacion(x){
this.validarPagos(x);     
this.getcotizacion1(x)
this.tableCotizacionCliente.splice(0)
this.tableCotizacionCliente.splice(0)
this.pagar = true

},

   
    seleccionarContrato(x){
      console.log('que llega', x)
       
      //  this.getcotizacion(x)
      //  this.validarPagos(x);   
      //  this.pagar = true
    },
    seleccionarCotizacion(x){
      this.validarPagos(x);      
      this.pagar = true

    },
    
    seleccionarClientes(x){
      this.getCotizacionesCliente(x)
      this.GetContratoByCliente(x)
       this.tablecliente.splice(0);
     

      console.log('clave', this.clv_cliente)

    },
    getContrato(){
      let params ={
      contrato: this.filtro.contrato

    }
      console.log('EnvioContrato', params)
      axios.post("/SessionWeb/GetContratoById", params, this.header).then(res => {

          this.tablecontrato = res.data.GetContratoByIdResult
          this.tablecontratoC = res.data.GetContratoByIdResult.cliente
          this.tablecontratoD = res.data.GetContratoByIdResult.departamento
   
      });
     
    },
    getContrato1(x){
      
      axios.post("/SessionWeb/GetContratoById", params, this.header).then(res => {

          this.tablecontrato = res.data.GetContratoByIdResult
          this.tablecontratoC = res.data.GetContratoByIdResult.cliente
          this.tablecontratoD = res.data.GetContratoByIdResult.departamento
   
      });
     
    },

GetContratoByCliente(x){
axios.post("/SessionWeb/GetContratoByCliente",{Id:x}, this.header).then(res => {
            this.tableContratoCliente = res.data.GetContratoByClienteResult  
            console.log('que trae2', this.tableContratoCliente)
    });
  
},



 getCotizacionesCliente(x){
  
 axios.post("/SessionWeb/SearchCotizacionByCliente",{Id:x}, this.header).then(res => {
            this.tableCotizacionCliente = res.data.SearchCotizacionByClienteResult  
            console.log('que trae', this.tableCotizacionCliente)
    });
    },




    validarPagos(x) {

        this.conceptos = [];
        let enganche = false;

         axios.post('/SessionWeb/GetContratoByCotizacion', { clv_cotizacion: this.tablecotizacion.Id}, this.header).then(resultado => {
            this.contrato = resultado.data.GetContratoByCotizacionResult;
         });

         axios.post('/SessionWeb/selectPagoApartado', { clv_cotizacion: this.tablecotizacion.Id}, this.header).then(res => {
           let resultado = res.data.selectPagoApartadoResult;
           if (resultado == 1 || this.tablecotizacion.Reservacion == 0) {
             this.tablecotizacion.Reservacion = 0;
             this.apa = true;
           }else {
             this.apa = false;
           }

          axios.post('/SessionWeb/selectPagoEnganche', { clv_cotizacion: this.tablecotizacion.Id}, this.header).then(res => {
            let resultado = res.data.selectPagoEngancheResult;
            if (resultado == 1) {
              this.tablecotizacion.precios.EngancheInicial = 0;
              this.enganche = true;
            }else {
              this.enganche = false;
            }   

         
            x.forEach((el, index) => {
                          
              if (el.Id == 4 && this.enganche == false) {
                enganche = true;
                el.Monto = ((((this.tablecotizacion.EngancheAdicional+this.tablecotizacion.EngancheInicial)/100) * this.tablecotizacion.precios.PrecioTotal)
                -this.tablecotizacion.Reservacion).toFixed(2);
                this.conceptos.push(el);  
                return
              }
              if (el.Id == 6 && this.apa == false){
                el.Monto = this.tablecotizacion.Reservacion;
                this.conceptos.push(el);  
                return
              }
              if (!enganche) {    

                 if (this.contrato == 0 && index == x.length -1 ) {
                  this.$snotify.error('No existe un contrato', 'Error')
                }

                axios.post('/SessionWeb/GetRelacionPagosContratoById', {contrato: this.contrato}, this.header).then(pagos => {    

                let listapagos = (pagos.data.GetRelacionPagosContratoByIdResult);
                             
                if(listapagos.length == 0){
                return;
                }
                if (el.Id == 4 || el.Id == 6) return;

                if (el.Id == 5 && this.tablecotizacion.pagos != null) {

                    listapagos.forEach((element, index) => {
                      console.log(element);                 
                      element.FechaPago = element.FechaPago2;     
                      this.conceptos.push(element);                    
                    });
                    return;
                }
                /* if (el.Id == 7) {
                    el.FechaPago = this.tablecotizacion.FechaEntrega2;
                    el.Monto = this.tablecotizacion.precios.LiquidacionEscrituracion;
                    this.conceptos.push(el); 
                    return;
                }
                if (el.Id == 9) {
                    return;
                } */
                });
              }                        
            });

          });

        });                    
    },
     getClientes() {

      let vm = this;
      if (vm.filtro.nombre == '') {
        this.$snotify.error(
               "Ingrese un nombre",
               "¡Atención!"
             );
        return;
        }
      vm.tablecliente = []
      let params = {
        Op: 2,
        nombre: this.filtro.nombre,
        otro_nombre: this.filtro.otro_nombre,
        primer_apellido: this.filtro.primer_apellido,
        segundo_apellido: this.filtro.segundo_apellido
      };
  
      axios.post("/SessionWeb/Searchclientes", params, this.header).then(res => {
        res.data.SearchclientesResult.forEach(el => {
          let obj = {
            id: el.clv_comprador,
            nombre:el.nombre ,
            otro_nombre: el.otro_nombre,            
            primer_apellido: el.primer_apellido,
            segundo_apellido:el.segundo_apellido,
            celular:el.celular
          };
          vm.tablecliente.push(obj);
          this.cliente = true;
        });
      });
    },
    getBancos() {
      let vm = this;
      axios.get("/SessionWeb/GetBancos", this.header).then(res => {
        this.bancos = res.data.GetBancosResult;
      });
    },
    getCuentas(x) {
      this.cuentas = [];
      axios.post("/SessionWeb/GetCuentasBancariasByBanco", { idBanco: x}, this.header).then(res => {        
        this.cuentas = res.data.getCuentasBancariasByBancoResult;
      });
    },
     getConceptos() {
      let vm = this;
      let array = [];
      axios.get("/SessionWeb/getConceptosDePago", this.header).then(res => {
        res.data.getConceptosDePagoResult.forEach(x => {
          if (x.Activo == true && x.CobroAutomatico == true) {
              array.push(x);
            }
        });
      });
      this.seleccionarCotizacion(array);
     
    },
    addRecepcionDePago(scope){

    },
    buscarCliente(scope){
      this.$validator.validateAll(scope).then(result => {
        if (result) {

        } else {
          return;
        }
      });
    },
    Pagar(){              
      if (this.efectivo.monto != 0 && (this.efectivo.banco == '' || this.efectivo.cuenta == '')){
          this.$snotify.error(`Complete la información para el pago con efectivo`, "¡Error!");
          return;
      }
      if (this.transferencia.monto != 0 && (this.transferencia.banco == '' || this.transferencia.cuenta == '')) {
          this.$snotify.error(`Complete la información para el pago con transferencia`, "¡Error!");
          return;
      } 
      if (this.cheque.monto != 0 && (this.cheque.banco == '' || this.cheque.cuenta == '')) {
          this.$snotify.error(`Complete la información para el pago con cheque`, "¡Error!");
          return;
      }

      let comparacion;
     
      if (this.pago == 0 && this.total != 0) {
        this.$snotify.error(`No ha introducido ninguna cantidad para el pago`, "¡Atención!");
        return;
      }
      if (this.pago == 0 && this.total == 0) {
        this.$modal.hide("modal-pago")
        return;
      }

      comparacion = this.total - this.pago;
      
      if (comparacion > 0) {
        this.$snotify.error(`Faltan $${comparacion} por pagar`, "¡Error!");
      } else { 

        this.params.total = this.total;
        axios.post('/SessionWeb/addRecepcionDePago', this.params,this.header).then(res => {

            this.conceptosArray.forEach( (el, index) => {                  

            axios.post('/SessionWeb/addRecepcionDePagoDet', 
            {
          clv_factura: res.data.addRecepcionDePagoResult,
          clv_concepto: el.Id,
          precio_unitario: el.Monto,
          descripcion: el.Descripcion,
          contrato: this.cont,
          clv_cotizacion: this.tablecotizacion.Id,
          clv_departamento: this.tablecotizacion.departamento.clv_Departamento
        }



            , this.header).then(res => {
                this.impuestos.idDetalle = res.data.addRecepcionDePagoDetResult;
                this.impuestos.subTotal = this.subtotal;
                this.impuestos.total = this.total;
            axios.post("/SessionWeb/GetTicket", this.impuestos.idDetalle, this.header).then(res => {
            console.log(res)
            this.url = urls.URL_REPORTES +  res.data.GetReporteGeneralIngresosResult
            this.$modal.show('modal-ticket')
         });
                if (index == (this.conceptosArray.length-1)) {
                axios.post('/SessionWeb/addRecepcionDePagoImpuestos', this.impuestos,this.header).then(RES => {
                    this.$snotify.success(`Pago registrado`, "¡Correcto!");
                    this.$modal.hide("modal-pago");
                    this.$router.push('/recepcionDePagos');
                });     
                }
            })
            });
        });
        
      }
    },
    agregar(){
      this.conceptosDePago();
      this.$modal.show("modal-conceptos");
    },
    conceptosDePago(){      
      axios.get('/SessionWeb/getConceptosDePago', this.header).then(res => {
        this.conceptosNoAutomatico = [];
           res.data.getConceptosDePagoResult.forEach(concepto => {
             if (concepto.Activo == true && concepto.CobroAutomatico == false)
               this.conceptosNoAutomatico.push(concepto);
           });
       });
    },
    check(){  
      console.log(this.conceptosArray);
      this.total = 0;
      this.subtotal = 0;
      this.conIVA = 0;

      this.conceptosArray.forEach(el => {
        this.subtotal += parseFloat(el.Monto);      
      });

      /* this.conIVA = (this.subtotal * (this.IVA / 100));
      this.total = this.subtotal + this.conIVA; */
      this.total = this.subtotal;
    },
    getConfiguracion() {
      let vm = this;
      axios.get("/SessionWeb/GetConfiguracionSistema", this.header).then(res => {
       this.IVA = res.data.GetConfiguracionSistemaResult[0].IVA;
       this.params.serie = res.data.GetConfiguracionSistemaResult[0].Serie;
      });    
      },
     calcularCambio(){
      this.pago = this.efectivo.monto + this.transferencia.monto + this.cheque.monto;    
      if ((this.total - this.pago) < 0) {
          this.cambio = (this.total - this.pago) * -1;
          this.$modal.show('modal-cambio');
      }else{
        this.Pagar();
      }
     }
  }
};
</script>