<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Agregar Recepción de pago</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Ventas</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
      

				<div class="col-md-12" >
       
        
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
export default {
  name: "app_updateRecepcionDePagos", 
  data() {
    return {     
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      body: {
          id: this.$route.params.id,
          banco: '',
          cuenta: '',
          concepto: '',
          fecha: '',
          monto: '',
          formaDePago: '',
          activo: true
      }    
    };
  },
  mounted() {
    this.GetRecepcionDePagos();
  },
  methods: {
    GetRecepcionDePagos() {
      let vm = this;
      axios.get("/SessionWeb/GetRecepcionDePagos", this.header).then(res => {
       res.data.GetRecepcionDePagosResult;        
      });
    }    
       
  },
};
</script>