
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Perfiles</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catalagó Configuración</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
      <div class="col-md-12">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
        <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>-->
        <router-link class="btn btn-success pull-right" to="tipoUsuario/add">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      </div>

				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Usuarios'"
         :filter-options="'descripcion'"
         >
         </tablecomponent>	
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from '../../components/table.vue'
import { EventBus } from '../../event-bus'
export default {
  name: "app_amenitie", 
  data() {
    return {
      headers: [
        '#',
        'Descripcion',
        'Estatus'

      ],
      actions: {
        editar: true,
         filter:true,
         eliminar: true
      },
      tabledata: [],    
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }   
    };
  },
  mounted() {
    this.getTiposUsuario();
    EventBus.$on('editar', data => {     
       this.$router.push({ path: `/tipoUsuario/update/${data.id}` }) 
    })


    EventBus.$on('eliminar', data => {     

      let body = {
               obj:{
                Id : data.id        
               
               }            
            }
        axios.post("/SessionWeb/DeletePerfil",body ,this.header).then(res => {
         res.data.DeletePerfilResult     

         this.$snotify.success(res.data.DeletePerfilResult, '¡Importante!', {
                    timeout: 2500,
                    showProgressBar: false,
                    closeOnClick: false,
                    pauseOnHover: true
                    });   

                    this.methods();

                    // location.reload();
                    // this.$router.push("/tipoUsuario");

      });
      


    })

  },
 
  methods: {
    getTiposUsuario() {
      let vm = this;
      axios.get("/SessionWeb/GetTiposUsuario", this.header).then(res => {
       res.data.GetTiposUsuarioResult.forEach((el) => {
         let obj = {
           id:el.Id,
           descripcion:el.Nombre,
           activio:((el.Activo))? 'Activo' : 'Inactivo'
         
         
                
          }          
          vm.tabledata.push(obj)
       });        
      });
    }    
       
  },
  components: {
    tablecomponent
  }
};
</script>