 
<template>
 <div id="menubar" style="z-index:999" class="menubar-inverse">
    <div class="menubar-fixed-panel">
      <div>
        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="menubar-scroll-panel">
      <ul id="main-menu" class="gui-controls">
        <li class="gui-folder" v-for="m in menu" :key="m.Id" v-if="m.SubModulos.length > 0 " >             
        <a>
            <div class="gui-icon">
              <div v-html="m.Icono">
              </div>            
            </div>
            <span class="title">{{m.nombre}}</span>
         </a>         
          <!--start submenu -->
          <ul style="overflow: hidden; height: 308px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;" 
          >
            
            <li v-for="sm in m.SubModulos" :key="sm.Id" v-bind:class="{'gui-folder': sm.SubModulos.length > 0 }"   >

                <router-link   :to="`/${sm.componente}`" v-if="sm.SubModulos.length == 0" ><span class="title">{{sm.nombre}}</span></router-link>  

                 <a v-if="sm.SubModulos.length > 0" ><span class="title">{{sm.nombre}}</span></a>  

                  <ul >
                  <li v-for="a in sm.SubModulos" :key="a.Id" v-bind:class="{'gui-folder': true }">
                  <router-link   :to="`/${a.componente}`" >{{a.nombre}}</router-link>                  
                  </li>           
                  </ul>            
            </li>    


          </ul>

        </li>
      </ul>
      <div class="menubar-foot-panel">
        <small class="no-linebreak hidden-folded">
          <span class="opacity-75">Copyright &copy; 2021</span>
          <strong>BJRS</strong>
        </small>
      </div>
    </div>
    <!--end .menubar-scroll-panel-->
  </div>

</template>
<style>
.router-link-active {
  color: white;
  font-weight: bolder;
}
</style>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "app_menu",
  data() {
    return {
      menu: [],
      token: Vue.localStorage.get("token"),
      tipoUsuario: Vue.localStorage.get("tipoUsuario"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };
  },
  components: {},
  created() {
    let vm= this;
    let body = {
      tipoUsuario: this.tipoUsuario,
      op:1
    };
    axios
      .post("/SessionWeb/obtenMenuUsuario", body, this.header)
      .then(res => {
        vm.menu = res.data.ObtenMenuUsuarioResult
        console.log(res);
      });
  },
  methods: {},
  props: {
    msg: String
  }
};
</script>