 <template>
  <div class="headerbar-right">
      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="../assets/logo.gif" alt="" width="50" />
            <span class="profile-info">             
              <small>{{correo}}</small>
            </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li @click="logout">
              <a  >
                <i class="fa fa-fw fa-power-off text-danger"></i> Logout</a>
            </li>
            <!-- <li>
              <a >
                <i class="fa fa-fw fa-key text-danger"></i> Cambiar contraseña</a>
            </li> -->
          </ul>        
        </li>       
      </ul>    
    </div>
</template>
<script>
import Vue from 'vue';
export default {
  name: 'app_usermenu',
   data () {
    return {
      correo:  Vue.localStorage.get('correo'),    
      hora: Vue.localStorage.get('Hora')
    }
    console.log('Hora', this.hora)
  },

 

  
  
  methods: {
   
  

     
    logout(){
      this.$localStorage.set('Cliente_Id',0)
      this.$localStorage.remove('token')

      if ( Vue.localStorage.get('Cliente_Id')==0){
          this.$router.push("/home");
          location.reload();
      }else
      {

          location.reload();
      }
      
      
     console.log( moment.utc().add('hours',9).format('HH:mm:ss') );

    }
  },
 
  props: {
    msg: String
  }
}
</script>