  <template>
  <div>
  <header id="header">
  <div class="headerbar">    
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand">
          <div class="brand-holder">
            <a>      
               <img src="../assets/FullSolution-SF.png" id="icon" alt="User Icon" style="width:180px" />       
              <span class="text-lg text-bold text-primary"><i><b></b></i></span>
            </a>
          </div>
        </li>
        <li>
          <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
            <i class="fa fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <app-usermenu></app-usermenu>
    
  </div>
</header>
</div> 
</template>
<script>
import appUsermenu from './app_usermenu'
export default {
  name: 'app_header',
  components:{
    appUsermenu
    
  },
 
  props: {
    msg: String
  }
}
</script>