<template>
  <div>
      <div 
      id="canvas" 
      class="canvas" 

      v-on:click="gameClick" 
      :style="{ backgroundImage: 'url(' + image + ')' }"    >
      </div>
  </div>
</template>
<script>
export default {
  name: "canvasbodegas",
  data() {
    return {
      image:
        "http://187.163.207.252:7000/planos/MXDF-OP-V40.0-0ARQ-plantas-A-3-1.jpg"
    };
  },
  mounted() {},
  methods: {
    gameClick(event) {
      console.log(event.offsetX + ", " + event.offsetY);
    }
  },
  components: {}
};
</script>
<style>
.canvas {
  cursor: crosshair;
  min-width: 800px;
  min-height: 600px;
}
</style>

