
<template>
  <div style="padding:10px">
    <!-- <div class="col-md-12">
      <div class="col-md-3">
        <label>Proyecto</label>
        <select class="form-control text-capitalize" v-model="proyecto" @change="obtenTorres()">
          <option value>Selecciona</option>
          <option
            v-for="option in proyectos"
            :key="option.clv_proyecto"
            v-bind:value="option.clv_proyecto"
          >{{option.nombre}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Torres</label>
        <select class="form-control" v-model="torre" @change="obtenPisos()">
          <option value>Selecciona</option>
          <option v-for="option in listaTorres" :key="option" v-bind:value="option">{{option}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Pisos</label>
        <select class="form-control" v-model="piso" @change="getEstatus()">
          <option value>Selecciona</option>
          <option v-for="option in listaPisos" :key="option" v-bind:value="option">{{option}}</option>
        </select>
      </div>
    </div> -->
    <div class="row">
      <div style="margin-left:5px" class="col-md-12">
        <tablecomponent :headers="headers" :tabledata="tabledata" :actions="actions"></tablecomponent>
      </div>
    </div>  
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open, truncate, exists } from "fs";
import tablecomponent from "../components/table.vue";
import { EventBus } from "../event-bus";

export default {
  name: "buscardepartamento",
  props: ["Clv_vendedor"],
  data() {
    return {
      actions: {
        selected: true,        
      },
      headers: [
        "#",
        "Clave",
        "Nombre Olt",
        "Ip",
        "Marca",
        "Modelo",
       
      ],
      tabledata: [],
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },     
      datos: "",
      listaEstatus: [],
      listaEstatusdep: [],
      listaTorres: [],
      proyectos: [],
      listaPisos: [],
      proyecto: "",
      torre: "",
      piso: "",
      estatus: "",
      listaEnviar: []
    };
  },
  mounted() {
    this.getEstatus();
    this.getProyectos();
    EventBus.$on("selected", data => {
      this.enviar(data.index);
    });
  },
  methods: {
    getProyectos() {
      let vm = this;
      axios.post("/SessionWeb/GetRelUsuarioProyectoById", {id: Vue.localStorage.get('clv_usuario')}, this.header).then(res => {
        vm.proyectos = res.data.GetRelUsuarioProyectoByIdResult;
        console.log(vm.proyectos);
      });
    },
    obtenTorres() {
      if (!this.proyecto) return;
      let vm = this;
      let params = {
        clv_proyecto: this.proyecto
      };
      axios
        .post("/SessionWeb/GetTorresProyecto", params, this.header)
        .then(res => {
          this.listaTorres = res.data.GetTorresProyectoResult;
          this.getEstatus();
        });
    },
    obtenPisos() {
      let vm = this;
      let params = {
        torre: this.torre ? this.torre : 0,
        clv_proyecto: this.proyecto ? this.proyecto : 0
      };
      axios.post("/SessionWeb/GetPisosTorre", params, this.header).then(res => {
        this.listaPisos = res.data.GetPisosTorreResult;
        this.getEstatus();
      });
    },
    getEstatus() {
    
    
    let vm = this;
      let params = {
        Clv_vendedor: Vue.localStorage.get('clv_usuario'),
        clv_proyecto: this.proyecto ? this.proyecto : 0,
        torre: this.torre ? this.torre : "",
        piso: this.piso ? this.piso : 0,
        estatus: this.estatus ? this.estatus : 0
      };

      axios
        .post("/SessionWeb/GetEstatusDepartamentoListByIdVendedor", params, this.header)
        .then(res => {
           vm.tabledata = [];
            console.log(res.data)
          this.datos = res.data.GetEstatusDepartamentoListByIdVendedorResult;
          let x = 0;
         
          res.data.GetEstatusDepartamentoListByIdVendedorResult.forEach((el, indice) => {
            let obj = {
              index: x + 1,
              clave: el.IdDetalle,
              Proyecto: el.proyecto,
              Torre: el.Torre,
              NumDepartamento: el.NumDepartamento,
              departamento: el.departamento,
              Piso: el.Piso,
              Lado: el.Lado,
              FechaEntrega: el.FechaEntrega            
            };         
            if (el.Estatus == 3) {
              vm.tabledata.push(obj);
              x++;
            }
          });
        });
    },
    enviar(index) {     
      console.log(this.datos); 
      this.datos.forEach(el => {
        if (el.IdDetalle == this.tabledata[index - 1].clave) {
          let datos = { id: el.IdDetalle, clv_proyecto: el.clv_proyecto };
          this.$emit("buscarDepartamento", datos);
        }
      });
    },
  },
  components: {
    tablecomponent
  }
};
</script>