 
 <template>
  <div>
    <div class="col-md-12">
      <tablecomponent
        :headers="headers"
        :tabledata="tabledata"
        :actions="actions"
        :search-label="'Buscar vendedor'"
        :filter-options="'nombre'"
      ></tablecomponent>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import tablecomponent from "./table.vue";
import { EventBus } from "../event-bus";
export default {
  name: "app_vendedores",
  data() {
    return {
      headers: ["#", "Nombre", "Correo"],
      actions: {
        selectVendedor: true,
        filter: true
      },
      tabledata: [],
      token: Vue.localStorage.get("token"),

      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };
  },

  mounted() {
    this.getUsuarios();
    EventBus.$on("selectVendedor", data => {
      this.$emit("Vendedor", data.id);
    });
  },
  methods: {
    getUsuarios() {
      let vm = this;
      axios.get("/SessionWeb/GetUsuarios", this.header).then(res => {
        console.log(res.data.GetUsuariosResult);
        res.data.GetUsuariosResult.forEach(el => {
          if (el.tipoUsuario === 5 && el.clv_tipoVendedor > 0) {
            let obj = {
              id: el.clv_usuario,
              nombre: el.nombre,
              correo: el.correo
            };
            vm.tabledata.push(obj);
          }
        });
      });
    }
  },
  components: {
    tablecomponent
  }
};
</script>
   
 
 
 