 
 <template>
 <div>

    <div class="col-md-12">

      <div class="col-md-3">
         <label>Nombre Cliente</label>  
         <input type=" text" class="form-control input-sm" v-model="NombreCliente">
      </div>
      <div class="col-md-2">
          <label>Nit</label>  
          <input type=" text" class="form-control input-sm" v-model="Celular">
      </div>
      <div class="col-md-2">
        <br>
         <button class="btn btn-default btn-sm" @click="getClientes">Buscar</button>
      </div>

    </div>
      
				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Cliente'"
         :filter-options="'nombre'"
         >
         </tablecomponent>	
	</div>

 </div>

 </template>

<script>
import Vue from "vue";
import axios from "axios";
import tablecomponent from "./table.vue";
import { EventBus } from "../event-bus";
export default {
  name: "app_vistas",
  data() {
    
    return {
      headers: ["#", "Nombre", "NIT",'Correo','Celular'],
      actions: {
        selected: true
      },
      tabledata: [],
      Celular:"",
      NombreCliente:"",
      token: Vue.localStorage.get("token"),

      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };

  },

  mounted() {
    this.getClientes();
    EventBus.$on("selected", data => {
     this.$emit('buscar', data.id)
    });
  },
  methods: {
    getClientes() {

      let vm = this;
      vm.tabledata = []
      let params = {
        clv_usuario: Vue.localStorage.get("clv_usuario"),
        clv_estatus: (this.Estatus) ? this.Estatus:0,
        nombre: this.NombreCliente,
        celular: this.Celular
      };
      //console.log("Clave", params);
      axios.post("/SessionWeb/GetClientes", params, this.header).then(res => {
        res.data.GetClientesResult.forEach(el => {
          let obj = {
            id: el.id,
            nombre: el.nombre_cliente ,
            estatus: el.nit,            
            correo: el.correo,
            celular:el.celular
          };
          vm.tabledata.push(obj);
        });
      });
    }
  },
  components: {
    tablecomponent
  }
};
</script>
   
 
 
 