<style>
#modalPregunta {
  width: 60%;
}
</style>
<template>
  <div>
    <div class="col-md-12" style="margin-top:20px;">
        <div class="row">
          <div class="col-md-2">
            <span>Folio</span>
            <input type="number" class="form-control input-sm" v-model.number="folio" />
          </div>
          <div class="col-md-1">
            <br />
            <button class="btn btn-sm btn-default" @click="getCotizaciones(1)">
              <i class="fa fa-seach"></i> Buscar
            </button>
          </div>
          <div class="col-md-2">
            <span>Fecha Cotización</span>
            <input type="date" class="form-control input-sm" v-model="fechaCotizacion" />
          </div>
          <div class="col-md-1">
            <br />
            <button class="btn btn-sm btn-default" @click="getCotizaciones(2)">
              <i class="fa fa-seach"></i> Buscar
            </button>
          </div>
          <div class="col-md-3">
            <span>Cliente/Prospecto</span>
            <input type="text" class="form-control input-sm" v-model="cliente" />
          </div>
          <div class="col-md-1">
            <br />
            <button class="btn btn-sm btn-default" @click="getCotizaciones(4)">
              <i class="fa fa-seach"></i> Buscar
            </button>
          </div>

         
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <th># Folio</th>
                <th>Estatus</th>
                <th>Fecha Cotización</th>
                <th>Fecha Expiración</th>
                <th>Cliente</th>               
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr v-for="x in Ordenados" :key="x.id">
                  <td>{{x.Id}}</td>
                  <td>{{(x.Estatus=='A')? "Activo":(x.Estatus=='P') ? 'Proceso':'Cancelado' }}</td>
                  <td>{{x.Fecha2}}</td>
                  <td>{{x.FechaExpiracion2}}</td>
                  <td class="text-capitalize">{{x.Nombre_cliente}}</td>
                  
                  <td>
                    <button
                      class="btn btn-success btn-sm"
                      @click="enviarId(x.Id)"
                     
                    >
                      <i class="fa fa-hand-pointer"></i> Seleccionar {{x.id && x.Op}} </button>                   
                  </td>
                </tr>
              </tbody>
            </table>
            <vue-pagination
              :total="Math.ceil(this.listaCotizacion.length/this.pageSize)"
              :each-side="1"
              v-model="currentPage"
            />
          </div>
        </div>
    </div>
  </div>
  
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "app-cotizacion",
  props: {
    total: {
      type: Number,
      required: true,
      validator: val => val > 0
    },
    eachSide: {
      type: Number,
      default: 1,
      validator: val => val >= 0
    }
  },
  computed: {
    Ordenados() {
      return this.listaCotizacion
        .sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === "desc") modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        })
        .filter((row, index) => {
          let start = (this.currentPage - 1) * this.pageSize;
          let end = this.currentPage * this.pageSize;
          if (index >= start && index < end) return true;
        });
    }
  },
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      folio: 0,
      fechaCotizacion: new Date()
        .toJSON()
        .slice(0, 10)
        .replace(/-/g, "-"),
      cliente: "",
      listaCotizacion: [],
      currentSort: "name",
      currentSortDir: "asc",
      pageSize: 3,
      currentPage: 1,
      enviar: {
        id: 0,
        Fecha: "",
        FechaExpiracion: "",
        Clv_cliente: 0,
        Clv_vendedor: 0,
        clv_departamento: 0,
        Clv_prospecto: 0,
        clv_proyecto: 0,
        Cetes: 0,
        Multiplicador: 0,
        Reservacion: 0,
        Escrituracion: 0
      }
    };
  },
  mounted() {
    this.getCotizaciones(0);
  },
  methods: {
    getCotizaciones(op) {
      let vm = this;
      let params = {
        clv_cotizacion: this.folio ? this.folio : 0,
        fechaCotizacion: this.fechaCotizacion
          .replace("-", "")
          .replace("-", "")
          .replace("-", ""),
        cliente: this.cliente,
        op: op,
        clv_usuario: parseInt(Vue.localStorage.get("clv_usuario"))
      };
      axios.post("/SessionWeb/cotizacionPago", params, this.header).then(res => {
        this.listaCotizacion = res.data.cotizacionPagoResult;
      });
    },
    getDatos(x) {
      axios
        .post("/SessionWeb/GetCotizacionById", { id: x }, this.header)
        .then(res => {
          this.params = res.data.GetCotizacionByIdResult[0];

          this.params.Fecha = this.recuperaFecha(
            res.data.GetCotizacionByIdResult[0].FechaCotizacion2
          );
          this.params.FechaExpiracion = this.recuperaFecha(
            res.data.GetCotizacionByIdResult[0].FechaExpiracion2
          );

          this.cancelarCot();
        });
    },
    recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },
    acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    },
     enviarId(index) {     
          this.$emit("buscarCotizacion", index);
        }
    },
  }
</script>
