<template>
    <div class="row ">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item "  :class="{ 'disabled':(currentPage==1)}">
                <a class="page-link" href="#" tabindex="-1"   @click="previous()"   >Anterior</a>
                </li>
                <li class="page-item" :key="value" v-for="value in totalPages" :class="{ 'active':(currentPage==value)}">
                    <a class="page-link"  href="#" @click="paginate(value)" >{{value}}</a>
                </li>
                <li class="page-item" :class="{ 'disabled':(currentPage==totalPages)}" >
                <a class="page-link" href="#"  @click="next()">Siguiente</a>
                </li>    
            </ul>
        </nav>
    </div>
</template>

<script>
import tableVue from './table.vue';
const paginate = require("paginate-array");
export default {
     name: "paginacion",
     props: ["tabledata"],
     data() {
         return {
            totalPages: 0,
            total: 0,
            currentPage: 0,
            data: [],
         }
     },    
    watch: { 
        tabledata: function (value) {            
            this.obtenDatos(this.tabledata);        
        }
    },
     methods: {
        obtenDatos(value) {
            this.datosTabla = value;
            this.paginate(1);
        },
        paginate: function(PageNumber) {
            const paginateCollection = paginate(this.datosTabla, PageNumber, 5);
            this.totalPages = paginateCollection.totalPages;
            this.total = paginateCollection.total;
            this.currentPage = paginateCollection.currentPage;
            this.data = paginateCollection.data;  
            console.log(this.data);      
        },
        next() {
            this.paginate(this.currentPage + 1);
        },
        previous() {
            this.paginate(this.currentPage - 1);
        },
     }
}
</script>