<template>
<div class="">

    
</div>  
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open, truncate, exists } from "fs";
import tablecomponent from "../components/table.vue";
import { EventBus } from "../event-bus";

export default {
  name: "pricing",
  props: ["opciones"],
  data() {
    return {     
    };
  },
  mounted() {
    
  },
  methods: {
    
  },
  components: {
    tablecomponent
  }
};
</script>

