<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Edita Localidad</strong>
		<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/" class="paginaActiva">Direcciones</a>
            </small>  
		</header>
	</div>
	<div class="card-body">
    			<div class="col-md-6 col-md-offset-3" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="update('principal')" data-vv-scope='principal'>			
                <div class="col-md-12 ">
			            	<font size=4><strong>Nombre:</strong></font>
        
                <input name="nombre" v-model="nombre"  v-validate="'required'" class="text-capitalize  form-control" type="text">
                <div class="row"></div>
                <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                </div>
                <br>
                <div class="col-md-12">
                  <font size=3><strong>Selecciona con que Municipios/Ciudades se relaciona la Localidad</strong></font>
                    <div class="col-md-8">
                        
                        <select class="form-control text-capitalize" v-model="municipio" v-validate="'required'" name="municipio">
                        <option value="">Selecciona</option>
                        <option v-for="option in ListaMunicipios" :key="option.clv_municipio" v-bind:value="option.clv_municipio" >{{option.nombre}}</option>
                        </select> 
                          <div class="row"></div>
                        <i v-show="errors.has('principal.municipio')" class="fa fa-warning"> </i>
                        <span v-show="errors.has('principal.municipio')" class="help is-danger text-danger"> Seleccione un municipio</span>
                    </div>
                    <div class="col-md-4">
                     
                     
                        <button class="btn btn-sm btn-default" type="button" @click="agregaRelacion()"><i class="fa fa-plus"></i> Agregar </button>
                    </div>
                
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                  <h4 class="text-center">Municipios/Ciudades Relacionados</h4>
                  <table class="table table-striped">
                      <thead>
                          <th class="">Municipio/Ciudad</th>
                           <th class="text-center">Opciones</th>
                      </thead>
                      <tbody>
                         <tr v-for="(x, index ) in MunicipioSelected" :key="x.clv_municipio">
                             <td class=" text-capitalize">{{x.nombre}}</td>
                             <td class="text-center"><button type="button"  class="btn btn-danger btn-sm" @click="elimina(index)" ><i class="fa fa-trash"></i> Eliminar</button></td>
                         </tr>
                      </tbody>
                  </table>            
                </div>
                 <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                </form>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "updateLocalidades",
  props: ["id"],
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      clave: "",
      nombre: "",
      MunicipioSelected: [],
      ListaMunicipios: [],
      municipio: ""
    };
  },
  created() {
    this.getColoniaC();
    this.getMunicipios();
  },
  methods: {
    getColoniaC() {
      let vm = this;
      axios
        .post(
          "/SessionWeb/GetLocalidadById",
          { clv_localidad: this.$route.params.id },
          this.header
        )
        .then(res => {
          console.log(res);
          vm.nombre = res.data.GetLocalidadByIdResult[0].nombre;
          vm.MunicipioSelected = res.data.GetLocalidadByIdResult[0].municipios;
        });
    },
    elimina(index) {
      this.MunicipioSelected.splice(index, 1);
    },
    existe(id){
      for(var i=0; i< this.MunicipioSelected.length; i++){      
          if(this.MunicipioSelected[i].clv_municipio == id){
              return true
          }
      }
      return false
    },
    agregaRelacion() {
      let vm = this;
      if (this.municipio) {
        if(this.existe(this.municipio)) return    
        let result = this.ListaMunicipios.filter(
          i => i.clv_municipio == this.municipio
        );
        this.MunicipioSelected.push(result[0]);
      }
    },
    getMunicipios() {
      let vm = this;
      axios.get("/SessionWeb/GetMunicipios", this.header).then(res => {
        console.log(res);
        vm.ListaMunicipios = res.data.GetMunicipiosResult;
      });
    },
    update(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if(this.MunicipioSelected.length>0){
          let params = {
            obj: {
              clv_localidad: this.$route.params.id,
              nombre: this.nombre,
              municipios: this.MunicipioSelected
            }
          };
         console.log(params)
          axios
            .post("/SessionWeb/UpdateLocalidad", params, this.header)
            .then(res => {
              this.open1 = false;
              this.$snotify.success(
                "Localidad actualizado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
             this.$router.push("/localidad");
            });
            return;
            }else{
          this.$snotify.error(
                "Agrega la relación",
                "¡Error!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
        }
        }
      });
    },
    regresar() {
     this.$router.push("/localidad");
    }
  }
};
</script>
