
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Torres</strong>
			<br />
      <small>
            <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/" class="paginaActiva">Configuración</a>
     </small>   
		</header>
	</div>
	<div class="card-body">
      
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
        <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>-->
        <router-link class="btn btn-success" to="/torre/add" >
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      
				<div class="col-lg-12 table-responsive">				
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.torre</th>
                                <th>Proyecto</th>
                                <th>No.Pisos</th>  
                                <th>Estatus</th>                   
                            </tr>
                        </thead>
                        <tbody >
                            
                            <tr v-for="x in ListaTorres" :key="x.clv_torre">
                                 <td>{{x.clv_torre}}</td> 
                                <td>{{x.Nombre}}</td>  
                                <td>{{x.pisos}}</td>                                
                                <td>{{(x.activo) ? "Activo":"Inactivo"}}</td>
                                <td><router-link class="btn btn-warning btn-sm" 
                                :to="{name: 'torreUpdate', params: {id:x.clv_torre}}">
                                <i class="fa fa-edit"></i> Editar
                                </router-link></td>
                            </tr>                            
                        </tbody>                        
                    </table>                                     
                </div>		                
		</div>
	</div>
</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "app_torres",
  props: {   
  },
  computed: {},
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      ListaTorres: []
    };
  },
  mounted() {
    this.getTorres();
  },
  methods: {
    getTorres() {
      let vm = this;
      axios.get("/SessionWeb/GetTorre", this.header).then(res => {
          console.log(res)
        vm.ListaTorres = res.data.GetTorreResult;        
      });
    }   
  }
};
</script>