<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Editar Torre</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/tipoUsuario" class="paginaActiva">Configuración</a>
            </small>   
		</header>
	</div>
<div class="section-body">
    			<div class="col-md-5 col-md-offset-3" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
                
                 <div class="col-md-12 form-group">
				         <label>Proyecto</label>
                <select class="form-control" v-model="proyecto"  name="proyecto" :class="(errors.has('principal.proyecto')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in ListaProyectos" :key="option.Id" v-bind:value="option.Id" >{{option.Nombre}}</option>
                </select>                
                <i v-show="errors.has('principal.proyecto')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.proyecto')" class="help is-danger text-danger"> El campo tipo Usuario es obligatorio</span>
                </div>
                <div class="col-md-12 form-group">
			         	<label>Descripcion (opcional)</label><br>
                <input type="text" v-model="nombre" name="nombre" class="text-capitalize" >                
                </div>

                 <div class="col-md-12 form-group">
				         <span>Número de pisos</span>
                <input type="number" v-model="pisos" class="form-control" v-validate="'required'" name="pisos" :class="(errors.has('principal.pisos')) ? 'is-invalid':'is-valid'" >
                <i v-show="errors.has('principal.proyecto')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.proyecto')" class="help is-danger text-danger"> El campo tipo Usuario es obligatorio</span>
                </div>

                <div class="col-md-12">                
                <div class="radio">
                    <input type="checkbox" id="checkbox" v-model="Activo">
                    <label for="checkbox">{{ ((activo) ? 'Activo':'Inactivo' ) }}</label>                    
                </div>
                <span id="errorEstatus" style="display:none; margin-left: 10px;" class="text-danger">Debe seleccionar un estatus</span>
                </div>
                <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-danger pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                 </form>
                </div>
               
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addVendedores",
  data() {
    return {
    ListaProyectos:[],
    proyecto:1,
    pisos:0,
    Nombre: "",
    Activo: false,
    token: Vue.localStorage.get("token"),
    header: {
    headers: {
          Authorization: "Basic " + this.token
        }
    },
      
    };
  },
  mounted(){
    this.getTorre();
  },
  methods: {
    getTorre(){
    let vm = this
      let body = {      
          clv_torre: this.$route.params.id        
      };
      axios
        .post("/SessionWeb/GetTorreById", body, this.header)
        .then(res => {
            console.log(res)
          this.pisos = res.data.GetTorreByIdResult.pisos;
          this.nombre = res.data.GetTorreByIdResult.nombre;
          this.Activo = res.data.GetTorreByIdResult.activo;
          console.log(res);
        });

    },
    insertar(scope) {
      let vm = this
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          let body = {
            obj: {
             clv_torre:vm.$route.params.id, 
              clv_proyecto: vm.proyecto,
              pisos: vm.pisos,
              nombre:vm.nombre,
              activo: vm.Activo
            }
          };
          axios
            .post("/SessionWeb/UpdateTorre", body, this.header)
            .then(res => {
              this.$snotify.success(
                "Tipo de Usuario agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
              this.$router.go(-1);
            });
        }
      });
    },
    regresar() {
      this.$router.go(-1);
    }
  }
};
</script>
