<style>
#report {
  padding: 8px;
  background-color: rgba(241, 241, 241, 0.247);
  box-shadow: 10px 10px 25px rgba(173, 173, 173, 0.637);
}
</style>
<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo Contrato</strong>
          <br />
          <small>
            <a href="home#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>>
            <a href="/" class="paginaActiva">Ventas</a>
          </small>
        </header>
      </div>
      <div class="card-body">   
                       <form  @submit.prevent="guardaContrato('principal')" data-vv-scope='principal'>

        <div class="card panel expanded">
 
										<div class="card-head" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-1" aria-expanded="true">
											<header>Detalle del contrato</header>
											<div class="tools">
												<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
											</div>
										</div>
										<div id="accordion1-1" class="collapse in" aria-expanded="true" style="">
										
                         <div class="card-body">
                          
                          <div class="row">
                              <button type="button" class="btn btn-primary" @click="$modal.show('modal-cotizacion')">Seleccionar cotización</button>
                          </div>

                         <div class="col-md-6">
                          <div class="row">

                           <div class="col-md-6">
                            <font size=3><strong>Cliente: </strong></font>
                          
                          </div>

                           <div class="col-md-6">
                             <h4>{{cliente.nombre}} {{cliente.otro_nombre}} {{cliente.primer_apellido}} {{cliente.segundo_apellido}}</h4>
                          
                          </div>

                          </div>
                             
                          <div class="row">
                              <div class="col-md-6">
                              <font size=3><strong>No.Departamento: </strong></font>  
                           </div>
                           <div class="col-md-6">
                              <strong>{{body.NumDepartamento}}</strong>
                           </div>
                        </div>   

                         <div class="row">
                           <div class="col-md-6">
                             <font size=3><strong>Departamento: </strong></font>  
                           </div>
                           <div class="col-md-6">
                              <h4>{{body.departamento}}</h4> 
                           </div>
                           </div>                    
                            <div class="row">
                           <div class="col-md-6">
                             <!-- <font size=3><strong>Fecha Estimada de Entrega</strong></font> -->
                           </div>
                           <div class="col-md-6">
                              <label></label> 
                           </div>
                           </div>
                           
                  <div class="row">

                            <div class="col-md-6">
                              <font size=3><strong>Escrituracion</strong></font>
                                <money 
                                v-model="Escrituracion" 
                                name="factorIncremento" 
                                v-validate="'required'" 
                                class="form-control"  
                                v-bind="moneyPorcentaje">
                                </money>
                           </div>
                           <div class="col-md-6">
                               <font size=3><strong>Fecha de Escrituracion</strong></font>
                              <input id="fechaEscrituracion" required type="date" name="FE" :min="new Date().toISOString().split('T')[0]" v-model="FechaEscrituracion" class="form-control input-sm" v-validate="'required'" >
                                 <div class="row"></div>
                              <i v-show="errors.has('principal.FE')" class="fa fa-warning"> </i>
                              <span v-show="errors.has('principal.FE')" class="help is-danger text-danger"> El campo Fecha de Escrituracion es obligatorio</span>
                           </div>

                            </div>
                          <div class="row">
                             <div class="col-md-6">
                                <font size=3><strong>Reservación</strong></font>
                                   <money v-model="Reservacion" readonly name="precioAct" v-validate="'required'" class="form-control input-sm"  v-bind="money"></money>
                           </div>
                             <div class="col-md-6">
                               <font size=3><strong>Fecha de Reservación</strong></font>
                              <input readonly type="date" name= "FR" v-model="FechaReservacion" class="form-control input-sm"  v-validate="'required'">
                           </div>
                           </div>
                        <!--   <div class="row">
                              <div class="col-md-6">
                                <font size=3><strong>UBICACIÓN DE CAJÓN(ES):</strong></font>
                                <div class="col-md-12" v-for="a in cajones" :key="a.Id">
                                  <b>{{a.Referencia}}</b>
                                </div>
                           </div>

                            <div class="col-md-6">
                                <font size=3><strong>BODEGA (UBICACIÓN DE BODEGA):</strong></font>
                                <div class="col-md-12" v-for="a in bodegas" :key="a.Id">
                                  <b>{{a.Referencia}}</b>
                                </div>
                           </div>
                          </div> -->

<!--                           
                             <div class="row">
                                 <div class="col-md-6">
                                        <font size=3><strong>Contrato:</strong></font>
                                   <money required v-model="MontoContrato" name="precioAct" v-validate="'required'" class="form-control input-sm"  v-bind="money"></money>
                                 </div>
                                
                           </div> -->
                           
                        </div>
                        <div class="col-md-6">

                            <ul class="list divider-full-bleed">                                	
										<!-- 	<li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;">Precio Inicial</div>
                          <div class="tile-icon" style="min-width: 150px;" >{{precios.PrecioInicial | currency}}</div>
												</a>
											</li> -->
											<!-- <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;" >Monto del Enganche inicial sobre el precio del departamento</div>
                            <div class="tile-icon"  style="min-width: 150px;">{{precios.EngancheInicial | currency}}</div>
												</a>
											</li> -->										

                      <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;" >Monto del Enganche</div>
                           <div class="tile-icon" style="min-width: 150px;">{{datosAMostrar.enganche| currency}}</div>
												</a>
											</li>
                     	<li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;">Monto del Enganche diferido</div>
                           <div class="tile-icon" style="min-width: 150px;" >{{datosAMostrar.engancheDiferido | currency}}</div>
												</a>
											</li>
                     <!--  <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;">Reservación</div>
                           <div class="tile-icon" style="min-width: 150px;" >{{datosCotizacion.Reservacion | currency}}</div>
												</a>
											</li> -->
                       <!--  <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;">Monto del Financiamiento sobre el enganche diferido</div>
                         <div class="tile-icon" style="min-width: 150px;" >{{precios.FinanciamientoEngancheDiferido | currency }}</div>
												</a>
											</li> -->
                      <!--  <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;" >Monto del Enganche diferido más financiamiento</div>
                             <div class="tile-icon" style="min-width: 150px;" >{{precios.EngancheDiferidoMasFinanciamiento | currency}}</div>
												</a>
											</li> -->
                      <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;" >Monto de la liquidación a la escrituración</div>                      
                          <div class="tile-icon" style="min-width: 150px;" >{{datosAMostrar.escrituracion | currency}}</div>
												</a>
							
											</li>
                       <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;" >Precio Total del Departamento</div>
                           <div class="tile-icon" style="min-width: 150px;" >{{datosAMostrar.precioTotal | currency}}</div>                     
												</a>
											</li>
                      <!-- <li class="tile">
												<a class="tile-content ink-reaction">
													<div class="tile-text" style="font-size: 13px;" >Precio por M2 del departamento</div>
                           <div class="tile-icon" style="min-width: 150px;" >{{precios.PrecioMetroCuadrado | currency}}</div>                          
												</a>
											</li> -->
                      <div >
                        <h4>Mensualidades</h4>
                        <li v-for="x in  pagos" :key="x.Id" class="tile">
                          <a class="tile-content ink-reaction">
                            <div class="tile-text" style="font-size: 13px;" >Pago #{{x.Id}}</div>
                            <div class="tile-text" style="font-size: 13px;" >{{x.FechaPago2}}</div>
                            <div class="tile-icon" style="min-width: 150px;" >{{x.Monto | currency}}</div>                          
                          </a>
                        </li>
                      </div>

										</ul>

                            
                      <!--      
                          <div class="col-md-12">
                            <div class="col-md-6"> 
                             <span class="text-muted">Ubicación </span><br>      
                                   
                             <span>Proyecto: {{body.proyecto}}</span><br>
                             <span>Torre: {{body.Torre}}</span><br>
                             <span>Piso: {{body.Piso}}</span><br>
                              <span>Numero Plantas: {{departamento.NumeroNiveles}}</span>                             
                           </div>
                           <div class="col-md-6">
                             <span class="text-muted">Espacios Departamento</span><br>
                              <span class="text-capitalize"
                              v-for="x in departamento.espacios"
                              :key="x.clv_espacio_departamento"
                              v-bind:value="x.clv_espacio_departamento"
                              >
                              - {{x.nombre}} <br>                             
                              </span>
                               <span class="text-capitalize" v-for="x in vistasSelected" :key="x.clv_vista" v-bind:value="x.clv_vista">
                                - {{x.descripcion}}
                                 <br />
                              </span>
                           </div>
                          </div> -->                           
                         </div>                          									
										</div>
                </div>                
					</div> 		                                         

        <div class="col-3" style="float:right; padding-top:20px;">
          <button @click="cancelar" class="btn btn-default">
             cancelar
          </button >
          <button type="submit" class="btn btn-success" style="margin-left: 15px">Guardar</button>
        </div>
    </form>               
      </div>
    </div>
     <modal
      name="modal-reporte"
      :width="800"
      :height="550"
      :scrollable="true"
     
    >
      <iframe :src="reporte"  allowfullscreen height="500" width="800"></iframe>
      <div class="row">
        <button class="btn btn-block btn-default" @click="cancelar">Salir</button>
      </div>
    </modal>  


    <modal
      name="modal-cotizacion"
      :width="900"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
      style="z-index: 1500;"
    >
        <div class="col-md-12 text-center">
          <h3>Selecciona Cotización</h3>
        </div>
        <div class="col-md-12">
           <BuscarCotizacion v-on:buscarCotizacion="getIdCotizacion($event, $modal.show('modal-cliente'))"></BuscarCotizacion>
        </div>
       
      <div class="col-md-12" style="border-top: 1px solid #e6dada">
        <div class="col-md-3 col-md-offset-10" style="padding:10px;">
          <button
            class="btn btn-default"
            type="button"
            @click="$modal.hide('modal-cotizacion')"
          >Cerrar</button>
        </div>
      </div>
    </modal>  

 <modal
      name="modal-cliente"
      :width="900"
      height="auto"
      :scrollable="true"
      :clickToClose="true"
      style="z-index: 1500;"
    >
    <div>
      <form
              @submit.prevent="Update('principal')"
              data-vv-scope="principal"
              autocomplete="false"
            >
        <div class="col-md-12 text-center">
        <h3>Informacion adicional del cliente </h3>
        <h4>Cliente: {{cliente.nombre}} {{cliente.otro_nombre}} {{cliente.primer_apellido}} {{cliente.segundo_apellido}}</h4>
        </div>
        <div class="col-md-12">
           
         <div class="col-md-4 ">
                    <h4>CURP</h4>
                    <div class="row"></div>
                    <input
                      name="CURP"
                      maxlength="18"
                      v-model="curp"
                      class="text-capitalize form-control"
                      v-validate="'required'"
                      style="text-transform:uppercase;"
                      type="text"
                    />
                    <i v-show="errors.has('principal.CURP')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.CURP')"
                      class="help is-danger text-danger"
                    >El campo CURP es obligatorio</span>
                  </div>

                  <div class="col-md-4 ">
                    <h4>RFC</h4>
                    <div class="row"></div>
                    <input
                      name="rfc"
                      minlength="12"
                      maxlength="13"
                      v-model="rfc"
                      v-validate="'required'"
                      style="text-transform:uppercase;"
                      class="text-capitalize form-control"
                      type="text"
                    />
                    <div class="row"></div>
                    <i v-show="errors.has('principal.rfc')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.rfc')"
                      class="help is-danger text-danger"
                    >El campo RFC es obligatorio</span>
                  </div>
               
                <div class="col-md-4 ">
                    <h4>FOLIO del INE</h4>
                    <div class="row"></div>
                    <input
                      name="folio"
                      maxlength="10"
                      v-model="folio"
                      class="text-capitalize form-control"
                      style="text-transform:uppercase;"
                      v-validate="'required'"
                      type="text"
                    />
                    <i v-show="errors.has('principal.folio')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.folio')"
                      class="help is-danger text-danger"
                    >El campo FOLIO es obligatorio</span>
                  </div>
                </div>
                <div class="row"></div>
                <div class="col-md-12">
                     <div class="col-md-3 ">
                <h4>Estado</h4>
                <div class="row"></div>
                <input
                  type="text"
                  name="estado"
                  class="text-capitalize form-control"
                  v-model="estado"
                  v-validate="'required'"
                />
                <i v-show="errors.has('principal.estado')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.estado')"
                  class="help is-danger text-danger"
                >El campo Estado es obligatorio</span>
              </div>

              <div class="col-md-3 ">
                <h4>Ciudad/Municipio</h4>
                <div class="row"></div>
                <input
                  type="text"
                  name="municipio"
                  class="text-capitalize form-control"
                  v-model="municipio"
                  v-validate="'required'"
                />
                <i v-show="errors.has('principal.municipio')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.municipio')"
                  class="help is-danger text-danger"
                >El campo Municipio es obligatorio</span>
              </div>

              <div class="col-md-3 ">
                <h4>Localidad</h4>
                <div class="row"></div>
                <input
                  type="text"
                  name="localidad"
                  class="text-capitalize form-control"
                  v-model="localidad"
                  v-validate="'required'"
                />
                <i v-show="errors.has('principal.localidad')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.localidad')"
                  class="help is-danger text-danger"
                >El campo Localidad es obligatorio</span>
              </div>

              <div class="col-md-3 ">
                <h4>Colonia</h4>
                <div class="row"></div>
                <input
                  type="text"
                  name="colonia"
                  class="text-capitalize form-control"
                  v-model="colonia"
                  v-validate="'required'"
                />
                <i v-show="errors.has('principal.colonia')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.colonia')"
                  class="help is-danger text-danger"
                >El campo Colonia es obligatorio</span>
              </div>
            </div>
            <div class="row"></div>
            <div class="col-md-12">
               
               <div class="col-md-3 ">
                <h4>Calle</h4>
                <div class="row"></div>
                <input
                  type="text"
                  name="calle"
                  class="text-capitalize form-control text-capitalize"
                  v-model="calle"
                  v-validate="'required'"
                />
                <i v-show="errors.has('principal.calle')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.calle')"
                  class="help is-danger text-danger"
                >El campo Calle es obligatorio</span>
              </div>

              <div class="col-md-3 ">
                <h4>Código postal</h4>
                <div class="row"></div>
                <input
                  type="text"
                  name="codigo"
                  class="form-control"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  v-model="codigoPostal"
                  maxlength="5"
                  v-validate="'required'"
                />
                <div class="row"></div>
                <i v-show="errors.has('principal.codigo')" class="fa fa-warning"></i>
                <span
                  v-show="errors.has('principal.codigo')"
                  class="help is-danger text-danger"
                >El campo Código postal es obligatorio</span>
              </div>

               <div class="col-md-3 ">
                  <h4>Número exterior</h4>
                  <div class="row"></div>
                  <input
                    type="text"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    class="form-control text-capitalize"
                    name="numero"
                    v-model="numero"
                    v-validate="'required'"
                  />
                  <i v-show="errors.has('principal.numero')" class="fa fa-warning"></i>
                  <span
                    v-show="errors.has('principal.numero')"
                    class="help is-danger text-danger"
                  >El campo Número exterior es obligatorio</span>
                </div>

                <div class="col-md-3 ">
                  <h4>Número interior</h4>
                  <div class="row"></div>
                  <input
                    type="text"
                    class="form-control"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    name="numeroI"
                    v-model="numeroInterior"
                  />
                </div>

          <div class="col-md-12" style="border-top: 1px solid #e6dada">
          <div class="col-md-3 col-md-offset-9" style="padding:10px;">
          <button class="btn btn-default" type="button" @click="$modal.hide('modal-cliente')">Cerrar</button>
          <button class="btn btn-success"  style ="margin-left: 10px"  type="submit">Guardar</button> 
        </div>
      </div>

            </div> 
           </form>
          </div>
    
             <div class="row"></div>
              

        
     
    </modal>   
  </div>

  
  
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
import BuscarCotizacion from "../BuscarCotizacion";
import url from "../../urls";
export default {
  name: "app-add-cotizacion",
  components: {
    Money,
    BuscarCotizacion
  },
  data() {
    return {
      opciones: {
        check: false
      },
      header: {
        headers: {
          Authorization: "Basic " + Vue.localStorage.get("token")
        }
      },
      pagos: [],
      datosCotizacion: 0,
      precios: {},
      claveCotizacion: 0,
      cajones: [],
      bodegas: [],
      FechaEscrituracion: "",
      FechaReservacion: "",
      MontoContrato: 0,
      clv_comprador: 0,
      curp: "",
      rfc: "",
      folio:0,
      estado:"",
      municipio:"",
      localidad: "",
      colonia: "",
      calle:"",
      codigoPostal:0,
      numero:0,
      numeroInterior:0,

      body: {
        proyecto: "",
        Torre: "",
        Piso: "",
        NumDepartamento: "",
        IdDetalle: 0,
        FechaEntrega: "",
        departamento: "",
        clv_Departamento: 0,
        clv_proyecto: 0
      },
      costoMetroCuadradoInicial: 0,
      departamento: {
        Activo: true,
        Clv_departamento: 0,
        CostoDepartamento: 0,
        Lado: null,
        MetrosTotales: 0,
        NumeroNiveles: 0,
        TipoDepartamento: "",
        cantidad: null,
        espacios: []
      },
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      moneyPorcentaje: {
        decimal: ".",
        thousands: ",",
        prefix: "",
        suffix: "%",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      cliente: {
        clv_comprador: 0,
        nombre: "",
        primerA: "",
        segundoA: "",
        otronombre: ""
      },
      reporte: "",
      Escrituracion: '',
      Reservacion:'',
      datosAMostrar: {
        enganche: 0,
        engancheDiferido: 0,
        escrituracion: 0,
        precioTotal:0,
        Op:0,
        monto:0,
        PTotal:0,
        PInicial:0,
        EDiferido:0
      }
    };
  },
  mounted() {
    if (this.$route.params.id > 0) {
      //this.getContrato(this.$route.params.id);
    }
  },
  methods: {
    // getContrato(id) {
    //   axios
    //     .post("/SessionWeb/GetContratoById", { contrato: id }, this.header)
    //     .then(res => {
    //       //console.log(res.data.GetContratoById);
    //       let obj = res.data.GetContratoByIdResult;
    //       this.precios = obj.precios;
    //       this.bodegas = obj.Bodega;
    //       this.cajones = obj.Estacionamiento;
    //       this.Escrituracion = obj.Escrituracion;
    //       this.Reservacion = obj.Reservacion;
    //       // this.FechaReservacion = obj.FechaReservacion
    //       this.MontoContrato = obj.MontoContrato;
    //       // this.FechaEscrituracion
    //     });
    // },
Update(scope){
  this.$validator.validateAll(scope).then(result => {
 let params = {
   clv_comprador: this.clv_comprador,
   estado: this.estado,  
   municipio: this. municipio,
   localidad: this.localidad,
   colonia: this.colonia,
   calle:this.calle,
   numero: this.numero,
   numeroInterior: this.numeroInterior,
   codigoPostal: this.codigoPostal,
   rfc: this.rfc,
   curp: this.curp,
   folio: this.folio
 
      };

    console.log('params',  params)
       axios.post("SessionWeb/UpdateDatosCliente",params,this.header).then(res => {
         res.data.UpdateDatosClienteResult
         this.$modal.hide("modal-cliente");
          this.$snotify.success(
       "Datos del cliente correctamente guradados",
         "¡Correcto!");
             
             

         });
    });
},






     GetBodegasCajonesByIdDepartamento(id) {
    
    console.log(id);

      axios
        .post(
          "SessionWeb/GetBodegasCajonesByIdDepartamento",
          { IdDetalle: id , tipo: 1 },
          this.header
        )
        .then(res => {
            
            

            res.data.GetBodegasCajonesByIdDepartamentoResult.forEach((i)=>{
              if(i.Tipo == 1){
               this.bodegas.push(i)
              }
              
            })

          console.log(res.data.GetBodegasCajonesByIdDepartamentoResult);
          
        });

      

    },
GetCajonesByIdDepartamento(id){
axios
        .post(
          "SessionWeb/GetCajonesByIdDepartamento",
          { IdDetalle: id , tipo: 2 },
          this.header
        )
        .then(res => {
            
            

            res.data.GetCajonesByIdDepartamentoResult.forEach((i)=>{

              if(i.Tipo == 2){
               this.cajones.push(i)
              }
            })

          console.log( "cajones" , res.data.GetCajonesByIdDepartamentoResult);
          
        });





},





    getIdCotizacion(id) {
      this.claveCotizacion = id;
      this.$modal.hide("modal-contrato");
      this.getCotizacion(this.claveCotizacion);
    },
    guardaContrato() {       
     
       var cajones="";
       var bodegas="";

       this.bodegas.forEach((i)=> {
            bodegas = bodegas + i.Referencia +","
       });

       this.cajones.forEach((i)=> {
            cajones = cajones + i.Referencia +","
       });

      let params = {
        Clv_cotizacion: this.claveCotizacion,
        cajones: cajones,
        bodega: bodegas,
        FechaReservacion: this.FechaReservacion,
        MontoContrato: this.MontoContrato,
        FechaEscrituracion: this.FechaEscrituracion
      };
   

      axios.post("/SessionWeb/AddContrato", params, this.header).then(res => {
        let contrato = res.data.AddContratoResult;        
         axios.post("/SessionWeb/ReporteContrato",{ Opexportacion: 1, contrato: contrato },this.header).then(res => {
            
            //console.log(res);      
            let fechaContrato;
            if (this.datosCotizacion.pagos != 0 && this.datosCotizacion.pagos!= null) {
              fechaContrato = this.datosCotizacion.pagos[0].FechaPago2;
            }else{
              fechaContrato = this.FechaEscrituracion;
            }
            if (this.Op == 1)
            {  
            this.monto = this.datosCotizacion.precios.PrecioInicial- this.EDiferido
            }else
            if (this.Op == 0){
              this.monto = this.datosCotizacion.precios.LiquidacionEscrituracion
            }
             console.log('El monto', this.monto)
            axios.post('/SessionWeb/addRelacionPagosContrato', {
              clv_concepto: 7,
              descripcion: `Escrituración`,
              fechaPago: this.FechaEscrituracion,
              
              monto: this.monto,
              contrato: contrato,
              clv_factura: 0
            },this.header).then(res=>{

              axios.post('/SessionWeb/addRelacionPagosContrato', {
              clv_concepto: 10,
              descripcion: `Contrato`,
              fechaPago: fechaContrato,
              monto: this.MontoContrato,
              contrato: contrato,
              clv_factura: 0
            },this.header).then(res=>{

              //Guardar pagos
              if (this.datosCotizacion.pagos.length == 0) return;
              this.datosCotizacion.pagos.forEach((element, index) => {
                axios.post('/SessionWeb/addRelacionPagosContrato', {
                  clv_concepto: 5,
                  descripcion: `Pago Mensualidad ${element.Id}`,
                  fechaPago: element.FechaPago2,
                  monto: element.Monto,
                  contrato: contrato,
                  clv_factura: 0
                },this.header).then(res => {});
              }); 
            });
              });            
              this.reporte = url.URL_REPORTES + res.data.ReporteContratoResult;

            this.$modal.show("modal-reporte");
          });
      });                 
    },
    GuardarPagos(contrato){
      
      //Escrituración
      

         
    },    
    getCliente(x) {
      let vm = this;
      let params = {
        id: x
      };
      axios
        .post("/SessionWeb/GetClienteById", params, this.header)
        .then(res => {
          this.cliente = res.data.GetClienteByIdResult;
          this.clv_comprador = res.data.GetClienteByIdResult.clv_comprador
          this.municipio = res.data.GetClienteByIdResult.municipio
          this.estado = res.data.GetClienteByIdResult.estado
          this.localidad = res.data.GetClienteByIdResult.localidad
          this.colonia = res.data.GetClienteByIdResult.colonia
          this.rfc = res.data.GetClienteByIdResult.rfc
          this.curp = res.data.GetClienteByIdResult.curp 
          this.folio = res.data.GetClienteByIdResult.folio
          this.calle = res.data.GetClienteByIdResult.calle
          this.numeroInterior = res.data.GetClienteByIdResult.numeroInterior
          this.numero= res.data.GetClienteByIdResult.numero

          
        });
      this.$modal.hide("modal-clientes");
    },
    getCotizacion(id) {       
      let vm = this;
      axios
        .post(
          "/SessionWeb/GetCotizacionById",
          { clv_cotizacion: id },
          this.header
        )
        .then(res => {

          console.log('cotizacion', res.data.GetCotizacionByIdResult)
          let datos = res.data.GetCotizacionByIdResult;
          this.datosCotizacion = datos;
          this.pagos = this.datosCotizacion.pagos;    
          this.Op = res.data.GetCotizacionByIdResult.Op
          this.EDiferido= res.data.GetCotizacionByIdResult.precios.EngancheTotalDiferido   
          this.PTotal  = res.data.GetCotizacionByIdResult.precios.PrecioTotal
          this.PInicial = res.data.GetCotizacionByIdResult.precios.PrecioInicial
          console.log('Ediferido',res.data.GetCotizacionByIdResult.precios.EngancheTotalDiferido)
          console.log('cotizacion', this.datosCotizacion)
          
          fechaEscrituracion.max = this.recuperaFecha(datos.FechaEntrega2);

          this.datosAMostrar.enganche = 
          this.datosCotizacion.precios.EngancheInicial   + this.datosCotizacion.precios.EngancheAdicional;

          this.datosAMostrar.engancheDiferido = 
          this.datosCotizacion.precios.EngancheDiferido;

          this.datosAMostrar.escrituracion = Math.round(this.datosCotizacion.precios.PrecioInicial- this.EDiferido -  this.datosCotizacion.precios.DescuentoEnganche)
          
          
          // this.datosCotizacion.precios.LiquidacionEscrituracion;

          this.datosAMostrar.precioTotal = this.datosCotizacion.precios.PrecioTotal                

          this.getCliente(datos.Clv_cliente);

          let det = {
            id: datos.IdDetalle
          };           
          this.getEstatus(det);

          this.Reservacion = datos.Reservacion;
          this.Escrituracion = datos.Escrituracion

          this.GetBodegasCajonesByIdDepartamento(datos.IdDetalle);
          this.GetCajonesByIdDepartamento(datos.IdDetalle);
          // this.calcular(datos.enganche_inicial,datos.enganche_diferido,datos.escrituras)
          /*  this.params.Cetes = datos.Cetes;
          this.params.Multiplicador = datos.Multiplicador;
          

          this.Esquema.EngancheInicial = datos.enganche_inicial
          this.Esquema.EngancheDiferido = datos.enganche_diferido
          this.Esquema.Escrituracion = datos.escrituras */

          /* let params = {
            IdDepartamento: datos.IdDetalle,
            EngancheInicial: datos.EngancheInicial,
            EngancheDiferido: datos.EngancheDiferido,
            LiquidacionEscrituracion: datos.Escrituracion,
            mesesDiferido: datos.MesesDiferidos,
            PrecioMetro: datos.PrecioMetro ,
            MetrosDepartamento: datos.MetrosDepartamento
          };
 */

          let params = {
            EngancheInicial: datos.EngancheInicial,
            EngancheDiferido: datos.EngancheDiferido,
            LiquidacionEscrituracion: datos.Escrituracion,
            FechaEntrega: datos.FechaEntrega2,
            PrecioMetro: datos.PrecioMetro ,
            MetrosDepartamento: datos.MetrosDepartamento
          };

          axios
            .post("/SessionWeb/GetCotizacionDiferido", params, this.header)
            .then(function(res) {

              //console.log(res);
               vm.precios = res.data.GetCotizacionDiferidoResult.precios;                             

            });
             axios.post('/SessionWeb/GetFechaReservacion', { clv_cotizacion: datos.Id }, this.header).then(res => {
                  //console.log(res.data.GetFechaReservacionResult);
                  this.FechaReservacion = this.recuperaFecha(res.data.GetFechaReservacionResult.Fecha2);
                }); 
        });
    },
    getEstatus(res) {
      let vm = this;
      let params = {
        IdDetalle: res.id
      };
      axios
        .post("/SessionWeb/GetEstatusDepartamento", params, this.header)
        .then(res => {
         
          this.body = res.data.GetEstatusDepartamentoResult;

          axios
            .post(
              "/SessionWeb/GetDepartamentoC",
              { clv_departamento: this.body.clv_Departamento },
              this.header
            )
            .then(res => {
              this.departamento = res.data.GetDepartamentoCResult[0];
              this.departamento.espacios.forEach(element => {
                this.metrosVendibles += element.metros;
              });

              axios
                .post(
                  "/SessionWeb/GetProyectoById",
                  { id: this.body.clv_proyecto },
                  this.header
                )
                .then(res => {
                  vm.costoMetroCuadradoInicial =
                    res.data.GetProyectoByIdResult.costoMetroCuadradoInicial;
                });
            });
          this.$modal.hide("modal-cotizacion");
        });
    },
    cancelar() {
      this.$router.push("/contrato");
    },
    recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },
  }
};
</script>