<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Contratos</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Ventas</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	    
      <div class="row">

        <div class="pull-right" style="margin-right:15px">
         <router-link class="btn btn-success pull-right" to="/contrato/add">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
       </div>
        </div>

        <div class="col-md-12 col-12 col-lg-12">
       <div class="col-md-1">
         <label>Contrato</label>
         <input type="text" class="form-control input-sm" v-model="params.contrato">
       </div>

       <div class="col-md-2">
         <label>Nombre</label>
         <input type="text" class="form-control input-sm" v-model="params.nombre">
       </div>

        <div class="col-md-2">
         <label>Segundo Nombre</label>
         <input type="text" class="form-control input-sm" v-model="params.segundoNombre">
       </div>

       <div class="col-md-2">
         <label>Apellido Paterno</label>
         <input type="text" class="form-control input-sm" v-model="params.ApellidoPaterno">
       </div>

       <div class="col-md-2">
         <label>Apellido Materno</label>
         <input type="text" class="form-control input-sm" v-model="params.ApellidoMaterno">
       </div>
        <div class="col-md-1">
          <label>Estatus</label>
         <select class="form-control input-sm" v-model="params.Estatus" name="estatus" id="estatus">
           <option value="P">Pagado</option>
           <option value="S">Sin Pagar</option>
         </select>
       </div>

       <div class="col-md-1">
         <button class="btn btn-default" @click="getContratos">Buscar</button>
       </div>
        </div>

       


				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"       
         >
         </tablecomponent>	
	</div>
   <modal
      name="modal-reporte"
      :width="800"
      :height="550"
      :scrollable="true"
     style="z-index: 1500;"
    >
      <iframe :src="reporte"  allowfullscreen height="500" width="800"></iframe>
      
      <div class="row">
        <button class="btn btn-block btn-default" @click="$modal.hide('modal-reporte')">Salir</button>
      </div>
    </modal> 
</div>
</div>

</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import url from '../../urls'
import BuscarCotizacion from "../BuscarCotizacion";

import tablecomponent from "../../components/table.vue";
import { EventBus } from "../../event-bus";
export default {
  name: "app_contrato",
  data() {
    return {
      id: 0,
      headers: ["#Contrato", "Cliente", "Correo","No.Departamento","Departamento", "Estatus"],
      actions: {
        pdf: true,
        word: true,
      /*   detalle:true,
        editar:true */
        
      },
      params : {
        contrato: 0 ,
        nombre:'',
        segundoNombre:'',
        ApellidoPaterno:'',
        ApellidoMaterno:'',
        Estatus: '',
        clv_usuario: Vue.localStorage.get("clv_usuario")
      },
      tabledata: [],
      reporte:'',
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };
  },
  mounted() {
    this.getContratos()
     EventBus.$on("PDF", data => {
      this.imprime(data.id, 1)
    }); 
    EventBus.$on("Word", data => {
      this.imprime(data.id, 3)
    }); 
    EventBus.$on("editar", data => {
      this.$router.push({ path: `/contrato/update/${data.id}` });
    });   
  },
  methods: {
    imprime(id, opcion){
       axios.post("/SessionWeb/ReporteContrato", {Opexportacion:opcion, contrato: id }, this.header).then(res => {                      
           this.reporte = url.URL_REPORTES + res.data.ReporteContratoResult  
            this.$modal.show('modal-reporte');   
            if(opcion === 3){
              this.$modal.hide('modal-reporte');
            }                                 
        })

    },
    getContratos() {
      this.tabledata = []
      let vm = this
      this.params.contrato =(this.params.contrato) ? this.params.contrato:0
      axios.post("/SessionWeb/GetContrato",this.params,this.header).then(res => {
         console.log(res.data.GetContratoResult);
           res.data.GetContratoResult.forEach(el => {
         

          let obj = {
            id: el.Id,
            nombre:  el.cliente.nombre + " " +   el.cliente.otro_nombre +  " " +  el.cliente.primer_apellido +  " " + el.cliente.segundo_apellido,
            correo: el.cliente.correo,
            departamento: el.departamento.NumDepartamento,
            tipodepartamento: el.departamento.departamento,
            estatus: el.Estatus == 'P' ? 'Pagado':'Sin pagar',
          };
          vm.tabledata.push(obj);
        });

      });
    }
  },
  components: {
    tablecomponent,
    BuscarCotizacion
  }
};
</script>