<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Nueva Calle</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/colonias" class="paginaActiva">Direcciones</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
    			<div class="col-md-4 col-md-offset-4" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="insertar('principal')" data-vv-scope='principal'>			

                <!-- <div class="col-md-12 form-group">
				       <font size=4><strong>Estado</strong></font>
                <div class="row"></div>
                <select @change="getMunicipios(body.clv_pais)" v-model="body.clv_pais" v-validate="'required'" class="form-control text-capitalize" name="estado">
                    
                    <option value="" disabled>Selecciona</option>
                    <option v-for="x in listaEstados" :key="x.clv_pais" v-bind:value="x.clv_pais"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.estado')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.estado')" class="help is-danger text-danger"> Seleccione un estado</span>
                </div>

                <div class="col-md-12 form-group">
			          	<font size=4><strong>Ciudad</strong></font>
                <div class="row"></div>
                <select  v-model="body.clv_ciudad" v-validate="'required'" class="form-control text-capitalize" name="municipio">
                    <option value="" disabled>Selecciona</option>
                   <option v-for="x in listaMunicipios" :key="x.clv_ciudad" v-bind:value="x.clv_ciudad"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.municipio')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.municipio')" class="help is-danger text-danger"> Seleccione Ciudad</span>
                </div> -->

                <div class="col-md-12 form-group">
				          <font size=4><strong>Barrio</strong></font>
                <div class="row"></div>
                <select v-model="body.clv_colonia" v-validate="'required'" class="form-control text-capitalize" name="localidad">
                   <option value="" disable>Selecciona</option>
                   <option v-for="x in listacolonias" :key="x.clv_colonia" v-bind:value="x.clv_colonia"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.localidad')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.localidad')" class="help is-danger text-danger"> Seleccione una colonia</span>
                </div>

                <div class="col-md-12">
			        	<font size=4><strong>Nombre</strong></font>
                <div class="row"></div>
                <input name="nombre" v-model="body.nombre"  v-validate="'required'" class="text-capitalize form-control" type="text">
                <div class="row"></div>
                <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                </div>
<!--                 
                <div class="col-md-12 ">
			        	<font size=4><strong>Codigo Postal</strong></font>
                <div class="row"></div>
                <input name="cp" v-model="body.cp"  v-validate="'required'" class="form-control text-capitalize"  maxlength="5" type="text">
                <div class="row"></div>
                <i v-show="errors.has('principal.cp')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.cp')" class="help is-danger text-danger"> El campo codigo postal es obligatorio</span>
                </div>
                -->



                 <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                </form>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addColonia",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },

     
      body: {
        activo: true,

        clv_colonia: "",
        nombre: "",
 
      },
      listacolonias:[],
      listaMunicipios: "",
      listaLocalidades: "",
      listaAmenities: ""
    };
  },
  mounted() {
   
    this. getColonia();
  },
  methods: {


       
       

    

       getColonia() {
      let vm = this;
      axios.get("/SessionWeb/GetColonia", this.header).then(res => {
       res.data.GetColoniaResult.forEach((el) => {
         let obj = {
           clv_colonia:el.clv_colonia,
           nombre: el.nombre,
          
          }          
          vm.listacolonias.push(obj)
       });        
      });
    } ,



   
    insertar(scope) {
      let vm = this;
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          let body = {
            'calle': vm.body
            }
          
          axios.post("/SessionWeb/AddCalle", body, this.header).then(res => {
            this.$snotify.success("Calle agregada con éxito", "¡Correcto!");
            this.$router.push("/calles");
          });
          
        }
      });
    },
    regresar() {
      this.$router.push("/calles");
    }
  }
};
</script>
