<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Editar Calle</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/colonias" class="paginaActiva">Direcciones</a>
            </small> 
		</header>
	</div>
	<div class="card-body">
    			<div class="col-md-4 col-md-offset-4" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="update('principal')" data-vv-scope='principal'>			
                
                <!-- <div class="col-md-12 form-group">
				       <font size=4><strong>Estado</strong></font>
                <div class="row"></div>
                <select @change="getMunicipios(body.clv_pais)" v-model="body.clv_pais" v-validate="'required'" class="form-control text-capitalize" name="estado">
                    
                    <option value="" disabled>Selecciona</option>
                    <option v-for="x in listaEstados" :key="x.clv_pais" v-bind:value="x.clv_pais"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.estado')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.estado')" class="help is-danger text-danger"> Seleccione un estado</span>
                </div>

                <div class="col-md-12 form-group">
			          	<font size=4><strong>Ciudad</strong></font>
                <div class="row"></div>
                <select @change="getLocalidades(body.clv_ciudad)" v-model="body.clv_ciudad" v-validate="'required'" class="form-control text-capitalize" name="municipio">
                    <option value="" disabled>Selecciona</option>
                   <option v-for="x in listaMunicipios" :key="x.clv_ciudad" v-bind:value="x.clv_ciudad"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.municipio')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.municipio')" class="help is-danger text-danger"> Seleccione un Ciudad</span>
                </div> -->

                <!-- <div class="col-md-12 form-group">
				          <font size=4><strong>Localidad</strong></font>
                <div class="row"></div>
                <select v-model="body.clv_localidad" v-validate="'required'" class="form-control text-capitalize" name="localidad">
                   <option value="" disabled>Selecciona</option>
                   <option v-for="x in listaLocalidades" :key="x.clv_localidad" v-bind:value="x.clv_localidad"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.localidad')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.localidad')" class="help is-danger text-danger"> Seleccione una localidad</span>
                </div> -->

                  <div class="col-md-12 form-group">
				          <font size=4><strong>Colonia</strong></font>
                <div class="row"></div>
                <select v-model="body.clv_colonia" v-validate="'required'" class="form-control text-capitalize" name="localidad">
                   <option value="" disable>Selecciona</option>
                   <option v-for="x in listacolonias" :key="x.clv_colonia" v-bind:value="x.clv_colonia"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.localidad')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.localidad')" class="help is-danger text-danger"> Seleccione una colonia</span>
                </div>
                
                
                
                <div class="col-md-12 form-group">
				         <font size=4><strong>Nombre</strong></font>
                <div class="row"></div>
                <input name="nombre" v-model="body.nombre"  v-validate="'required'" class="text-capitalize form-control" type="text">
                <div class="row"></div>
                <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                </div>

<!-- 
                    <div class="col-md-12 form-group">
			        	<font size=4><strong>Codigo Postal</strong></font>
                <div class="row"></div>
                <input name="cp" v-model="body.cp"  v-validate="'required'" class="form-control text-capitalize" maxlength="5" type="text">
                <div class="row"></div>
                <i v-show="errors.has('principal.cp')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.cp')" class="help is-danger text-danger"> El campo codigo postal es obligatorio</span>
                </div>
                      -->
                <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                </form>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "updateColonias",
  props: ["id"],
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      body: {
        activo: true,
        clv_calle: "",
        clv_colonia: "",
        nombre: "",
     
      },
      listacolonias: [],
      listaMunicipios: "",
      listaLocalidades: "",
      listaAmenities: ""
    };
  },
  created() {
    this.getColoniaC();
  },
  methods: {
    // getEstados() {
    //   let vm = this;
    //   axios.get("/SessionWeb/GetEstado", this.header).then(res => {
    //     vm.estados = res.data.GetEstadoResult;
    //     this.listaEstados = vm.estados;
    //   });
    // },
       getColonia() {
      let vm = this;
      axios.get("/SessionWeb/GetColonia", this.header).then(res => {
      vm.colonias=  res.data.GetColoniaResult     
      this.listacolonias= vm.colonias;
             
      });
    } ,

  
  
    getColoniaC() {
      axios
        .post(
          "/SessionWeb/GetCallesById",
          { clv_calle: this.$route.params.id  },
          this.header
        )
        .then(res => {
          this.body = res.data.GetCallesByIdResult[0];
          this.getColonia();
          this.body.clv_colonia = this.body.clv_colonia;
       

   
            });
        },
   
    update(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          let params = {
            calle: this.body
          };

          axios
            .post("/SessionWeb/UpdateCalle", params, this.header)
            .then(res => {
              this.$snotify.success(
                "Calle actualizado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
          this.$router.push("/calles");
            });
        }
      });
    },
    regresar() {
  this.$router.push("/calles");
    }
  }
};
</script>
