<template>
  <div id="app">
    
     <router-view></router-view>
     
    <vue-progress-bar></vue-progress-bar> 
     <vue-snotify></vue-snotify>
    <BlockUI :message="msg" v-if="block"></BlockUI> 
 
 <div>  




</div>

 </div>  


 






</template>
<script>
import Vue from "vue";
import axios from 'axios'
export default {
  name: 'app',
  data () {
    return {
      Hora: Vue.localStorage.get('Hora'),
      block: false,
      msg: 'Espera un momento',
      url : '' ,
      Hora: 0
    
    }
  },
   created () {
  
    //  var self = this;
    //  setInterval(function (params) {
    //    self.Tiempo();
       
    //  },600000)

   let vm = this  
   function hora(){
        let hoy = new Date();
        let hora = hoy.getHours() + ':' + hoy.getMinutes() 
        Vue.localStorage.set('Hora',hora)  
   }


    axios.interceptors.request.use(function (config) {
      hora()
      vm.block = true
      vm.$Progress.start()
      return config
     
    },
    function (error) {      
      let message = ''
      if (error.response) {
        message = error.response.data      
      } else if (error.request) {
         message = error.request
       } else {
         message = error.message        
       }

      vm.block = false
      vm.$Progress.fail() 

       this.$snotify.error(error.message, '¡Error!', {
        timeout: 5000,
        showProgressBar: false,
        closeOnClick: false,
        pauseOnHover: true
      }); 
      return Promise.reject(error)
    })

    axios.interceptors.response.use(function (response) {
      vm.block = false
      vm.$Progress.finish()
      return response
    },
    function (error) {
     let message = ''
      if (error.response) {
        message = error.response.data
      
      } else if (error.request) {
         message = error.request
       } else {
         message = error.message   
     
       }

      vm.block = false
      vm.$Progress.fail()   
      vm.$snotify.error(message, '¡Error!', {
      timeout: 5000,
      showProgressBar: false,
      closeOnClick: false,
      pauseOnHover: true
    }); 
      return Promise.reject(error)
    })
  },
//   methods: {

//  Tiempo(){
//   let hoy = new Date();
//   let hora = hoy.getHours() + ':' + hoy.getMinutes() 
// // console.log('Tiempo', hora) 
// // console.log('Hora',Vue.localStorage.get('Hora') )
// if (hora > Vue.localStorage.get('Hora')){
//   this.$localStorage.remove('token')
//       location.reload();

// }
      
// },
  
   
   
  
// },

  components: {}
}


</script>
<style>

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}
 
.fade-enter-active {
  transition-delay: .25s;
}
 
.fade-enter, .fade-leave-active {
  opacity: 0
}
@import '../node_modules/vue-snotify/styles/material.css'



</style>

