<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;"
            >Editar Cliente
          </strong>

          <br />

          <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a
            >><a href="" class="paginaActiva">Clientes</a>
          </small>
        </header>
        <div
          class="col-12 pull-right"
          style="margin-right: 50px"
          v-if="this.OP == 2"
        >
          <h3 class="text-primary" style="color:black">
            <b>Olt: </b>{{ olt.nombre_olt }}
          </h3>
        </div>
      </div>
      <div class="card-body">
        <!-- <div class="card-body" style="min-height:650px;"> -->
        <div id="wrapper">
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="margin-left:0; margin-top: 15px;">
              <li>
                <a v-on:click="SetForm(1)">
                  <i
                    class="fa fa-user"
                    aria-hidden="true"
                    style="cursor:pointer;"
                  >
                  </i>
                  <span style="margin-left:10px; cursor:pointer;">
                    DATOS PERSONALES</span
                  >
                </a>
              </li>
              <!-- <li>
                <a v-on:click="SetForm(2)">
                  <i
                    class="fa fa-list-ol"
                    aria-hidden="true"
                    style="cursor:pointer;"
                  >
                  </i>
                  <span style="margin-left:10px; cursor:pointer;"> OLT</span>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <!-- </div> -->

        <vue-tabs active-tab-color="#264562" active-text-color="white" v-show="this.OP == 1">
          <!-- <v-tab v-if="!carga" title="Datos del cliente" icon="fa fa-address-card">   	 -->
          <div class="col-md-12" v-show="this.OP == 1">
          <v-tab title="Recibos del cliente" icon="ti-user" v-if="this.OP == 1" key='four' id="cuatro">
              <h5>(Recibos que tiene este cliente)</h5>

              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <th># Recibo</th>
                    <th>Usuario Registro</th>
                    <th>Fecha Captura</th>
                    <th>Monto</th>
                    <th>Cliente</th>
                    <th>Estatus</th>
                    <th>Ticket</th>
                  </thead>
                  <tbody>
                    <tr v-for="x in ListaFacturas" :key="x.id">
                      <td>{{ x.id }}</td>
                      <td>{{ x.nombreUsuario }}</td>
                      <td>{{ x.Fecha }}</td>
                      <td>{{ x.monto | currency }}</td>
                      <td>{{ x.Nombre_cliente }}</td>
                      <td>{{ x.Status }}</td>
                      <td v-show="x.Status == 'Pagado'">
                        <button
                          type="button"
                          @click="Ticket(x.id)"
                          class="btn btn-success btn-sm"
                        >
                          <i class="fas fa-print"></i> imprimir
                        </button>
                      </td>
                      <!-- <td v-show="x.Status =='Pagado'" ><button  type="button"  @click="enviar(x.id)" class="btn btn-danger btn-sm"><i class="fas fa-ban"></i> Cancelar</button></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </v-tab>
            
           <v-tab title="Datos del cliente" icon="fa fa-address-card" v-if="this.OP == 1" key='first'  id="uno">
              <form
                v-if="!carga"
                @submit.prevent="update('principal')"
                data-vv-scope="principal"
                autocomplete="false"
              >
                <div class="col-md-6">
                  <br />
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <h4>Nombre Cliente/Razon Social</h4>
                      <input
                        type="text"
                        name="nombre"
                        class="text-capitalize form-control"
                        v-model="body.nombre"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.nombre')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.nombre')"
                        class="help is-danger text-danger"
                        >El campo nombre es obligatorio</span
                      >
                    </div>

                    <div class="col-md-6 form-group">
                      <h4>Nit/RFC</h4>
                      <input
                        type="text"
                        name="nit"
                        class="text-capitalize form-control"
                        v-model="body.nit"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.nit')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.nit')"
                        class="help is-danger text-danger"
                        >El campo nit es obligatorio</span
                      >
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <h4>Celular</h4>
                      <div class="input-group">
                        <span class="input-group-addon">
                          {{ body.codigoArea }}
                        </span>
                        <the-mask
                          class="form-control"
                          :mask="['(###) ###-####', '(##) ####-####']"
                          v-model="body.celular"
                          name="Celular"
                          v-validate="'required'"
                        />
                      </div>

                      <div class="row"></div>
                      <i
                        v-show="errors.has('principal.Celular')"
                        class="fa fa-warning"
                      >
                      </i>
                      <span
                        v-show="errors.has('principal.Celular')"
                        class="help is-danger text-danger"
                      >
                        El campo celular es obligatorio</span
                      >
                    </div>

                    <div class="col-md-6 form-group">
                      <h4>Telefono(Oficina)</h4>
                      <div class="input-group">
                        <span class="input-group-addon">
                          {{ body.codigoArea }}
                        </span>
                        <the-mask
                          class="form-control"
                          :mask="['(###) ###-####', '(###) ###-####']"
                          v-model="body.telefono"
                        />
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row"></div>
                </div>

                <div class="col-md-6">
                  <br />

                  <div class="row">
                    <div class="col-md-6 form-group">
                      <h4>País</h4>
                      <div class="row"></div>
                      <select
                        @change="
                          getMunicipios(body.clv_pais);
                          dameCodigoarea(body.clv_pais);
                        "
                        v-model="body.clv_pais"
                        v-validate="'required'"
                        class="form-control text-capitalize"
                        name="estado"
                      >
                        <option value="" disabled>Selecciona</option>
                        <option
                          v-for="x in listaEstados"
                          :key="x.clv_pais"
                          v-bind:value="x.clv_pais"
                          >{{ x.nombre }}</option
                        >
                      </select>
                      <div class="row"></div>
                      <i
                        v-show="errors.has('principal.estado')"
                        class="fa fa-warning"
                      >
                      </i>
                      <span
                        v-show="errors.has('principal.estado')"
                        class="help is-danger text-danger"
                      >
                        Seleccione un país
                      </span>
                    </div>

                    <div class="col-md-6 form-group">
                      <h4>Ciudad</h4>
                      <div class="row"></div>
                      <select
                        v-model="body.clv_ciudad"
                        v-validate="'required'"
                        class="form-control text-capitalize"
                        name="municipio"
                      >
                        <option value="" disabled>Selecciona</option>
                        <option
                          v-for="x in listaMunicipios"
                          :key="x.clv_ciudad"
                          v-bind:value="x.clv_ciudad"
                          >{{ x.nombre }}</option
                        >
                      </select>
                      <div class="row"></div>
                      <i
                        v-show="errors.has('principal.municipio')"
                        class="fa fa-warning"
                      >
                      </i>
                      <span
                        v-show="errors.has('principal.municipio')"
                        class="help is-danger text-danger"
                      >
                        Seleccione Ciudad</span
                      >
                    </div>
                  </div>

                  <br />

                  <div class="row">
                    <div class="col-md-6 form-group">
                      <h4>Barrio</h4>
                      <input
                        type="text"
                        name="colonia"
                        class="text-capitalize form-control"
                        v-model="body.colonia"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.colonia')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.colonia')"
                        class="help is-danger text-danger"
                        >El campo barrio es obligatorio</span
                      >
                    </div>

                    <div class="col-md-6 form-group">
                      <h4>Direccion</h4>
                      <input
                        type="text"
                        name="calle"
                        class="text-capitalize form-control"
                        v-model="body.calle"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.calle')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.calle')"
                        class="help is-danger text-danger"
                        >El campo calle es obligatorio</span
                      >
                    </div>
                  </div>

                  <br />
                </div>


                 <div class="col-md-6">
                  <br />
                  <div class="row">
                    <div class="col-md-6 form-group">
                    <h4>Nombre representante legal</h4>
                    <input
                      type="text"
                      name="nombreRL"
                      class="text-capitalize form-control"
                      v-model="body.nombreR"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.nombreRL')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.nombreRL')"
                      class="help is-danger text-danger"
                    >El campo nombre representante es obligatorio</span>
                  </div>

                      <div class="col-md-6 form-group">
                      <h4>Cedula representante legal</h4>
                      <input
                        type="text"
                        name="CRL"
                        class="text-capitalize form-control"
                        v-model="body.cedulaR"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.CRL')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.CRL')"
                        class="help is-danger text-danger"
                        >El campo Cedula representante es obligatorio</span
                      >
                    </div>

                    <!-- <div class="col-md-6 form-group">
                      <h4>Nombre Contrato adminstrativo</h4>
                      <input
                        type="text"
                        name="NCA"
                        class="text-capitalize form-control"
                        v-model="body.nombrecontrato"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.NCA')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.NCA')"
                        class="help is-danger text-danger"
                        >El campo nombre es obligatorio</span
                      >
                    </div> -->



                  </div>
                </div>


  
                 <div class="col-md-6">
                  <br />
                  <div class="row">

                 

                    <div class="col-md-6 form-group">
                      <h4>Nombre Contrato adminstrativo</h4>
                      <input
                        type="text"
                        name="NCA"
                        class="text-capitalize form-control"
                        v-model="body.nombrecontrato"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.NCA')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.NCA')"
                        class="help is-danger text-danger"
                        >El campo nombre es obligatorio</span
                      >
                    </div>


                          <div class="col-md-6 form-group">
                      <h4>Telefono contacto administrativo</h4>
                      <div class="input-group">
                        <span class="input-group-addon">
                          {{ body.codigoArea }}
                        </span>
                        <the-mask
                          class="form-control"
                          :mask="['(###) ###-####', '(###) ###-####']"
                          v-model="body.telefonoCA"
                        />
                      </div>
                    </div>

               



                  </div>
                </div>
      
                     

                <div class="col-md-6">
                  <br/>

                  <div class="row">

       <div class="col-md-6 form-group">
                    <h4>Rut</h4>
                    <input
                      type="text"
                      name="rut"
                      class="text-capitalize form-control"
                      v-model="body.rut"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.rut')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.rut')"
                      class="help is-danger text-danger"
                    >El campo Rut es obligatorio</span>
                  </div>
             


                     <div class="col-md-6 form-group">
                      <h4>Fecha Creacion</h4>
                      <input
                        type="date"
                        class="form-control input-sm"
                        v-model="body.Fechacreacion"
                        name="Fechacreacion"
                        v-validate="'required'"
                      />
                      <i
                        v-show="errors.has('principal.Fechacreacion')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.Fechacreacion')"
                        class="help is-danger text-danger"
                        >El campo fecha es obligatorio</span
                      >
                    </div>

                       <!-- <div class="col-md-6 form-group">
                      <h4>Requiere factura</h4>
                      <p-check
                        class="p-svg p-curve"
                        color="success"
                        v-model="body.activo"
                      >
                        <svg
                          slot="extra"
                          class="svg svg-icon"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                            style="stroke: white;fill:white"
                          ></path>
                        </svg>
                        Activo
                      </p-check>
                    </div> -->

              
                    
                    </div>
                    
                    <br/>
                   
               
                  
                  

                </div>

                    <div class="col-md-6">
                  <br/>

                  <div class="row">


                     <!-- <div class="col-md-6 form-group">
                      <h4>Fecha Creacion</h4>
                      <input
                        type="date"
                        class="form-control input-sm"
                        v-model="body.Fechacreacion"
                        name="Fechacreacion"
                        v-validate="'required'"
                      />
                      <i
                        v-show="errors.has('principal.Fechacreacion')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.Fechacreacion')"
                        class="help is-danger text-danger"
                        >El campo fecha es obligatorio</span
                      >
                    </div> -->

                       <div class="col-md-6 form-group">
                      <h4>Requiere factura</h4>
                      <p-check
                        class="p-svg p-curve"
                        color="success"
                        v-model="body.activo"
                      >
                        <svg
                          slot="extra"
                          class="svg svg-icon"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                            style="stroke: white;fill:white"
                          ></path>
                        </svg>
                        Activo
                      </p-check>
                    </div>

              
                    
                    </div>
                    
                    <br/>
                   
               
                  
                  

                </div>

                <div class="row">
                  <div
                    class="col-md-4 col-md-offset-8"
                    style="padding-top: 10px;"
                  >
                    <button
                      type="submit"
                      class="btn btn-success pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                    >
                      Guardar
                      <span class="fa fa-check"></span>
                    </button>
                    <button
                      @click="regresar"
                      type="button"
                      class="btn btn-default pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                    >
                      Salir
                      <span class="fa fa-sign-out-alt"></span>
                    </button>
                  </div>
                </div>
              </form>
            </v-tab>

          <!-- <v-tab title="Datos Del Dominio" icon="fa fa-html5" v-if="this.OP == 1" key='second' id="dos" >
              <form
                @submit.prevent="update('principal')"
                data-vv-scope="principal"
                autocomplete="false"
              >
                    <div class="col-md-12">
                     <div class="row">
                          <header>
                          <h3 class="text-primary text-center" style="font-weight:bold; border:none; margin-left:10px;"
                            >Acceso Smart Olt
                          </h3>

                          <br />

                  
                        </header>
                      </div>    
                </div>        

             <div class="col-md-12">

               <div class="col-md-6">

                    <div class="col-md-6 form-group">
                    <h4>Dominio</h4>
                    <input
                      type="text"
                      name="dominio"
                      class=" form-control"
                      v-model="body.Dominio"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.dominio')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.dominio')"
                      class="help is-danger text-danger"
                    >El campo Dominio es obligatorio</span>
                  </div>
                
                   <div class="col-md-6 form-group">
                    <h4>Correo</h4>
                    <input
                      type="email"
                      name="correo"
                      class="form-control"
                      v-model="body.correo"
                      v-validate="'required|email'"
                    />
                    <i v-show="errors.has('principal.correo')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.correo')"
                      class="help is-danger text-danger"
                    >El campo Correo es obligatorio</span>
                  </div>

                  
           
              </div>
              <div class="col-md-6">
                <div class="row">
               
                       
             


              <div class="col-md-6 form-group">
                    <h4>Contraseña</h4>
                    <input
                      type="text"
                      name="password"
                      class=" form-control"
                      v-model="body.password"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.password')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.password')"
                      class="help is-danger text-danger"
                    >El campo Contraseña es obligatorio</span>
                  </div>
                </div>
              </div>
             </div>


                <div class="row">
                  <div
                    class="col-md-4 col-md-offset-8"
                    style="padding-top: 10px;"
                  >
                    <button
                      type="submit"
                      class="btn btn-success pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                    >
                      Guardar
                      <span class="fa fa-check"></span>
                    </button>
                    <button
                      @click="regresar"
                      type="button"
                      class="btn btn-default pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                    >
                      Salir
                      <span class="fa fa-sign-out-alt"></span>
                    </button>
                  </div>
                </div>
              </form>
            </v-tab>

           <v-tab title="Datos Portal Web" icon="fa fa-chrome" v-if="this.OP == 1"  key='tres'  id="tres">
              <form
                @submit.prevent="update('principal')"
                data-vv-scope="principal"
                autocomplete="false"
              >
                               <br/>

                    <div class="col-md-12">
                     <div class="row">
                          <header>
                          <h3 class="text-primary text-center" style="font-weight:bold; border:none; margin-left:10px;"
                            >Acceso Portal Web
                          </h3>
                          <br/>

                  
                        </header>
                      </div>    
                </div>        

             <div class="col-md-12">

               <div class="col-md-6">

                  <div class="col-md-6 form-group">
                      <h4>Usuario</h4>
                      <input
                        type="text"
                        name="Usuario"
                        class=" form-control"
                        v-model="body.usuario"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.Usuario')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.Usuario')"
                        class="help is-danger text-danger"
                        >El campo Usuario es obligatorio</span
                      >
                    </div>

                                        
                   <div class="col-md-6 form-group">
                    <h4>Correo</h4>
                    <input
                      type="email"
                      name="correo1"
                      class="form-control"
                      v-model="body.correo1"
                      v-validate="'required|email'"
                    />
                    <i v-show="errors.has('principal.correo1')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.correo1')"
                      class="help is-danger text-danger"
                    >El campo Correo es obligatorio</span>
                  </div>
                  
           
              </div>
              <div class="col-md-6">
                <div class="row">
               
   



              <div class="col-md-6 form-group">
                    <h4>Contraseña</h4>
                    <input
                      type="text"
                      name="password1"
                      class=" form-control"
                      v-model="body.password1"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.password1')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.password1')"
                      class="help is-danger text-danger"
                    >El campo Contraseña es obligatorio</span>
                  </div>
                </div>
              </div>
             </div>


                <div class="row">
                  <div
                    class="col-md-4 col-md-offset-8"
                    style="padding-top: 10px;"
                  >
                    <button
                      type="submit"
                      class="btn btn-success pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                    >
                      Guardar
                      <span class="fa fa-check"></span>
                    </button>
                    <button
                      @click="regresar"
                      type="button"
                      class="btn btn-default pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                    >
                      Salir
                      <span class="fa fa-sign-out-alt"></span>
                    </button>
                  </div>
                </div>
              </form>



              
            </v-tab> -->


          </div>
          
          


         



        </vue-tabs>

         <modal
            name="modal-Eliminar"
            :width="400"
            height="auto"
            :scrollable="true"
            :clickToClose="false"
            style="z-index: 1500;"
          >
            <div></div>

            <h3 align="center">Agregar OLT</h3>

            <form
              @submit.prevent="insertar('principal1')"
              data-vv-scope="principal1"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <label style="font-weight:bold">Nombre</label>
                    <input
                      type="text"
                      class="form-control input-sm"
                      name="nombre"
                      v-validate="'required'"
                      v-model="oltAdd.nombre_olt"
                    />
                    <span
                      v-show="errors.has('principal1.nombre')"
                      class="help is-danger text-danger"
                    >
                      El campo nombre es obligatorio</span
                    >
                  </div>
                  <div class="col-md-12">
                    <label style="font-weight:bold">IP</label>
                    <input
                      type="text"
                      class="form-control input-sm"
                      v-validate="'required'"
                      name="ip"
                      v-model="oltAdd.olt_ip"
                    />
                    <span
                      v-show="errors.has('principal1.ip')"
                      class="help is-danger text-danger"
                    >
                      El IP nombre es obligatorio</span
                    >
                  </div>

                  <div class="col-md-12 ">
                    <h4>Marca</h4>
                    <div class="row"></div>
                    <select
                      @change="getModelosbymarca(oltAdd.clv_marca)"
                      v-model="oltAdd.clv_marca"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="marca"
                    >
                      <option value="" disabled>Selecciona</option>
                      <option
                        v-for="x in MarcaList"
                        :key="x.clv_marca"
                        v-bind:value="x.clv_marca"
                        >{{ x.nombre }}</option
                      >
                    </select>
                    <div class="row"></div>
                    <i
                      v-show="errors.has('principal.marca')"
                      class="fa fa-warning"
                    >
                    </i>
                    <span
                      v-show="errors.has('principal.marca')"
                      class="help is-danger text-danger"
                    >
                      Seleccione un marca
                    </span>
                  </div>

                  <div class="col-md-12 ">
                    <h4>Modelo</h4>
                    <div class="row"></div>
                    <select
                      v-model="oltAdd.clv_modelo"
                      @change="getfirmwareByModelo(oltAdd.clv_modelo)"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="modelo"
                    >
                      <option value="" disabled>Selecciona</option>
                      <option
                        v-for="x in listaModelos"
                        :key="x.clv_modelo"
                        v-bind:value="x.clv_modelo"
                        >{{ x.Nombre }}</option
                      >
                    </select>
                    <div class="row"></div>
                    <i
                      v-show="errors.has('principal.modelo')"
                      class="fa fa-warning"
                    >
                    </i>
                    <span
                      v-show="errors.has('principal.modelo')"
                      class="help is-danger text-danger"
                    >
                      Seleccione un modelo
                    </span>
                  </div>

                  <div class="col-md-12 ">
                    <h4>firmware</h4>
                    <div class="row"></div>
                    <select
                      v-model="oltAdd.clv_firmware"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="modelo"
                    >
                      <option value="" disabled>Selecciona</option>
                      <option
                        v-for="x in listaFirm"
                        :key="x.clv_firmware"
                        v-bind:value="x.clv_firmware"
                        >{{ x.Firmware }}</option
                      >
                    </select>
                    <div class="row"></div>
                    <i
                      v-show="errors.has('principal.modelo')"
                      class="fa fa-warning"
                    >
                    </i>
                    <span
                      v-show="errors.has('principal.modelo')"
                      class="help is-danger text-danger"
                    >
                      Seleccione un modelo
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-md-offset-3 " style="padding:10px;">
                  <button
                    type="submit"
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Guardar <span class="fa fa-check"></span>
                  </button>
                </div>
                <div class="col-md-3 col-md-offset-3 " style="padding:10px;">
                  <button
                    @click="$modal.hide('modal-Eliminar')"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir <span class="fa fa-sign-out-alt"></span>
                  </button>
                </div>
              </div>
            </form>
          </modal>

          <modal
            name="modal-EditarOlt"
            :width="400"
            height="auto"
            :scrollable="true"
            :clickToClose="false"
            style="z-index: 1500;"
          >
            <div></div>

            <h3 align="center">Editar OLT</h3>

            <form
              @submit.prevent="update1('principal1')"
              data-vv-scope="principal1"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <label style="font-weight:bold">Nombre</label>
                    <input
                      type="text"
                      class="form-control input-sm"
                      name="nombre"
                      v-validate="'required'"
                      v-model="olt.nombre_olt"
                    />
                    <span
                      v-show="errors.has('principal1.nombre')"
                      class="help is-danger text-danger"
                    >
                      El campo nombre es obligatorio</span
                    >
                  </div>
                  <div class="col-md-12">
                    <label style="font-weight:bold">IP</label>
                    <input
                      type="text"
                      class="form-control input-sm"
                      v-validate="'required'"
                      name="ip"
                      v-model="olt.olt_ip"
                    />
                    <span
                      v-show="errors.has('principal1.ip')"
                      class="help is-danger text-danger"
                    >
                      El IP nombre es obligatorio</span
                    >
                  </div>

                  <div class="col-md-12 ">
                    <h4>Marca</h4>
                    <div class="row"></div>
                    <select
                      @change="getModelosbymarca(olt.clv_marca)"
                      v-model="olt.clv_marca"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="marca"
                    >
                      <option value="" disabled>Selecciona</option>
                      <option
                        v-for="x in MarcaList"
                        :key="x.clv_marca"
                        v-bind:value="x.clv_marca"
                        >{{ x.nombre }}</option
                      >
                    </select>
                    <div class="row"></div>
                    <i
                      v-show="errors.has('principal.marca')"
                      class="fa fa-warning"
                    >
                    </i>
                    <span
                      v-show="errors.has('principal.marca')"
                      class="help is-danger text-danger"
                    >
                      Seleccione un marca
                    </span>
                  </div>

                  <div class="col-md-12 ">
                    <h4>Modelo</h4>
                    <div class="row"></div>
                    <select
                      v-model="olt.clv_modelo"
                      @change="getfirmwareByModelo(olt.clv_modelo)"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="modelo"
                    >
                      <option value="" disabled>Selecciona</option>
                      <option
                        v-for="x in listaModelos"
                        :key="x.clv_modelo"
                        v-bind:value="x.clv_modelo"
                        >{{ x.Nombre }}</option
                      >
                    </select>
                    <div class="row"></div>
                    <i
                      v-show="errors.has('principal.modelo')"
                      class="fa fa-warning"
                    >
                    </i>
                    <span
                      v-show="errors.has('principal.modelo')"
                      class="help is-danger text-danger"
                    >
                      Seleccione un modelo
                    </span>
                  </div>

                  <div class="col-md-12 ">
                    <h4>firmware</h4>
                    <div class="row"></div>
                    <select
                      v-model="olt.clv_firmware"
                      v-validate="'required'"
                      class="form-control text-capitalize"
                      name="modelo"
                    >
                      <option value="" disabled>Selecciona</option>
                      <option
                        v-for="x in listaFirm"
                        :key="x.clv_firmware"
                        v-bind:value="x.clv_firmware"
                        >{{ x.Firmware }}</option
                      >
                    </select>
                    <div class="row"></div>
                    <i
                      v-show="errors.has('principal.modelo')"
                      class="fa fa-warning"
                    >
                    </i>
                    <span
                      v-show="errors.has('principal.modelo')"
                      class="help is-danger text-danger"
                    >
                      Seleccione un modelo
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-md-offset-3 " style="padding:10px;">
                  <button
                    type="submit"
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Guardar <span class="fa fa-check"></span>
                  </button>
                </div>
                <div class="col-md-3 col-md-offset-3 " style="padding:10px;">
                  <button
                    @click="$modal.hide('modal-EditarOlt')"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir <span class="fa fa-sign-out-alt"></span>
                  </button>
                </div>
              </div>
            </form>
          </modal>

          <modal
            name="modal-reporte1"
            :width="800"
            :height="550"
            :scrollable="true"
            :clickToClose="false"
            style="z-index: 1500;"
          >
            <iframe
              :src="reporte1"
              allowfullscreen
              height="500"
              width="800"
            ></iframe>
            <div class="row">
              <button
                class="btn btn-block btn-default"
                @click="$modal.hide('modal-reporte1')"
              >
                Salir
              </button>
            </div>
          </modal>

          <modal
            name="modal-ticket"
            :width="500"
            :height="600"
            :scrollable="true"
            :clickToClose="false"
            style="z-index: 1500;"
          >
            <iframe :src="ticket" style="width:500px;height:550px"></iframe>
            <div class="row">
              <button
                class="btn btn-block btn-default"
                @click="$modal.hide('modal-ticket')"
              >
                Salir
              </button>
            </div>
          </modal>


          <modal
                name="modal-Eliminar1"
                :width="400"
                height="auto"
                :scrollable="true"
                :clickToClose="false"
                style="z-index: 1500;"
              >
              <div ></div>
              
              <h3 align="center">¿Estas seguro que quieres eliminar?</h3>


                <div class="col-md-12 "   align="center" style="border-top: 1px solid #e6dada">
                  <div class="col-md-6 " style="padding:10px;">
                    <button class="btn btn-success" type="button"  @click="Cancela()" >Si</button>
                    
                  </div> 
                  
                  <div class="col-md-6 " style="padding:10px;">
                    <button class="btn btn-error" type="button"  @click="$modal.hide('modal-Eliminar1')">No</button>
                    
                  </div> 
                
                </div>
              </modal>  

      <vue-tabs active-tab-color="#264562" active-text-color="white" v-show="this.OP != 1">
    <div class="col-md-12" v-show="this.OP != 1">
         
            <v-tab title="Datos olt">
              <form
                @submit.prevent="update1('principal2')"
                data-vv-scope="principal2"
                autocomplete="false"
              >
           
                <div class="row">
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <button
                        type="button"
                        class="btn btn-primary btn-xs"
                        @click="$modal.show('modal-Eliminar')"
                        title="Agregar OLT"
                      >
                        <i class="fa fa-share"></i> AGREGAR OLT
                      </button>

                      <h3 class="text-primary">OLT'S Asignadas</h3>

                      <div class="col-md-10">
                        <table class="table table-hover">
                          <thead></thead>
                          <tbody>
                            <tr
                              v-for="x in ListaFactura"
                              :key="x.id"
                              v-on:click="clickList(x)"
                            >
                              <td>
                                <h4 class="text-primary">
                                  <font color="blue">{{ x.nombre_olt }}</font>
                                </h4>
                              </td>
                              <td>
                                <button
                                  type="button"
                                  @click="$modal.show('modal-EditarOlt')"
                                  class="btn btn-warning btn-circle btn-sm"
                                >
                                  <i class="fa fa-edit"></i>
                                </button>
                              </td>
                              <td>
                                <button
                                  type="button"
                                  @click="enviar(x.id)"
                                  class="btn btn-danger btn-circle btn-sm"
                                >
                                  <i class="fa fa-trash"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                 


                
                  <div v-if="ListaFactura.length > 0" class="col-md-4">


                    <div class="col-md-12">

                       <div class="card animated fadeIn fast" style="margin-top:20px;">
                      <div class="card-head " style="padding-top:10px; padding-left:10px;  background: bisque;">
                        <header>
                          <strong  class="text-primary" style="font-weight:bold; border:none; margin-left:10px; "
                            >Datos OLT
                          </strong>

                          <br />

                  
                        </header>
                        
                      </div>
                      <div class="card-body" style="background:floralwhite">
                               <div class="col-md-6">
                        <label style="font-weight:bold">Hardware version</label>
                        <input
                          disabled
                          type="text"
                          class="form-control input-sm"
                          v-model="olt.hardware_version"
                        />
                      </div>
                      <div class="col-md-6">
                        <label style="font-weight:bold">Software version</label>
                        <input
                          disabled
                          type="text"
                          class="form-control input-sm"
                          v-model="olt.software_version"
                        />
                      </div>
                      <div class="col-md-6">
                        <label style="font-weight:bold">Telnet port</label>
                        <input
                          type="text"
                          class="form-control input-sm"
                          v-model="olt.telnet_port"
                        />
                      </div>
                      <div class="col-md-6">
                        <label style="font-weight:bold">SNMP Port</label>
                        <input
                          type="text"
                          class="form-control input-sm"
                          v-model="olt.snmp_udp_port"
                        />
                      </div>

                      <div class="col-md-6">
                        <label style="font-weight:bold">Telnet username</label>
                        <input
                          type="text"
                          class="form-control input-sm"
                          v-model="olt.telnet_username"
                        />
                      </div>
                      <div class="col-md-6">
                        <label style="font-weight:bold">telnet password</label>
                        <input
                          type="text"
                          class="form-control input-sm"
                          v-model="olt.telnet_password"
                        />
                      </div>

                      <div class="col-md-6">
                        <label style="font-weight:bold">IPTV Moodule</label>
                        <input
                          type="text"
                          class="form-control input-sm"
                          v-model="olt.iptv_module"
                        />
                      </div>

                      <div class="col-md-6">
                        <label style="font-weight:bold">IP</label>
                        <input
                          type="text"
                          class="form-control input-sm"
                          v-validate="'required'"
                          name="ip"
                          v-model="olt.olt_ip"
                        />
                        <span
                          v-show="errors.has('principal2.ip')"
                          class="help is-danger text-danger"
                        >
                          El IP nombre es obligatorio</span
                        >
                      </div>

                      <div class="col-md-6">
                        <label style="font-weight:bold">Contacto Tecnico</label>
                        <input
                          type="text"
                          class="form-control input-sm"
                          v-validate="'required'"
                          v-model="olt.contacto_tecnico"
                           name="contacto_tecnico"
                        />

                            <span
                        v-show="errors.has('principal2.contacto_tecnico')"
                        class="help is-danger text-danger"
                      >
                        El campo es obligatorio</span
                      >
                      </div>

                  

                      <div class="col-md-6">
                        <label style="font-weight:bold">Correo</label>
                        <input
                          type="email"
                          class="form-control input-sm"
                          v-validate="'required|email'"
                          v-model="olt.contacto_correo"
                           name="contacto_correo"
                        />


                        <span
                        v-show="errors.has('principal2.contacto_correo')"
                        class="help is-danger text-danger"
                      >
                        El campo es obligatorio</span
                      >

                      </div>

                      <div class="col-md-6">
                        <label style="font-weight:bold">Celular</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                            {{ body.codigoArea }}
                          </span>
                          <the-mask
                            class="form-control input-sm"
                            :mask="['(###) ###-####', '(##) ####-####']"
                            v-model="olt.contacto_celular"
                          />
                        </div>
                      </div>
                  
                      <div class="col-md-6">
                        <label style="font-weight:bold"
                          >Telefono(Oficina)</label
                        >
                        <div class="input-group">
                          <span class="input-group-addon">
                            {{ body.codigoArea }}
                          </span>
                          <the-mask
                            class="form-control input-sm"
                            :mask="['(###) ###-####', '(##) ####-####']"
                            v-model="olt.contacto_telefono"
                          />
                        </div>
                      </div>
                     
                     
                     
                     
                      </div>
                      </div>







                    </div>

                    
                  </div>

                  <div v-if="ListaFactura.length > 0" class="col-md-4">
                    <!-- <div class="col-md-12">
                 <label style="font-weight:bold">Ultima fecha</label>
                 <input type="date" class="form-control input-sm" v-model="olt.ultimo_anio">
             </div> -->
                   <div class="col-md-12">
                  <div class="card animated fadeIn fast" style="margin-top:20px;">
                      <div class="card-head " style="padding-top:10px; padding-left:10px;  background: bisque;">
                        <header>
                          <strong class="text-primary" style="font-weight:bold; border:none; margin-left:10px;"
                            >Pagos OLT
                          </strong>

                          <br />

                  
                        </header>
                        
                      </div>
                      <div class="card-body" style="background: floralwhite;" >
                          <div class="col-md-6">
                      <label style="font-weight:bold">Estatus</label>
                      <select
                        v-model="olt.status"
                        v-validate="'required'"
                        class="form-control text-capitalize input-sm bolden"
                        name="estatus"
                      >
                        <option value="" disable>Selecciona</option>
                        <option
                          v-for="x in estatus"
                          :key="x.Id"
                          v-bind:value="x.Id"
                        
                          >{{ x.Nombre }}</option
                        >
                      </select>
                      <span
                        v-show="errors.has('principal2.estatus')"
                        class="help is-danger text-danger"
                      >
                        El campo es obligatorio</span
                      >
                    </div>
                    <div class="col-md-6">
                      <label style="font-weight:bold">Tipo pago</label>
                      <select
                        v-model="olt.periodicity"
                        v-validate="'required'"
                        class="form-control input-sm text-capitalize"
                        name="tipopago"
                      >
                        <option value="" disable>Selecciona</option>
                        <option
                          v-for="x in tipopago"
                          :key="x.id"
                          v-bind:value="x.id"
                          >{{ x.nombre }}</option
                        >
                      </select>

                      <span
                        v-show="errors.has('principal2.tipopago')"
                        class="help is-danger text-danger"
                      >
                        El campo es obligatorio</span
                      >
                    </div>
                    <div class="col-md-6">
                      <label style="font-weight:bold">Fecha Alta</label>
                      <input
                        type="date"
                        class="form-control input-sm"
                        v-model="olt.fecha_alta"
                      />
                    </div>
                    <div class="col-md-6">
                      <label style="font-weight:bold">Fecha Baja</label>
                      <input
                        type="date"
                        class="form-control input-sm"
                        v-model="olt.fecha_baja"
                      />
                    </div>
                    <div class="col-md-6">
                      <label style="font-weight:bold">Fecha Suspendido</label>
                      <input
                        type="date"
                        class="form-control input-sm"
                        v-model="olt.fecha_suspendido"
                      />
                    </div>
                    <div class="col-md-6">
                      <label style="font-weight:bold">Fecha Ultimo Pago</label>
                      <input
                         :disabled="this.TipoUser != 1"
                        type="date"
                        class="form-control input-sm"
                        v-model="olt.fecha_ultimopago"
                      />
                    </div>
                    <div class="col-md-6">
                      <label style="font-weight:bold">Fecha Proximo Pago</label>
                      <input
                       
                      
                        
                        type="date"
                        class="form-control input-sm"
                        v-model="olt.prox_pago"
                        :disabled="this.TipoUser != 1"
                      />
                    </div>
                        
                        
                        
                        
                        </div>
                        </div>
                        
                        </div>

                  
                  </div>
              


                </div>

                <div class="row">
                  <div
                    v-if="ListaFactura.length > 0"
                    class="col-md-3 col-md-offset-9"
                  >
                    <button
                      type="submit"
                      class="btn btn-success pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                    >
                      Guardar <span class="fa fa-check"></span>
                    </button>
                    <button
                      @click="regresar"
                      type="button"
                      class="btn btn-default pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                    >
                      Salir <span class="fa fa-sign-out-alt"></span>
                    </button>
                  </div>
                </div>
              </form>
            </v-tab>

      
          </div>
</vue-tabs>

        
        





      </div>
    </div>
  </div>
</template>
<style>
  .bolden{font-family:"Arial Black"}
</style>

<style scoped>
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f3772e;
}
</style>

<style type="text/css">
.table-scroll {
  height: 350px;
  overflow: auto;
  margin-top: 20px;
}
.table-scroll-docs {
  height: 300px;
  overflow: auto;
}
.table-HisFac {
  height: 300px;
  overflow: auto;
}
.table-OrdSer {
  height: 300px;
  overflow: auto;
}
.table-Reportes {
  height: 300px;
  overflow: auto;
}
.input-sm {
  font-size: 12px;
}

.nav-tabs {
  float: left;
  font-size: 13px;
}
.contect-tabs {
  float: left;
}
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
.span-info {
  color: #f3772e;
}
.span-danger {
  color: #f44336;
}
</style>
<style type="text/css">
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#wrapper.toggled {
  padding-left: 200px;
}
#sidebar-wrapper {
  box-shadow: 0 1px 1px rgba(243,119,46);
  border-radius: 0px 10px 10px 0px;
  z-index: 400;
  position: absolute;
  left: 250px;
  width: 0;
  top: 20px;
  height: 400px;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #f3772e !Important; /*Fondo*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 0;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 10px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  right: 15px;
  width: 255px; /*Opcion Respecto a lo ancho*/
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #f3772e;
  font-weight: bold;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 0px;
  line-height: 0px;
}
.sidebar-nav > .sidebar-brand a {
  color: #f3772e;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: black;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 220px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px; /*Menu - Ancho*/
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 40px;
  }
  #wrapper.toggled span {
    visibility: hidden;
  }
  #wrapper.toggled i {
    float: right;
  }
  #page-content-wrapper {
    padding: 20px;
    position: absolute;
  }
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0;
  }
}
@media (max-width: 414px) {
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 60px;
  }
  #wrapper.toggled {
    padding-right: 60px;
  }
  #wrapper {
    padding-left: 20px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 50px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 140px;
  }
  #wrapper.toggled span {
    visibility: visible;
    position: absolute;
    left: 70px;
    bottom: 13px;
  }
  #wrapper span {
    visibility: hidden;
  }
  #wrapper.toggled i {
    float: right;
  }
  #wrapper i {
    float: right;
  }
  #page-content-wrapper {
    padding: 5px;
    position: absolute;
  }
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0;
  }
}
</style>

<style>
input[type="file"] {
  display: none !important;
}
.vue_component__upload--image
  .upload_image_form__thumbnail
  img[data-v-590170d4] {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 200px;
  min-height: 250px;
  max-height: 100px;
  opacity: initial;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
</style>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.vue_component__upload--image {
  margin-bottom: 1em;
  border: 1px solid red;
}
</style>

<style type="text/css">
h1 {
  color: green;
}
.xyz {
  background-size: auto;
  text-align: center;
  padding-top: 100px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}
</style>

<script>
import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
import { isNumber } from "util";
import { truncate } from "fs";
import VueGallery from "vue-gallery";
import UploadImage from "vue-upload-image";
import url from "../../urls";
import BuscarCotizacion from "../BuscarCotizacion";
import tablecomponent from "../table.vue";
import { EventBus } from "../../event-bus";
import jquery from "jquery";
import $ from "jquery";
Vue.prototype.$http = axios;
export default {
  name: "addclientes",
  props: {
    total: {
      type: Number,
      required: true,
      validator: (val) => val > 0,
    },
    eachSide: {
      type: Number,
      default: 1,
      validator: (val) => val >= 0,
    },
  },
  computed: {
    // Ordenados() {
    //   return this.listaAgendas
    //     .sort((a, b) => {
    //       let modifier = 1;
    //       if (this.currentSortDir === "desc") modifier = -1;
    //       if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
    //       if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
    //       return 0;
    //     })
    //     .filter((row, index) => {
    //       let start = (this.currentPage - 1) * this.pageSize;
    //       let end = this.currentPage * this.pageSize;
    //       if (index >= start && index < end) return true;
    //     });
    // }
  },
  data() {
    return {
      currentSort: "name",
      currentSortDir: "asc",
      pageSize: 5,
      currentPage: 1,
      secancela: 0, 
      OP: 1,
      vendedor: 0,
      TipoUser : Vue.localStorage.get("tipoUsuario"),
      listaAgendas: [],
      Fechas: {
        Fecha1: "",
        Fecha2: "",
      },
      estatus: "",
      fecha: "",
      mostrar: "",
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token,
        },
      },

      tipoUsuario: Vue.localStorage.get("tipoUsuario"),
      headers: [
        "#Contrato",
        "Cliente",
        "Correo",
        "No.Departamento",
        "Departamento",
      ],
      tabledata: [],
      reporte: "",

      headers1: [
        "#Folio",
        "Estatus",
        "Fecha cotizacion",
        "Fecha Expiracion",
        "Cliente",
      ],
      tabledata1: [],
      reporte1: "",

      headersAgenda: [
        "#",
        /*'Fecha',*/ "Fecha agendada",
        "Tipo de visita",
        "Observaciones",
        "Accion",
        "Estatus",
      ],
      headersFac: [
        "#",
        /*'Fecha',*/ "Fecha agendada",
        "Tipo de visita",
        "Observaciones",
        "Accion",
        "Estatus",
      ],
      tabledataAgenda: [],
      actionsAgenda: { editar: true },

      COINCIDENCIAS: [],
      actions: {
        pdf: true,
        word: true,
      },
      actionsFac: {
        imprimir: false,
      },
      actions1: {
        imprimir: true,
      },
      //  SetForm:1,
      oltAdd: {
        id: 0,
        cliente_id: this.$route.params.id,
        nombre_olt: "",
        olt_ip: "",
        clv_marca: 0,
        clv_modelo: 0,
        clv_firmware: 0,
      },

      olt: {
        id: 0,
        cliente_id: this.$route.params.id,
        nombre_olt: "",
        olt_ip: "",
        telnet_port: "",
        telnet_username: "",
        telnet_password: "",
        snmp_readonly: "",
        snmp_readwrite: "",
        snmp_udp_port: "",
        iptv_module: "",
        hardware_version: "",
        software_version: "",
        supported_pon_types: "",
        pago_inicial: "",
        periodicity: "",
        prox_pago: "",
        olt_picture: "",
        status: 0,
        continente: "",
        latitud: "",
        longitud: "",
        moneda: "",
        timezone: "",
        usuario: "",
        clave: "",
        contrato_estado: "",
        notificacion: 0,
        fecha_alta: new Date().toISOString().split("T")[0],
        fecha_baja: "",
        fecha_suspendido: "",
        fecha_ultimopago: "",
        ultimo_mes: 0,
        ultimo_anio: "",
        contacto_tecnico: "",
        contacto_correo: "",
        contacto_telefono: "",
        contacto_celular: "",
      },
      tipopago: [
        {
          id: "M",
          nombre: "Mensual",
        },
        {
          id: "T",
          nombre: "Trimestral",
        },
        {
          id: "S",
          nombre: "Semestral",
        },
        {
          id: "A",
          nombre: "Anual",
        },
      ],
      body: {
        nombre: "",
        nit: "",
        clv_pais: 0,
        clv_ciudad: 0,
        clv_colonia: 0,
        clv_calle: 0,
        Dominio: "",
        password: "",
        NombreR: "",
        nombrecontrato: "",
        cedulaR: "",
        rut: "",
        Fechacreacion: "",
        telefono: "",
        celular: "",
        correo: "",
        usuario: "",
        id: this.$route.params.id,
        activo: true,
        codigoArea: 0,
        password1:"",
        correo1: "",
        telefonoCA:""
      },

      ticket: "",
      DepartamentoSelected: [],
      listacalles: [],
      listacolonias: [],
      listaEstados: [],
      listaMunicipios: [],
      tabledata4: [],
      tabledata5: [],
      ListaFactura: [],
      ListaFacturas: [],
      listaModelos: [],
      MarcaList: [],
      listaFirm: [],
      carga: false,
      fechaCotizacion: new Date()
        .toJSON()
        .slice(0, 10)
        .replace(/-/g, "-"),
      cliente: "",

      params: {
        contrato: 0,
        nombre: "",
        segundoNombre: "",
        ApellidoPaterno: "",
        ApellidoMaterno: "",
        clv_usuario: Vue.localStorage.get("clv_usuario"),
      },
    };
  },
  mounted() {
    $("#wrapper").toggleClass("toggled");
    $("#wrapper").hover(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    if (this.tipoUsuario > 2) {
      this.mostrar = false;
    } else {
      this.mostrar = true;
    }

    this.getClientes();
    this.getOLts();
    this.getEstatus();
    this.getMarca();

    //this.getDepartamentos();
    // this.getImagenesCliente();
    // this.clientedepartamento();
    // this.getMedios();
    // this.getUsuarios();
    // this.getContratos();
    // this.getCotizacion(0);
    // this.getAgendas();
    // this.getMotivo();
    // this.urlAddImagen =
    //   url.URL_IMAGENES +
    //   "/Sistema/GuardaImagenesCliente?id=" +
    //   this.$route.params.id;

    EventBus.$on("PDF", (data) => {
      this.imprime(data.id, 1);
    });
    EventBus.$on("Word", (data) => {
      this.imprime(data.id, 3);
    });

    EventBus.$on("imprimir", (data) => {
      this.imprimir(data.id);
    });

    EventBus.$on("editar", (data) => {
      this.$router.push({ path: `/agenda/update/${data.id}/0` });
    });
  },
  methods: {
    getfirmwareByModelo(x) {
      axios
        .post("/SessionWeb/GetFirmwareModelo", { clv_modelo: x }, this.header)
        .then((res) => {
          this.listaFirm = res.data.GetFirmwareModeloResult;
          // this.getcolonia(this.body.clv_ciudad)
        });
    },
      enviar(x){
      console.log('llego',x)
       this.secancela = x
       this.$modal.show('modal-Eliminar1')
  


    },
    Cancela(){
      if (this.olt.fecha_ultimopago != "1900-01-01"){

        this.$snotify.warning(
            "Esta Olt no se puede eliminar por que tiene un pago registrado",
            "¡Atencion!",
            {
              timeout: 2000,
              showProgressBar: false,
              closeOnClick: true,
              pauseOnHover: true,
            }
          );
          this.$modal.hide('modal-Eliminar1')

      }else 
      {
        let body = {
            olt: this.olt,
          };


        axios.post("/SessionWeb/DeleteOLT", body, this.header).then((res) => {
            
            this.$snotify.success("OLT Eliminada con éxito", "¡Correcto!", {
              timeout: 1500,
              showProgressBar: false,
              closeOnClick: false,
              pauseOnHover: true,
            });
                this.$modal.hide('modal-Eliminar1')
                 this.getOLts();


              });

              }

    },

    Ticket(x) {
      console.log("llega", x);
      let params = {
        Opexportacion: 1,
        IdDetalle: x,
      };
      this.$modal.show("modal-ticket");
      axios.post("/SessionWeb/GetTicket", params, this.header).then((res) => {
        console.log(this.ticket);
        this.ticket = url.URL_REPORTES + res.data.GetTicketResult;
      });
    },

    damecodigoPais() {
      this.listaEstados.forEach((element) => {
        if (element.clv_pais == this.body.clv_pais) {
          this.body.codigoArea = element.codigoArea;
        }
      });
      console.log("Codigo entra", this.body.codigoArea);
    },

    getMarca() {
      let vm = this;
      axios.get("/SessionWeb/GetMarca", this.header).then((res) => {
        this.MarcaList = res.data.GetMarcaResult;
      });
    },

    getMotivo() {
      let vm = this;
      vm.ListaFacturas = [];
      let params = {
        Cotizacion: 0,
        Factura: 0,
        FechaInicio: "",
        FechaFin: "",
        Contrato: 0,
      };
      console.log("Params", params);
      axios.post("/SessionWeb/GetPagos", params, this.header).then((res) => {
        res.data.GetPagosResult.forEach((el) => {
          if (el.Clv_cliente == this.$route.params.id) {
            let obj = {
              id: el.Clv_factura,
              contrato: el.Contrato,
              cotizacion: el.Clv_Cotizacion,
              monto: el.Total,
              Nombre_cliente: el.Nombre_cliente,
              Descripcion: el.Descripcion,
              Status: el.Estatus == "C" ? "Cancelada" : "Pagado",
              nombreUsuario: el.nombre,
              Fecha: el.Fecha2,
            };
            vm.ListaFacturas.push(obj);
          }
        });
      });
    },

    getEstatus() {
      axios.get("/SessionWeb/GetStatus", this.header).then((res) => {
        this.estatus = res.data.GetStatusResult;
      });
    },

    getOLts() {
      let vm = this;

      axios
        .post(
          "/SessionWeb/GetOLTByIdCliente",
          { id: this.$route.params.id },
          this.header
        )
        .then((res) => {
          let olt = res.data.GetOLTByIdClienteResult;
          this.ListaFactura = res.data.GetOLTByIdClienteResult;
          this.olt = olt;
          this.clickList(res.data.GetOLTByIdClienteResult[0]);
          this.getMotivo();
        });
    },

    update1(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          let body = {
            olt: this.olt,
          };
          axios.post("/SessionWeb/UpdateOLT", body, this.header).then((res) => {
            this.$snotify.success("OLT agregada con éxito", "¡Correcto!", {
              timeout: 1500,
              showProgressBar: false,
              closeOnClick: false,
              pauseOnHover: true,
            });
            this.getOLts();
            this.$modal.hide("modal-EditarOlt");
          });
          return;
        } else {
          this.$snotify.warning(
            "verifica que todos los campos esten llenos",
            "¡Atencion!",
            {
              timeout: 2000,
              showProgressBar: false,
              closeOnClick: true,
              pauseOnHover: true,
            }
          );
          //  document.getElementById('dos')
          //  this.$refs.tab2.click();
          //  this.active_tab= 2;
        }
      });
    },

    insertar(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          let body = {
            olt: this.oltAdd,
          };
          axios.post("/SessionWeb/addOLT", body, this.header).then((res) => {
            this.$snotify.success("OLT agregada con éxito", "¡Correcto!", {
              timeout: 1500,
              showProgressBar: false,
              closeOnClick: false,
              pauseOnHover: true,
            });
            this.$modal.hide("modal-Eliminar");
            this.getOLts();
            (this.oltAdd.nombre_olt = ""), (this.oltAdd.olt_ip = "");
            this.oltAdd.clv_marca = 0;
            this.oltAdd.clv_modelo = 0;
          });
          return;
        }
      });
    },

    getEstados() {
      let vm = this;
      axios.get("/SessionWeb/GetEstado", this.header).then((res) => {
        vm.estados = res.data.GetEstadoResult;
        this.listaEstados = vm.estados;
        this.getMunicipios(this.body.clv_pais);
        this.damecodigoPais();
      });
    },

    getModelosbymarca(x) {
      axios
        .post("/SessionWeb/GetModelosByMarca", { clv_marca: x }, this.header)
        .then((res) => {
          this.listaModelos = res.data.GetModelosByMarcaResult;
          // this.getcolonia(this.body.clv_ciudad)
        });
    },

    dameCodigoarea(x) {
      this.body.codigoArea = x.codigoArea;
    },

    getMunicipios(x) {
      axios
        .post(
          "/SessionWeb/GetMunicipiosByEstado",
          { clv_estado: x },
          this.header
        )
        .then((res) => {
          this.listaMunicipios = res.data.GetMunicipiosByEstadoResult;

          this.damecodigoPais();
        });
    },

    getcolonia(x) {
      let params = {
        clv_pais: this.body.clv_pais,
        clv_ciudad: x,
      };

      axios
        .post("/SessionWeb/GetColoniaPaisCiudad", params, this.header)
        .then((res) => {
          this.listacolonias = res.data.GetColoniaPaisCiudadResult;

          this.getcalle(this.body.clv_colonia);
        });
    },

    getcalle(x) {
      axios
        .post("/SessionWeb/GetCalleColonia", { clv_colonia: x }, this.header)
        .then((res) => {
          this.listacalles = res.data.GetCalleColoniaResult;
        });
    },

    clickList(x) {
      axios
        .post("/SessionWeb/GetOLTById", { id: x.id }, this.header)
        .then((res) => {
          let olt = res.data.GetOLTByIdResult;
          this.olt = olt;
          console.log("OLts", this.olt);
          this.getModelosbymarca(this.olt.clv_marca);
          this.getfirmwareByModelo(this.olt.clv_modelo);
        });
    },

    SetForm(x) {
      this.OP = x;
    },
    recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },
    getClientes() {
      let vm = this;
      let params = {
        id: this.$route.params.id,
      };

      axios
        .post("/SessionWeb/GetClienteById", params, this.header)
        .then((res) => {
          this.body = res.data.GetClienteByIdResult;

          let cliente = res.data.GetClienteByIdResult;
          this.body.nombre = cliente.nombre_cliente;
          this.body.cedulaR = cliente.folio;
          this.body.nombreR = cliente.NombreR;

          this.body.Fechacreacion = this.recuperaFecha(cliente.Fecha2);
          this.body.clv_pais = cliente.clv_pais;

          this.getEstados();
        });
    },
    // getUsuarios() {
    //   this.usuarios = [];

    //   let vm = this;
    //   let params = {
    //     clv_usuario: Vue.localStorage.get("clv_usuario")
    //   };
    //   axios
    //     .post("/SessionWeb/GetVendedoresByUsuario", params, this.header)
    //     .then(res => {
    //        vm.usuarios = res.data.GetVendedoresByUsuarioResult;
    //        //console.log('USUARIOS',vm.usuarios)
    //        vm.usuarios.forEach(element => {
    //          if(element.clv_usuario == this.body.usuario){
    //            this.vendedorRelacionado = element.nombre;
    //          }
    //        });
    //     });
    // },

    acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    },

    update(scope) {
     
     console.log('Entra');


      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          var params = {
            nombre: this.body.nombre,
            nit: this.body.nit,
            clv_pais: this.body.clv_pais,
            clv_ciudad: this.body.clv_ciudad,
            clv_colonia: this.body.clv_colonia,
            clv_calle: this.body.clv_calle,
            Dominio: this.body.Dominio,
            password: this.body.password,
            nombreR: this.body.nombreR,
            nombrecontrato: this.body.nombrecontrato,
            cedulaR: this.body.cedulaR,
            rut: this.body.rut,
            Fechacreacion: this.acomodarFecha(this.body.Fechacreacion),
            telefono: this.body.telefono,
            celular: this.body.celular,
            correo: this.body.correo,
            usuario: this.body.usuario,
            id: this.body.id,
            activo: this.body.activo,
            colonia: this.body.colonia,
            calle: this.body.calle,
            codigoArea: this.body.codigoArea,
            password1:this.body.password1,
            correo1: this.body.correo1,
            telefonoCA: this.body.telefonoCA,
          };

          axios
            .post("/SessionWeb/UpdateCliente", { obj: params }, this.header)
            .then((res) => {
              this.$snotify.success(
                "Cliente actualizado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true,
                }
              );
              this.$router.push("/cliente");
            });
          return;
        }
      });
    },
    regresar() {
      this.$router.push("/cliente");
    },
    // getAgendas() {
    //   let vm = this;

    //   let { Fecha1, Fecha2 } = this.Fechas;
    //   if (Fecha1 === "" || Fecha2 === "") {
    //     FechaInicial.max = Fecha2;
    //     FechaFinal.min = Fecha1;
    //   }

    //   let params = {
    //     clv_cliente: this.$route.params.id,
    //     Fecha1: Fecha1 == "" ? "" : this.acomodarFecha(Fecha1),
    //     Fecha2: Fecha2 == "" ? "" : this.acomodarFecha(Fecha2)
    //   };

    //   /*  let params= {clv_cliente: this.$route.params.id,
    //                   Fecha1: '',
    //                   Fecha2: '' } */
    //   axios
    //     .post("/SessionWeb/GetAgendasByCliente", params, this.header)
    //     .then(res => {
    //       this.listaAgendas = [];
    //       /*  if (el.Clv_cliente != this.$route.params.id) {
    //           return;
    //       } */
    //       this.listaAgendas = res.data.GetAgendasByClienteResult;
    //     });
    // },
    // cancelarAgenda(x) {
    //   let vm = this;
    //   axios
    //     .post("/SessionWeb/CancelarAgenda", { id: x }, this.header)
    //     .then(res => {
    //       this.getAgendas();
    //     });
    // },

    // acomodarFecha(x) {
    //   let arrayFecha = x.split("-");
    //   let fechanueva =
    //     arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
    //   return fechanueva;
    // }
  },

  components: {
    Money,
    gallery: VueGallery,
    UploadImage,
    tablecomponent,
    BuscarCotizacion,
  },
};
</script>
