<template>
  <div>
    <div class="card animated fadeIn fast" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo Cliente</strong>

          <br />
          <small>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>
            <a href class="paginaActiva">Registros</a>
          </small>
        </header>
      </div>
      <div class="card-body">
        <vue-tabs active-tab-color="#264562" v-model="selectedTab" active-text-color="white">
          <br />
          <v-tab v-if="!carga" title="Datos del cliente" v-model="tab1" ref="tab1" id="uno" icon="fa fa-address-card">
            <form
            @submit.prevent="insertar('principal')"
              data-vv-scope="principal"
              autocomplete="false"
            >
              <div class="col-md-6">
             
                <br />
                <div class="row">
                  <div class="col-md-6 form-group">
                    <h4>Nombre Cliente/Razon Social</h4>
                    <input
                      type="text"
                      name="nombre"
                      class="text-capitalize form-control"
                      v-model="body.nombre"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.nombre')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.nombre')"
                      class="help is-danger text-danger"
                    >El campo nombre es obligatorio</span>
                  </div>

              <div class="col-md-6 form-group">
                    <h4>Nit/RFC</h4>
                    <input
                      type="text"
                      name="nit"
                      class="text-capitalize form-control"
                      v-model="body.nit"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.nit')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.nit')"
                      class="help is-danger text-danger"
                    >El campo nit es obligatorio</span>
                  </div>

                </div>
                <br />
                     <div class="row">
                       
                  <div class="col-md-1" style="margin-top: 40px">
                    <input
                      type="text"
                      name="nit"
                      class=" form-control"
                      v-model="body.codigoArea"
                      v-validate="'required'"
                      disabled
                    />
                  
                  </div>
                   <div class="col-md-4 form-group">
                    <h4>Celular</h4>
                    <the-mask
                      class="form-control"
                      :mask="['(###) ###-####', '(##) ####-####']"
                      v-model="body.celular"
                      name='Celular'
                      v-validate="'required'"

                    />

                      <div class="row"></div>
                     <i v-show="errors.has('principal.Celular')" class="fa fa-warning"> </i>
                       <span v-show="errors.has('principal.Celular')" class="help is-danger text-danger"> El campo celular es obligatorio</span>


                  </div>
                  <div class="col-md-6 form-group">
                    <h4>Telefono(Oficina)</h4>
                    <the-mask
                      class="form-control"
                      :mask="['(###) ###-####', '(###) ###-####']"
                      v-model="body.telefono"
                    />
                  </div>

     
                </div>
                <br />
                <div class="row">
             
                </div>
              </div>

              <div class="col-md-6">
           
                <br />


                 <div class="row">


               <div class="col-md-6 form-group">
                <h4>País</h4>
                <div class="row"></div>
                <select @change="getMunicipios(body.clv_pais);dameCodigoarea(body.clv_pais);" v-model="body.clv_pais" v-validate="'required'" class="form-control text-capitalize" name="estado">
                    
                    <option value="" disabled>Selecciona</option>
                    <option v-for="x in listaEstados" :key="x.clv_pais" v-bind:value="x"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.estado')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.estado')" class="help is-danger text-danger"> Seleccione un país </span>
                </div>

                <div class="col-md-6 form-group">
                <h4>Ciudad</h4>
                <div class="row"></div>
                <select  v-model="body.clv_ciudad" v-validate="'required'" class="form-control text-capitalize" name="municipio">
                    <option value="" disabled>Selecciona</option>
                   <option v-for="x in listaMunicipios" :key="x.clv_ciudad" v-bind:value="x.clv_ciudad"
                    >{{x.nombre}}</option>
                </select>
                <div class="row"></div>
                <i v-show="errors.has('principal.municipio')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.municipio')" class="help is-danger text-danger"> Seleccione Ciudad</span>
                </div>


                 
                </div>

           
                <br />

                <div class="row">
                  
                  
                <div class="col-md-6 form-group">
                <h4>Barrio</h4>
                <input
                      type="text"
                      name="colonia"
                      class="text-capitalize form-control"
                      v-model="body.colonia"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.colonia')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.colonia')"
                      class="help is-danger text-danger"
                    >El campo barrio es obligatorio</span>
           
                </div>



                  
                <div class="col-md-6 form-group">
                <h4>Direccion</h4>
                   <input
                      type="text"
                      name="calle"
                      class="text-capitalize form-control"
                      v-model="body.calle"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.calle')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.calle')"
                      class="help is-danger text-danger"
                    >El campo calle es obligatorio</span>
                </div>


              
                </div>
                <br />
              </div>

    

                 <div class="col-md-6">
                  <br />
                  <div class="row">

                    
                  <div class="col-md-6 form-group">
                    <h4>Nombre representante legal</h4>
                    <input
                      type="text"
                      name="nombreRL"
                      class="text-capitalize form-control"
                      v-model="body.nombreR"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.nombreRL')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.nombreRL')"
                      class="help is-danger text-danger"
                    >El campo nombre representante es obligatorio</span>
                  </div>

                      <div class="col-md-6 form-group">
                      <h4>Cedula representante legal</h4>
                      <input
                        type="text"
                        name="CRL"
                        class="text-capitalize form-control"
                        v-model="body.cedulaR"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.CRL')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.CRL')"
                        class="help is-danger text-danger"
                        >El campo Cedula representante es obligatorio</span
                      >
                    </div>

                    <!-- <div class="col-md-6 form-group">
                      <h4>Nombre Contrato adminstrativo</h4>
                      <input
                        type="text"
                        name="NCA"
                        class="text-capitalize form-control"
                        v-model="body.nombrecontrato"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.NCA')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.NCA')"
                        class="help is-danger text-danger"
                        >El campo nombre es obligatorio</span
                      >
                    </div> -->



                  </div>
                </div>


                
                 <div class="col-md-6">
                  <br />
                  <div class="row">

                 
               


                    <div class="col-md-6 form-group">
                      <h4>Nombre Contrato adminstrativo</h4>
                      <input
                        type="text"
                        name="NCA"
                        class="text-capitalize form-control"
                        v-model="body.nombrecontrato"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.NCA')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.NCA')"
                        class="help is-danger text-danger"
                        >El campo nombre es obligatorio</span
                      >
                    </div>

                              <div class="col-md-6 form-group">
                      <h4>Telefono contacto administrativo</h4>
                      <div class="input-group">
                        <span class="input-group-addon">
                          {{ body.codigoArea }}
                        </span>
                        <the-mask
                          class="form-control"
                          :mask="['(###) ###-####', '(###) ###-####']"
                          v-model="body.telefonoCA"
                        />
                      </div>
                    </div>


                  </div>
                </div>


                <div class="col-md-6">
                  <br/>

                  <div class="row">

                    <div class="col-md-6 form-group">
                    <h4>Rut</h4>
                    <input
                      type="text"
                      name="rut"
                      class="text-capitalize form-control"
                      v-model="body.rut"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.rut')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.rut')"
                      class="help is-danger text-danger"
                    >El campo Rut es obligatorio</span>
                  </div>

                     <div class="col-md-6 form-group">
                      <h4>Fecha Creacion</h4>
                      <input
                        type="date"
                        class="form-control input-sm"
                        v-model="body.Fechacreacion"
                        name="Fechacreacion"
                        v-validate="'required'"
                      />
                      <i
                        v-show="errors.has('principal.Fechacreacion')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.Fechacreacion')"
                        class="help is-danger text-danger"
                        >El campo fecha es obligatorio</span
                      >
                    </div>

             

              
                    
                    </div>
                    
                    <br/>
                   
               
                  
                  

                </div>
     

     
                <div class="col-md-6">
                  <br/>

                  <div class="row">

                       <div class="col-md-6 form-group">
                      <h4>Requiere factura</h4>
                      <p-check
                        class="p-svg p-curve"
                        color="success"
                        v-model="body.activo"
                      >
                        <svg
                          slot="extra"
                          class="svg svg-icon"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                            style="stroke: white;fill:white"
                          ></path>
                        </svg>
                        Activo
                      </p-check>
                    </div>

              
                    
                    </div>
                    
                    <br/>
                   
               
                  
                  

                </div>
              

              <!-- <div class="col-md-6">
                <div class="row">
                 <div class="col-md-6 form-group">
                     <h4>Fecha Creacion</h4>
                  <input type="date" class="form-control input-sm"    v-model="body.Fechacreacion" name="Fechacreacion"  v-validate="'required'">
                      <i v-show="errors.has('principal.Fechacreacion')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.Fechacreacion')"
                      class="help is-danger text-danger"
                    >El campo fecha es obligatorio</span>

                </div>

               <div class="col-md-6 form-group">
                <h4>Genera factura</h4>
                <br />
                <p-check class="p-svg p-curve" color="success" v-model="body.activo">
                  <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white;fill:white"
                    />
                  </svg>
                  Activo
                </p-check>
              </div>

                </div>

         

              </div> -->

              <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button>
                </div>
              </div>
            </form>
          </v-tab>

          <!-- <v-tab  title="Datos Del Dominio" icon="ti-user"  key='second' v-model="tab2" id="dos" >
          <form  @submit.prevent="insertar('principal')" data-vv-scope="principal" autocomplete="false" >
          

               <div class="col-md-12">
                     <div class="row">
                          <header>
                          <h3 class="text-primary text-center" style="font-weight:bold; border:none; margin-left:10px;"
                            >Acceso Smart Olt
                          </h3>

                          <br />

                  
                        </header>
                      </div>    
                </div>        

             <div class="col-md-12">

               <div class="col-md-6">

                    <div class="col-md-6 form-group">
                    <h4>Dominio</h4>
                    <input
                      type="text"
                      name="dominio"
                      class=" form-control"
                      v-model="body.Dominio"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.dominio')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.dominio')"
                      class="help is-danger text-danger"
                    >El campo Dominio es obligatorio</span>
                  </div>
                
                     <div class="col-md-6 form-group">
                    <h4>Correo</h4>
                    <input
                      type="email"
                      name="correo"
                      class="form-control"
                      v-model="body.correo"
                      v-validate="'required|email'"
                    />
                    <i v-show="errors.has('principal.correo')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.correo')"
                      class="help is-danger text-danger"
                    >El campo Correo es obligatorio</span>
                  </div>

           
           
              </div>
              <div class="col-md-6">
                <div class="row">
               
                       
              


              <div class="col-md-6 form-group">
                    <h4>Contraseña</h4>
                    <input
                      type="text"
                      name="password"
                      class=" form-control"
                      v-model="body.password"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.password')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.password')"
                      class="help is-danger text-danger"
                    >El campo Contraseña es obligatorio</span>
                  </div>
                </div>
              </div>
             </div>

              
             <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-top: 10px;">
                  <button
                    type="submit"
                    
                    class="btn btn-success pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                  >
                    Registrar
                    <span class="fa fa-check"></span>
                  </button>
                  <button
                    @click="regresar"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir
                    <span class="fa fa-sign-out-alt"></span>
                  </button>
                </div>
              </div>
            
             </form>
          
          </v-tab>

           <v-tab title="Datos Portal Web" icon="fa fa-chrome">
              <form
                @submit.prevent="insertar('principal')"
                data-vv-scope="principal"
                autocomplete="false"
              >
                               <br/>

                    <div class="col-md-12">
                     <div class="row">
                          <header>
                          <h3 class="text-primary text-center" style="font-weight:bold; border:none; margin-left:10px;"
                            >Acceso Portal Web
                          </h3>
                          <br/>

                  
                        </header>
                      </div>    
                </div>        

             <div class="col-md-12">

               <div class="col-md-6">

                  <div class="col-md-6 form-group">
                      <h4>Usuario</h4>
                      <input
                        type="text"
                        name="Usuario"
                        class=" form-control"
                        v-model="body.usuario"
                        v-validate="'required'"
                      />

                      <i
                        v-show="errors.has('principal.Usuario')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('principal.Usuario')"
                        class="help is-danger text-danger"
                        >El campo Usuario es obligatorio</span
                      >
                    </div>

                                        
                   <div class="col-md-6 form-group">
                    <h4>Correo</h4>
                    <input
                      type="email"
                      name="correo1"
                      class="form-control"
                      v-model="body.correo1"
                      v-validate="'required|email'"
                    />
                    <i v-show="errors.has('principal.correo1')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.correo1')"
                      class="help is-danger text-danger"
                    >El campo Correo es obligatorio</span>
                  </div>
                  
           
              </div>
              <div class="col-md-6">
                <div class="row">
               
   



              <div class="col-md-6 form-group">
                    <h4>Contraseña</h4>
                    <input
                      type="text"
                      name="password1"
                      class=" form-control"
                      v-model="body.password1"
                      v-validate="'required'"
                    />

                    <i v-show="errors.has('principal.password1')" class="fa fa-warning"></i>
                    <span
                      v-show="errors.has('principal.password1')"
                      class="help is-danger text-danger"
                    >El campo Contraseña es obligatorio</span>
                  </div>
                </div>
              </div>
             </div>


                <div class="row">
                  <div
                    class="col-md-4 col-md-offset-8"
                    style="padding-top: 10px;"
                  >
                    <button
                      type="submit"
                      class="btn btn-success pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                    >
                      Guardar
                      <span class="fa fa-check"></span>
                    </button>
                    <button
                      @click="regresar"
                      type="button"
                      class="btn btn-default pull-right"
                      style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                    >
                      Salir
                      <span class="fa fa-sign-out-alt"></span>
                    </button>
                  </div>
                </div>
              </form>
            </v-tab> -->

          <!-- <v-tab  title="Datos adicionales" icon="ti-user">



      
             
          </v-tab> -->
        </vue-tabs>
      </div>
    </div>
  </div>
</template>
<style>
input[type="file"] {
  display: none !important;
}
.vue_component__upload--image
  .upload_image_form__thumbnail
  img[data-v-590170d4] {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 200px;
  min-height: 250px;
  max-height: 100px;
  opacity: initial;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
</style>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.vue_component__upload--image {
  margin-bottom: 1em;
  border-color: #90a472;
  border-style: dashed;
}
</style>
<script>
var f = new Date();
f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear();

import Vue from "vue";
import axios from "axios";
import { Money } from "v-money";
 import moment from "moment";
// import { isNumber } from "util";
// import { truncate } from "fs";
// import VueGallery from "vue-gallery";
// import UploadImage from "vue-upload-image";
// import url from "../../urls";
Vue.prototype.$http = axios;
export default {
  name: "addClientes",
  props: ["Clv_vendedor"],

  data() {
    return {
      tabledata: [],

      activo: 1,
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },

      tipoUsuario: Vue.localStorage.get("tipoUsuario"),

      departamentos: [],
      fecha: f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear(),
      mostrar: " ",
      body: {
        nombre: "",
        nit:"",
        clv_pais:0,
        clv_ciudad:0,
        clv_colonia:0,
        clv_calle:0,
        Dominio:"",
        password:"",
        NombreR:"",
        nombrecontrato:"",
        cedulaR:"",
        rut:"",
        Fechacreacion:new Date().toISOString().split('T')[0],
        telefono:"",
        celular: "",
        correo: "",
        usuario:"",
        id:0,
        activo:1,
        colonia:"",
        calle:"",
        codigoArea:0 ,   
        correo1: "",
        password1:"",
        telefonoCA:""
       
      },
      tab2:"",
      tab1:"",
      active_tab:"",
      selectedTab:"",
      // departamentos: {
      //   departamentos: []
      // },

      Clv_departamento: 0,
      TipoDepartamento: "",
      listaDepartamentos: "",
      listaEstados: [],
      listaMunicipios: [],
      listacalles: [],
      listaModelos:[],

      carga: false,
      urlAddImagen: "",
      images: [],
      index: null,
      clv_proyecto: 0,
      clv_Departamento: 0,
      IdDetalle: 0,
      listacolonias: []
    };
  },
  mounted() {
    if (this.tipoUsuario > 2) {
      this.mostrar = false;
    } else {
      this.mostrar = true;
    }

    this.getEstados();
  
    //this.getDepartamentos();
  },
  methods: {
     recuperaFecha(x) {
      const fecha = x.split("/");
      const arreglo = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
      return arreglo;
    },

dameCodigoarea(x){
console.log('llega', x.codigoArea);
this.body.codigoArea = x.codigoArea;

},


 getEstados() {
    
      let vm = this;
      axios.get("/SessionWeb/GetEstado", this.header).then(res => {
        vm.estados = res.data.GetEstadoResult;
        this.listaEstados = vm.estados;
      });
        
    },


    getMunicipios(x) {
    console.log('llega 2', x);
         
      axios
        .post(
          "/SessionWeb/GetMunicipiosByEstado",
          { clv_estado: x.clv_pais },
          this.header
          
        )
        .then(res => {
          this.listaMunicipios = res.data.GetMunicipiosByEstadoResult;
        });
    },



    getcolonia(x) {
    let params = {
      clv_pais:this.body.clv_pais,
      clv_ciudad: x

    }
         
      axios.post("/SessionWeb/GetColoniaPaisCiudad",params,this.header)
        .then(res => {
          this.listacolonias = res.data.GetColoniaPaisCiudadResult;
        });
    },

getcalle(x){

     axios.post("/SessionWeb/GetCalleColonia",{clv_colonia:x},this.header)
        .then(res => {
          this.listacalles = res.data.GetCalleColoniaResult;
        });

},
acomodarFecha(x) {
      let arrayFecha = x.split("-");
      let fechanueva =
        arrayFecha[2] + "/" + arrayFecha[1] + "/" + arrayFecha[0];
      return fechanueva;
    }, 



    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {
        console.log('result', result);
        if (result) {

        var params ={
        nombre: this.body.nombre,
        nit:this.body.nit,
        clv_pais:this.body.clv_pais.clv_pais,
        clv_ciudad:this.body.clv_ciudad,
        clv_colonia:this.body.clv_colonia,
        clv_calle:this.body.clv_calle,
        Dominio:this.body.Dominio,
        password:this.body.password,
        nombreR:this.body.nombreR,
        nombrecontrato:this.body.nombrecontrato,
        cedulaR:this.body.cedulaR,
        rut:this.body.rut,
        Fechacreacion:this.acomodarFecha(this.body.Fechacreacion),
        telefono:this.body.telefono,
        celular: this.body.celular,
        correo: this.body.correo,
        usuario:this.body.usuario,
        id:this.body.id,
        activo:this.body.activo,
        colonia:this.body.colonia,
        calle:this.body.calle,
        codigoArea:this.body.codigoArea,    
        password1:this.body.password1,
        correo1: this.body.correo1,
        telefonoCA:this.body.telefonoCA,
        tipocliente: 1
        }




          this.body.Medios = this.body.Medios ? this.body.Medios : 0;

          let departamentos = this.DepartamentoSelected;
          if (this.tipoUsuario > 2) {
            this.body.usuario = Vue.localStorage.get("clv_usuario");
          }

          axios.post("/SessionWeb/AddCliente",{ obj: params, departamentos },this.header)
            .then(res => {

              // console.log(res.data.AddClienteResult);
              this.body.id = res.data.AddClienteResult;
            
              this.$snotify.success(
                "Cliente agregado con éxito",
                "¡Correcto!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              this.$router.push({ path: `/clientecomercial/update/${this.body.id}` });
            });
        }else{

                this.$snotify.warning(
                "verifica que todos los campos esten llenos",
                "¡Atencion!",
                {
                  timeout: 2000,
                  showProgressBar: false,
                  closeOnClick: true,
                  pauseOnHover: true
                }
              );
              //  document.getElementById('dos')
              //  this.$refs.tab2.click();
              //  this.active_tab= 2;
               this.selectedTab = "second";
        }
      });
    },
    validaNumericos(event) {
      if (event.charCode >= 48 && event.charCode <= 57) {
        return true;
      }

      return false;
    },
    regresar() {
      this.$router.push("/cliente");
    },
    getMediosContacto() {
      axios.get("/SessionWeb/GetMedioContacto", this.header).then(res => {
        res.data.GetMedioContactoResult.forEach(medio => {
          if (medio.estatus == false) return;
          this.medioContacto.push(medio);
        });
      });
    }
  },
  components: {
    Money,
    
  }
};
</script>