<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Clientes</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catálogo cliente</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
      <!-- <div class="col-md-2">
        <label>Estatus</label>    
        <select v-model="Estatus" @change="getClientes" v-validate="'required'" class="form-control  input-sm text-capitalize" name="localidad">
                   <option value="" >Selecciona</option>
                   <option value="1" >Capturado</option>
                   <option value="2" >En proceso</option>
                   <option value="3" >Apartado</option>
                   <option value="4" >Vendido</option>
                   <option value="5" >Descartado</option>
                </select>
      </div> -->

      <div class="col-md-3">
         <label>Nombre Cliente/Razon Social</label>  
         <input type=" text" class="form-control input-sm" v-model="NombreCliente">
      </div>
      <div class="col-md-2">
          <label>Nit/RFC</label>  
          <input type=" text" class="form-control input-sm" v-model="Celular">
      </div>
       <div class="col-md-2">
          <label>País</label>  
          <input type=" text" class="form-control input-sm" v-model="Pais">
      </div>
      <div class="col-md-2">
        <br>
         <button class="btn btn-default btn-sm" @click="getClientes">Buscar</button>
      </div>
	    
      <div class="col-md-3">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
         <button  class="btn btn-success"
           @click="$modal.show('modal-tipoCliente')"
         
         ><i class="fa fa-plus"></i> Nuevo Cliente</button>
        <!-- <router-link class="btn btn-success pull-right" 
        
        to="/cliente/add"
        
        >
        <i class="fa fa-plus"></i> Nuevo
        </router-link> -->
      </div>
      </div>

         <modal
            name="modal-tipoCliente"
            :width="400"
            height="auto"
            :scrollable="true"
            :clickToClose="false"
            style="z-index: 1500;"
          >
            <div></div>

            <h3 align="center">Selecciona tipo de cliente</h3>

             <select name="comprador" class="form-control text-capitalize" v-model="selected"  @change="NuevoTCliente()">
                <option value="">Selecciona </option>
                <option value="0">Smart OLt </option>
                <option value="1">Comercial </option>
                
                </select>

            <form
              @submit.prevent="insertar('principal1')"
              data-vv-scope="principal1"
            >

            
            

              <div class="row">
                
                <div class="col-md-3 col-md-offset-8 " style="padding:10px;">
                  <button
                    @click="$modal.hide('modal-tipoCliente')"
                    type="button"
                    class="btn btn-default pull-right"
                    style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                  >
                    Salir <span class="fa fa-sign-out-alt"></span>
                  </button>
                </div>
              </div>
            </form>
          </modal>


      
				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Cliente'"
         :filter-options="'nombre'"
         >
         </tablecomponent>	
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from "../../components/table.vue";
import { EventBus } from "../../event-bus";
export default {
  name: "app_vistas",
  data() {
    return {
      headers: ["#", "Nombre/Razon Social",'Nit/RFC','País','Correo','Celular','Telefono'],
      actions: {
        editar: true,
        eliminar: true 
      },
      tabledata: [],
      ClientesVal: [],
      token: Vue.localStorage.get("token"),
      Estatus:'',
      NombreCliente:'',
      Celular:'',
      selected:'',
      Pais:'',
     tipocliente:0, 
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };

   

  },

  mounted() {




    this.getClientes();
    EventBus.$on("editar", data => {

      
        this.ClientesVal .forEach(el => {

          if (el.id == data.id){
            this.tipocliente = el.tipocliente
          }
        });

     console.log('TipoCliente', this.tipocliente);

      if (this.tipocliente == 0){
        this.$router.push({ path: `/cliente/update/${data.id}` });
      }else
      {
        this.$router.push({ path: `/clientecomercial/update/${data.id}`});

      }
  
    });

       EventBus.$on("eliminar", data => {
      // console.log('Entra', data);
       let params = {
    
        id: data.id,
        activo: 1,
      };
     //  console.log("Clave", params);
      axios.post("/SessionWeb/UpdateClientesActivo", {obj: params}, this.header).then(res => {
          
          this.$snotify.success(
                "Cliente eliminado con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true,
                }
              );
         this.getClientes();
      });
    });





  },
  methods: {



NuevoTCliente(){

  if (this.selected == 0){
          this.$router.push({ path: `/cliente/add` });
  }else{
         this.$router.push({ path: `/clientecomercial/add` });

  }



},


    getClientes() {

      let vm = this;
      vm.tabledata = []
      let params = {
        // clv_usuario: Vue.localStorage.get("clv_usuario"),
        // clv_estatus: (this.Estatus) ? this.Estatus:0,
        nombre: (this.NombreCliente) ? this.NombreCliente:null,
        celular: (this.Celular)? this.Celular:null,
        pais:(this.Pais)? this.Pais:null
      };
      // console.log("Clave", params);
      axios.post("/SessionWeb/GetClientes", params, this.header).then(res => {

      this.ClientesVal =  res.data.GetClientesResult

        res.data.GetClientesResult.forEach(el => {
          let obj = {
            id: el.id,
            nombre: el.nombre_cliente ,
            nit: el.nit,
            pais: el.Nombre_pais,
                 
            correo: el.correo,
            celular:el.celular,
            telefono: el.telefono ,
    
            // activo: ((el.activo))? 'Activo' : 'Inactivo'
          };
          vm.tabledata.push(obj);
        });
      });
      this.NombreCliente='',
      this.Celular ='',
      this.Pais =''
    }
  },
  components: {
    tablecomponent
  }
};
</script>