<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Conceptos de pago</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Ventas</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
      <div class="col-md-12">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
        <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>-->
        <router-link class="btn btn-success pull-right" to="/conceptosDePago/add">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      </div>

				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar concepto'"
         :filter-options="'Clv_txt'"
         >
         </tablecomponent>	
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from '../../components/table.vue'
import { EventBus } from '../../event-bus'
export default {
  name: "app_amenitie", 
  data() {
    return {
      headers: [
        '#',
        'Clv_txt',
        'Descripcion',
        'Estatus',

      ],
      actions: {
        editar: true,
         filter:true
      },
      tabledata: [],    
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }   
    };
  },
  mounted() {
    this.getConceptosDePago();
    EventBus.$on('editar', data => {     
       this.$router.push({ path: `/conceptosDePago/update/${data.Id_Real}` }) 
    })

  },
  methods: {
   getConceptosDePago(){
       axios.get('/SessionWeb/getConceptosDePago', this.header).then(res => {
           res.data.getConceptosDePagoResult.forEach(element => {
              let obj = {
               Id_Real: element.Id_real, 
               Clv_txt: element.Clv_txt,
               Descripcion: element.Descripcion,
               Activo: element.Activo ? 'Activo':'Inactivo'
           } 
               this.tabledata.push(obj);
           });           
       });
   }
       
  },
  components: {
    tablecomponent
  }
};
</script>