<template>
    <div>
        
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo concepto</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/" class="paginaActiva"> Ventas</a>
            </small>   
		</header>
	</div>
    
	<div class="card-body">        
    			<div class="col-md-4 col-lg-offset-4" style="padding-top: 10px;">	
                 
                <form  @submit.prevent="insertar('principal')" data-vv-scope='principal'>		
                 
             
            <div class="col-md-12 ">
				<font size=3><strong>Clv_Txt</strong></font>
                <div class="row"></div>
                <input type="text" name="clv" class="text-capitalize form-control" v-model="body.Clv_txt" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.clv')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.clv')" class="help is-danger text-danger"> El campo es obligatorio</span>
            </div>

            <div class="col-md-12 ">
				<font size=3><strong>Descripcion</strong></font>
                <div class="row"></div>
                <input type="text" name="desc" class="text-capitalize form-control" v-model="body.Descripcion" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.desc')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.desc')" class="help is-danger text-danger"> El campo es obligatorio</span>
            </div>


              <div v-if="!body.CobroAutomatico"  class="col-md-12">
				<font size=3><strong>Monto</strong></font>
                <div class="row"></div>
                 <money v-model="body.Monto" v-bind="money" class="form-control"></money> 
                 <!-- <input type="text" name="monto" class="text-capitalize form-control"v  -model="body.Monto"> -->
                

            </div>

                  
                 <div class="col-md-12">
                      <p-check class="p-svg p-curve" color="success" v-model="body.CobroAutomatico">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                             <font size=2><strong>Cobro Automatico</strong></font>
                </p-check>
                 </div>
                


                              
                 <div class="col-md-12">
                      <p-check class="p-svg p-curve" color="success" v-model="body.Activo">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                            <font size=2><strong> Activo</strong></font>
                </p-check>
                 </div>
                
                
                <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
             </form>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import { Money } from "v-money";
import PrettyCheckbox from 'pretty-checkbox-vue';
export default {
      components: {Money},
    name: 'addVistas',
    data(){
        return{
            token:  Vue.localStorage.get('token'),
      header:{
            headers:{
                'Authorization': 'Basic ' + this.token
                }
            },    
        body: {
            Clv_txt: '',
            Descripcion:'',
            Monto:0,
            CobroAutomatico: false,
            Activo:true
        }, 
         money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
        
        }
        
    },
 

    methods: {      
        insertar(scope){                                                   
          this.$validator.validateAll(scope).then((result) => {              
        if (result) {            
            axios.post('/SessionWeb/addConceptoDePago', this.body,this.header)
            .then((res) => {       
                this.$snotify.success('Concepto de pago agregado con éxito', '¡Correcto!', {
                    timeout: 1500,
                    showProgressBar: false,
                    closeOnClick: false,
                    pauseOnHover: true
                    });      
              this.$router.push("/conceptosDePago");                
            })
          return;
        }
        
      });                                                                      
      },
      regresar(){
      this.$router.push("/conceptosDePago");
      }
    }
}
</script>
<style>
.pretty input[type="checkbox"] {
    position: absolute !important;
}
</style>