<template>
    <div>
           <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Edita Ciudad</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/tipoUsuario" class="paginaActiva">Configuración</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
    			<div class="col-md-6 col-md-offset-3" style="padding-top: 10px;">	
                <form class="formulario" @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
                
                <div class="row">
                   <div class="col-md-12 ">
                    <font size=4><strong>Nombre: </strong></font>
              
                    <input type="text" class="text-capitalize  form-control"  v-validate="'required'" name="nombre"  v-model="Nombre">
                    <div class="row"></div>
                    <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                    <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                   </div>
                </div>
              
                <div class="row">
                  <br>
                    <div class="col-md-8">                     
                   
                        <font size=4><strong>Selecciona con que Países se relaciona la ciudad</strong></font>
                        <select class="form-control text-capitalize" v-model="estado" v-validate="'required'" name="estado">
                          <br>
                        <option value="">Selecciona</option>
                        <option v-for="option in ListaEstados" :key="option.clv_estado" v-bind:value="option.clv_estado" >{{option.nombre}}</option>
                        </select> 
                         <div class="row"></div>
                        <i v-show="errors.has('principal.estado')" class="fa fa-warning"> </i>
                        <span v-show="errors.has('principal.estado')" class="help is-danger text-danger"> Seleccione un estado</span>
                    
                    </div>
                    <div class="col-md-4">
                         <br>
                     
                        <button class="btn btn-default btn-sm" type="button" @click="agregaRelacion()"> <i class="fa fa-plus"></i> Agregar </button>
                    </div>
                
                </div>
                <div class="col-md-12" style="margin-top:30px">
                      <h4 class="text-center">Países Relacionados</h4>
                   <table class="table table-striped">
                      <thead>
                          <th class=" text-capitalize">País</th>
                           <th class="text-center"> Opciones</th>
                      </thead>
                      <tbody>
                         <tr v-for="(x, index ) in estadosSelected" :key="x.clv_estado">
                             <td class="text-capitalize">{{x.nombre}}</td>
                             <td class="text-center"><button type="button"  class="btn btn-danger btn-sm" @click="eliminaEstado(index)" ><i class="fa fa-trash"></i> Eliminar</button></td>
                         </tr>
                      </tbody>
                  </table> 

                <!-- <div class="radio">
                    <input type="checkbox" id="checkbox" v-model="Activo">
                    <label for="checkbox">{{ ((activo) ? 'Activo':'Inactivo' ) }}</label>                    
                </div>
                <span id="errorEstatus" style="display:none; margin-left: 10px;" class="text-danger">Debe seleccionar un estatus</span> -->
                </div>
                 <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
                 </form>
                </div>
               
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "addVendedores",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      Nombre: "",
      Activo: false,
      estado: "",
      ListaEstados: [],
      estadosSelected: []
    };
  },
  mounted() {
    this.getEstados();
     this.getMunicipio();
  },
  methods: {
    getEstados() {
      let vm = this;
      axios.get("/SessionWeb/GetEstado", this.header).then(res => {
        this.ListaEstados = res.data.GetEstadoResult;
      });
    },
    getMunicipio(){
    let params = {
        clv_municipio: this.$route.params.id 
    }
      axios.post("/SessionWeb/GetMunicipiosById",params, this.header).then(res => {
        console.log(res)
        this.Nombre=  res.data.GetMunicipiosByIdResult[0].nombre
        this.estadosSelected =  res.data.GetMunicipiosByIdResult[0].estados
      });
        

    },
     eliminaEstado (index) {
     this.estadosSelected.splice(index,1)
    },
    agregaRelacion() {
      let vm = this;
      if (this.estado) { 
        if(this.existe(this.estado)) return         
        let result = this.ListaEstados.filter(i => i.clv_estado == this.estado);
        this.estadosSelected.push(result[0]);
      }
    },
    existe(id){
      for(var i=0; i< this.estadosSelected.length; i++){
          console.log(this.estadosSelected[i].clv_estado,id)
          if(this.estadosSelected[i].clv_estado == id){
              return true
          }
      }
      return false
    },
    insertar(scope) {
      this.$validator.validateAll(scope).then(result => {        
        if (result) {
          if(this.estadosSelected.length>0){
          let body = {
            obj: {
              nombre: this.Nombre,
              estados: this.estadosSelected,
              clv_municipio: this.$route.params.id     
            }
          }
          axios
            .post("/SessionWeb/UpdateMunicipio", body, this.header)
            .then(res => {
              this.$snotify.success(
                "Ciudad agregada con éxito",
                "¡Correcto!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
                 this.$router.push("/municipios");;
            });
            return
             }else{
          this.$snotify.error(
                "Agrega la relación",
                "¡Error!",
                {
                  timeout: 1500,
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              );
        }
        }       
      });
    },
    regresar() {
     this.$router.push("/municipios");
    }
  }
};
</script>
