
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Ciudades</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catálogo Direcciones</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
	
      <div class="col-md-12">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
        <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>-->
        <router-link class="btn btn-success pull-right" to="/ciudades/add">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      </div>

				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Ciudades'"
         :filter-options="'nombre'"
         >
         </tablecomponent>	
         
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
// import { open } from "fs";
import tablecomponent from '../table.vue'
import { EventBus } from '../../event-bus'
export default {
  name: "app_amenitie", 
  data() {
    return {
      headers: [
        '#',
        'Nombre'

      ],
      actions: {
        editar: true,
         filter:true,
         eliminar:true
      },
      tabledata: [],    
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }   
    };
  },
  mounted() {
    this.getMunicipios();
    EventBus.$on('editar', data => {     
       this.$router.push({ path: `/ciudades/edit/${data.id}` }) 
    })

    EventBus.$on('eliminar', data => {     
     

     
      let body = {
               obj:{
                Id : data.id        
               
               }            
            }
        axios.post("/SessionWeb/DeleteCiudad",body ,this.header).then(res => {
         res.data.DeletePerfilResult     

         this.$snotify.success(res.data.DeleteCiudadResult, '¡Importante!', {
                    timeout: 2500,
                    showProgressBar: false,
                    closeOnClick: false,
                    pauseOnHover: true
                    });   

                  location.reload();
                  this.$router.push("/ciudades");
      });
      
    })

  },
  methods: {
    getMunicipios() {
      let vm = this;
      axios.get("/SessionWeb/GetMunicipios", this.header).then(res => {
       res.data.GetMunicipiosResult.forEach((el) => {
         let obj = {
           id:el.clv_ciudad,
           nombre: el.nombre,
                
          }          
          vm.tabledata.push(obj)
       });        
      });
    }    
       
  },
  components: {
    tablecomponent
  }
};
</script>